[2021-07-20 12:57] mollierobbert commented on #18
Thanks for chiming in, Matt and Cangoo.

Since the request keeps coming up, I'll bring up the discussion internally again as well.

We do of course want to help with payment gateway standardization efforts, and improve the consumer experience. The question remains to what extent the parameter would complicate the ease of use of our API.

To be continued.

[2021-07-29 12:53] dailyenergy commented on #18
Big fan of Molly in regards to ease of use for clients and their customers. And looking forward to implementing Molly in a Umbraco site using Vendr by @mattbrailsford so please reconsider implementing the cancelUrl

[2021-07-31 15:23] 4BRobby opened #571 "Allow organization access keys"
## Specifications

  - API Version: 2.0

## Describe the issue

Api Client restricts keys to live_ and test_ and therefor restricts usage of access_ (organization API keys). This is easily solvable.

ApiClient.php line 328:
`if (!\preg_match('/^(live|test|access)_\\w{30,}$/', $apiKey)) {`

[2021-08-01 16:42] sandervanhooft commented on #571
Hi @4BRobby,

Can you try setAccessToken instead?

[2021-08-09 07:44] cbl opened #572 "Missing attribute timesRemaining in Subscription Resource"
## Specifications

  - API Version: v2.37.0

## Describe the issue

According to the [Subscription docs](https://docs.mollie.com/reference/v2/subscriptions-api/get-subscription) the Subscription resource should have an attribute named `timesRemaining`. However this attribute is missing in the resource of this package: https://github.com/mollie/mollie-api-php/blob/master/src/Resources/Subscription.

[2021-08-09 09:25] sandervanhooft commented on #572
👍 Correct, we're preparing a PR.

[2021-08-09 09:32] sandervanhooft commented on #572
The release was just tagged as `v2.37.1`. Thanks for reporting @cbl !

[2021-08-09 09:32] #572 closed

[2021-08-10 14:25] mattbrailsford commented on #18
@mollierobbert did this get raised in an internal discussion? Were there any new updates on this? We've had a handful of customers asking us to integrate which we'd love to do but so far we are just having to say it's dependent on the outcome of this issue.

[2021-08-10 15:14] sandervanhooft commented on #18
I've used Mollie in a bunch of integrations and this has never caused any problems tbh.

Generally I let Mollie redirect back to something like a `RedirectFromMollieController`. Typically it's a simple class that decides what message to show the customer or what route to redirect to based on the payment status.

[2021-08-10 15:15] sandervanhooft commented on #18
Using a `RedirectFromMollieController` means you can using keep your existing `cancelUrl`, and redirect there if the payment status is `canceled`. Does that help?

[2021-08-10 15:19] sandervanhooft commented on #18
It may seem like it's a bit more resource expensive but practically I've never seen it to cause any performance / UX issues.

[2021-08-10 15:21] mattbrailsford commented on #18
@sandervanhooft sure, but that's much more susceptible to errors. The truth is, Mollie knows instantly that the return to the site from a cancel is because they clicked the cancel button. Without the use of a `cancelUrl` the only way for devs to work that out is to redirect to a middle man controller (your `RedirectFromMollieController`) and in that check to see if the webhook has been triggered y

[2021-08-11 14:15] Timollie commented on #18
Hi @mattbrailsford,
Thank you for your input. We are still discussing this point internally and will update this thread accordingly once we have reached a decision.

Most of the integrations I have seen indeed implement a `redirectFromMollieController` equivalent like Sander mentions. In a case in which the webhook has not been called yet (note this is actually very rarely the case), you can then

[2021-08-11 15:18] mollierobbert commented on #18
I'd just like to add that the 'I don't know page' is required either way, since the consumer may return from the supplier while the payment is still in an 'open' state because of delays between the supplier and Mollie, or between Mollie and the merchant server.

As pointed out a few times in this thread, we're talking edge cases here. If you want to cover all the edge cases (which you should) then

[2021-08-11 15:27] mattbrailsford commented on #18
I do understand that an "I don't know" page is still needed, but my point is, and always has been, for the very specific "cancel back to the store" button click, the status is absolutely known at the point of redirect so why require all this hope jumping to figure this out, and, potentially send them to the "I don't know" page if there are possible network issues either from the webhook request, o

[2021-08-11 15:31] mattbrailsford commented on #18
PS it's also not very clear in the API docs that an order has it's state set to `canceled` on the user clicking the cancel button https://docs.mollie.com/orders/status-changes According to this:

Doesn't mention anything about the customer clicking the cancel button.

[2021-08-16 14:46] telefoniero opened #574 "Webhook handling problem (seems like clearing cookie)"
## Specifications

  - API Version: 2.0

## Describe the issue
File structure of project:
- pay.php
- mollie-webhook.php
- mail.php
- mollie-api-php (folder)

All steps were made based on github examples.

1. I create a payment by calling pay.php and passing JSON data to set a cookie. The response is a checkoutUrl (working properly). Moreover, i have manually checked cookie data, and it was all ri

[2021-08-16 15:05] sandervanhooft commented on #574
Hi @telefoniero ,

In the Mollie dashboard, look up the payment. The column on the right lists the events happened. Can you check what it says about the webhook calls?

[2021-08-16 15:50] telefoniero commented on #574
Hi @sandervanhooft,

Each webhook was called successfully, and the corresponding test payment was also made.

[2021-08-16 15:54] telefoniero commented on #574
It looks, like my handler is faulty, but i've created a buffer-like file to set a cookie there, then to redirect to mail.php - e-mail had been sent as I expected.

[2021-08-16 16:11] DeryabinSergey commented on #574
When mollie request webhook- mollie server has no cookie, that you set to client, when making a payment

[2021-08-16 16:15] telefoniero commented on #574
Hi @DeryabinSergey,

So, i need to use third party API?

[2021-08-16 16:20] DeryabinSergey commented on #574
You should save order data at your side, in DB for example.

[2021-08-16 16:28] telefoniero commented on #574
I got you. Thank you very much!

[2021-08-16 16:28] #574 closed

[2021-08-20 13:38] MollieRick commented on #571
Organizations Access Tokens should be set via `setAccessToken` indeed.
Since there's no comment anymore, lets close it.

[2021-08-20 13:38] #571 closed

[2021-08-20 13:50] 4BRobby commented on #571
Sorry have missed the first update on this issue.
You are absolutely right, setAccessToken is the right way to do it and it meets the requirements - documentation now contains also a hint on this function.

[2021-08-31 08:01] holtkamp commented on #564
@sandervanhooft any update on this, just checked and this behaviour still occurs 👀

[2021-09-01 09:54] sandervanhooft commented on #564
Let me check

[2021-09-01 12:10] sandervanhooft commented on #564
Hi @holtkamp ,

Can you share the specific code you're using? We cannot reproduce the issue here.

[2021-09-06 11:09] holtkamp commented on #564
@sandervanhooft something like this:

[code]

results in

[code]

The error message suggests it is logged and the team is/will be informed, so hopefully the request can be easily identified? 😉

[2021-09-06 12:48] sandervanhooft commented on #471
Closing this for now, let me know if it should be reopened.

[2021-09-06 12:48] #471 closed

[2021-09-06 12:48] sandervanhooft commented on #521
Closing this for now, let me know if it should be reopened.

[2021-09-06 12:48] #521 closed

[2021-09-06 12:49] sandervanhooft commented on #551
Any interaction with the Mollie api can throw that exception. Feel free to provide a PR :)

[2021-09-06 12:49] #551 closed

[2021-09-06 12:51] sandervanhooft commented on #530
@sweebee is this problem still occurring for you?

[2021-09-06 12:52] sandervanhooft commented on #552
Hi @maarten-v,

That's correct. Can you submit a PR?

[2021-09-06 13:01] sweebee commented on #530
Haven’t checked lately. Currently on vacation. Will check it next week.

[2021-09-06 13:56] sandervanhooft commented on #564
Hi @holtkamp,

That code snippet really helped to pinpoint the problem on Mollie's end. Can you check if the issue has been solved now?

[2021-09-06 13:56] sandervanhooft commented on #530
Thanks @sweebee ! Enjoy! 🏖️

[2021-09-12 12:37] holtkamp commented on #564
@sandervanhooft thanks, now it works again!

Can you share details of the cause? (always curious 😉 )

[2021-09-12 12:37] #564 closed

[2021-09-12 13:34] sandervanhooft commented on #564
Thanks @holtkamp for following up! It seemed to have been an internal error. May have slipped in with v1 being deprecated for some time and Mollie moving forward quite fast on v2.

[2021-09-15 14:10] MartijnOud opened #578 "How to solve time out errors"
- API Version: 2.37.1

Hello! I'm unexpectedly getting time out errors when creating new payments. I'm not getting these errors consistently (maybe 40% of the time?) and haven't experienced this on similar projects on the same server so I'm having a hard time debugging this.

The error message:
[code]

I did find #470 with an example of how to overwrite the DEFAULT_TIMEOUT but since that is set to

[2021-09-15 14:44] sandervanhooft commented on #578
Hey!

That's unfortunate!

If I understand your description correctly it's still possible to be the DEFAULT_CONNECT_TIMEOUT ?

Where is the server (geographically) located?

[2021-09-15 19:08] sandervanhooft commented on #578
Ah wait, given the error message it looks like a dns issue.

[2021-09-16 08:30] MartijnOud commented on #578
Hi Sander, thanks for the quick reply!

I've been testing with manually setting the DEFAULT_CONNECT_TIMEOUT & DEFAULT_TIMEOUT really low (and really high) but I can't seem to replicate it at all today which is a bit frustrating. The server is a TransIP VPS hosted in Amsterdam. DNS would make sense but [it looks like that's not easy configurable](https://stackoverflow.com/questions/4226000/how-can-

[2021-09-16 08:50] sandervanhooft commented on #578
It sound like a hiccup at your DNS provider.

DNS issues are hard to trace/debug unless your dns provider has some sharable status monitoring.

I'll inform the Mollie team to keep a lookout for any known DNS issues, but from Mollie's side the monitoring shows no issues.

Closing this for now, let me know if it should be reopened.

[2021-09-16 08:50] #578 closed

[2021-09-26 19:18] flaneurette opened #579 "Code suggestion for : create-payment.php"
## Specifications

  - API Version: Latest release, august 9th.

## Describe the issue
https://github.com/mollie/mollie-api-php/blob/master/examples/payments/create-payment.php
https://github.com/mollie/mollie-api-php/blob/master/examples/payments/create-ideal-payment.php

I noticed in: mollie/examples/payments/create-payment.php, that there is a header re-direct being performed, however, not all

[2021-09-27 09:25] himanshu007-creator commented on #579
Hi!
I would like to work on this issue

[2021-09-28 16:29] holtkamp opened #580 "Mollie_API_Exception: Error executing API call (request): Unauthorized request"
## Specifications

  - API Version: 1

## Describe the issue
Without any changes to the way our software communicates with the Mollie API, as of 28-09-2021 16:42 Amsterdam time a lot of exceptions are generated by the API v1 when OAuth2 authorized API clients are used, a screenshot from our logs with the exceptions:

![Screenshot 2021-09-28 at 18 52 01](https://user-images.githubusercontent.com/77

[2021-09-28 16:59] sandervanhooft commented on #580
@holtkamp if you use a mollie oauth client, can you let me know which one/version and try reverting to a previous version?

[2021-09-28 17:07] holtkamp commented on #580
@sandervanhooft `composer show` indicates:

[code]

So the `mollie/oauth2-mollie-php` is quite old 😉

[2021-09-28 17:20] holtkamp commented on #580
@sandervanhooft please standby, might have pinpointed the issue in our own code base. My apologies, closing until I gather more information...

[2021-09-28 17:20] #580 closed

[2021-09-28 17:25] mollierobbert commented on #580
Good to hear you found it!

The metrics look normal on our end for the v1 API and for the OAuth authentication method, but let us know if the issue persists.

[2021-09-28 17:25] sandervanhooft commented on #580
No problem @holtkamp, happy you've solved it.

The p1 Mollie support team also checked everything at their end and it seems fine. They however will look into the communication issue. We'll ping you here if we can use your input there, ok?

Enjoy your evening!

[2021-09-28 19:36] holtkamp commented on #580
Just to confirm: the problem originated in user land code, not at the Mollie API.

About the communication: yeah, after office hours it would be nice to have a place to get support / submit requests. Maybe a Slack channel for external developers can be considered?

[2021-09-29 13:20] mollierobbert commented on #580
We have been considering something like that, indeed. :-) It's a good suggestion. I'll bring it up internally once more.

[2021-10-01 14:29] sweebee commented on #530
Did some "long term" testing and today i got my first error (internal server error):

GuzzleHttp\Exception\ServerException: Server error: `GET https://api.mollie.com/v2/settlements/open` resulted in a `500 Internal Server Error` response: {"status":500,"title":"Internal Server Error","detail":"Internal Server Error","_links":{"apiStatus":{"href":"https://st (truncated...)

[2021-10-01 19:08] sandervanhooft commented on #530
@leonardogcsoares can you take a peak?

[2021-10-05 16:05] MollieRick commented on #579
Hi @flaneurette, @himanshu007-creator,

Feel free to open a pull request :-)

[2021-10-07 19:21] holtkamp opened #583 "Feature Request: allow easy access to Invoice.settlements"
## Specifications

  - API Version: 2

## Describe the issue
Given a loaded Settlement, the related Payments can be loaded using [`Settlement::payments()`](https://github.com/mollie/mollie-api-php/blob/4afa8165e84f1be3478f504a94eab4fa77eb911b/src/Resources/Settlement.php#L127-L130), nice!

Given a loaded Invoice, it would be nice to be able to load the Settlements using `Invoice::settlements()`.

[2021-10-22 08:11] PieterAkkerman opened #585 "Webhook is called too early (No payment exists with token)"
## Specifications

  - API Version: v2.37.1

## Describe the issue

When initiating a test payment the webhook is called immediately resulting in:
Error executing API call (404: Not Found): No payment exists with token tr_ug2.....

Checking the payment status of the same id on the redirectUrl page works without any problems.

Is the webhook called before the payment object is actually created?

[2021-10-22 09:14] #585 closed, assigned to nobody

[2021-10-25 22:16] tjveldhuizen opened #586 "Feature request: Add refund timestamp to API"
## Specifications

  - API Version: 2

## Describe the issue

Due to lack of funds in our Mollie account, the processing of a refund occurs a few days after the refund was created. In the API, there is only an indication at which timestamp the refund is created, but not the timestamp at which it was processed. For our own dashboard, we prefer to retrieve the actual processing timestamp, instead of

[2021-11-16 20:14] holtkamp commented on #583
@sandervanhooft has this request been noticed? Just wondering 😉

[2021-11-23 19:56] awaisZtabs commented on #111
ngrok

[2021-12-01 11:13] sandervanhooft commented on #583
Sorry for the delay @holtkamp , overlooked this one.

If I understand correctly, there's no such relation available, nor will it be.

One settlement covers one or multiple invoices. There's no way to retrieve settlements vice versa.

[2021-12-06 13:27] holtkamp commented on #583
Ok, thanks.

For those interested: the rationale for the request is documented here: https://github.com/mollie/mollie-api-php/issues/544

Closing issue.

[2021-12-06 13:27] #583 closed

[2021-12-09 13:04] #579 closed

[2021-12-11 19:39] Lucksmith369 opened #594 "Documentation is Offline!!!"
## Specifications

  - API Version: 2

## Describe the issue

API Documentation is offline.
...

[2021-12-12 09:43] sandervanhooft commented on #594
Thanks @Lucksmith369,

It's online now. I'll check with Mollie support to see if there has been any issue.

I don't see any relevant notification at status.mollie.com .

[2021-12-12 09:44] #594 closed

[2021-12-23 13:31] helemaaldebom opened #595 "Payment exists, but the wrong mode is used"
## Specifications

  - API Version: 2.39.0

## Describe the issue

I switched the API from test to live and I got an error when trying to launch a payment: Uncaught Mollie\Api\Exceptions\ApiException: [2021-12-23T12:40:12+0000] Error executing API call (404: Not Found): Payment tr_yQass8PRuq exists, but the wrong mode is used. Try switching live / test API keys.

I have checked the client list, th

[2021-12-23 14:08] sandervanhooft commented on #595
Hi @helemaaldebom ,

Can you share some code you used so we can reproduce the issue?

Not sure what you mean about the "client".

[2021-12-23 14:14] helemaaldebom commented on #595
Hi @sandervanhooft ,

Thanks for your reply. Hereby my code:

`$mollie = new \Mollie\Api\MollieApiClient();
			 	 $mollie->setApiKey("{LIVE_API}");

				 $packages = auto_listings_get_packages();

				 foreach ( $packages as $package_id => $package ){

				 if(isset($_POST["auto-listings-purchase"])) {

					 $package_id = $_POST['auto-listings-package'];
		 		 }

				 // Create Mollie payment

[2021-12-23 15:00] sandervanhooft commented on #595
At what action / line does the exception get triggered?

Why are you calling the `update` method here?

[2021-12-23 15:11] helemaaldebom commented on #595
I thought I need the `update` method to complete the payment.

The exception gets triggered in multiple files:

`Documentation: https://docs.mollie.com/overview/handling-errors in /customers/3/5/d/vagplace.nl/httpd.www/wp-content/mollie-api-php/src/HttpAdapter/CurlMollieHttpAdapter.php:111 Stack trace: #0 /customers/3/5/d/vagplace.nl/httpd.www/wp-content/mollie-api-php/src/HttpAdapter/CurlMollieHt

[2021-12-23 15:20] sandervanhooft commented on #595
Can you try it without the `update` method?

[2021-12-23 15:22] helemaaldebom commented on #595
Just did but sadly I get the same result

[2021-12-23 15:26] sandervanhooft commented on #595
Ok. I'll need a bit more to go on here.

1. Can you double check you're not resetting the api key somewhere during the procedure, from live back to the test key, or vice versa?

2. Where in this code you shared the exception gets triggered?

[code]

[2021-12-23 15:52] helemaaldebom commented on #595
1. I have checked every file and as far as I can see, I'm not.

2. It doesn't give me a line. Just that message (see screenshot in first message).

3. When I replace `$payment = $mollie->payments->get($payment->id);` with `$payment = $mollie->payments->get('tr_dudK93PwPw')` it works. But I will have the wrong payment ID.
		 //

[2021-12-23 16:33] helemaaldebom commented on #595
Solved it. When I removed `$payment = $mollie->payments->get($payment->id);`, it worked.
I have placed that piece of code now right after the `create` array and it works. Thank you for your help, @sandervanhooft

[2021-12-23 16:42] sandervanhooft commented on #595
NP, glad you solved it. By the way:

[code]

[2021-12-23 16:42] #595 closed

[2021-12-25 12:25] helemaaldebom opened #596 "Payment succeeded but Mollie doesn't send 'paid' status to my application"
## Specifications

  - API Version: 2.39.0

## Describe the issue

I have included Mollie API in my website to handle iDeal payments. Paying with iDeal works, Mollie even shows me that the payment has succeeded but still I won't receive a 'paid' status from Mollie.
And for some reason Mollie shows me 2 different payment_id's inside one payment. See screenshot for more information:
<img width="1461

[2021-12-28 11:47] MollieRick commented on #596
Hi Bas,

Lets tackle your questions, starting with;

We send the signal (which is called webhook) to your `webhookUrl`. Based on your screenshot this will be `/webhook.php`. We do not include this in the return since that is not secure. Have you set up there everything correctly?

The `metadata` is data that you set by yourself during the creation of your payment. The ID that we assign can you fin

[2021-12-28 14:53] helemaaldebom commented on #596
@MollieRick Thanks for your reply!
Tbh, I didn't know what I should put in the webhook.php so I just copied it.
Is this wrong? And if so, how can I make sure that my application receives a 'paid' response from Mollie?

Webhook.php:
[code]

[2021-12-28 14:59] MollieRick commented on #596
Hi @helemaaldebom!

The webhook URL will receive the payment ID as a POST request, you should then check the payment status. How this works is described in our documentation; https://docs.mollie.com/overview/webhooks.

[2021-12-28 16:04] helemaaldebom commented on #596
@MollieRick I believe I'm checking the payment status but for some reason Mollie doesn't return a 'paid' status. But if I check the Mollie dashboard, I can see that the payment has been paid. I don't know what I'm doing wrong here but the webhook doesn't work in my script. And I have read the documentation and imo I have installed everything correctly. What can I do to make this work? I hve been t

[2021-12-28 16:08] MollieRick commented on #596
@helemaaldebom We do not give technical support via GitHub. You can try to reach out to our technical support via info[at]mollie.com.

Please be aware that we do not provide personal support at code level.

Enjoy your evening :-)

[2021-12-28 16:08] #596 closed

[2021-12-29 18:32] helemaaldebom commented on #596
Quick update: @MollieRick was right, my webhook wasn't set up correctly. After fixing that, I received that correct status of the payment. Thanks again, @MollieRick!

[2021-12-30 09:33] MollieRick commented on #596
Nice to hear @helemaaldebom! Have a great 2022!

[2022-01-10 15:58] powolnymarcel commented on #508
No news regarding this issue ?

[2022-01-11 09:31] sandervanhooft commented on #508
@powolnymarcel what have you tried so far? Please include code samples so we can reproduce the problem.

[2022-01-17 11:27] holtkamp opened #598 "Settlement.periods.invoiceId refers to Invoice with partner commissions instead of transaction costs"
## Specifications

  - API Version: 2

## Describe the issue

**Observations**
_Invoices_
Since 2020Q4 (at least, for my account), Mollie has issued _separate_ invoices for:

1. the costs for transaction fees: invoice reference / number starts with `MOLR`
2. the revenue for partner commissions: invoice reference / number starts with `MOLS` where the `S` might stand for "self billing"?

_Settlement

[2022-01-18 08:33] sandervanhooft commented on #598
Hi @holtkamp,

Let me ask around for you.

[2022-01-18 11:50] sandervanhooft commented on #598
At first glance it indeed seems to be a bug, Mollie is looking into it. Thanks for reporting!

[2022-01-25 12:13] Jay031 commented on #296
@mollierobbert any update on this?
I still use this quick fix, but it does't support directdebit and some other methods.
So 50% of my transactions don't get any transactionCosts.

[2022-01-25 12:49] christopheg commented on #296
Hi @Jay031,
Unfortunatly, I don't think Mollie wants to implement this feature so don't expect a solution by them....
I created the PR but on my account not all payment methods are enabled. I believe that my patch can be extended for other methods. Just try to list all your payment methods via API and check the 'id'. With this 'id', the PR can be extended.

[2022-01-25 12:57] Jay031 commented on #296
Yeah well, the annoying thing is, that my recurring payments only show 'directdebit' as payment method, so no iDeal, KBC/CBC, Sofort etc. thats only in the initial payment. So that leaves an annoying amount of extra work, I think it's so lame, because the data is already there in Mollie..

[2022-01-25 13:54] mollierobbert commented on #296
No update yet, sadly. We are getting closer to a beta release, but my earlier time indication was clearly too optimistic.

Before we can put the endpoints in beta, we still have to address some performance issues and add multicurrency compatibility.

[2022-02-01 20:03] tjveldhuizen commented on #586
Hi @sandervanhooft, do you maybe have an update on this question? I struggle to inform my colleagues about the moment of the refund. For example: we've created a refund on December 17th, it was executed on December 27th (after adding funds on December 21st), but was reported in a settlement on January 21st (due to lack of new payments). The only date in API responses on which I'm sure the refund h

[2022-02-01 20:16] sandervanhooft commented on #586
@tjveldhuizen thanks for the reminder! I'll check again and get back to you.

[2022-02-23 12:35] iH8 opened #601 "Composer require conflicts"
## Specifications

  - API Version: 2
  - Laravel Framework Version 8.78.1

## Describe the issue

I'm running: `composer require mollie/mollie-api-php:^2.0` and getting the following error: ` mollie/laravel-mollie v2.0.0 requires illuminate/support ^5.5 -> found illuminate/support[v5.5.0, ..., 5.8.x-dev] but it conflicts with another require.` I've upgraded Laravel which works, i am now running 8

[2022-02-23 13:52] sandervanhooft commented on #601
Hi @iH8 ,

Thanks for reporting!

Let me see if I can help you out.

First, try removing the composer.lock file and the /vendor directory. Then run `composer update`.

If that doesn't solve the issue...

Can you share your composer.json file or - if that is impossible - distill a composer.json file that reproduces the same problem?

[2022-02-23 15:11] holtkamp opened #603 "Re-enable static analysis with PHPStan"
## Specifications

  - API Version: 2

## Describe the issue

It seems static analysis using PHPStan is disabled.

Using PHPStan would have prevented problems like https://github.com/mollie/mollie-api-php/pull/602 at inspection level 2:

[code]

It would be nice to re-enable static analysis to prevent such minor problems which have consequences for user land code when running static analysis there

[2022-02-23 15:21] sandervanhooft commented on #603
Hi @holtkamp ,

Phpstan is triggered only on php7.3 builds and up. What php version are you experiencing the issue with?

[2022-02-23 16:33] #603 closed

[2022-02-24 04:47] sandervanhooft commented on #603
👍 Nice suggestion @holtkamp , I am putting that on the backlog to look into.

[2022-02-24 08:45] iH8 commented on #601
Hi Sander, removing the vendor directory and composer.lock file then update results in the same error. Here my composer.json:

[code]

As far as i know that's the stock composer.json that came with my v8* install.

[2022-03-11 09:13] adrenth opened #606 "Missing methods `listFor` and `listForId` in PaymentChargebackEndpoint"
## Specifications

  - API Version: v2.40.2

## Describe the issue

It would be nice to have the methods `listFor` and `listForId` in `\Mollie\Api\Endpoints\PaymentChargebackEndpoint` as well. To be consistent with the `\Mollie\Api\Endpoints\PaymentRefundEndpoint` class.

E.g.

[code]

[2022-03-11 11:08] sandervanhooft commented on #606
Hi @adrenth !

Thanks for opening this ticket.

I'll put it on the backlog; feel free to submit a PR if you need the feature sooner.

[2022-03-13 17:50] newmediacrew opened #608 "PHP message: PHP Warning: curl_getinfo(): supplied resource is not a valid cURL handle resource ..."
## Specifications

  - API Version: 2.39.0

## Describe the issue

We got this error message in our nginx logs. Using php 7.4.

 _FastCGI sent in stderr: "PHP message: PHP Warning:  curl_getinfo(): supplied resource is not a valid cURL handle resource in /var/www/xxx/public_html/wp-content/plugins/xxx/vendor/mollie/mollie-api-php/src/HttpAdapter/CurlMollieHttpAdapter.php on line 135" while reading

[2022-03-13 19:41] sandervanhooft commented on #608
Hi,

Can you try upgrading to the latest release?

[2022-03-14 16:40] #608 closed

[2022-03-16 18:38] bedrijfsportaal opened #610 "OAuth2 in testmode not working for webhook POST requests"
## Specifications

mollie/mollie-api-php              v2.40.2
mollie/oauth2-mollie-php        v2.5.0

## Describe the issue

I've been testing the webhook POST request to check the payment, unfortunately i'm facing an issue.
Keep receiving the error shown as below, the payment and webhook are both checked with the same access_{token}.

`
ERROR - 2022-03-16 19:22:03 --> [2022-03-16T19:22:03+0100] E

[2022-03-16 19:42] sandervanhooft commented on #610
Hi @bedrijfsportaal ,

Can you share some code sample to reproduce this issue?

[2022-03-16 19:56] bedrijfsportaal commented on #610
Feeling like a total retard right now, but the repo from NodeJS pushed me in some direction.
Missed the array part on `$mollie->payments->get('{tr_id}', array( 'testmode' => true ))`;

Seems to push the correct data and information now 👍

[2022-03-17 08:31] sandervanhooft commented on #610
Ha! No problem.

Thanks for following up.

Enjoy!

[2022-03-17 08:31] #610 closed

[2022-03-18 15:42] gvdhoven opened #611 "Creating a payment with specified payment method shows incorrect 'back' button"
## Specifications

  - API Version: latest

## Describe the issue

Creating a payment using the payment api, with for example a pre-selected iDEAL payment as option shows a button called "Back to payment options" at the bottom of the screen. This assumes that we came from a payment selection screen, which might not be the case in an order flow; e.g. it might be that the previous page was the cart

[2022-03-20 15:23] it-can opened #612 "Error with X-Mollie-Client-Info header"
## Specifications

  - API Version: v2.40.2

## Describe the issue
Getting this error on my docker machine

[code]

seems to be triggered by this

https://github.com/mollie/mollie-api-php/blob/master/src/MollieApiClient.php#L535

...

[2022-03-20 18:54] it-can commented on #612
seems to be a bug in Guzzle psr7 https://github.com/guzzle/psr7/issues/489

[2022-03-20 20:32] holtkamp commented on #612
Seems to also occur when upgrading `guzzle/psr7` 1.8.3 => 1.8.4

Here are the changes: https://github.com/guzzle/psr7/compare/1.8.3...1.8.4

Forcing composer to install 1.8.3 using `"guzzlehttp/psr7": "1.8.3",` resolves the problem.

I suppose this is not a Mollie issue, but Mollie will probably get lot of failed payments due to this.

[2022-03-20 21:45] GrahamCampbell commented on #612
This will be fixed in 1.8.5, 2.1.2, 2.2.1.

[2022-03-20 21:59] #612 closed

[2022-03-21 09:39] sandervanhooft commented on #611
Thanks for reporting @gvdhoven . I can confirm this behaviour and it's confusing to me too. Let me check with the team at Mollie.

[2022-03-21 15:01] #611 closed

[2022-03-22 19:10] bedrijfsportaal opened #613 "cURL timeout error message creating new payments"
## Specifications

  - API Version: latest

## Describe the issue
I'm receiving timeout errors in cURL request, the status page isn't showing any related issues regarding this? Is this some server setting that needs to be increased or something?

`ERROR - 2022-03-22 20:03:51 --> [2022-03-22T20:03:51+0100] cURL error 28: Resolving timed out after 2000 milliseconds (see https://curl.haxx.se/libcurl/

[2022-03-23 08:27] bedrijfsportaal commented on #613
Apparently the problem was traced back to the firewall. This caused problems with the connection between Mollie and my application. Since 2 firewalls are already running, the 3rd was also redundant and therefore disabled. Now everything is running as it should!

[2022-03-23 08:27] #613 closed

[2022-03-23 08:53] sandervanhooft commented on #613
Thanks for following up @bedrijfsportaal! Glad everything worked out ok.

[2022-03-24 15:04] #606 closed

[2022-04-12 20:13] MartijnOud commented on #578
Unfortunately, I'm still getting this exact issue occasionally. Like just now.

[code]

I bumped `DEFAULT_CONNECT_TIMEOUT` to 5 which still gave me issues, after setting it to 15 customers can at least finish the transaction now. Since creating this issue I've seen it on multiple servers (and DNS servers) but only rarely.

Is there a way I can more elegantly time-out when this happens?

[2022-04-12 20:21] sandervanhooft commented on #578
@rares-mollie have there been any dns resolution issues lately?

[2022-04-13 16:28] rares-mollie commented on #578
@MartijnOud Please reach out to tech support so we can debug as your problem is persistent, not spurious. It's not clear to me from your message what endpoint is failing and if the failure is from the perspective of your application or from the perspective of the consumer.

[2022-04-15 08:48] MartijnOud commented on #578
Hi! Thanks for the advice. Just after sending everything over via the contact form it seems I've found the issue, I've re-issued the SSL certificate and things seem to be working again. Hopefully it keeps working!

[2022-04-20 08:45] Julianlu1 opened #616 "PHP Fatal error: Uncaught Error: Class 'Composer\CaBundle\CaBundle' not found in /var/www/vhosts/websitename/test.websitename/wp-content/plugins/mollie-payments-for-woocommerce/vendor/mollie/mollie-api-php/src/HttpAdapter/CurlMollieHttpAdapter.php:81"
API Version: Latest

Hey there,

There is a wordpress website and I already have installed: `Mollie payments for woocommerce`.

Now I am trying to make use of the mollie api php library, however I get the following error: ` PHP Fatal error:  Uncaught Error: Class 'Composer\CaBundle\CaBundle' not found in /var/www/vhosts/websitename/test.websitename/wp-content/plugins/mollie-payments-for-woocommerc

[2022-04-20 13:00] sandervanhooft commented on #616
Hi!

Essentially mollie-api-php verifies each request to the Mollie Api using the composer ca bundle package. It looks like your instance cannot find it. Can you try installing the composer ca package manually?

https://github.com/composer/ca-bundle

[2022-04-20 13:03] sandervanhooft commented on #616
Your latest edit shows an error message saying that no eligible payment methods are enabled on your account.

Payment methods can be enabled in the Mollie dashboard.

On live mode, it can take a while before they're verified and enabled. On test mode, payment methods are enabled instantaneous.

[2022-04-20 13:28] Julianlu1 commented on #616
Hey Sander, thanks for your answer! Yeah I manually installed `mollie-api-php` and I enabled the payments methods and now it is working 👍 . I do have two questions  that I would like to ask you that I am a bit confused about:
- Should I now just return the checkoutUrl like such: `return $payment->getCheckoutUrl();`. I tried `  header("Location: " . $payment->getCheckoutUrl(), true, 303);` but this

[2022-04-20 15:08] sandervanhooft commented on #616
1. Have you tried the header statement without using a return?

2. I cannot help you with WooCommerce specifics, sorry.

[2022-04-20 15:10] sandervanhooft commented on #616
PS: you either use Mollie's Orders endpoint, or the Payments endpoint. Not both.

[2022-04-20 17:19] sandervanhooft commented on #616
Closing this for now. For additional issues please open a new issue ticket.

[2022-04-20 17:19] #616 closed

[2022-04-26 10:13] Julianlu1 commented on #616
Quick question, `
PS: you either use Mollie's Orders endpoint, or the Payments endpoint. Not both.`. Does this mean, that when I create an order, it will create a payment automatically?
And if I create a payment, it creates an order automatically?

[2022-04-26 10:18] sandervanhooft commented on #616
That's right!

https://docs.mollie.com/orders/overview

[2022-04-26 10:19] sandervanhooft commented on #616
No.

[2022-04-26 14:22] Julianlu1 opened #617 "Error executing API call (422: Unprocessable Entity): This order cannot be shipped.."
Hey there,

I am trying to create an order with shipping details and shipping costs. The steps that I do:
1. Create the order
2. Put order id in the variable
3. Call `createShipment` on that order

I was looking to add a parameter in the `orders->create` method, but I could not find any parameter related to shipping cost. Then I looked further and noticed the `createShipment` method (https://docs.

[2022-04-26 14:46] Julianlu1 commented on #617
Hi @sandervanhooft,

Yes I did that. I set the mollie status to paid (I went through the test payment process) and it does get rid of the error actually. However the shipping costs are not added into the order information.

See image for easy understanding: https://imgur.com/a/WJ6EwLP

[2022-04-26 15:02] sandervanhooft commented on #617
Can you share some code that reproduces the issue?

[2022-04-26 15:27] Julianlu1 commented on #617
When creating the order, I do not add any shipping costs. After the order is created, I try to call `$mollie_order->createShipment` to add the shipping cost to that order.

A line contains an id of the product and a quantity, just like the documentation is saying: https://docs.mollie.com/reference/v2/shipments-api/create-shipment.

So the desired result should be: order created, and then shipping

[2022-04-26 15:58] sandervanhooft commented on #617
Hi @Julianlu1 ,

The shipping costs should be part of the order lines, so it's being paid for when going through Mollie's checkout.

[2022-04-26 16:58] Julianlu1 commented on #617
Hi @sandervanhooft,

Hmm okay, that does make sense. I suppose you mean it should be part of `"lines" => $product_lines`  in the `$mollie->orders->create` method.

But where should I add the shipping costs? Currently one product line looks like this:
[code]

Do I need to add the shipping cost per product? Normally the shipping costs is for all of the products right? I don't see any documentation o

[2022-04-26 17:32] sandervanhooft commented on #617
The documentation page you're referencing offers child parameter specifications for `lines`.

The line type can be set to `shipping_fee`.

The exact configuration (single or multiple shipping fees) is up to you. 😄

[2022-04-26 19:54] Julianlu1 commented on #617
I indeed see `shipping_fee`, I will check it out and will let you know if it works :)

[2022-04-29 12:03] Julianlu1 commented on #617
Hey, @sandervanhooft Thanks for the help! I got it working now. The shipping costs are now included and can be seen in the mollie dashboard. Appreciate it very much :)

[2022-04-29 13:10] sandervanhooft commented on #617
Glad to be of service. Enjoy!

[2022-04-29 13:10] #617 closed

[2022-04-29 17:05] Julianlu1 commented on #617
Thanks!

[2022-05-02 09:43] Julianlu1 opened #618 "How can I know if the payment passed or failed after the payment is done with redirect or webhook url?"
Hi,

I made it possible to send the user back to the app after a payment, but I am struggling to redirect the user to the correct `app screen` (success screen or payment failed screen). After the `order` is created, a payment url is sent to the `client`. He then pays or declines the payment. How can I redirect the user with a parameter that says `success` or `failed`, since there is only 1 redirec

[2022-05-03 09:51] sandervanhooft commented on #618
Hi @Julianlu1 ,

This is how I usually solve this:

1. Redirect the user to something like a `ReturnFromMollieController` in your app.
1. In that controller, retrieve the payment from Mollie and check the payment status.
1. Depending on the payment status: display the correct message / redirect to the right page in your app.

[2022-05-04 07:08] Julianlu1 commented on #618
Hey Sander,

Thanks for your answer. I am still trying to implement your method. I will let you know when it works or if I am running into problems.

[2022-05-04 08:34] sandervanhooft commented on #618
Great!

Closing this for now, let me know if it should be reopened.

[2022-05-04 08:34] #618 closed

[2022-05-04 20:17] Julianlu1 commented on #618
Yeah that's fine! Will let you know.

[2022-05-10 23:30] vikingvoorhees opened #622 "Page Not Found!"
## Specifications

  - API Version:

## Describe the issue

Hi there. apologies i have no tech experience. i've installed the mollie extension. also when i hit install, i get an error page. But when i refresh and go back to the payments list. Mollie is there and installed. when i go to edit it. it opens up but shows a Page not found message at the top to the left of the admin dashboard and a messa

[2022-05-13 09:13] sandervanhooft commented on #622
Hi @vikingvoorhees ,

This seems to be an issue with Mollie OpenCart. Can you post this issue there?

https://github.com/mollie/OpenCart

Thanks!

[2022-05-13 09:13] #622 closed

[2022-05-24 12:06] kpellegr commented on #18
It looks like this is still an issue? I want to integrate Mollie into a Jotform checkout form. But when the user cancels the payment, the form is submitted anyway and the users gets a 'thank you' page.
This is obviously *not* usable in a real-world scenario. Please advise...

[2022-05-24 12:20] Cangoo commented on #18
Before showing the thank you page, you can check if the order was paid, authorized, completed or pending -> then show the thank you-page. If it's not one of these states, redirect to the previous page (perhaps with a message like: you cancelled the payment or an error occurrd, please try again). We had doubts here as well but it works fine. It's only a pity that you can't tell the customer if he c

[2022-05-24 12:20] toonvandeputte commented on #18
Hello @kpellegr :)

Our approach to this is to check the payment status on the `redirectUrl` page, and show an appropriate message there. This is separate from the webhook call, and a `canceled` status should be available immediately if you fetch the payment object from Mollie based on the transaction ID.
It does mean a slightly superfluous call to the Mollie API, but after about 4 years this hasn

[2022-05-26 09:07] Broder1991 opened #624 "Invalid payment ID. A payment ID should start with 'tr_'."
## Specifications

  - API Version: V2

## Describe the issue

Create payment call is successful, with webhook url specified. When I set the payment id to post id i get these message:

Warning: Undefined array key "id"
API call failed: [2022-05-26T08:44:14+0000] Invalid payment ID: ". A payment ID should start with 'tr_'.

I have made a conditional to see if the id is getting posted to my webhook

[2022-05-26 09:29] sandervanhooft commented on #624
Hi @Broder1991 ,

This indeed seems to signal that  $_POST can be accessed but there is no id element defined.

1. What stack are you using?
2. How is this code triggered exactly? I.e. by Mollie calling the webhook, local Postman/curl, automated test?
3. Can you dump and share $_POST here in a human readable manner?

[2022-05-26 10:10] Broder1991 commented on #624
Hi,

1. I´m running Wordpress with the PHP library
2. Code gets triggered by Mollie calling webhook, to manually add a valid order ID for testing purposes I used postman to get it
3. array (size=0)
  empty, which is weird, because it includes the payment status below that

[2022-05-29 14:32] mollierobbert commented on #18
Generally, you will almost always get a webhook before the consumer lands on the return page, so no additional API calls are needed per se within the return page logic.

Our system is explicitly designed to first process the payment status, then send you the webhook, and then send the consumer back to you. If either of the first two steps take too long we may send the consumer back to you earlier,

[2022-05-30 07:40] sandervanhooft commented on #624
Can you share a screenshot of your Postman setup?

[2022-06-02 14:08] mPetzol opened #626 "missing @thows tag"
## Specifications

  - API Version: 2.44.1

## Describe the issue

missing @throws ApiException in Resources\Order::shipAll()

    /**
     * Create a shipment for some order lines. You can provide an empty array for the
     * "lines" option to include all unshipped lines for this order.
     *
     * @param array $options
     *
     * @return Shipment
     * @throws ApiException
     */
    pub

[2022-06-07 13:04] ixperiencenl opened #627 "Change API key dynamically"
## Specifications

  - API Version: "mollie/laravel-mollie": "^2.15",

## Describe the issue

- Previously it was possible to change the config vars on runtime. We need this because we have several portals that belong to different API customers. Now, the API uses the .env variable and this is a problem because it's not possible to change the API key on runtime.

I see that there is a 'setApiKey' i

[2022-06-07 13:07] sandervanhooft commented on #627
Hi @ixperiencenl,

Double check:

Is this about mollie-api-php or laravel-mollie (different repo)?

What's the use case?

[2022-06-07 13:18] sandervanhooft commented on #627
Well... if you're going to swap keys dynamically etc I'd actually recommend to use mollie-api-php instead. Consider wiring up the credentials in a service provider OR instantiate a new mollie client when you need it, set the key then. The latter ensures that you're using the right credentials when interacting with Mollie.

ALTERNATIVELY, when using the Laravel package, you should be able to use

[

[2022-06-07 13:36] ixperiencenl commented on #627
Allright, thanks a lot. Yes this works (for the Laravel package). Maybe someone can use the info for the API as well in the future.

[2022-06-11 08:50] Broder1991 commented on #624
Sorry for not replying sooner, this was an error on my end end and now is resolved. I do want to ask something quick, if you don't mind. Is there way in library to get the credit card error message based on payment id e.g. $mollie->$payments ->$details->$failureReason or something like that?

[2022-06-21 12:42] it-can opened #628 "Please add IN3"
Please add In3 to the library...

[code]

[2022-06-21 12:42] #628 closed

[2022-07-19 10:00] frits191 opened #631 "Possible total amount bug"
## Specifications

  - API Version: 2.44.1

## Describe the issue

Hello, I have already resolved this but wondering if it is a bug. I have for a few years now had a line of code which can be seen below in my sites (str_replace), worked completely fine, customers could pay etc.
This saturday or sunday however suddenly the total amount of all mollie payments increased dramatically (basically it was

[2022-07-19 14:36] sandervanhooft commented on #631
Hi @frits191,

I've just tried your code sample and tinkered a bit with it. The `str_replace` does not affect the payload that's getting sent to Mollie's API in any way. Looks like nothing changed on their end.

[code]

Glad to hear you've already solved it on your end.

[2022-07-19 14:36] #631 closed

[2022-07-19 14:53] frits191 commented on #631
Strange, then it must be something else I'm missing here.
Thank you for looking into it!

[2022-08-18 15:55] DiegoFirmiano opened #636 "How i can update client bank information ? in case of current subscription."
## Specifications

  - API Version:  V2

## Describe the issue

The customer lost his bank card, he wants to update his subscription with his new card.

What do I do in this case?

Thanks

[2022-09-02 09:04] sandervanhooft commented on #636
Hi @DiegoFirmiano ,

Thanks for reaching out and sorry for the delay.

You can create a new mandate using a new `first` payment (make sure to send along the same Mollie customerId for this customer), then update the `mandateId` on the subscription.

Does that answer your question?

[2022-09-02 09:04] #624 closed

[2022-09-02 09:17] #413 closed

[2022-09-02 09:17] #459 closed

[2022-09-02 09:18] sandervanhooft commented on #530
Closing this for now, let me know if it should be reopened.

[2022-09-02 09:18] #530 closed

[2022-09-02 09:18] sandervanhooft commented on #636
Closing this for now, let me know if it should be reopened.

[2022-09-02 09:18] #636 closed

[2022-09-21 15:56] vacla opened #640 "description from type order"
## Specifications

  - API Version: v2.42.1
  - Mollie/magento2 : 2.16.0

## Describe the issue

Can not get the description from type order, in this case this is a klarna pay later payment method.

In the image below, I want to get "Bestellung TEST6000000755" using the order resources.

![Screenshot from 2022-09-21 17-53-01](https://user-images.githubusercontent.com/10290022/191554381-a1c78f47-7b

[2022-09-26 12:42] sandervanhooft commented on #640
Hi @vacla ,

Thanks for reaching out.

1. You're referencing the `mollie/magento2` package instead of this repository's `mollie/mollie-api-php` package, is that correct?
2. What have you tried so far? Can you share a code sample?

[2022-10-02 17:31] vacla commented on #640
@sandervanhooft

1. Yes that is correct but the issue is underlaying in the mollie/mollie-api-php package it seems
2.  We got this atm, this works if it is a "payment" type but this won't work if it is an order type and it will say that description doesn't exists

`
$mollieOrder = $mollieApi->orders->get($transactionId, ['embed' => 'payments']);

            /** @var Payment $payment */

[2022-10-07 11:06] vacla commented on #640
Is there any update on this?

[2022-10-07 11:12] sandervanhooft commented on #640
Hi @vacla, The description only exists on the (related) payments. You can either use that or the order's orderNumber attribute.

[2022-10-07 13:46] alcohol commented on #395
@XedinUnknown not sure if you're still interested, but my client uses the Symfony http client contracts a lot (which also offers PSR17 / PSR18 interoperability), and I worked around this limitation for my client by implementing the `MollieHttpAdapterInterface`. It still feels a bit hacky, but you can provide your own implementation as an entry-point at least.

[code]
[code]

I'm not sure how PSR18

[2022-10-07 13:51] XedinUnknown commented on #395
Thanks, @alcohol! I hope your solution will help those who came here looking for a solution!

🙏

[2022-10-14 09:59] SDanDyS opened #641 "Catch refund status"
## Specifications

  - API Version:  2

## Describe the issue
I have a webhook which should catch the refunded status once it reaches "refunded". I see the webhook gets called correctly and I see in mollie a refunded status. However the status change never comes through. The docs state the payment remains as "paid", but does this mean when the webhook is called the status property is classified as

[2022-10-14 10:13] sandervanhooft commented on #641
Hi @SDanDyS,

You're correct, the status of the payment remains `paid`. Semantically, the payment remains paid.

Best is to check and track the status of each related refund and chargeback when the webhook gets called. Note that there can be multiple refunds (and theoretically chargebacks) on a payment.

The webhook request payload intentionally is minimal for security reasons, as to not leak any

[2022-10-14 10:18] SDanDyS commented on #641
Hi @sandervanhooft _"You're correct, the status of the payment remains paid. Semantically, the payment remains paid."_, so even when the webhook gets called it returns a "paid" status. That's good to know, at least I know I am not missing something. I would also like to clarifiy that the `$this->has_refunds()` is of my own class, just to make sure you or any further readers do not confuse it with

[2022-10-14 11:31] #640 closed

[2022-10-14 12:37] #641 closed

[2022-10-14 13:44] sandervanhooft commented on #502
Closing this for now, feel free to submit a PR if you find a solution.

[2022-10-14 13:47] sandervanhooft commented on #18
Closing this for now, let me know if it should be reopened. The Mollie team (including @mollierobbert ) is aware of this feature request.

[2022-10-19 12:50] rockandre opened #642 "Duplicated payments might be linked with retry mechanism"
## Specifications

  - API Version: 2.0

## Describe the issue

We've noticed some duplicated payments in our Mollie dashboard that might be caused by this: https://github.com/mollie/mollie-api-php/blob/1c92d49f40b6e5c64f92d7f153fb2cf4300c7c17/src/HttpAdapter/CurlMollieHttpAdapter.php#L48

At the same time, we also noticed some HTTP 500 errors on contacting your API.

[2022-10-20 10:02] erikkraijenoord opened #643 "Feature request: Call webhook informatie for payment(s)"
## Specifications
Read webhook events from a payment with transaction ID to determain if something hasn't worked correctly or stopped for some reason. The only possible way at this moment is on the user account itself and we do not have access to our clients only by oAuth2.

  - API Version: 2.46.0

## Describe the issue
We would like to be able to read the webhook events on a payment, this way we

[2022-10-20 11:07] sandervanhooft commented on #643
Marking this as a feature request.

[2022-11-03 21:26] mollierobbert commented on #18
Question to everyone who asked us to implement this...

We see most PSPs offer either one of the following three flavors:
* A catch-all redirect URL, just like we do. Nothing else.
* Or, only a success URL and a cancel URL. This effectively means the 'cancel' URL is the URL for *all* types of failures.
* Or, status-specific URLs all the way: a success URL, cancel URL, failure URL, error URL...

Ve

[2022-11-03 22:42] sandervanhooft commented on #18
My 50 cts, happy to elaborate more if it helps.

I'd expect the `redirectUrl` to remain the default / catch-all, then have dedicated redirectUrlOnStatusX'es (Canceled/Failed/...) for specific overrides.

This way current integrations will not break functionally, and new specific redirectUrls can be added in multiple iterations.

I.e.

[code]

Alternatively: use a structured object, similar to the

[2022-11-08 20:26] RobinvanderVliet commented on #296
Is there an update in the meantime? In the API documentation of the payment endpoints, I still cannot find any information about the charged payment fees.

[2022-11-10 09:43] Timollie commented on #642
Hi there @rockandre,

sorry for the late response. In this case, the mollie platform did not respond in the expected fashion. A 500 response should not be returned when the payment is created. The mollie-php-api client did its job as expected, retrying the payment. This then led to duplicates.

I think you already spoke to my colleagues at tech support who discussed the issue. Is this correct?

I

[2022-11-10 10:40] #642 closed

[2022-11-10 11:35] kylehipz commented on #18
tangina nyo

[2022-11-13 17:40] mollierobbert commented on #296
The new Balances API is currently in open beta, available here:

https://docs.mollie.com/reference/v2/balances-api/overview

With this API you can fetch lists of balance transactions. A payment is one type of balance transaction, and fee information is included in the transaction details as 'deductions'.

Perhaps more interesting is the balance reporting endpoint though, which allows you to fetch

[2022-11-13 17:40] #296 closed

[2022-11-17 13:53] alecpl opened #648 "Can't test payment checkout"
Sorry for using improper channel, but I feel I might get a developer support here faster than via the Mollie webpage.

So, I had my checkout tests working according to https://docs.mollie.com/overview/testing and the form used to look like in the documentation, but for a few months now it does not work. The form is different.
![mollie](https://user-images.githubusercontent.com/546788/202463856-a63

[2022-11-17 14:18] sandervanhooft commented on #648
Hi!

This has changed on Mollie's end, particularly testing the creditcard flow.

Best to follow the component testing guide (card numbers) here: https://docs.mollie.com/components/testing

[2022-11-17 14:59] alecpl commented on #648
Thanks, I'll see if I can make it working with the special credit card numbers. But why https://docs.mollie.com/overview/testing#test-mode-checkout-screen still exists then?

[2022-11-17 19:07] sandervanhooft commented on #648
That testmode screen is still suited to most other payment methods at the moment. The docs could be clearer on this, let me raise an issue there.

[2022-11-18 08:48] alecpl commented on #648
One more issue. If I do payment with the test visa card `4543 4740 0224 9996` it works, but with a small issue. After the payment, Mollie UI, as well as the API says it's Mastercard not Visa.

[2022-11-18 09:41] sandervanhooft commented on #648
@Timollie can you take a look when you have a moment?

[2022-11-18 10:02] alecpl opened #649 "mandateId not returned"
## Specifications

  - API Version: 2.49.0

## Describe the issue

First, note that my project's automated tests were working a few months back, so to me it looks like something changed on Mollie side.

Problem is that `mandateId` is not returned in a payment create response. Here's my request:
[code]
The response is:
[code]

[2022-11-18 10:10] robindirksen1 commented on #648
Had the same issue with iBANs a few months ago, where the test said ING instead of the expected Rabobank (didn't test this recently).

[2022-11-22 12:37] SDanDyS commented on #18
@Kimmax This would only be a short term solution. Eventually people will ask for specific URLs for each status for whatever reason and they'll have to implement the other desires again. Imo, @sandervanhooft his solution is the best. Give a catch-all URL, and implement for each status an endpoint, if wished.