[2018-12-16 20:02] sandervanhooft commented on #336
Hi @RaymondBakker ,

This is by design. The initial mandate payment is totally separated from the subscription.

Both of your suggested solutions are ok. There is a third option if you are dealing with more advanced use cases: after the initial payment, schedule recurring payments triggered from your app.

There is another option, but I'm personally not a big supporter of this: you can create a SE

[2018-12-16 20:02] #336 closed

[2018-12-17 10:59] MollieRick commented on #332
@sandervanhooft We decided to closed this PR and not implement this. We using resources and these must be the same on every point in the API. Adding a profile link to every method resource makes no sense.

[2018-12-17 14:44] sandervanhooft commented on #332
@MollieRick noted!

@willemstuursma That makes more sense, thanks!

[2018-12-20 09:27] striderxfossility opened #337 "getCheckoutUrl() is null"
## Specifications

  - API Version:  ^2.0

## Describe the issue

`$payment = $this->mollieClient->payments->create([
		    "amount" => [
		        "currency" => "EUR",
		        "value" => $amout
		    ],
		    "description" => $description,
		    "redirectUrl" => $redirectUrl,
		    "webhookUrl"  => $webhookUrl,
		]);`

And with `if($payment->getCheckoutUrl() != null)` is returning always null,

[2018-12-20 09:57] sandervanhooft commented on #337
Can you dump the array passed to create()? It seems you have a typo in
$amout ($amount).
On Thu, 20 Dec 2018 at 10:27, striderxfossility <notifications@github.com>
wrote:

--
www.sandervanhooft.com

[2018-12-20 10:14] striderxfossility commented on #337
`POST http://127.0.0.1:8000/emails/verstuur
------------------------------------------

 ------------ ---------------------------------
  date         Thu, 20 Dec 2018 11:05:54 +0100
  controller   "EmailsController"
  source       Mollie.php on line 48
  file         app\Classes\Mollie.php
 ------------ ---------------------------------

Mollie\Api\Resources\Payment {#1234
  +resource: "payment"

[2018-12-20 11:06] willemstuursma commented on #337
Sorry @striderxfossility, we can't really help you if you post unformatted dumps like that.

I think it is better if you reach out to our support department via info@mollie.com or by phone. There does not seem to be an issue with the module or API though.

[2018-12-20 11:06] #337 closed

[2018-12-20 11:46] striderxfossility commented on #337
I worked it out with mollie,

"metadata" => [
                "order_id" => $description,

this is the error, this must be included in payments create()

[2018-12-20 13:42] MollieRick commented on #335
Small note: `?include=pricing` will **not** include issuers by default.

[2018-12-22 13:48] sandervanhooft commented on #332
@willemstuursma Just looked into refactoring the `ApiException`, I will open a separate issue + PR for this.

(This also means that the `getDashboardLink()` feature moves to that issue/PR.)

[2018-12-22 14:10] sandervanhooft commented on #335
Ok, so I noted that unlike `issuer`, `pricing` yields no dedicated resource in the API response. (Issuer has a `issuer` resource field, `pricing` does not.

So for now I have implemented `pricing` without a dedicated resource class.

[2018-12-22 14:10] sandervanhooft commented on #335
So you access it using `method->pricing[0]`.

[2018-12-22 14:12] sandervanhooft commented on #335
Let me know if there should be a `$method->pricing()` method to access a `MethodPricingCollection` (or something more aptly named).

[2018-12-22 14:25] sandervanhooft opened #338 "Refactor (Api)Exceptions"
## Specifications

  - API Version: 2.2.*

## Describe the issue

While trying to implement a dedicated Exception for enabling methods (#332, #334), it became clear that the ApiException requires some refactoring.

The current ApiException constructor signature does not allow for easy extension, because not all relevant information is stored on the instance.

I.e. for the `EnableMethodException` u

[2018-12-29 15:48] liepaja opened #339 "Profile with mollie connect"
I have a not really technical question regards mollie connect.
I try to wrap the sign up process of the users who are making mollie account for my mollie app.
When they are going through getting started sign up guide, there is a profile they need to provide.
If the only use case of this app is to accept payments via my mollie app, i assume under profile in the sign up, my website/app should be use

[2019-01-03 21:44] ndijkstra opened #344 "Trying to get property 'href' of non-object"
## Specifications

  - API Version: v2
  - Client Version: 2.4.0

## Describe the issue

I'm getting the following error: "Trying to get property 'href' of non-object"
Line 43 in file `src/Resources/CursorCollection.php`.

@sandervanhooft

[2019-01-04 12:30] #344 closed

[2019-01-07 09:37] MollieRick commented on #332
Support has been added for the API call.

[2019-01-07 09:37] #332 closed

[2019-01-10 15:10] oekeur commented on #170
Hi @willemstuursma,

Things seem to be moving seeing the new[ onboarding api](https://github.com/mollie/api-documentation/commit/b32683836f1cc43afea6d18e67c9d47c56412a96).
Since there is an get already available, am I right to assume creating entities will also be part of this API?

[2019-01-11 14:49] sandervanhooft opened #349 "Add creditcard to MandateType"
## Specifications

  - API Version: v2

## Describe the issue
MandateType currently only includes `directdebit`. Should add `creditcard` as well.

[2019-01-11 15:31] sandervanhooft commented on #349
@Smitsel @MollieRick

Perhaps we could include a mapper here, to map payment method from first mandate payment to mandate method?

I.e.
First payment with method `ideal` results in `directdebit`.

[code]

[2019-01-13 21:16] liedekef opened #351 "Guzzle conflict"
Hi,

I'm using Mollie 2.4.1 (I saw that 2.4.2 was released 4 days ago, but I think it won't help).
I'm using this in a wordpress plugin called events-made-easy (https://wordpress.org/plugins/events-made-easy/), and have included the Mollie api by first downloading it via composer, and I include it like this:
`require_once 'payment_gateways/Mollie/2.4.1/vendor/autoload.php';`
The autoload.php is ge

[2019-01-14 18:36] #306 closed

[2019-01-14 18:36] sandervanhooft commented on #276
Closing this for now.

[2019-01-14 18:36] #276 closed

[2019-01-14 18:41] sandervanhooft commented on #351
Hi @liedekef,

I'm not familiar with the inner workings of WP (plugins). Did you check whether these should be compatible? It seems the error is thrown by events-made-easy, so be sure to open a ticket there.

I'll check with Mollie if there are any similar Guzzle versioning issues known.

[2019-01-14 19:36] liedekef commented on #351
I'm the developing events-made-easy . Currently I worked around it by checking the class:
`   if (!class_exists('Mollie\Api\MollieApiClient')) {`
but it seems to me that this goes against the logic of autoloader etc ... I can't guarantee the correct (latest) Mollie API version like this.

[2019-01-15 09:40] sandervanhooft commented on #351
I just asked around at Mollie, it seems to be related to #244 .

[2019-01-15 12:09] davdebcom commented on #351
@sandervanhooft @liedekef This is a known issue with WordPress plugins. Also see:
https://github.com/mollie/WooCommerce/wiki/Composer-Guzzle-conflicts

Basically, WordPress doesn't support Composer so (for example) Guzzle is loading multiple times, and those are conflicting with each other.

@willemstuursma tried to solve this by using PhpScoper (which is still used), which worked in some situatio

[2019-01-15 12:32] sandervanhooft commented on #351
Thanks @davdebcom for clearing this up!

@liedekef From what I've read using PHPScoper in your package to prefix the Guzzle client libraries looks like your best chance. Unfortunately I can't help you there.

If there's any change required in this Mollie client, let me know.

[2019-01-15 15:04] willemstuursma commented on #351
@sandervanhooft We're using Scoper to create scoped packages, see https://github.com/mollie/mollie-api-php/blob/master/Makefile.

Looks like this other module does not use a scoped version.

[2019-01-15 15:41] willemstuursma commented on #351
@liedekef the Releases page has a scoped version as a download.

[2019-01-15 16:13] liedekef commented on #351
And so it seems ... weird, I thought that last time I looked it wasn't there (but maybe I was just plain wrong).
A small extra question: if 2 wordpress plugins use the same scoped version, won't that cause issues too?

[2019-01-16 07:38] Smitsel commented on #351
You might run into trouble there.

The problem is that when the first Guzzle client gets auto loaded it will have its corresponding `functions.php` loaded. This is done using a require hash in composer.

When the next client is loaded it will not automatically its `functions.php`.  The require hash is already in composer and therefore it will not load.

[2019-01-16 10:06] Smitsel commented on #351
So i've been looking into this again, this time a little more in-depth.
I've raised an issue with php-scoper.

If you're interested: https://github.com/humbug/php-scoper/issues/298

[2019-01-16 11:21] ndijkstra opened #352 "Order payments"
`$order->payments()` is not yet implemented in the PHP Client.
https://docs.mollie.com/reference/v2/orders-api/get-order#embedding-of-related-resources

[2019-01-16 20:39] abbatis commented on #111
How would you test it on your local machine then?

[2019-01-16 20:51] robindirksen1 commented on #111
@abbatis use a tool like this one; https://localtunnel.github.io/www/

[2019-01-16 20:56] abbatis commented on #111
@robindirksen1 Yeah I thought so, I have ngrok so I'll use that. Thanks.

Makes me wonder though, how come it always worked correctly without tunneling before v2?

[2019-01-16 21:20] sandervanhooft commented on #111
For manual inspection I sometimes use this one: https://webhook.site

[2019-01-16 21:20] sandervanhooft commented on #352
I'll whip something up! 😄

[2019-01-17 12:46] sandervanhooft commented on #352
#353

[2019-01-17 13:16] sandervanhooft commented on #349
@Smitsel What do you think?

[2019-01-17 13:17] #335 closed

[2019-01-17 13:17] sandervanhooft commented on #338
Closing this for now.

[2019-01-17 13:17] #338 closed

[2019-01-17 13:19] sandervanhooft commented on #296
@holtkamp not entirely the same, but does the latest release solve your use case?

https://github.com/mollie/mollie-api-php/releases/tag/v2.5.0

[2019-01-18 13:06] sandervanhooft commented on #352
I've prepared a new release for next Monday to introduce the `$order->payments()` helper.

[2019-01-19 09:00] holtkamp commented on #296
@sandervanhooft thanks for the heads-up.

Mmm, I haven't looked at in detail, but it seems the `pricing()` helper gives information about the pricing of a Payment method. Not the actually charged / to-be-invoiced costs of an actually processed transaction.

[2019-01-22 14:20] davdebcom opened #355 "Checking for JSON extension"
@JorikMollie and I keep seeing issues with the lack of JSON and the check in the API PHP client. Just tested this and on a server without json, `[satisfiesJsonExtension()](https://github.com/mollie/mollie-api-php/blob/196fc17e05ffd15bd469a6a53ae4700b72a3ec79/src/CompatibilityChecker.php#L53)` still returns true because of the second check for `function_exists('json_encode')`. So, the function `jso

[2019-01-22 15:13] willemstuursma commented on #355
@sandervanhooft what's going on here?

[2019-01-22 15:15] willemstuursma commented on #355
@davdebcom if there is a function called `json_encode()`, the check passes.

Does this function exist but not work correctly in your setup? Is there some other function needed too, like `json_decode()`?

[2019-01-22 16:21] sandervanhooft commented on #355
This check was introduced [over 4 years ago](https://github.com/mollie/mollie-api-php/commit/47083b5b0bc26cbfa8ced043a9755c07f8b699b1#diff-45fb8a03798ac24233f4c01472dd530dR114). I'm not convinced yet this should be modified a) in this core client and b) now (breaking change).

It seems to be me this is by design, so you can provide your own encoder.

[2019-01-23 08:21] davdebcom commented on #355
I'm not sure, the lack of the json PHP extension can cause fatal errors, and the check for that is now not working effectively. But I'll implement my own extra check in the WooCommerce plugin :)

[2019-01-23 12:44] willemstuursma commented on #355
Unless you make it clear what exactly is missing in the check, we can't really change it @davdebcom.

[2019-01-29 10:36] Smitsel commented on #352
This has been done and released. Thanks @sandervanhooft

[2019-01-29 10:36] #352 closed

[2019-01-31 07:38] sandervanhooft commented on #355
I'm closing this for now, let me know if it should be reopened.

[2019-01-31 07:38] #355 closed

[2019-01-31 07:42] sandervanhooft commented on #351
This issue is continued in the thread opened by Smitsel [here](https://github.com/humbug/php-scoper/issues/298). I'm closing this one.

Thanks @liedekef for bringing it up!

[2019-01-31 07:42] #351 closed

[2019-02-01 10:31] MollieRick commented on #170
Hi @oekeur,

We released a _Submit onboarding data_ endpoint, this week. You can check the documentation here: https://docs.mollie.com/reference/v2/onboarding-api/submit-onboarding-data

I expect that the onboarding APIs will be part of the client soon.

[2019-02-01 11:57] #170 closed

[2019-02-26 14:44] sandervanhooft opened #364 "Methods: LIST vs ALL"
## Specifications

  - API Version: v2

## Describe the issue

The Mollie API v2 offers these two endpoints:

- `LIST /v2/methods`: Retrieve all active payment methods. The results are not paginated. In test mode, this includes `pending` methods.
- `ALL /v2/methods/all`: Retrieve all payment methods offered by Mollie, for which the requesting organization is eligible. This includes both activated

[2019-02-26 14:54] sandervanhooft commented on #364
* [ ] Mark `$mollie->methods->all()` as `deprecated`
* [ ] For `LIST /v2/methods` provide `$mollie->methods->allActive()`
* [ ] For `ALL /v2/methods` provide `$mollie->methods->allAvailable()`
* [ ] Improve docs:
    * [ ] LIST methods page ([link](https://docs.mollie.com/reference/v2/methods-api/list-methods))
    * [ ] ALL methods page ([link](https://docs.mollie.com/reference/v2/methods-api/lis

[2019-02-27 12:01] #364 closed

[2019-03-05 07:24] Cannonb4ll opened #367 "Feature request: List only valid mandates"
Currently building subscriptions in my SaaS application where I only want to display 'valid' mandates to my users/customers.

Seeing the API documentation I see there is no such option currently. For now, I am filtering in my own collection method;

[code]

This seems cumbersome, some sort of filter to return only valid mandates would be way more optimized.

Please let me know if this was detailed

[2019-03-05 23:53] sandervanhooft commented on #367
Thanks @Cannonb4ll for submitting this issue.

Based on this, I'm preparing a PR for client-side filtering a MandateCollection by Mandate status.

There are no plans for adding filtering to the API.

[2019-03-05 23:58] sandervanhooft commented on #367
See PR #368

[2019-03-06 07:29] Cannonb4ll commented on #367
Thanks @sandervanhooft for your quick work. 🚀

If an actual filter in the API itself would be available I would recommend changing that, as I am not sure what pagination would do in this case if records are above 250> I believe. (Not that I get users that create that much subscriptions so i'm good for now).

Thanks!

[2019-03-08 15:56] holtkamp opened #369 "Strange release number: v1.9.12 => v1.19.123"
## Specifications

  - API Version: 1

## Describe the issue
Is it correct that the 1.x version changed from `1.9.12` to `1.19.123` while the "name" of the release is `1.19.13`...

https://github.com/mollie/mollie-api-php/releases/tag/v1.19.123

😕

Seems like a typo to me ? Or was it a VriMiBo release :shipit: 😄

[2019-03-12 09:31] willemstuursma commented on #369
Sorry, it was a Friday release!

Moved the tags around, should be good now. Got less than 5 installs of the wrong version, according to Packagist.

[2019-03-12 09:31] #369 closed

[2019-03-25 10:31] ramkumawathis opened #371 "How to check the webhook url page output after payment done."
## Specifications

  - API Version:

## Describe the issue

...

[2019-03-25 10:37] robindirksen1 commented on #371
Hi @ramkumawathis, can you please describe your issue with some more details about what you want to achieve?

For example:
- Do you want to see what Mollie see's when they call the webhook? You can see the response code in the Dashboard
- Do you want to debug you development environment with a fake webhook so you can see what Mollie see's when they call your webhook?

[2019-03-25 11:12] ramkumawathis commented on #371
@robindirksen1
Am using this mollie  payment method.
-> i have successfully done the payment through mollie with paypal.  after payment,  i want to  update the database payment status for webhookUrl. How i will check the webhookUrl response.

[2019-03-25 12:44] robindirksen1 commented on #371
You can check the webhookURL response by making a post request to your webhook-url with an ID of the transaction (tr_******). This is the same way as mollie sends a webhook, more information at the bottom of this comment.

In this repo there are some example, here you can find it for the payments webhook: https://github.com/mollie/mollie-api-php/blob/master/examples/payments/webhook.php. With this

[2019-03-25 14:57] #371 closed

[2019-03-25 14:57] willemstuursma commented on #371
Thanks @robindirksen1.

@ramkumawathis you can also call / email Mollie (they speak multiple languages).

[2019-03-26 10:35] pjeutr opened #372 "Getting customer in Webhook"
## Specifications

  - API Version: 2.8.1

## Describe the issue

During the payment we get the customer id, like this
[code]

When we use the following code in the webhook, we get `Undefined property: Mollie\Api\Resources\Payment::$customer_id`
[code]

The log show that customerId is present in the response
[code]

Seems logical this would work, Is this a bug? Or am I missing something.

[2019-03-26 10:58] pjeutr commented on #372
Sorry, I was mixing things up. The first one is also not working.
Would be cool thought to get the customerId this easily. I will look now for another way to get it.

[2019-03-26 10:59] sandervanhooft commented on #372
Hi @pjeutr,

Try `$payment->customerId` instead of `$payment->customer_id`.

[2019-03-26 11:04] pjeutr commented on #372
Duhh.. Need lunch not thinking clearly, thanks for the headsup!

[2019-03-26 11:06] pjeutr commented on #372
Duhh.. Need lunch not thinking clearly, thanks for the headsup!

[2019-03-26 11:06] #372 closed

[2019-03-26 12:07] sandervanhooft commented on #372
No problem, enjoy (your lunch 😉)!

[2019-04-02 14:33] holtkamp commented on #296
@mollierobbert just wondering, are there any updates regarding this issue?

**Rationale**
Currently, under PSD2 "surcharging" is still allowed to some extent. Also see:

- https://help.mollie.com/hc/nl/articles/360012564454-Mag-ik-de-kosten-die-ik-maak-voor-betaalmethodes-doorberekenen-aan-mijn-klanten-
- https://www.acm.nl/nl/publicaties/invoering-psd2-wat-gaat-er-voor-u-veranderen

However, I ex

[2019-04-02 17:49] mollierobbert commented on #296
@holtkamp The pricing is currently determined on a settlement level. You can find the fees by retrieving the settlement via the Settlements API (see `periods`):

* https://docs.mollie.com/reference/v2/settlements-api/get-settlement

Alternatively, you can wait for the monthly invoice to be generated and fetch the fees from the invoice using the Invoices API (see `lines`):

* https://docs.mollie.co

[2019-04-03 15:28] mro95 opened #375 "Can not include pricing"
## Specifications

  - API Version: 2

## Describe the issue

Im trying to get a list of methods with prices. When I was trying to include the prices from the active methods, everything works fine.

[code]

But when i try to include the prices of all (available) methods i get an error
[code]

The error:
[code]

I was trying to find the problem and noticed that in `MethodEndpoint.php:63` the `allAv

[2019-04-04 10:36] sandervanhooft commented on #375
thanks @mro95 for this detailed report. I'm looking into it.

[2019-04-04 11:23] sandervanhooft commented on #375
The issue is indeed that there's query params ("filters") are being treated as body ("data") in this case.

We'll need to support both, so I'm going to split these into two parameters here.

[code]

[2019-04-04 11:25] sandervanhooft commented on #375
I'll need to go over the other method endpoint methods as well :).

[2019-04-04 11:32] sandervanhooft commented on #375
@MollieRick

Need some input here. We have three ways to deal with this. My preference goes to one, as long as we can the impact is not to severe.

**1**
If we follow this client's convention the parameter order should be: `$data, $filter`.

But adopting that in the other MethodEndpoint methods will cause a BC. Since these are quite new features, we're probably ok, but I can't really guess the imp

[2019-04-05 03:05] danman1234 opened #376 "NO VENDOR folder, so how to do autoload?"
## Specifications

  - API Version:

## Describe the issue

...

[2019-04-05 07:48] MollieRick commented on #375
Thanks @sandervanhooft for the detailed purposal. I can not make this decision at my own. we'll need to discuss this with @willemstuursma as well.

[2019-04-05 10:49] sandervanhooft commented on #375
@MollieRick I understand. I have drafted a PR #377 .

[2019-04-05 11:09] sandervanhooft commented on #376
@danman1234 This package is designed to be used with composer, which generates the vendor folder for you when running `composer install` or `composer require mollie/mollie-api-php`.

The vendor folder is omitted from this repo by design.

[2019-04-05 11:09] #376 closed

[2019-04-05 14:27] willemstuursma commented on #375
We need two types of parameters for allMethods? It is a GET request, so there should only be query string parameters right?

It doesn't make sense to add a `$data` parameter to this shorthand, inside the shorthand the parameters should be mapped to the right locations in the "deeper" methods.

[2019-04-06 03:14] danman1234 opened #378 "Webhook does not work"
Webhook file is reachable, by the browser
But it does not send any post value to this url whatsoever.

I think mollie has a bug.

`	$payment = $mollie->payments->create([
		  "amount" => [
				"currency" => "EUR",
				"value" => "".$_GET['amount']."" // You must send the correct number of decimals, thus we enforce the use of strings
		  ],
		  "description" => "Premium rapport",
		  "redirectUrl"

[2019-04-06 07:40] sandervanhooft commented on #378
This is not a bug in this package.

Most likely, your webhookUrl is still unreachable.

Checking whether  your webhookUrl is reachable via your _local_ browser is not a good way to test this if the url is hosted from the same machine/on your local network.

More info here: https://help.mollie.com/hc/en-us/articles/213470409.

Please contact [Mollie support](https://www.mollie.com/support) if you n

[2019-04-06 07:40] #378 closed

[2019-04-06 10:39] danman1234 commented on #378
No my webhook Url is very very reachable. ow it worked b4, and now not, I think this mollie is really bugged.

I not check it on localhost but on my webserver

[2019-04-06 12:59] sandervanhooft commented on #378
Ok, thanks for clearing that up. Please contact support.

[2019-04-06 14:42] maitrixtca opened #379 "How to install this in my project"
## Specifications
when i open example folder then its show blank screen
  - API Version:

## Describe the issue

...

[2019-04-06 15:04] sandervanhooft commented on #379
The example folder is not meant to be executed, but read instead by a human developer for inspiration.

Please follow along the installation instructions in the readme, and check out the documentation at [docs.mollie.com](https://docs.mollie.com).

An overview of ready-to-use, platform-specific packages can be found [here](https://www.mollie.com/en/developers/packages).

[2019-04-06 15:04] #379 closed

[2019-04-08 11:04] sandervanhooft commented on #375
Thanks @willemstuursma for clearing this up.

Ok, this is easier than I thought it would be. Since all MethodEndpoint requests are `GET`, there's only the query string parameter to take into account. So I have reverted to a single parameter.

I agree that a mapping is a more dev/user-friendly way than using two parameters (in case modifying requests like `POST`), will use that whenever I come acro

[2019-04-11 12:27] sandervanhooft commented on #375
I've released a patch just now. If you run `composer update` or `composer update mollie/mollie-api-php` it should update to the `v2.8.3` php core client.

[Release info here](https://github.com/mollie/mollie-api-php/releases/tag/v2.8.3)

[2019-04-11 12:27] #375 closed

[2019-05-01 09:15] Ken-vdE commented on #191
I'm having the same issue, did this ever get resolved?

[2019-05-01 09:18] willemstuursma commented on #191
@sandervanhooft could you have a look?

[2019-05-01 09:45] rkluwen commented on #191
I'm having the same problem, trying to create a directdebit payment, using the c# client.

[2019-05-01 09:57] sandervanhooft commented on #191
@willemstuursma Ok!

**About using the `testmode` parameter**

The `testmode` parameter is only available when using OAuth access tokens, so the mentioned error response seems ok to me.

**About `testmode` spontaneously popping up when using `$customer->createPayment()`**

Not sure what's going on here yet. What mollie-api-php version are you using?

[2019-05-01 10:06] Ken-vdE commented on #191
@sandervanhooft Thank you for responding. I'm having a hard time figuring out how to correctly process my webhook call by mollie when in test mode. I don't get a payment Id from mollie when in test mode and when I try to retrieve a payment using a fake id I get `No payment exists with token tr_7UhSN1zuXS` (where tr_7UhSN1zuXS is a fake id)

[2019-05-01 10:14] sandervanhooft commented on #191
@rkluwen Thanks for reporting this.  can't help you when it comes to C#, so could you please open a separate ticket in the C# client repo? Alternatively, if you think it's an issue with the Mollie Api itself, please contact Mollie support directly. I'll get back to you if we find out that these issues are related.

@Ken-vdE That sounds like yet another issue. Could you open a separate issue for th

[2019-05-01 10:14] #191 closed

[2019-05-01 10:17] Ken-vdE opened #385 "Retrieving payments when in testing mode"
## Specifications

  - API Version: 2.1.6

## Describe the issue

 I'm having a hard time figuring out how to correctly process my webhook calls by Mollie when in test mode. I don't get a payment Id from mollie when in test mode and when I try to retrieve a payment using a fake id I get `No payment exists with token tr_7UhSN1zuXS` (where `tr_7UhSN1zuXS` is a fake id)

[2019-05-01 10:18] Ken-vdE commented on #191
@sandervanhooft Alright, here you go: https://github.com/mollie/mollie-api-php/issues/385 :)

[2019-05-01 10:23] sandervanhooft commented on #385
Hi @Ken-vdE ,

Thanks for opening this ticket.

**1.**
Would it be possible for you to upgrade to the latest version? (It's currently at 2.9.1)
AFAK there have been no breaking changes, so you should be good.

**2.**
Can you share how you configure the mollie client? Are you authenticating using an api key or OAuth (access token)?

**3.**
Can you share the calls you're making and/or failing tests

[2019-05-01 10:29] Ken-vdE commented on #385
1. I will make sure to check if that's possible.
2. I'm using an API key
3. The `$mollie->payments->create()` works fine, it's just the webhook call made by Mollie afterwards. Here the call doesn't contain a payment id because I'm using testing mode. Within the call i run `$mollie->payments->get()` with a random id and this returns the error above.

[2019-05-01 10:33] sandervanhooft commented on #385
So what you're trying to test is handling webhook calls for subsequent subscription payments' updates?

Or for the first payment in order to obtain a mandate?

[2019-05-01 11:20] Ken-vdE commented on #385
I'm just making a simple mock payment which calls the webhook when I say the payment was 'paid'.
![image](https://user-images.githubusercontent.com/15888558/57015223-db3e9180-6c13-11e9-8a13-fbc94e885f2b.png)

[2019-05-01 11:25] sandervanhooft commented on #385
What I usually do is split the test in two:

1. Assert that my app can create the payment
2. For a given payment (you can prepare one manually), assert that if I call my webhook using a POST request using the payment id (like Mollie would do), it is handled correctly in my app.

[2019-05-01 11:26] sandervanhooft commented on #385
So essentially I prepare one payment for that test case and use the same id every time I test the webhook.

[2019-05-01 11:29] sandervanhooft commented on #385
(The test data is stored indefinitely, so no issues there.)

[2019-05-01 11:32] Ken-vdE commented on #385
@sandervanhooft Good idea, I'm going to give that a try!

[2019-05-01 11:47] sandervanhooft commented on #385
Great, I'll close this for now, let me know how it went! :)

[2019-05-01 11:47] #385 closed

[2019-05-01 13:32] freddyamsterdam commented on #191
@sandervanhooft as far as I can tell, the testmode parameter is secondary to what the main issue was here, which was that the createPayment method was not working.

At the time I was using the API v2.0.5.

[2019-05-01 13:33] sandervanhooft commented on #191
@freddyamsterdam Agreed. Were you able to resolve your issue?

[2019-06-04 12:31] nederdirk opened #389 "phpstan (with level >= 6) warns about undefined properties on amount objects"
## Specifications

  - API Version: Any Mollie PHP SDK version 2
  - PHPstan version: 0.11

## Describe the issue

We lint our PHP app with the `phpstan` static analysis tool[1], and the version 2 Mollie PHP SDK triggers warnings/errors when dereferencing a property of any of the `amount*` fields of the `\Mollie\Api\Resources\Payment` class. This would be solved by updating the PHPdoc typehints to

[2019-06-04 12:32] nederdirk commented on #389
I'm working on a PR for this issue

[2019-06-04 13:32] willemstuursma commented on #389
That's great @nederdirk, maybe the PR can also include running phpstan?

[2019-06-05 06:50] nederdirk commented on #389
That would be slightly more work, and a different unit of work. I'll work on a separare PR

[2019-06-08 08:08] #389 closed

[2019-06-12 14:32] mvdnbrk opened #393 "Apple Pay not available - status"
## Specifications

  - API Version: 2.10.0

## Describe the issue

When a customer chooses "Apple Pay" and it is not available (see screenshot) the customer is redirected back to the `Redirect URL`. The status of that payment is `open` in Mollie.

Is this desired behaviour?
In this case I would expect a status `failed` rather than `open`.

<img width="419" alt="Schermafbeelding 2019-06-12 om 16 25

[2019-06-13 11:06] willemstuursma commented on #393
Thanks @mvdnbrk.

Are you testing that the shopper's browser supports Apple Pay with the `window.ApplePaySession && window.ApplePaySession.canMakePayments()` check?

See https://docs.mollie.com/wallets/applepay#adding-apple-pay-to-the-method-selection.

[2019-06-13 12:52] mvdnbrk commented on #393
@willemstuursma I could certainly do that javascript check on the client side, which would disable or hide the selection for "Apply Pay".

However that is just a javascript check which will only hide/disable that option in the form. It is still a regular HTML form which can be altered or spoofed by a user.

If for some reason a user hits the Mollie payment screen and Mollie responds with "_Apple P

[2019-06-13 16:35] willemstuursma commented on #393
@mvdnbrk of course, we'll fix it.

Please be aware that the check is required per Apple guidelines.

I'll update here when the issue has been resolved.

[2019-06-13 19:52] mvdnbrk commented on #393
Thanks :)

[2019-06-19 11:19] XedinUnknown opened #395 "De-couple from Guzzle"
## The Problem
This library is explicitly coupled to Guzzle, which presents the following issues:

1. Forces consumers to use and ship Guzzle.
1. Makes it impossible to correctly integrate with WordPress (and other engines) by using the engine's own HTTP client.

## Suggested Solution
Re-factor to consume [PSR-18][] instead of Guzzle.

[PSR-18]: https://www.php-fig.org/psr/psr-18/

[2019-06-19 12:09] sandervanhooft commented on #395
@XedinUnknown Thanks for opening this ticket.

This relates to PR #230, which was closed . See my comment [here](https://github.com/mollie/mollie-api-php/pull/230#issuecomment-409607860) in particular.

I agree with point 1, but that's not an issue without taking point 2 into consideration.

There are some workarounds for point 2 which have been proven to work with Wordpress and the like.

What do

[2019-06-19 12:13] MollieRick commented on #395
I agree with @sandervanhooft. It can cause a lot of broken integrations.
Guzzle is not known HTTP client in the PHP-world. I don't see a reason for changing it now, maybe in the future with a v3.

[2019-06-19 12:18] sandervanhooft commented on #395
Thanks @XedinUnknown and @MollieRick .

I've added this to the list for [the next major version](https://github.com/mollie/mollie-api-php/projects/1).

[2019-06-19 15:14] XedinUnknown commented on #395
Thanks for considering this.

I disagree that point one doesn't matter without point 2: in my view, point 1 is the real problem (broken SOLID) and point 2 is simply a consequence. Nevertheless, regardless of how you look at it, I believe that together addressing this point holds a lot of practical value (contrary to the [comment][1]). Forcing a particular implementation breaks architecture, and AF

[2019-06-19 17:14] willemstuursma commented on #395
Lets have a look at this tomorrow @XedinUnknown.

In WooCommerce, we used to use a scoped version of this client with all dependencies wrapped in a dedicated namespace. A scoped version can be found at the downloads, the Makefile contains instructions for building it.

[2019-06-19 20:34] XedinUnknown commented on #395
Sure, will be happy to provide feedback or code.

Scoping may be a good idea to avoid namespace conflicts, but it doesn't make your solution any less coupled to now the scoped classes. With PSR-18, anyone can use this SDK with whichever client they are working with.

[2019-06-19 21:07] sandervanhooft commented on #395
Yeah, I think we're all on the same page on that :).

[2019-06-27 12:22] XedinUnknown commented on #395
Hi! Any updates on this? :)

[2019-06-28 12:15] willemstuursma commented on #395
Hi @XedinUnknown. I thought a bit about it but I'm not really hot on it.

As you pointed out: since it is backwards incompatible, it will require a new major version to be released.

However, we have a lot of installs of the current version and want to keep supporting our clients that are using this version. That means that we will have to update two versions, every time we add a new endpoint, pro

[2019-06-28 12:15] #395 closed

[2019-07-04 19:43] StonehengeCreations opened #396 "PHP API update for PHP 7.2+ - guzzlehttp"
The most recent version of the Mollie PHP API (2.10.0) is still using a (soon to be) outdated version of guzzlehttp.

In /vendor/guzzlehttp/promises/src/functions.php, lines 222, 257 and 313 use the function each(). That has been deprecated since PHP 7.2 (2017-11-30) and should be replaced with a foreach() loop.

Since PHP is not known for keeping backward compatibility (for a long time anyway), c

[2019-07-05 10:20] willemstuursma commented on #396
How are you installing Guzzle? Our version constraint is set to `^6.3`, so installing the most recent version 6.3.3 (from April) should not be a problem.

[2019-07-05 10:22] StonehengeCreations commented on #396
By using the default composer as stated on the main page. So the install is done automatically.

[2019-07-05 10:24] willemstuursma commented on #396
See https://github.com/guzzle/promises/issues/93, that explains that the function call `each` there does not refer to the `each` function from PHP but for `\GuzzleHttp\Promise\each()` that lives in the same file.

[2019-07-05 10:24] #396 closed

[2019-07-05 10:26] StonehengeCreations commented on #396
It still gives warnings (and probably errors if deleted in PHP soon) when doing a PHP check. It should still be changed to avoid confusion.

[2019-07-15 12:27] SanderVanLeeuwen opened #397 "Can't update order when fetched with related resources"
When an order is fetched with related (embedded) resources, updating the order fails with an exception `Non-existent query parameter "embed" for this API call.. Field: embed.`. The queryparameters are probably sent alongside the request because of the preceding get.

Reproduce:

[code]

Throws the described exception.

It's possible to work around this by fetching the order (again) without embedde

[2019-07-15 18:51] willemstuursma commented on #397
Looks like a bug in our API, I think it should be possible to update the order and immediately get the payments too.

@MollieRick can you create an issue on our end and resolve it?

[2019-07-17 11:08] willemstuursma commented on #397
This has been resolved @SanderVanLeeuwen, can you confirm that it now works?

[2019-07-17 11:08] #397 closed

[2019-07-17 13:00] SanderVanLeeuwen commented on #397
Yes, works without the workaround. Thanks for the quick fix :)

[2019-07-17 15:15] MollieRick commented on #367
It don't think this is worth the effort. Like you said; I don't think an API Customer will get that many mandates. Besides that; filtering by the developer is not that much effort. Close this issue for now.

Thanks for the request!

[2019-07-17 15:15] #367 closed

[2019-07-17 15:16] MollieRick commented on #296
@holtkamp Is it okay for you to close this issue for now?

[2019-07-23 15:00] RyonMB commented on #232
Hello, I am still have the same issue, do I need to change something myself?

`$customer = $mollie->customers->get($customerid->customer_id, ['testmode' => 'true']);
        $betalingen = $customer->payments();`

This is the code I am using

[2019-07-23 15:05] sandervanhooft commented on #232
Hi @RyonMB ,

Can you open a new ticket for this?

[2019-07-23 15:06] RyonMB commented on #232
Yes, sure

[2019-07-23 15:09] RyonMB opened #398 "Retrieve payments with oAuth not working in testmode"
## Specifications

  - API Version:
v2.10.0
## Describe the issue

I have got an issue that I can't retrieve payments through oAuth with the testmode enabled.
It is the same issue as in this thread, but it is still not working for me:
https://github.com/mollie/mollie-api-php/issues/232

This is the code I am using:
`$customer = $mollie->customers->get($customerid->customer_id, ['testmode' => 'true

[2019-07-23 15:19] sandervanhooft commented on #398
Thanks @RyonMB , can you (double) check in the Mollie dashboard that this customer was created in test mode?

[2019-07-23 15:29] RyonMB commented on #398
Hello!

I already found the issue, with the composer require command, it installed 2.0, even when I mentioned I wanted 2.10. Thanks for your quick response!

[2019-07-23 15:45] sandervanhooft commented on #398
No problem, glad it worked out 🎉

[2019-07-23 15:45] #398 closed

[2019-08-01 22:25] RyonMB opened #399 "The start date can not be changed when the subscription is already charged. Field: startDate."
## Specifications

  - API Version: 2.10.0

## Describe the issue

I am trying to update a subscription with this code. It's not with all subscriptions, only some of them

[code]

I am getting this error:  The start date can not be changed when the subscription is already charged. Field: startDate.

It happens when i am trying to update a subscription where the first directdebit shows up in the pa

[2019-08-02 15:01] HenriNijborg opened #400 "__wakeUp() breaks when extending MollieApiClient class."
## Specifications

  - API Version: v2.10.0

## Describe the issue

In the MollieApiClient.php the following function causes some trouble:
[code]

In our case we have an internalclient extending the MollieApiClient and with it's own __construct($param1, $param2, $param3), three params . Whenever the __wakeUp function is called it will throw an error because of the lack of params as $this refers to

[2019-08-03 12:46] tahsin352 commented on #351
Hi All, I am just confirming that I have used 3 different WP plugins into my website at a time. It didn't get conflicted or any errors. I have used

1. https://garazlab.com/product/wp-orangeshine-sync-wholesale-retail-fashion-clothing-apparel-accessories-boutique/
2. https://garazlab.com/product/wp-lashowroom-sync-wholesale-retail-fashion-clothing-apparel-accessories-boutique/
3. https://garazlab.

[2019-08-05 11:22] sandervanhooft commented on #393
@albert-carreras any update on this?

[2019-08-05 11:29] sandervanhooft commented on #399
@RyonMB can you try whether `curl` yields the same error when you include the (unchanged) `startDate`?

The php client includes all fields that _can_ be updated in the call, whether they have been changed or not.

No, unfortunately not. For this kind of advanced behaviour you'll need to obtain a mandate (via a first payment) and schedule subsequent payments yourself - instead of using the Subscrip

[2019-08-05 11:33] sandervanhooft commented on #400
@willemstuursma Does this cause a BC?

Relates to:

https://github.com/mollie/mollie-api-php/blob/65eb23e49725c13f9453d1c209d240d02add1be7/src/MollieApiClient.php#L509:L519

[2019-08-06 15:23] willemstuursma commented on #400
I don't think this causes a BC but I am also not sure it will actually fix it @HenriNijborg.

To be honest, for best results, you should _not_ serialize the client, not serialize any results and not extend the client (instead encapsulate it).

I'm not sure there is a solution, can you actually confirm that it will fix it @HenriNijborg ?

[2019-08-06 15:24] willemstuursma commented on #393
Sorry, we don't have any updates on this.

[2019-08-09 12:43] willemstuursma commented on #393
@sandervanhooft a fix will be deployed early next week. The payment will be considered canceled if the shopper does not have Apple Pay on the device.

[2019-08-09 12:43] #393 closed

[2019-08-30 12:15] jlambe opened #403 "Subscription resource update issue"
PHP Client: v2.10.0

When following the Mollie API reference on a subscription update, the documentation is referencing the `update()` method on a `Subscription` resource instance.

On a current project, users can change their service plan so we need to only update the subscription amount. The issue I met when using the `update()` method on the `Subscription` instance is that the method is always

[2019-09-01 15:44] Dennisprins93 opened #404 "Onboarding API registrationType"
Hi Guys,

I'm trying to build an app with your laravel-mollie package that uses OAuth to connect with the Mollie account of my customer, and I want to submit/fill the onboarding data for my customer through your Onboarding API.

I'm facing a problem and that is that it's impossible to parse the Registration Type of the organization to the belonging Mollie Account. Whatever field I add to the organ

[2019-09-02 09:34] martinmollie commented on #403
Hi! If you don't what the `startDate`parameter to be used while updating you should set it to `null`. That should prevent this issue.

[2019-09-02 14:18] jlambe commented on #403
@martinmollie Setting the `startDate` value to `null` does work. Thanks for pointing this out. Not sure then if the PHP client must be updated on some sort or perhaps add a note on the PHP example on the documentation.

[2019-09-03 07:59] MollieRick commented on #404
Hi @Dennisprins93,

The parameter you try to submit (`registrationType`) is not supported (yet) by our API. Therefor you're getting the API error.

See the docs (https://docs.mollie.com/reference/v2/onboarding-api/submit-onboarding-data) for what types of data you can submit.

[2019-09-03 07:59] #404 closed

[2019-09-03 10:32] holtkamp opened #406 "Settlement.settledDatetime not populated since 02-09-2019"
## Specifications

  - API Version: v1

## Describe the issue
It seems that as of yesterday 02-09-2019, the `Settlement.settledDatetime` is not populated anymore while:

- the [Changelog](https://docs.mollie.com/changelog/v1/changelog) does not mention this change
- the Mollie dashboard indicates that the `Settlement.status `= `paidout`
- the API indicates `Settlement.status` = `paidout`
- an e-ma

[2019-09-03 12:58] mollierobbert commented on #406
Thanks for reporting this issue, @holtkamp. We will dive into it today. Our apologies for the inconvenience.

[2019-09-03 15:32] holtkamp commented on #406
@mollierobbert I think this issue can be closed. Apparently yesterday there was a slight delay in settling the Settlements @ Mollie. Since we cached the response of the API, I was under the impression the Settlement was still not settled. 🤦‍♂

[2019-09-03 15:32] #406 closed

[2019-09-03 16:14] mollierobbert commented on #406
Thanks for the response @holtkamp. Happy to hear you were able to resolve it!

Yes, some of the outpayments yesterday experienced a delay due to an issue on our side. Sorry for that as well. 😅

[2019-09-04 05:52] willemstuursma commented on #403
@sandervanhooft

[2019-09-04 08:22] sandervanhooft commented on #403
Thanks @willemstuursma . I have a ticket running with Mollie support, asking for NOT throwing an exception on update if the startDate was not changed.

[2019-09-04 08:27] willemstuursma commented on #406
@mollierobbert its a bit weird that the status is `paidout` but the `settlementDatetime` remains empty, don't you agree?

[2019-09-04 15:15] mollierobbert commented on #406
I agree. @leonardogcsoares is this something we can improve in our Settlements API?

[2019-09-16 17:21] paqio opened #407 "Filter parameter"
## Specifications

  - API Version: latest

## Describe the issue

subscriptions->createFor($this, $options, **$filters**);

Many methods have filter parameter, how does it work? What does it do?

[2019-09-17 09:53] MollieRick commented on #399
Hi @RyonMB,

Did the answer of Sander helped you fixing the error?

[2019-09-17 09:54] MollieRick commented on #400
Hi @HenriNijborg,

Do you still have this issue, or can we close it?

[2019-09-17 09:55] MollieRick commented on #399
Same problem as #403. I'll close this one.

[2019-09-17 09:55] #399 closed

[2019-09-17 09:59] MollieRick commented on #407
Hi @paqio,

You can use these filters for query parameters. For example in listing Payments, you can set `['limit' => 5]` as filters to get just 5 payments.

[2019-09-17 10:42] HenriNijborg commented on #400
The suggestion of encapsulating it got me thinking and we will change it so we will do just that instead of extending the MollieApiCLient. It will no longer be an issue for us. Thx!

[2019-09-17 10:42] #400 closed

[2019-09-17 11:14] HenriNijborg commented on #400
One last note, I tried changing it to ```self::__construct();``` and the problem was solved and the client still worked. ```self::__construct()``` will execute the __construct of the MollieApiClient. ```$this->__construct()``` will execute the __construct of MollieApiClient or their **parent** when extending it. We had a different __construct with one more param which is why it broke.

[2019-09-17 14:04] #407 closed

[2019-09-21 06:24] christopheg commented on #296
Dear @mollierobbert, can you please explain why this is so difficult and why it takes so long to implement?
Basically we could do the same by following this procedure:
- On webhook callback, check if the status is 'paid'
- fetch the fees via the 'methods' API call
- try to match the brand/cardAudience/feeRegion with fetched fees
- do the calculation

Problems that may arise are situated in:
- matc

[2019-09-21 21:30] mollierobbert commented on #296
Thanks for the suggestion @christopheg.

We currently can only provide an overview of the fees once the settlement has been processed. Would it suffice for you both, @christopheg and @holtkamp, if these fees are made available in the Payments API after the payment got settled?

As noted before we are actively working on a big engine upgrade that will allow us to do provide this information as soon

[2019-09-22 14:20] holtkamp commented on #296
That would be a nice first step indeed 😃

[2019-09-22 14:41] christopheg commented on #296
@mollierobbert, in our use-case this is not sufficient. We charge our customers the exact cost of the transaction.
I just don't understand why you need a bit engine upgrade in order to create something which we could develop ourselves with existing API calls...

[2019-09-23 20:20] christopheg commented on #296
@mollierobbert  I've created a pull request that adds cost calculation of transactions via existing API calls. This is for me a temporary solution but it fixes our problem.
Pull request: https://github.com/mollie/mollie-api-php/pull/409

PS: I want to point out that this is not only a technical limitation of the Mollie system. For the moment there is no way to clarify the costs that are calculated

[2019-09-23 20:34] mollierobbert commented on #296
Thanks for the pull request, Christophe. 👏

We could indeed take your suggested shortcut, but we would not be able to expose this endpoint to our entire user base reliably, since costs are simply currently not yet confirmed in real-time. It would solve your problem, and cause issues for us elsewhere (for users with more complex pricing models).

I do of course agree on the importance of this issue

[2019-09-23 21:36] sandervanhooft commented on #296
In order to prevent breaking changes down the road, I strongly recommend to only use this code locally. As soon as the API is ready this code is very likely to be deprecated.

If this is the feature set you’re looking for and you are adamant to have a solution via the client class I suggest to decorate it locally for now.

[2019-09-23 21:37] sandervanhooft commented on #296
“Locally” being “in your application”.

[2019-09-23 22:04] holtkamp commented on #296
@mollierobbert

Well, yes. But I understand the arguments to not adopt this (approach) in the API and advise to keep it in "user land" code instead.

[2019-09-24 07:50] christopheg commented on #296
I also agree on the fact that it is not ideal to have this code in the Mollie API client. However I was looking for a way to distribute the code in such a way that in can be improved and maintained by you or other developers. Do you see any other solution?

[2019-09-24 08:37] ndijkstra opened #410 "Implement new Subscriptions endpoint"
https://docs.mollie.com/reference/v2/subscriptions-api/list-all-subscriptions

[2019-09-24 21:06] sandervanhooft commented on #296
Good thinking @christopheg , I'd recommend a dedicated package for that, pulling in this client. Once the feature set is available on the client itself, you could deprecate the package or refactor it to use the then-new client features instead.

[2019-09-24 21:06] sandervanhooft commented on #296
If that's a bit "too much", consider a github gist.

[2019-09-24 21:11] mollierobbert commented on #296
A gist would be nice. I was thinking we could also just leave the PR open until we can offer the functionality natively, but that's a bit messy perhaps.

Thanks all for collaborating on this. 👍 And for understanding our delay in solving this issue.

[2019-09-27 12:14] dna75 opened #412 "Status open while webhook call succes and payment has been made"
## Specifications

  - API Version: 2.0

## Describe the issue
In some orders the payment is succesfull and also the Webhook was called succesfull but when the user returns to the redirectUrl the status of the payment is open.
this causes confusion for the buyer.
I can't figure out why some payment keep the Open status while the webhook was called succesfully.

[2019-09-27 13:34] MollieRick commented on #412
Hi @dna75,

Is the payment open in our system, or in yours?

[2019-09-27 13:35] MollieRick commented on #410
This is done in #411

[2019-09-27 13:35] #410 closed

[2019-09-27 13:47] dna75 commented on #412
After the payment is made they return to the our website and the status is still open, It looks like the update of the status is changed at another moment because the Paid status is vibisible when I check these payments, looks like the payment status is pending.

[2019-09-27 13:49] MollieRick commented on #412
Check! Can you please contact our support-team? They can help you with this problem and take a deeper look into your payments and events.

See https://www.mollie.com/en/contact on how doing this.

Have a great weekend, cheers!

[2019-09-27 13:49] #412 closed

[2019-09-27 13:53] dna75 commented on #412
I already contacted Mollie but haven't got a response.

[2019-09-27 13:58] MollieRick commented on #412
Sorry to hear that, it currently very busy.
You can try to call or chat with us via your Mollie dashboard.

[2019-09-28 17:33] willemstuursma opened #413 "Readme outdated"
Some payment methods are missing such as Przelewy24.

Information on refunds is incorrect, refunds are supported for all methods except paysafecard and gift cards. I guess the sentence on support can be omitted.

[2019-10-03 14:00] holtkamp opened #414 "v1 API Client timeout is hardcoded to 10 seconds"
## Specifications

  - API Version: 1

## Describe the issue
Currently the CURL timeout of the API Client is hardcoded to 10 seconds:

https://github.com/mollie/mollie-api-php/blob/b385e285d7d0b93807825166beca0e3a11fbcb5c/src/Mollie/API/Client.php#L353

Is this hard coded on purpose? In some cases (when loading a lot of Invoice with a lot of InvoiceLines), this limit is reached causing an error:

[2019-10-03 14:13] sandervanhooft commented on #414
Interesting, haven't reached that threshold before.

I'm not a big fan of increasing the threshold here, not a lot of users are likely to experience this problem. And 10 seconds seems like a sane default to me.

You could override the timeout setting by injecting your own Guzzle client.

And/or Mollie could look into performance issues.

@willemstuursma any thoughts here?

[2019-10-03 14:25] holtkamp commented on #414
I agree, this issue is more of a "why is it hard-coded" question.

Making it configurable with a max at 10 seems a valid approach. Was just wondering about the ideas behind making it hard coded.

[2019-10-03 14:29] sandervanhooft commented on #414
Ah ok. Is upgrading an option? I don't have much history with v1, but taking a PR for overriding the timeout seems reasonable to me.

[2019-10-03 14:32] holtkamp commented on #414
Yeah, upgrading is on the roadmap.

Although currently it is not a very high prio due to the [MVP](https://en.wikipedia.org/wiki/Minimum_viable_product) approach (read: it works and  it is supported [at least until July 2023](https://github.com/mollie/mollie-api-php/issues/178), so why bother to upgrade?

[2019-10-03 14:39] sandervanhooft commented on #414
Thanks, closing this for now.

[2019-10-03 18:58] willemstuursma commented on #414
What API call were you doing @holtkamp ? If it is slow we'll fix it.

[2019-10-04 08:56] holtkamp commented on #414
I was listing "all" Invoices using https://docs.mollie.com/reference/v1/invoices-api/list-invoices

The default limit is 250, have now narrowed it down to 24 (last 24 months).

Our first Invoice is from 01-09-2016, so I think "too much info" had to be loaded.

[2019-10-08 13:05] RobbinRook opened #415 "Mollie API conflicts with Concrete5 Framework"
Concrete5 8.5.2 & Concrete5 8.5.1
  - API Version: Latest

Whenever i include the file:
  include "Mollie/vendor/autoload.php";

To create a new Mollie Api Client:

 $mollie = new \Mollie\Api\MollieApiClient();

I get this error:
Call to undefined function _PhpScoper5d8cb17438769\GuzzleHttp\choose_handler()
@ /Mollie/vendor/guzzlehttp/guzzle/src/HandlerStack.php : 37

I was hoping that this bug wa

[2019-10-09 09:23] willemstuursma commented on #415
Hi @RobbinRook. Can't you use `composer` to install the API client in the Concrete5 framework?

[2019-10-09 12:28] feyyazesat commented on #414
@holtkamp We have deployed a fix related to the list-invoices's page speed. Could you please place your feedback whether the issue you have with it fixed or not?

[2019-10-09 14:07] RobbinRook commented on #415
Hi @willemstuursma ,

What are the benefits from installing the client through composer? And why isn't it working if i manually integrate it with my system? Do you think it is conflicting with the already installed guzzle in Concrete5?

[2019-10-09 21:17] willemstuursma commented on #415
I'm not going to go into the details of Composer. If you can use it, you should.

Else, try using the zip of the code (https://github.com/mollie/mollie-api-php/archive/v2.12.0.zip) instead of the pre-build version with PhpScoper.

[2019-10-09 21:17] #415 closed

[2019-10-10 06:42] RobbinRook commented on #415
Well this is a ripoff, you're just saying: 'Too bad it isn't working for you, so shame on you'. Your API isn't working, and i am only asking what is gonna change when i'm using Composer. Is that too hard to tell?

[2019-10-10 07:40] RobbinRook commented on #415
I nonetheless got it working through Composer, thanks for that!

[2019-10-10 15:57] holtkamp commented on #414
Hi @feyyazesat, thanks for diving into this. Just had a look and the first time a timeout occurs, after that all 39 Invoices (including Lines and Settlements) load in ~3.9 seconds 👍

So was there a problem in the caching mechanism (since first run still caused a timeout)?

[2019-10-11 11:14] feyyazesat commented on #414
Hi @holtkamp No it wasn't about caching, but there was a costly internal function running so slow we optimised that. There are many db queries to create list of invoices, most probably the first request fails but query results are cached so that loads well on later requests.

[2019-10-11 13:05] #414 closed

[2019-10-11 15:33] holtkamp commented on #414
Good to hear some kind of "cause" was found, thanks all involved for diving into this!

[2019-10-16 08:53] holtkamp commented on #406
Hey guys, it seems that for the settlements of 14-10-2019 and 15-10-2019 the ```Settlement.settlementDatetime``` remains unset. Is this on purpose?

[2019-10-22 14:40] williamrijksen opened #417 "Testmode is lost when fetching chargeback from payment entity"
## Specifications

  - API Version: v2.12.0

## Describe the issue

When fetching payments using
[code]
And afterwards calling
[code]

The testmode variable is lost.
I would prefer to get the `testmode` variable from the response and reuse it for the `chargebacks` call.

[2019-10-22 15:51] sandervanhooft commented on #417
It's using the ` _links.chargebacks`.

I suspect this problem occurs in more places (calls made from a retrieved Resource).

I think the best solution would be to have a central testmode flag/switch on the client. That way we can check in each call whether the `testmode` flag should be injected (depending on both `usesOauth` and the new central `testmode` flag).

[2019-10-22 15:52] sandervanhooft commented on #417
Would be a significant refactor, but I could put it on my list :)

[2019-10-22 15:52] sandervanhooft commented on #417
(Forgot to tag @willemstuursma )

[2019-10-22 15:55] sandervanhooft commented on #417
Currently this behaviour is scattered across Resources / methods and error-prone.

[2019-10-22 16:00] sandervanhooft commented on #417
Here's the method:

https://github.com/mollie/mollie-api-php/blob/a8540896e069fca409cf18351b33ec10f58622c6/src/Resources/Payment.php#L479:L502

[2019-10-23 08:36] bobbybouwmann commented on #417
@sandervanhooft Yeah, this happens on almost all endpoints. Right now I'm working with chargebacks and refunds from payments as well. I have to do the calls myself and pass the test mode flag to the URL instead of using the `$payment->chargebacks()` or `$payment->refunds()` methods.

Wouldn't it be better if the URLs that are returned from the API already have the `?testmode=true` appended to the

[2019-10-23 09:13] willemstuursma commented on #417
@bobbybouwmann Yes, the URLs should have the `?testmode=true` bit included in the URL. We'll solve this in our API.

[2019-10-23 09:20] bobbybouwmann commented on #417
@willemstuursma Do you have any ETA of when this will be available?

Also, should we consider this to be a breaking change? If someone is parsing the URL on their own, they might end up with breaking code.

Thanks for all the great work so far :D

[2019-10-23 14:52] willemstuursma commented on #417
@bobbybouwmann I think it will take a few weeks, I have to find some capacity to fix this within our teams. We'll consider the breaking cases.

[2019-10-24 11:45] sandervanhooft opened #418 "Update paid payment - redirectUrl bug"
## Specifications

  - API Version: v2

## Describe the issue

See [comment](https://github.com/mollie/mollie-api-php/pull/405#issuecomment-545877134).

The `redirectUrl` is sent with the update payment payload, regardless of the Payment's status.

The `redirectUrl` however is rejected by the API endpoint if the Payment status is `paid`.

This should be either fixed in the client or the API endpoi

[2019-10-24 11:59] sandervanhooft commented on #418
Dealing with this at the API endpoint would make the best/cleanest integrator experience across all clients IMO.

[2019-10-25 12:21] sandervanhooft commented on #418
@willemstuursma, what do you think?

[2019-10-25 13:47] holtkamp commented on #406
@ndijkstra it seems ```Settlement.settledDatetime ``` is populated again, nice.

But it seems ```Settlement.settledDatetime ``` is "before" ```Settlement.createdDatetime ```. This is correct?

[2019-10-25 21:20] willemstuursma commented on #418
What value is sent, `null` or `""`?

[2019-10-28 14:25] esprange opened #419 "Handling service unavailable"
## Specifications

  - API Version: 2.0

## Describe the issue

I have noticed the following error:
[28-Oct-2019 13:20:14 UTC] PHP Fatal error:  Uncaught Mollie\Api\Exceptions\ApiException: Unable to decode Mollie response: '<html><body><h1>503 Service Unavailable</h1>
No server is available to handle this request.
</body></html>

'. in /XXXX/vendor/mollie/mollie-api-php/src/MollieApiClient.php:48

[2019-10-28 14:28] ndijkstra commented on #419
Hi @esprange, we had some problems around 2pm. You can find more information on our status page: https://status.mollie.com/

[2019-10-28 14:28] #419 closed

[2019-10-29 11:19] sandervanhooft commented on #418
Hi @willemstuursma ,

This issue is actually about fetching an existing PAID payment with for example redirectUrl `https://www.example.com`. Then doing this causes an exception:

[code]

This is throwing an exception because the redirectUrl is being sent along with the payload.

Guarding against this behaviour in the client(s) requires complexity to be introduced.

While checking in the API endpoi

[2019-10-29 11:20] sandervanhooft commented on #418
More precisely: This is throwing an exception because the redirectUrl is being sent along with the payload and the API endpoint returns an exception response regardless whether the redirectUrl differs from Mollie's records.

[2019-10-29 12:04] willemstuursma commented on #418
@sandervanhooft thanks for the clarification, we'll sort it in the back end.

[2019-10-29 13:32] sandervanhooft commented on #418
That's great @willemstuursma ! Can you post back here?

[2019-11-08 07:23] sandeep-tlt opened #420 "Not redirecting to website when payment status is failed in testmode"
Iam using the mollie payment gateway in test mode. When i choose the payment status as failed its not redirecting to the return url (my website). I can see the redirect works only for the status paid.Also webhook is not being called for failed or expired status.

[2019-11-08 07:43] sandervanhooft commented on #420
Hi @sandeep-tlt ,

A few questions:

Can you share the code in which you create the payment?

Did you check that Mollie correctly called your webhook (you can look this up in the Mollie Dashboard)?

Would it be possible for you to send a brief screen recording of the redirect issue?

[2019-11-08 08:02] sandeep-tlt commented on #420
Please check the code below.

$protocol = isset($_SERVER['HTTPS']) && strcasecmp('off', $_SERVER['HTTPS']) !== 0 ? "https" : "http";
       $hostname = $_SERVER['HTTP_HOST'];
       $mollie = new MollieApiClient();
       $mollie->setApiKey("test_AAarzqGMPavtwKpsEMMavatqxTxyDn");
       $orderId = time();
       $protocol = isset($_SERVER['HTTPS']) && \strcasecmp('off', $_SERVER['HTTPS']) !== 0 ?

[2019-11-08 08:08] sandeep-tlt commented on #420
When i choose status other than paid, it redirects back to the mollie payment method selection page.

[2019-11-08 09:03] sandervanhooft commented on #420
Just discussed with Mollie support, this (non-)redirect behaviour is by design. It works the same in test mode as in production.

If no payment method is explicitly  configured on the payment, the customer is allowed to pick another payment method / try again. That's also why the webhook is not being called, the status is not definite yet.

[2019-11-08 09:03] #420 closed

[2019-11-08 09:44] sandeep-tlt commented on #420
Thanks sandervanhooft. This solved the issue.

[2019-11-08 09:52] holtkamp commented on #420
From the top of my head I remember I "read" this behavior somewhere in the documentation... It allows you to really simulate a failure/timeout of the payment...

[2019-11-08 14:11] sandervanhooft commented on #420
@holtkamp Be sure to share the link. Can't find it that easily.

[2019-11-19 14:48] MollieRick commented on #418
We implemented a fix. Can you confirm it's fixed? :-)

[2019-11-20 08:35] sandervanhooft commented on #418
@MollieRick works like a charm!

[2019-11-20 08:35] #418 closed

[2019-11-21 20:13] szepeviktor opened #421 "Tests have no vendor in namespace"
Please migrate from `"Tests\\": "tests"` to `"Mollie\\Api\\Tests\\": "tests/"`
Thank you.

[2019-11-26 10:25] JorikMollie opened #423 "TypeError when looping over issuers"
## Specifications

  - API Version: 2.12.0

## Describe the issue

[code]
throws a TypeError with payment methods that do not have issuers.

[2019-11-26 13:53] sandervanhooft commented on #423
I'll have a look.

[2019-11-26 14:23] sandervanhooft commented on #423
PR prepared #424 .

I'll release as soon as I have received a "go".

[2019-11-29 10:30] #423 closed

[2019-11-29 10:30] sandervanhooft commented on #423
Released [in v2.12.1](https://github.com/mollie/mollie-api-php/releases/tag/v2.12.1)

[2019-12-02 21:18] dutchwebs opened #427 "Update can't be called without startDate"
## Specifications

  - API Version: ALL

## Describe the issue

In src/Resources/Subscription.php the update function automatically takes startDate as a param, when I update a subscription that is already being charged it gives me the following error:

Error executing API call (422: Unprocessable Entity): The start date cannot be changed when the subscription is already charged. Field: startDate.

[2019-12-02 21:22] dutchwebs commented on #427
Im sorry, I see that this issue is a duplicate of #403 : solution is to set startDate to null

[2019-12-02 21:22] #427 closed

[2019-12-03 08:08] notflip opened #428 "How do you catch a failed payment on an order?"
## Specifications

  - API Version: ^2.11

## Describe the issue

In the documentation I can see that when a payment (the first default payment) of an order fails, it doesn't call a webhook? So I'm wondering, how can we catch the failed payment for an order, so we can send an email with a new payment link.

[2019-12-03 12:14] sandervanhooft commented on #428
@JorikMollie ?

[2019-12-03 12:35] JorikMollie commented on #428
You can add a payment.webhookUrl parameter when you create the order.

If you do so we'll call the payment webhook every time the payment changes state.

You can find more info [here](https://docs.mollie.com/reference/v2/orders-api/create-order#payment-specific-parameters) in our API docs.

[2019-12-03 12:44] #428 closed

[2019-12-04 16:32] jlmmns opened #429 "Unable to revoke tokens"
## Specifications

  - API Version: v2

## Describe the issue

First off, in order to send this request we have to manually use `performHttpCall` or `performHttpCallToFullUrl`, since there doesn't seem to be a "tokens" implementation.

Using `performHttpCall`, the package will automatically prepend "v2" to the endpoint, resulting in a `404 Invalid resource endpoint` response.

After checking the A

[2019-12-04 22:05] willemstuursma commented on #429
We recommend using https://github.com/mollie/oauth2-mollie-php for OAuth implementations, as that client is completely aimed at OAuth.

Please let us know if that client is useful.

[2019-12-04 22:05] #429 closed

[2019-12-12 09:47] MelvinRook opened #430 "Exception on cancelling a subscription"
Cancelling a subscription results into the following exception:
`Error executing API call (422: Unprocessable Entity): The subscription has been cancelled.`

However, the docs state that I should expect a `200 OK` response with a subscription object. Is this expected behaviour, or should I executed this call in a different way?

There is a similar issue from 2017 (#88), but questions remained unan

[2019-12-12 10:17] sandervanhooft commented on #430
Hi @MelvinRook

To be sure, is `$subscription->delete();` triggering this response, or a subsequent call trying to fetch that subscription?

[2019-12-12 10:18] sandervanhooft commented on #417
@willemstuursma any news?

[2019-12-12 10:28] MelvinRook commented on #430
Using the API call from the Mollie library. In the end resulting into a REST DELETE command indeed.
[code]

[2019-12-12 10:57] DigitalLeaves commented on #160
+1 for this functionality. It is just so basic stuff that I am amazed there is no way of doing that with the Mollie API.

[2019-12-12 11:01] sandervanhooft commented on #430
And the `$user->subscription_id` relates to an active subscription?

[2019-12-12 11:04] Fossil01 commented on #160
Completely agree.

[2019-12-12 11:20] MelvinRook commented on #430
Correct, an active subscription in test mode.

[2019-12-12 15:47] sandervanhooft commented on #430
I can't reproduce the problem. I only get the 422 exception only when trying to cancel an already canceled subscription. Not when canceling an active subscription.

[2019-12-13 06:39] willemstuursma commented on #417
Sorry @sandervanhooft, we looked into it but we were not able to figure it out yet.

[2019-12-14 19:12] Tsjippy opened #431 "Feature request: update frequency of subscriptions"
## Specifications

  - API Version: 2.12.0

## Describe the issue
Sometimes I need to update the frequency of an given subscription, that is not possible at the moment. Can this be added?

[2019-12-17 21:45] bobbybouwmann commented on #417
@willemstuursma What do you mean by "not able to figure it out"? Do you miss context or do you need a working example?

[2019-12-22 14:16] pperzyna opened #432 "Error on Laravel 6 via laravel/cashier-mollie"
## Specifications

  - API Version: v2.11.0

[code]

## Describe the issue

Take a look what i got during installation this package via cashier-mollie
[code]

[2019-12-22 16:20] pperzyna commented on #432
i switched to latest version

[2019-12-22 16:20] #432 closed

[2019-12-24 12:01] MollieRick commented on #430
Hi @MelvinRook,

Could it be that the subscription is charged for the last time already?

[2019-12-24 12:29] MollieRick commented on #431
Hi @Tsjippy,

Thank you for your suggestion, it's added it to our backlog. I can not say when and if we gonna implement this but you can be sure that we'll look at it.

[2019-12-24 15:54] MelvinRook commented on #430
Hi @MollieRick

Went to check again and finally managed to reproduce the issue. A test subscription is cancelled automatically after some time. There is a small note about this in the docs: https://docs.mollie.com/reference/v2/subscriptions-api/create-subscription `Subscriptions in test mode will be canceled automatically after 10 charges.`

Unsure though if I received a webhook call for that, bec

[2019-12-24 15:54] #430 closed

[2019-12-24 15:59] MollieRick commented on #430
Hi,

Good to hear. Please be aware that we do not call any webhooks for subscriptions. We only send them for payments (e.g. created by the subscriptions) and orders.

Enjoy the holidays!

[2019-12-24 16:05] MelvinRook commented on #430
Check! That answers my last question.

Happy holiday season!

[2020-01-08 09:29] willemstuursma commented on #417
@bobbybouwmann Sorry, the problem was completely clear but it too us a while to figure out a good way to approach the problem. We expect to release it within the week.

[2020-01-08 14:44] dnsBlah opened #433 "[Q] createPayment - Recurring"
## Specifications
  - API Version: 2.12.1

## Describe the issue
I'm still in testing round, but when I created a recurring payment I received the message that "The amount is higher than the maximum"
Where is the maximum set? Is this set during the firstpayment?

So, if a customer changes his/her subscription on my service, I need to revoke the mandate and create a new First payment and use the ne

[2020-01-08 14:48] robindirksen1 commented on #433
From my experience, you have to contact Mollie support to increase the maximum amount, this is because of the risk for you/your company.

Maybe you can find something here: https://help.mollie.com/hc/en-us/articles/115000972585-What-are-the-risks-of-payments-via-credit-card-

[2020-01-09 06:18] dnsBlah commented on #433
Hi Robin,

Thank you so much for your response, so it has nothing to do with the 'intial' payment amount?
As I've just followed the tests within this project with 10 euro, and now trying to take off my normal licenses by recurring which is about 3000.
I will contact mollie about this and discuss with my partner a max. amount of licenses they can take for this recurring payments based on mollie's r

[2020-01-09 07:30] #433 closed

[2020-01-09 14:22] willemstuursma commented on #417
This should now be fixed, please let us know if it works for you!

[2020-01-09 14:22] #417 closed

[2020-01-09 16:38] sandervanhooft opened #434 "Testmode in _links: impact"
## Specifications

  - API Version: 2

## Describe the issue

Propagating the `testmode` setting to subsequent calls is now dealt with by the Mollie API. Including the `testmode` parameter in subsequent calls is however hardcoded in some places in this client (see [here](https://github.com/mollie/mollie-api-php/search?q=testmode&unscoped_q=testmode&type=code)). This may cause some issues.

[2020-01-09 16:38] sandervanhooft commented on #434
I'll look into this tomorrow

[2020-01-10 15:21] sandervanhooft commented on #434
Problem scope is a bit larger than I thought, will continue this next week.

Most Subresource Endpoints (i.e. CustomerPayment) generate the urls, so any `_links` passed in via the parent resource are not being used to pass on the `testmode` setting.

[2020-01-13 07:47] bobbybouwmann commented on #417
@willemstuursma Thanks! Will give it a go!

[2020-01-13 10:06] sandervanhooft commented on #434
## Scenarios:

- _link bears `testmode`, but _link is not used in subsequent call. This happens when the client itself generates the url to call and the resource `mode` setting is not used in the url parameters.
- _link bears `testmode` and messes up subsequent url (parameter) parsing

## Impacted resource methods

- Customer
	- payments()
	- revokeMandate()
	- mandates()
	- getPresetOptions()
- M

[2020-01-13 10:09] sandervanhooft commented on #434
Also see #417 .

@willemstuursma Significant impact. Any thoughts? I'll continue work on this this afternoon.

[2020-01-16 12:40] sandervanhooft commented on #434
This php client was initially build to mirror all API endpoints, and generate the links itself.

Now, the API is providing urls for subsequent calls, including preset parameters for testmode. Using these provided urls instead of generating them in the client seems to be the preferred way.

I think it's best to distinguish between base resources (i.e. `/payments`) and subresources (i.e. `/customer/

[2020-01-16 12:41] sandervanhooft commented on #434
@willemstuursma from previous issue discussions it seems you're favouring option A, correct?

I'm personally leaning towards option B as it's closer to the client's original design and less complex (less url/parameter parsing). Then again, I may be missing something.

[2020-01-20 12:13] sandervanhooft commented on #431
Hi @Tsjippy,

Today's release `v2.13.0` supports updating the subscription interval. That should solve your issue.

https://github.com/mollie/mollie-api-php/releases/tag/v2.13.0

[2020-01-20 12:13] #431 closed

[2020-01-20 12:18] sandervanhooft commented on #413
I've updated the readme. Not sure why you'd like the support section to be removed?

<img width="500" alt="image" src="https://user-images.githubusercontent.com/7265703/72725888-44da4380-3b87-11ea-8ead-cbaee2ad4ace.png">

[2020-01-21 11:23] bobbybouwmann opened #437 "Non-existent query parameter "testmode" for this API call"
## Specifications
  - API Version: 2.12.1

## Describe the issue

I'm trying to revoke an existing mandate using the `revoke` method on the mandate resource I get back from the API. According to the documentation, the `testmode` parameter should be send along: https://docs.mollie.com/reference/v2/mandates-api/revoke-mandate#parameters

However, I get the following error back
[code]

My code looks

[2020-01-21 11:34] sandervanhooft commented on #437
Can you dump the mandate contents here?

[2020-01-21 11:44] sandervanhooft commented on #437
Right now my best guess is the testmode
 parameter should not be set on the request body (bug in revoke method). Also, it should already be included on the self link in the mandate response.

[2020-01-21 13:22] bobbybouwmann commented on #437
So the problem is that this is a `DELETE` route. Because of that, we need to post the `testmode` in the body. Like you said, the `?testmode=true`  is appended to the URL, which is not allowed according to the error message for this endpoint.

Right now we have a URL that looks like this
[code]
And then with the `revoke` method, we DELETE the resource also appending the testmode stuff.

So now, we

[2020-01-21 13:48] sandervanhooft commented on #437
@willemstuursma can you weigh in on this?

[2020-01-21 19:36] bobbybouwmann commented on #437
@sandervanhooft Thanks for the quick reply! Really appreciated

[2020-01-22 08:36] crnkovic commented on #437
Same thing with the `update` method on the Payment resource.

I want to update a description of the payment, but the following code fails with the exact same error:

[code]

[2020-01-22 10:27] sandervanhooft commented on #437
Mollie is investigating it on their end.

[2020-01-24 10:35] Cannonb4ll opened #438 "Update metadata in subscriptions is not possible while docs say it should be"
Hi,

I wanted to introduce a new feature in my system where users could easily update their subscription. However I am unable to update the 'metadata' inside a subscription.

If I check your code with the call in Subscription.php resource, it is indeed not send over.

[code]

However, the docs clearly state it should be possible to send over new metadata:

https://docs.mollie.com/reference/v2/subs

[2020-01-24 10:44] willemstuursma commented on #438
@sandervanhooft should be fixed in the Client?

[2020-01-25 11:25] sandervanhooft commented on #438
Just merged the fix. Will be released after the weekend.

[2020-01-27 12:09] sandervanhooft commented on #438
A fix was released with `v2.13.1` ([details](https://github.com/mollie/mollie-api-php/releases/tag/v2.13.1)).

Thanks for the PR and reporting @Cannonb4ll .

[2020-01-27 12:09] #438 closed

[2020-01-31 15:07] sandervanhooft commented on #437
Discussed it with @willemstuursma , primary part of the solution will be Mollie accepting testmode on these urls.

[2020-02-02 09:02] sandervanhooft commented on #437
Looking into it, writing a whole new set of integration tests for this.

@bobbybouwmann consider using this for now (confirmed to work):

[code]

[2020-02-02 10:12] ReneBakkerBBIT opened #441 "Can we have a public function payments() method on the subscription resource?"
## Specifications

  - API Version: latest

## Describe the issue
The Mollie API is able to retrieve subscription payments, but this package does not (yet?) implement that. Not sure why not.

It is easy to implement: just copy over the public function payments() method from the settlement resouce. It did the trick for me.

Thanks in advance.

[2020-02-02 10:50] bobbybouwmann commented on #437
@sandervanhooft Awesome! Thanks for all the work you put into this!

[2020-02-03 09:21] sandervanhooft commented on #441
Thanks for noticing this @ReneBakkerBBIT. I'll pick it up.

[2020-02-03 09:52] #441 closed

[2020-02-03 09:55] sandervanhooft commented on #441
Released: https://github.com/mollie/mollie-api-php/releases/tag/v2.15.0

[2020-02-03 10:12] ReneBakkerBBIT commented on #441
Bedankt Sander!

Met vriendelijke groet,
René Bakker

Van: Sander van Hooft <notifications@github.com>
Verzonden: maandag 3 februari 2020 10:56
Aan: mollie/mollie-api-php <mollie-api-php@noreply.github.com>
CC: René Bakker <rb@bbit.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [mollie/mollie-api-php] Can we have a public function payments() method on the subscription resource? (#441)

R

[2020-02-03 11:00] sandervanhooft commented on #441
Thanks for the ❤️ @ReneBakkerBBIT . I'm removing your message though as it's leaking your email address (downside of replying via mail).

[2020-02-03 17:30] sandervanhooft commented on #437
Integration tested all(!) endpoints with OAuth (Organization Access Token) today. 😅

The goal was to find out what calls are breaking with OAuth, or could do without having to pass in the `testmode` setting manually.

Working on a PR here: #443 .

The client still breaks using some endpoints in test mode because the `_links.self` includes the test mode query parameter. These are:

- Customer PATCH

[2020-02-03 17:34] sandervanhooft commented on #437
☝️ @willemstuursma I'll release the PR tomorrow. Let me know if you need my help on the above.

[2020-02-04 10:28] sandervanhooft commented on #437
Additionally, Order Line PATCH will require some API changes as well:
- include `self` link on OrderLine Resource
- include `mode` on OrderLine Resource

[2020-02-05 10:59] mattbrailsford commented on #18
I know this is an old / closed issue, but just thought I'd express my desire for a cancelUrl also.

As an ecommerce platform developer our product is able to integrate with a number of payment gateways for which we aim to provide a consistent checkout flow across them all. This can be fairly difficult based on differences of those payment gateways, but the gateways that integrated the best, and a

[2020-02-17 10:31] jarnovanleeuwen opened #446 "Enabling Apple Pay through the API enables creditcard only"
## Specifications

  - API Version: 2.x

## Describe the issue

Not sure if this is the right place because it is probably an issue with the API itself and not the PHP implementation of it, but...

When enabling the `applepay` payment method on a website profile through the Mollie Connect API (authorized using Hosted Onboarding) it seems that the creditcard payment method gets enabled instead. Thi

[2020-02-17 13:15] willemstuursma commented on #446
Thanks for reporting, we'll have a look and report back here.

[2020-02-20 09:26] ndijkstra commented on #446
Hi @jarnovanleeuwen, we've deployed a fix for this and it should now work. Can you give it a try?

[2020-02-24 11:58] StonehengeCreations opened #447 "V2.16.0 triggers error in Guzzlehttp (for some)"
## Specifications

  - API Version:  2.16.0

## Describe the issue
There appears to be a (known) error in Guzzlehttp version 6.5.2. _Some_ end users (not all) get a fatal error "undefined function".  See https://github.com/guzzle/guzzle/issues/2511

The solution is really simple: downgrade to version 6.5.0 of Guzzlehttp to prevent any errors.

Since the Mollie composer will install the latest rele

[2020-02-25 10:51] sandervanhooft opened #448 "Add payment.getSettlementAmount"
## Specifications

  - API Version: v2

## Describe the issue

Similar to other getters on the 'Payment' resource, add a `getSettlementAmount()` that returns either the `settlementAmount` attribute or `0.0` if that attribute is `null`.

[2020-02-25 11:04] sandervanhooft opened #449 "Correct Payment.refund docblock"
## Specifications

  - API Version: v2

## Describe the issue

Passing `null` to `payment.refund()` only works on `v1`. Docblock should be fixed accordingly.

[2020-02-25 11:48] sandervanhooft commented on #449
May also need to drop the default `null` parameter if we choose to keep the v2 API as is.

[2020-02-25 11:52] #448 closed

[2020-02-25 12:00] sandervanhooft commented on #447
Thanks for reporting this, these things can be a pain to figure out.

We'll keep your report on record for future support issues.

But since the issue is in a minor Guzzle release and a patch is in the works the composer dependency will remain unchanged.

[2020-02-25 12:00] #447 closed

[2020-02-25 12:20] #449 closed

[2020-02-26 10:20] jarnovanleeuwen commented on #446
Thank you for the quick fix! It works now.

[2020-02-26 10:20] #446 closed

[2020-03-10 13:15] SanderVanLeeuwen opened #452 "Giftcard payment details don't include remainderMethod details"
When a payment is partially paid with giftcards, the `remainderMethod` specifies the payment method used to pay the remaining amount. However, I can't fetch any additional details about the used method. For example in case of a PayPal transaction, the PayPal reference which is normally accessible through `details.paypalReference`.

The Mollie dashboard does show some of this information (reference

[2020-03-10 13:49] sandervanhooft commented on #452
@MollieRick ?

[2020-03-10 15:53] willemstuursma commented on #452
We could add an include to get the remainderDetails in the same way as from the normal API.

It would be something like `v2/payments/tr_xxxxx?include=details.remainderDetails`.

[2020-03-12 10:04] MollieRick commented on #452
Nice one, I'll put it on our backlog.

[2020-03-12 15:56] MollieRick commented on #452
I added an include to the [Get payment endpoint](https://docs.mollie.com/reference/v2/payments-api/get-payment). You will get the details when you add `details.remainderDetails`as query parameter.

@sandervanhooft Do you need to change something in the client for this?

[2020-03-12 17:18] sandervanhooft commented on #452
I’ll check tomorrow :)

[2020-03-12 20:00] willemstuursma commented on #452
@MollieRick It's missing the `remainderDetails` under the gift card specific details.

[2020-03-12 22:06] MollieRick commented on #452
@willemstuursma In my opinion not necessary since its not there by default. The QR-code is also not there for iDEAL, Bancontact, and Bank transfer.

[2020-03-13 08:00] willemstuursma commented on #452
Hmm I think it would be an improvement - I'll open an issue with the documentation so we can pick it up later.

[2020-03-13 11:06] sandervanhooft commented on #452
It seems the client doesn't need modification. I've tested this and it doesn't trow an error:

[code]

Note:
1. I don't have a gift card payment available to test against.
2. In the params array, the key must be known, otherwise an error is triggered (i.e. `xinclude`). The value however **does not trigger an error** if inexistent/misspelled (i.e. `details.remainderDetailsXYZ`). Not sure if this is

[2020-03-13 14:06] willemstuursma commented on #452
@sandervanhooft you can create gift card payments in test mode!

[2020-03-13 14:20] sandervanhooft commented on #452
@willemstuursma Are you sure? I've enabled a few in the Dashboard, but to no avail.

<img width="569" alt="image" src="https://user-images.githubusercontent.com/7265703/76628784-94147300-653d-11ea-9385-caf09b970c52.png">

<img width="814" alt="image" src="https://user-images.githubusercontent.com/7265703/76629165-2a489900-653e-11ea-91d9-729e487b3842.png">

[2020-03-13 14:21] Deftsoftdemo commented on #24
We want to implement split a transaction between two Mollie accounts. For the application fees we created the Mollie dashboard. And the Mollie dashboard credentials is below:
Mollie account details
User: phppm@deftsoft.com
Pass: ravinder@pm

We are following the Mollie documentation for application fee: https://help.mollie.com/hc/nl/articles/214018765
And we have added the extra parameters while c

[2020-03-13 14:29] mollierobbert commented on #24
Perhaps it's a type issue. Did you try submitting `applicationFee.amount.value` as a string? So `'value' => '1.00'` instead of `'value' => 1.00`.

[2020-03-13 14:29] sandervanhooft commented on #24
@Deftsoftdemo

1. Please do not share your username/passwords on GitHub. Ever.
2. As it is now compromised, I've asked Mollie security to reset your account credentials. Be sure to set a new password and keep it safe :).
3. Please open a new ticket for your issue and I'll take a look with you.

[2020-03-17 13:25] MollieRick commented on #452
I'll close this issue. The initial issue is solved :)

[2020-03-17 13:25] #452 closed

[2020-03-17 13:40] sandervanhooft commented on #452
👍 Also, the test-gift-cards-issue is not really high priority (not to me anyway).

[2020-03-17 14:17] willemstuursma commented on #452
@sandervanhooft maybe you didn't save the page. It works just fine now.

[2020-03-17 16:13] SanderVanLeeuwen commented on #452
Thanks for the addition. Is it by any chance possible to include those details directly when calling `settlements/*settlementId*/payments`? I'm now performing multiple calls (1. fetch settlement, 2. then settlement payments and then 3. individual payments when the remainderDetails are required) where the third call could be eliminated by including the remainderDetails directly.

I'm already happy

[2020-03-27 10:47] sebastianbouckaert commented on #24
I receive the following issue when I add applicationFee, If I do not add to my call it works, so it is clearly something with the applicationFee

{
    "status": false,
    "message": "Error executing API call (422: Unprocessable Entity): Unable to process application request for this account. Documentation: https://docs.mollie.com/guides/handling-errors",
    "response": true
}

applicationFee:

[2020-03-27 12:39] JorikMollie commented on #24
Hi @sebastianbouckaert ,

You're probably getting the `Error executing API call (422: Unprocessable Entity): Unable to process application request for this account` error because you're either trying to charge application fees on a payment on the same account as the application fees would go to.

You can only charge Application Fees on payments that are created on an other account than the account

[2020-03-27 12:42] sebastianbouckaert commented on #24
I don't think so:
|$shop_mollie_data->profile_id that id is realy of the shop that needs to be payed

[2020-03-27 14:15] sebastianbouckaert commented on #24
Problem is that I'm usiing an access token in my application to execute the api call, to us ethe application fee I have to use the API_key of each sub website, which means I have to keep all those keys in my db...

[2020-03-27 17:08] sandervanhooft commented on #24
Creating a payment with an application fee requires you to use oAuth, because you're creating the payment on the other account's behalf. This would require you to store the oauth refresh token, so you can generate new access tokens (which you can also store until they're too old). The way OAuth is designed you shouldn't be needing the API key of the other account. In fact, you shouldn't even know

[2020-03-27 17:48] sebastianbouckaert commented on #24
??????

I’m working Witt OAuth and the applicationFee is not working, but of I use the API key it actually works

[2020-03-30 08:32] mollierobbert commented on #24
@sebastianbouckaert can you share with us what `$applicationFee` contains? It's unclear from your code what request you are actually sending.

[2020-03-30 08:40] sebastianbouckaert commented on #24
applicationFee:
applicationFee={"amount":{"currency":"EUR","value":"51.00"},"description":"BlaBlaBla"}

And I have recheck the code, my call works with the API key but does not work with OAuth

[2020-03-30 08:52] mollierobbert commented on #24
Can you share the actual PHP code?

If your code looks like this:

[code]

Then it is indeed not gonna work, since you are passing along a string to a parameter that expects an array. Try this instead:

[code]

[2020-03-30 09:32] sebastianbouckaert commented on #24
$provider = new MollieConnectProvider($request, $clientId, $clientSecret, $redirectUrl);
                  $newAccessToken = $provider->getRefreshTokenResponse($shop_mollie_data->refresh_token);

                  $mollie = new MollieApiClient();
                   $mollie->setAccessToken($newAccessToken['access_token']);

                  Log::debug('So far so good');
                  Log::debu

[2020-03-30 09:39] ndijkstra commented on #24
We only return the error `Unable to process application request for this account` if the connected account is the same as the developer account. We can't move the applicationFee to the same Mollie account so to test this you need an other Mollie account.

[2020-03-30 09:50] sebastianbouckaert commented on #24
So I cannot use a developer account to test this?
I'm using OAuth with a clientId and secret from my application, and that's the only way the applicationFee works, so I have no idea what to do now..

[2020-03-30 10:00] ndijkstra commented on #24
You can create another Mollie account just for testing, and with that Mollie account you can create an access token.So the developer account is the Mollie Account where you created the OAuth App, and then you need a new Mollie account that you use to login as customer of your app.

[2020-03-30 10:07] sebastianbouckaert commented on #24
???? Looks like I'm an idiot probably :) but
But how can I make my authentication mechansism work then, now I'm using a clientId and secret which then generates an access token to make the call;

         **//OAuth app with Mollie,
                  $provider = new MollieConnectProvider($request, $clientId, $clientSecret, $redirectUrl);
                  $newAccessToken = $provider->getRefreshToke

[2020-03-30 10:10] petericebear commented on #24
I think Nick means that the account with the app contains remains the same as now.
You can create a new account on mollie, which can authenticate with the connect_as_mollie button. That new account is the new customer. The new customer receives the payment, and the applicationFee will be added to your account.

I am correct Nick? If so, I will implement and test it also, because I am going to need

[2020-03-30 10:15] sebastianbouckaert commented on #24
My setup is different and I think there is the issue, for my customer I'm settings up a general platform where customers from my customer, can sell there stuff, kinda like an Amazon, and when people buy things from the site , a certain amount of the purchase is for my customer, but I get the feeling that the applicationFee is not meant for this? In my mollie account I will around 50 website profil

[2020-03-30 10:23] mollierobbert commented on #24
That's indeed not what application fees are for.

Application fees are for the simple use case of having an OAuth app that processes payments for other Mollie merchants, and taking a chunk out of that payment as an OAuth app fee.

For other use cases, please contact our sales department. We will be offering more advanced 'marketplace' functionality in the future.

[2020-03-30 10:30] sebastianbouckaert commented on #24
So all the other need a Mollie account as well

[2020-03-30 10:31] ndijkstra commented on #24
Yes, correct

[2020-03-30 10:40] sebastianbouckaert commented on #24
Okeej now it makes sence, I was from the mind set that I could use the applicationFee for each website profile based on the Profile ID, which would be great

[2020-03-30 14:16] sebastianbouckaert commented on #24
So now I have several website profiles connected, stil the damn thing doesn't work.
I still do not understand what I'm doing wrong:

1 Authentication:

         //OAuth app with Mollie,
                  $provider = new MollieConnectProvider($request, $clientId, $clientSecret, $redirectUrl);
                  $newAccessToken = $provider->getRefreshTokenResponse($shop_mollie_data->refresh_token);

[2020-03-30 15:24] sebastianbouckaert commented on #24
If you are using organization access tokens or are creating an OAuth app, the only mandatory extra parameter is the profileId parameter. With it, you can specify which profile the payment belongs to. Organizations can have multiple profiles for each of their websites. See Profiles API for more information.

So if the profileId is different from my profileId it should work.... but it does not

[2020-04-01 09:38] ndijkstra commented on #24
Currently, you are using 1 account to do all. This is not possible.

You need 1 account for the platform, where you can create the OAuth App and where you receive the Application Fees.

You need a second account, this is the user of your platform. With this account, you need to login via the "Connect with Mollie" button in your platform. You also need to use the Profile ID of this second account.

[2020-04-01 09:48] sebastianbouckaert commented on #24
With this account, you need to login via the "Connect with Mollie" button in your platform.
This is not clear for me.

What we are trying to accomplish is a platform where local stores can subscribe to.
People can order on the platform for a certain local store, and the order will be delivered.
form the order a certain amount needs to be payed to the platform, that is in general the setup.

So I h

[2020-04-08 21:24] holtkamp commented on #414
@willemstuursma enountered hitting this timeout again last day while attempting to create a payment of check a payment status.

[code]

Of course this can be due to network congestion, hickups, etc, but what is the recommended approach to deal with it? Report back to the user: "try again later" is a bit dull 😉

My initial attempt would be to increase the timeout...

[2020-04-10 07:16] willemstuursma commented on #414
Hi @holtkamp. We had some minor API slowness.

For creating a payment you can either increase the time out or retry.

For getting the status: just return an HTTP 500 when the timeout is hit and we will try to call the webhook again, later.

[2020-04-10 09:53] holtkamp commented on #414
Ok,

Mmm, in [v1 API Client the time-out is still hard-coded to 10 seconds](https://github.com/mollie/mollie-api-php/blob/b385e285d7d0b93807825166beca0e3a11fbcb5c/src/Mollie/API/Client.php), as that is what this issue is about, so maybe it can be re-opened to keep it on the radar?

Retrying is what we do: display an error suggesting to retry...

https://github.com/mollie/mollie-api-php/issues/414#

[2020-04-14 03:24] straightlight opened #453 "orders/return.php not found in example"
## Specifications

  - API Version:
v2
## Describe the issue
Cannot find the file in the package in: examples/orders/create-order.php file.

line 59:

```"redirectUrl" => "{$protocol}://{$hostname}{$path}/orders/return.php?order_id={$orderId}",```

What should be the returned page for the orders as an example?
...

[2020-04-14 08:53] sandervanhooft commented on #453
The redirectUrl should point to a page in your app. It’s where the customer is sent to after a) completing the payment or b) cancelling it

More info [here](https://docs.mollie.com/payments/overview).

[2020-04-14 12:10] straightlight commented on #453
So what it says on the above is that the route is wrong. /orders/return.php does not exist but payments/return.php does exist. In the same file, create-order.php file as the above, we also have the "Ideal" method while other PHP files has:

```\Mollie\Api\Types\PaymentMethod::IDEAL```

This API documentation is a bit confusing on those ends. When sending the results to the webhook without the idea

[2020-04-14 12:25] sandervanhooft commented on #453
I’m trying to help, can you clarify what you are trying to achieve?

About the documentation, note that there is:

- some rudimental example code included with this package. It’s not intended for production, only as a reference. (This issue was opened with a request to clarify the example code.)

- the API documentation and guides on docs.mollie.com, which details the payment/order processing and

[2020-04-14 12:30] straightlight commented on #453
I am also noticing in the orders/webhook.php file that $_POST['id'] is used. Where does this posted ID originating from? ...

[2020-04-24 13:49] MollieRick commented on #453
Hi @straightlight,

The POST-call with the `id` is coming from our (Mollie) end. We will call your url with that body if you specify a `webhookUrl`on you create request when a status change of the payment occurs.

[2020-04-29 10:50] holtkamp opened #454 "Mollie Connect: suggestion: document error messages"
_Disclaimer: sorry for abusing this issue tracker. I am quite sure this is not the proper place to submit this issue. But after being in the support queue with 50 people in front of me two times (got kicked out) and waiting a week for a response on the "message" I submitted to the support team, I thought let's contact the engineers about a future-proof solution._

## Specifications

  - API Versio

[2020-04-29 14:39] SanderVanLeeuwen opened #455 "Giftcard details missing / overwritten when remainder is paid with Applepay"
Not exactly a bug in the PHP SDK, but can't find a (public) bugtracker for API bugs so I'll just leave this here ;)

When the remainder of a giftcard transaction (VVV for example) is paid with Applepay, the payment details are details from the remainder method instead of the original payment method.

For example, payment `tr_JpvEeBvazy` contains info about the used giftcard (voucher numbers, amoun

[2020-04-29 14:56] sandervanhooft commented on #455
@willemstuursma (ApplePay)?

[2020-05-04 08:28] #453 closed

[2020-05-04 22:01] larsjanssen6 opened #456 "Testing webhooks"
## Specifications

Currently I'm mocking all webhook response data from Mollie. I want to use the
test api for this.

  - API Version: latest

## Describe the issue

What would be the best way of testing webhooks? I know I can setup something like
ngrok (already did that) but I'm not in control when a webhook is called. Let's say I want to test the following responses from the webhook:

[code]

Ho

[2020-05-05 09:39] sandervanhooft commented on #456
You can actually easily perform your own test webhook call. It’s a simple POST call with the payment ID in the payload.

[2020-05-05 10:43] larsjanssen6 commented on #456
@sandervanhooft oops did not thought of that yet haha 😅

[2020-05-05 11:14] sandervanhooft commented on #456
No problem, enjoy!

[2020-05-05 11:38] larsjanssen6 commented on #456
@sandervanhooft  1 more question :) how do I test `chargebacks` ? In the documentation I read this:

But when I try that I only see 2 options:

![options](https://i.ibb.co/hX2RMkD/Schermafbeelding-2020-05-05-om-13-34-08.png)

I cannot select `Chargeback` any idea if there is a work around?  A chargeback can have multiple failing reasons for example `MD06 ` (stornering). Is it possible to test this

[2020-05-05 11:44] sandervanhooft commented on #456
You’ll have to use the Chargeback API for this. A `chargeback` is not a payment state.

[2020-05-05 12:10] larsjanssen6 commented on #456
@sandervanhooft that makes sense, when I check the [chargeback API  ](https://docs.mollie.com/reference/v2/chargebacks-api), I'm not seeing any functionality for creating a chargeback only for fetching 🤔 .  Any idea how I can create a chargeback in my test account?

[2020-05-05 12:20] sandervanhooft commented on #456
Oh sorry, no you can’t. The only way I can think of would be to mock the Payment resource

[2020-05-05 12:22] larsjanssen6 commented on #456
Thanks

[2020-05-05 12:24] sandervanhooft commented on #456
Hm, this is what the testing guide tells us:

![image](https://user-images.githubusercontent.com/7265703/81065594-0cfbcf80-8edc-11ea-96a8-43d7a44e3cfd.jpeg)

[2020-05-05 12:24] sandervanhooft commented on #456
I’ll check with support

[2020-05-05 12:31] sandervanhooft commented on #456
Are you sure you're using the changePaymentState url after marking the payment as paid using the checkout url? If so, can you share the payload you're using to create the payment, as well as the payment id?

It does show the chargeback / refund options in my case.

<img width="485" alt="image" src="https://user-images.githubusercontent.com/7265703/81066129-ee4a0880-8edc-11ea-95e5-340cecad72ab.png"

[2020-05-05 13:03] larsjanssen6 commented on #456
I only see this when I visit the `changePaymentState url` with a `SEPA pending incasso`:

![](https://i.ibb.co/Njvssrm/Schermafbeelding-2020-05-05-om-14-57-07.png)

But that ^ is status `Mislukt` I need to fake a `Chargeback` (BTW weird that `Mislukt` is dutch and `Chargeback` english).

When I visit a `changePaymentState url` for a `PAID payment` (`tr_jBz2SSEW3w`) I only see: `Volledige terugbeta

[2020-05-05 13:06] larsjanssen6 commented on #456
Maybe because I use `sequence type first`. Let me check.

[2020-05-05 13:13] larsjanssen6 commented on #456
Does not matter still only see `Volledige terugbetaling aanmaken` when I use for example sequence type `SequenceType::SEQUENCETYPE_ONEOFF`.

[2020-05-09 05:12] SanderVanLeeuwen commented on #455
Any progress on this?

[2020-05-09 07:29] sandervanhooft commented on #455
I’ll set a reminder to ping Willem this Monday

[2020-05-11 14:07] Runonstof opened #457 "Cannot test Testmode payments that uses OAuth"
## Specifications

  - API Version: latest

## Describe the issue
**What happens?**
1. I create a payment in testmode, this is an OAuth payment, I specifically passed testmode=true
2. I set the status  to paid
3. My webhook dummy test url wants to get the payment, but it gives the error below

![image](https://user-images.githubusercontent.com/36049776/81570356-c78a4700-93a0-11ea-846b-35ede64a7428

[2020-05-11 14:32] sandervanhooft commented on #457
When fetching the payment, are you passing the testmode setting as well?

[2020-05-11 14:39] Runonstof commented on #457
Ohmygod you're right, I didnt knew you had to pass a array as second argument with testmode => true.

this is why i'm still a Junior

Thanks! It works now, my boss should be happy

[2020-05-11 14:41] #457 closed

[2020-05-12 07:12] willemstuursma commented on #455
Hi @SanderVanLeeuwen.

When pulling this payment from our API, I see that the `remainderMethod` is now correctly reported as `creditcard` and the details of all the gift cards used are present in the `details` object.

I guess there could be some timing issue. When exactly are you retrieving the details from the API? Is that on the webhook call or at some other point in time?

[2020-05-14 10:47] sandervanhooft opened #459 "Add Klarna to readme"

[2020-05-14 10:48] sandervanhooft opened #460 "Add Orders API to readme"

[2020-05-19 08:37] SanderVanLeeuwen commented on #455
Could it be something PHP client specific after all then? Because a simple call like `$client->payments->get('tr_gRpfq5MVCr')` consistently gives the wrong result with creditcard details in the `details` object.

[2020-05-19 08:42] SanderVanLeeuwen commented on #455
But then the curl call `curl -X GET https://api.mollie.com/v2/payments/tr_gRpfq5MVCr` gives the same incorrect result.

[2020-05-22 09:03] SebHoremans opened #461 "Error with a dependency on composer require"
## Specifications

  - API Version: 2.17.1

## Describe the issue
When doing the composer require command I receive an error :
composer require mollie/mollie-api-php:^2.0
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Restricting packages listed in "symfony/symfony" to "5.0.*"
Package operations: 4 installs, 0 u

[2020-05-22 09:13] sandervanhooft commented on #461
Seems like an issue with Symfony, triggered when running the post-install scripts (in this case `cache:clear`.

[2020-05-22 09:16] sandervanhooft commented on #461
/ issue with CABundle. It’s not caused by tuis package.

[2020-05-22 09:16] #461 closed

[2020-05-25 11:48] willemstuursma commented on #455
Hi @SanderVanLeeuwen, we've found the problem. It only affected Apple Pay as you noticed.

We'll roll out a fix early this week.

[2020-05-26 10:45] willemstuursma commented on #455
This has been resolved for new payments.

[2020-05-26 10:45] #455 closed

[2020-05-26 11:41] SanderVanLeeuwen commented on #455
Thnx for fixing it. However, is it also possible to fix this for older payments? In our case we use this data to book payments into the correct ledger and, for this specific example, split this payment into the part settled by Mollie and the part settled by the giftcard provider. It would be very nice to properly do so for historical payments, as we now have some inconsistencies in our administrat

[2020-05-27 09:48] nicholean opened #462 "Redeclare issue in the package"
## Specifications
I'm trying to integrate Mollie into my PHP site.

  - API Version: Latest version

## Describe the issue
I've followed the guide to download release zip, extract and place the entire folder (mollie-api-php) on public_html directory. I created a page for checkout including vendor/autoload.php , but if prompt me these errors after I hitting the url directly.

Fatal error: Cannot re

[2020-05-27 13:26] sandervanhooft commented on #462
Hi @nicholean ,

Do you have the option of installing the package into your Symfony project using composer?

[2020-05-29 13:20] willemstuursma commented on #455
@SanderVanLeeuwen, yes we can fix it. Please send a list of tokens to my email willem@mollie.com and I'll make sure it is taken care of next week.

[2020-06-05 11:36] ajmwegman commented on #462
Hi Sander,
I Have the same issue with package 2.18. I don't use composer, just uploaded the files, changed the API key,

[2020-06-08 08:21] SanderVanLeeuwen commented on #455
Cool! It took me a while reply but just mailed you the faulty transactions. Thanks again for fixing it :)

[2020-06-15 13:31] koraysels opened #466 "QR code include parameter in php create method"
## Specifications

  - API Version: 2.18

## Describe the issue

how can I include a QR-code?
...

[code]

this does not return a QR code in the checkout page.. what am i doing wrong ?

[2020-06-15 15:09] sandervanhooft commented on #466
You'll need to provide a payment method that supports QR codes (it's not clearly documented).

Make sure the method is enabled in your dashboard.

[code]

[2020-06-15 15:09] #466 closed

[2020-06-17 17:23] ajmwegman commented on #462
Moved on to another payment provider, no luck with git, no luck with support mail, Mollie is not responding to any questions. Installed it, We where active next day.... You have to do something with your support desk Mollie!

[2020-06-17 17:35] sandervanhooft commented on #462
Thanks for the feedback @ajmwegman and congratulations on going live!

Scoper issues tend to be complex to tackle and scoper-based solutions like these tend to be brittle. That’s why I recommend to switch to composer if you can.

I’m closing this issue for now, @nicholean let me know if it should be reopened.

[2020-06-17 17:35] #462 closed

[2020-06-26 13:44] MollieRick commented on #456
Hi @larsjanssen6,

I see the option `Volledige terugboeking aanmaken` in test mode after setting the payment to `paid`. Please try to create a customer with a first payment and then a `recurring` one. Can you try if it works then for you?

![image](https://user-images.githubusercontent.com/42934521/85863688-cdf34780-b7c3-11ea-9623-aa431f2e8dfa.png)

[2020-06-30 15:09] rodekker opened #468 "Payment description truncated in Mollie test Backend"
## Specifications

  - API Version: 2.18

## Describe the issue

I'm using iDEAL in my test environment and ever since the iDEAL Qrcode is part of the test-payment environment, my **long description** is truncated to 35 chars. And this is exactly the maximum length the iDEAL QR specifications specifies. As long as the payment is 'Open' the backend shows the long description and also querying the p

[2020-06-30 15:49] sandervanhooft commented on #468
@willemstuursma do you recognize this truncating behavior?

[2020-07-03 12:01] willemstuursma commented on #468
Yes. We'll have a fix out end of next week.

[2020-07-08 12:44] feyyazesat commented on #468
@sandervanhooft this should be fixed. Could you please verify the behavior?

[2020-07-08 12:47] rodekker commented on #468
Thx guys. I did test it and the Mollie test backend now shows the long description.

[2020-07-08 12:47] #468 closed

[2020-07-08 14:17] xqsit94 opened #470 "Increase cURL timeout"
## Specifications

  - API Version: v2

## Describe the issue

I get this following error due to timeout of 10 seconds

![2020-07-08_19-45](https://user-images.githubusercontent.com/20275754/86929673-b9179c00-c153-11ea-8224-e6e7d534b307.png)

`cURL error 28: Resolving timed out after 10000 milliseconds`

![2020-07-08_19-42](https://user-images.githubusercontent.com/20275754/86929173-2d057480-c153-

[2020-07-08 14:25] sandervanhooft commented on #470
The timeout is currently 10 seconds, which should be long enough. What are you trying to do?

If you really need a longer timeout, you can inject a customized Guzzle client into the MollieApiClient.

[2020-07-09 04:08] xqsit94 commented on #470
Every single api takes more than 10s to respond you can see it in attached screenshot. How could you say it is long enough? Server response time is not same across the world.

[2020-07-09 07:22] sandervanhooft commented on #470
I understand.

As a default setting, the 10s is fine. Further increasing the timeout may cause issues in other integrations. Also note that Mollie is only available to European merchants, and for legal reasons (GDPR) their servers generally need to be in Europe.

Again, if you need a longer timeout, you can inject a customized Guzzle client into the MollieApiClient constructor:

[code]

[2020-07-09 07:22] #470 closed

[2020-07-09 08:09] willemstuursma commented on #470
Hi @xqsit94. Can you let me know where in the world you are operating from?

[2020-07-09 11:21] chriscollins405 commented on #462
Same issue here. Rolling out across 2 servers, one on php 7.3 the other on 7.1

The 7.1 server uses the 7.2 polyfill, and this is where the redeclare issue happens.

WSOD, entire site down.

The only workaround I found was to open.....

**/vendor/symfony/polyfill-php72/bootstrap.php**

And comment out the following functions....

[code]

[2020-07-09 12:10] chriscollins405 opened #471 "Scoper build: Fatal Error due to Symfony polyfills redeclared functions"
- API Version: 2.18.0

Related to issue #462

Downloading and using the files without composer throws a fatal error due to the same functions being declared twice.

Rolling out across 2 servers, one on php 7.3 the other on 7.1

The 7.1 server uses the 7.2 polyfill, and this is where the redeclare issue happens.

WSOD, entire site down.

The only workaround I found was to open.....

/vendor/symfony

[2020-07-09 12:19] sandervanhooft commented on #471
Oh my, that's unfortunate.

At first glance it seems like a collision between [php-scoper](https://github.com/humbug/php-scoper) dependencies.

Is it possible for you to use composer? Meanwhile I'll see if we can find another solution. Not sure where in the build process Scoper is being introduced tbh.

[2020-07-09 12:21] chriscollins405 commented on #471
Thanks, no not possible to use composer for this project.

We will fall back to 2.17.0 of the mollie API as that seems stable at the moment. Just thought I'd highlight this incase anyone else runs into it.

[2020-07-09 12:28] sandervanhooft commented on #471
Thanks for your understanding

[2020-07-09 12:43] willemstuursma commented on #471
Looks to be caused by https://github.com/guzzle/guzzle/pull/2678, since then Guzzle can now work with very recent versions of Symfony IDN polyfill which brings in the other polyfills as well.

[2020-07-09 12:48] willemstuursma commented on #471
I think we could fix it by adding:
[code]
to `composer.json` .

However, composer does not have a command to add this replace in the Makefile.

[2020-07-09 13:19] willemstuursma opened #472 "Add API request parameters to Exception message if something goes wrong"
We're often receiving lists of exception messages from our clients, for example:

[code]

It would be helpful if they had the original request attached with them as that would make it much more efficient to debug.

[2020-07-09 14:07] sandervanhooft commented on #472
This would probably only affect this exception throw:

https://github.com/mollie/mollie-api-php/blob/1eac11155cf048820941f7c3d94c429075195f6e/src/MollieApiClient.php#L458

[2020-07-09 14:31] sandervanhooft commented on #472
#473

[2020-07-10 07:20] xqsit94 commented on #470
@sandervanhooft Thanks for your response. I injected that already, I'm working for an European client the response time of server is 15+ seconds here and @willemstuursma I'm operating from India.

[2020-07-10 08:19] holtkamp commented on #470
Note that this reminds me of https://github.com/mollie/mollie-api-php/issues/414

[2020-07-14 13:24] holtkamp commented on #24
Indeed, each of you "merchants" will need to have a Mollie account.

[2020-07-14 17:17] sandervanhooft opened #474 "Fix phpstan on Travis"
Phpstan is currently breaking [the build](https://travis-ci.org/github/mollie/mollie-api-php/jobs/707983706) on Travis.

[2020-07-15 14:38] #474 closed

[2020-07-16 14:53] willemstuursma commented on #470
Thanks @xqsit94. That's an insane slowness.

Can you post a traceroute here:
[code]

Maybe that will clear up where this slowness is coming from.

[2020-07-20 09:25] CodeAdraas opened #477 "sequenceType "first:" The amount contains an invalid value Field: amount.value."
## Specifications

  - API Version: 2.0

## Describe the issue
When I'm trying to start a "first recurring payment" with "00.01" as price, it gives me this error. I think the API can't distinguish regular payments from _first sequence_ payments.

[2020-07-20 09:27] CodeAdraas opened #478 "Uncaught Error: Cannot use object of type Mollie\Api\Resources\Customer as array in..."
## Specifications

  - API Version: 2.0

## Describe the issue
When I'm trying to use things like a fetched payment status or payment id, I can't use them in arrays. Even when defining it in a variable:
Uncaught Error: Cannot use object of type Mollie\Api\Resources\Customer as array in....
I'm kinda stuck here...

[2020-07-20 10:23] sandervanhooft commented on #477
There's a preceding `0` too many. Should be `"0.01"` instead of `"00.01"`

[2020-07-20 10:23] #477 closed

[2020-07-20 10:24] sandervanhooft commented on #478
Can you share a code sample that is triggering his behaviour?

[2020-07-20 16:35] CodeAdraas commented on #478
**my API 'add-mandate' endpoint**

[code]

**^ all goes well**

[code]
**^ the error in my script is pointing at the $payment properties I'm trying to insert into my binds array, however in my status webhook that is similar, I _can_ actually use payment object properties in my binds array. But I do must note that I use payments->get method in my status webhook**

Btw, just that you know, this is m

[2020-07-20 19:48] #478 closed

[2020-07-27 07:38] KeithHurry opened #479 "Problem to connect to different bank-apps from webview. Only ING gives no error."
## Specifications

  - API Version:

## Describe the issue

Bij bijvoorbeeld koppeling richting RABO-app krijgen we:
Webpagina niet beschikbaar
De webpagina op nl.rabobank.ideal://ideal-payment?trxid=20003336503587&random=ae127f12f05ab2cc97d64e71bf519a254a7ce6d8914cbc6580b3afb7a3b25ac2 kan niet worden geladen vanwege het volgende:
net::ERR_UNKNOWN_URL_SCHEME

Met de ING-app werkt het wel.

[2020-07-27 08:34] sandervanhooft commented on #479
@KeithHurry thanks for opening this ticket.

What OS (version) and browser (version) are you using?

[2020-07-27 08:37] MollieRick commented on #479
Hi @KeithHurry , Thanks for your feedback!

Do you try to open the the bank app from **inside** your app? This is not possible in most of the situation due to security. Please follow our guide here: https://docs.mollie.com/mobile-apps/getting-started-payments

[2020-07-27 09:43] KeithHurry commented on #479
OS: Android  10
Browser: Google Chrome versie 84.0.4147.89

[2020-07-27 09:49] KeithHurry commented on #479
Yes, we try to open from "inside" our app. It looks like we have to use a different url_scheme for each bank. But we cannot find the different URLS. As mentioned with ING it is working, but for Rabobank and SNS for example we get the errormessage.

[2020-07-27 09:53] MollieRick commented on #479
@KeithHurry You should open the checkout URL in the native browser of the phone, not inside the app.
I'll close this issue since this is out of our scope.

[2020-07-27 09:53] #479 closed

[2020-07-28 12:45] #456 closed

[2020-07-28 12:46] #403 closed

[2020-07-29 03:04] Healyhatman opened #480 "Releases don't include the composer-loaded things"
The readme state that the files in the releases page include everything for those of us unable to use composer, but as of 3 releases ago they don't include everything.  No vendor folder.

[2020-07-29 08:27] sandervanhooft commented on #480
Confirmed.

@willemstuursma did anything change on the repo settings / build? (not at my end)

[2020-07-29 15:53] m-bosch opened #481 "guzzlehttp/guzzle version ^7.0 support"
Serveral packages in our Laravel project are up-to-date and demanding  `"guzzlehttp/guzzle": "^7.0"`

Because of that we cant install `mollie/laravel-mollie`. This `mollie/laravel-mollie` requires this package (`mollie/mollie-api-php`).

This package demands guzzlehttp version `"guzzlehttp/guzzle": "^6.3"`

conclusion, we cant use the Laravel and/or mollie-api-php package because of the non-suppor

[2020-07-29 16:24] sandervanhooft commented on #481
Thanks for bringing this to our attention. I'll whip up a PR.

[2020-07-29 16:27] sandervanhooft commented on #481
[Guzzle upgrade guide](https://github.com/guzzle/guzzle/blob/7.0.0/UPGRADING.md#60-to-70)

[2020-08-05 11:54] simplyniceweb opened #483 "payment return"
## Specifications

  - API Version: 2.0

## Describe the issue

How can i retrieve the ID from the successful payment created? i can only get $payment->getCheckoutUrl(); but is it also possible to $payment->getPaymentId() or something? because i'm managing multiple company which i need to separate the payment id of each company payments.
...

[2020-08-05 12:09] #483 closed

[2020-08-05 12:09] sandervanhooft commented on #483
See the [Payment](https://github.com/mollie/mollie-api-php/blob/master/src/Resources/Payment.php) resource for the complete set of available methods and attributes.

[2020-08-10 18:30] sandervanhooft opened #484 "Order update redirectUrl"
This field is not yet included on the update call.

https://github.com/mollie/laravel-mollie/issues/143

[2020-08-11 07:47] #481 closed

[2020-08-11 07:48] sandervanhooft commented on #480
The issue lies with the Travis build. Will need to investigate further.

[2020-08-11 07:50] #484 closed

[2020-08-12 13:44] sandervanhooft commented on #480
@willemstuursma The vendor-included build is failing on Travis due to bad GitHub credentials. See for example this [build](https://travis-ci.org/github/mollie/mollie-api-php/jobs/713007777).

Can you check these credentials?

[2020-08-18 10:25] Noordkust-nikolai commented on #480
Any updates on this?? :) I am still waiting for mollie's response now on this subject.. after a week.. with the missing autoloader being the main problem..

[2020-08-18 11:26] sandervanhooft commented on #480
We're looking into this @Noordkust-nikolai . If you're looking for a quick fix, take a look at the makefile. You can try and run these commands to build the autoload directory locally:

https://github.com/mollie/mollie-api-php/blob/df60ebfc2463cdffc1faeb1fa9419911812ac6f8/Makefile#L6:L22

[2020-08-18 13:19] Noordkust-nikolai commented on #480
@sandervanhooft ok ok! thanks! I'll take a look into that :)

[2020-08-20 07:34] willemstuursma commented on #480
I've updated the credentials.

[2020-08-20 10:11] sandervanhooft commented on #480
Just released [v2.22.1](https://github.com/mollie/mollie-api-php/releases/tag/v2.22.1) to fix this issue.

Thanks all!

[2020-08-20 10:11] #480 closed

[2020-08-20 10:58] Noordkust-nikolai commented on #480
I'm getting this from the vendor, PHP version 5.6.40.
[Thu Aug 20 12:49:33.198978 2020] [:error] [pid 15015] [client 85.241.130.64:50426] PHP Parse error:  syntax error, unexpected ':', expecting '{' in ...../public_html/new-admin/vendor/guzzlehttp/guzzle/src/functions.php on line 14

[2020-08-25 11:50] sandervanhooft commented on #480
You may be right. I am suspecting a Guzzle version is used that does not support your php version (5.6).

@Noordkust-nikolai can you share what's on line 14 of `/public_html/new-admin/vendor/guzzlehttp/guzzle/src/functions.php`?

[2020-08-25 11:53] Noordkust-nikolai commented on #480
@sandervanhooft
function describe_type($input) : string

[2020-08-25 12:45] sandervanhooft commented on #480
then the Guzzle version is definitely the issue in combination with php 5.6. Any chance you can upgrade your php version to 7.2? @Noordkust-nikolai

[2020-08-25 12:47] Noordkust-nikolai commented on #480
@sandervanhooft unfortunately not..

[2020-08-25 12:50] sandervanhooft commented on #480
Can you try on your php 5.6 system:

- cloning this package from repo
- running `make mollie-api-php.zip` from the package root?

[2020-08-25 13:43] Noordkust-nikolai commented on #480
The old website is still in place and the new one in a subdirectory. So I would prefer not to have any interference with it..
How do I run that code? Make mollie-api-php.zip? And won't that have the same problem with the php versions of guzzle?

[2020-08-25 14:24] sandervanhooft commented on #480
you can create another temporary directory for this test, clone the package there and run `make mollie-api-php.zip` from within the downloaded package directory.

Note that this requires a commandline (Linux/Mac), and `composer` globally available from the commandline (this is a typical webserver setup).

Running the makefile will pull in the dependencies that work for your setup, or notify you th

[2020-08-26 04:06] AtulKumarAshmar opened #486 "where is autoload.php file in vendor folder"
## Specifications

  - API Version:

## Describe the issue

...

[2020-08-27 13:54] MollieRick commented on #486
What have you tried already?

[2020-08-28 10:05] herve-02 opened #487 "parse error"
## Specifications

version 2.22.1
php 7.0.33

## Describe the issue
[code]
Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in /home/herve/www/flog_new/ief/data/mollie_13678/guzzlehttp/guzzle/src/Client.php on line 173

   173 ->  public function getConfig(?string $option = null)

...

[2020-08-28 10:52] herve-02 commented on #487
version 2.22.1
php5  5.6.7
[code]
Parse error: syntax error, unexpected ':', expecting '{' in /var/www/blog/ief/data/mollie_13678/guzzlehttp/guzzle/src/functions.php on line 14

14 -> unction describe_type($input) : string

[2020-08-28 12:56] danman12345 opened #488 "Parse error: syntax error, unexpected ':', expecting '{' in ../mollie\vendor\guzzlehttp\guzzle\src\functions.php on line 14"
Latest version, it has errors. with PHP 5.6

What the problem

[2020-08-28 14:46] sandervanhooft commented on #488
Hi,

Can you give [the latest release](https://github.com/mollie/mollie-api-php/releases/tag/v2.22.3) a try?

[2020-08-28 14:46] sandervanhooft commented on #487
Hi,

Can you give [the latest release](https://github.com/mollie/mollie-api-php/releases/tag/v2.22.3) a try?

[2020-08-28 14:47] sandervanhooft commented on #480
Hi @Noordkust-nikolai et al,

Can you give [the latest release](https://github.com/mollie/mollie-api-php/releases/tag/v2.22.3) a try?

[2020-08-28 15:44] herve-02 commented on #487
works on both case :-)
thanks

[2020-08-28 15:44] #487 closed

[2020-08-28 15:49] sandervanhooft commented on #487
No problem, enjoy! 🎉

[2020-09-04 15:40] spee opened #490 "Allowed memory size exhausted"
## Specifications

As soon as I try to fetch an order, I hit this memory error:

[code]
  - API Version: v2.22.3

## Describe the issue

In my webhook, I instantiate a Mollie client and try to fetch an order:

[code]

If I increase the allowed memory size (default at 128M), even up to 3G, I always hit this error; it seems like a leak that just fills up infinite memory. Any tips how to debug this?

[2020-09-04 16:50] spee commented on #490
Sorry, I found the problem lies elsewhere in the code. I'm able to get the order just fine.

[2020-09-04 16:50] #490 closed

[2020-09-04 16:52] sandervanhooft commented on #490
Thanks for following up, glad you fixed it. Enjoy! 🚀

[2020-09-07 12:20] Antoine-TheDutch opened #491 "Uncaught Error: Call to a member function createPayment() on string <yada yada>examples/customers/create-customer-first-payment.php"
## Specifications

  - API Version:

## Describe the issue
I'm trying to understand the whole process of setting up a subscription payment:
When I get to this script:  I get errors in the examples, and after banging my head for a week now,  I'm completely lost.

1) I want to understand the order in which the process flows (and what scripts are called)
2) Why am I getting this error?  I am so stuck

[2020-09-07 12:53] sandervanhooft commented on #491
Please be careful with your head, you only have 1 (I assume) 😉 .

A good resource to learn about Mollie's subscription payments can be found [here](https://docs.mollie.com/payments/recurring).

Essentially, you need to

1. Create a customer
2. Make sure the customer has a valid mandate (use a so called "first payment" to generate one)
3. Then create the subscription for this customer.

If you keep

[2020-09-07 13:02] Antoine-TheDutch commented on #491
I knew I just needed a dutch hug.  :)  Thx Sander for the pointer.  Let me read the content and see if I understand Or maybe we setup a quick call..

[2020-09-07 15:50] MollieRick commented on #486
@sandervanhooft Can this be closed?

[2020-09-07 15:51] MollieRick commented on #491
Hi @Antoine-TheDutch,

Still corona, so we will send you some virtual hugs! :D
You can always reach us as well via info@mollie.com.

[2020-09-07 16:01] Antoine-TheDutch commented on #491
My understanding so far:

1) generate a client for the website (store it in mariadb)
2) Call this script: create-customer.php
3) return is a cst_42649246298  customer ID  -> add to dbase line of customer
4) call create-customer-first-payment.php ->
Uncaught Error: Call to a member function createPayment() ..

Thats where the trouble starts

[2020-09-07 16:05] sandervanhooft commented on #486
Closing this for now due to inactivity, let me know if it should be reopened.

[2020-09-07 16:05] #486 closed

[2020-09-07 16:15] sandervanhooft commented on #491
The examples are not intended to use in production, more as reading material.

[code]

Then in your webhook handler (notice this is a completely separate call/script):

[code]

[2020-09-07 16:28] Antoine-TheDutch commented on #491
I Am aware about the examples, I' basically kicking them off to understand the flow.

I found why it was crashing;  I changed the following;

What is the differentence in create-first payment between:

/* me pushing a client_id */
 $customer = "cst_fBQEbrGcrQ";     #  the reason why it crashed!!

/* the script original */
    $customer = $mollie->customers->page(null, 1)[0];

Reason I want that is

[2020-09-07 16:33] Antoine-TheDutch commented on #491
Another food for thought for me is:  can I push multiple subscriptions to the same client?.

I have that situation, so what do you suggest?

[2020-09-09 08:56] sandervanhooft commented on #491
Sure, one customer can have multiple subscriptions.

[2020-09-09 08:57] sandervanhooft commented on #491
Not sure what you mean, but you can also fetch the customer using the customer id:

[code]

[2020-09-09 09:00] Antoine-TheDutch commented on #491
I used that now indeed.

I'm almost there.

Customer setup  DONE
Mandate payment DONE
Subscription DONE  (although I think I missed the part where it provides the subscription ID)

Now i want to understand the subscription

I'm trying to find info on the subscription webhook. What does it call for? What dies it provide?  Do you have any details on that   (i know this is the wrong platform to ask :

[2020-09-09 11:34] Antoine-TheDutch commented on #55
Doe you have a php code example?  that would be easier to understand;

[2020-09-09 11:51] sandervanhooft commented on #491
https://docs.mollie.com/payments/recurring#payments-recurring-subscription-webhooks

The webhook request will only provide a paymentId and will be called in [these cases](https://docs.mollie.com/guides/webhooks#endpoints-supporting-webhooks).

[2020-09-09 12:12] Antoine-TheDutch commented on #491
I apologize sander if I just dont understand the documents.: (maybe i'm getting too old :) )

Can you give me a code example on the subscription webhook?

What is it that exactly happens?

What I understand is: the moment the subscription is made it immediately calls the webhook.. (so I made another webhook script specifically for this webhook call. )
The only webhook example on github shows how t

[2020-09-09 12:29] Antoine-TheDutch commented on #491
Do I understand it correctly that the sun_webhook.php is actually is a "form post"  to that script.. (just to make it logical) ? (if that is the case, I completely missed it)  I just see it on my access log:

[09/Sep/2020:14:15:22 +0200] **"POST** /sub_webhook.php HTTP/1.1" 404 16 "-" "Mollie HTTP client/1.0"

So in that case it should be:

$resource = $_REQUEST["resource"];   /* this gives me wha

[2020-09-09 13:48] Antoine-TheDutch commented on #491
Ik snap er echt helemaal niks mee van

[2020-09-09 13:56] sandervanhooft commented on #491
The webhook you set on the subscription is actually used for the subscription payments.

[code]

[2020-09-09 13:58] sandervanhooft commented on #491
It's indeed a POST request.

[code]

[2020-09-09 14:03] Antoine-TheDutch commented on #491
Is this then a correct sequece:

$id = $_REQUEST["id"];
$payment = $mollie->payments->get($id);
$customer = $mollie->customers->get($payment->customerId);
$subscriptionId = $$mollie->customers->get($payment->subscriptionId);

[2020-09-09 14:30] sandervanhooft commented on #491
Yes that should work

[2020-09-09 18:06] Antoine-TheDutch commented on #491
I'm not sure this is correct syntax:

it's this:
      $subscriptionId = $mollie->customers->get($payment->subscriptionId);

or this:
        $subscriptionId = $mollie->payment->get(subscriptionId);

In both cases, $subscription remains empty.

What am I not understanding here?

This is my code so far for the subscription webhook.php
`<?php

/* The mollie subscription webhook only sents a payment

[2020-09-09 18:10] Antoine-TheDutch commented on #491
Sorry,  github is messing up code representation.

[2020-09-10 06:50] Antoine-TheDutch commented on #491
Figured it out:  (finally):

The subscription webhook script php should should at least look like this
`<?php
$id = $_REQUEST["id"];                                             // start by getting ID
try {
   require "initialize.php";                                           // Initialize mollie API
   $payment = $mollie->payments->get($id);        // Fill $payment with info from the ID we got

[2020-09-10 06:50] #491 closed

[2020-09-12 09:08] damcclean opened #492 "Payment Create API call keeps timing out"
## Specifications

  - API Version: v2

## Describe the issue

I'm trying to create an integration for Mollie for the e-commerce software that I build. However, whenever I try to make a request to the payment create endpoint using this API or through the Laravel version (which uses this SDK) I always seem to get a timeout error.

[code]

This is the code I'm using to make the request, it's pretty

[2020-09-12 14:26] sandervanhooft commented on #492
This behavior is not caused by unreachable webhooks or inactivated accounts. Afak there have been no availability issues over the last week. So we'll have to investigate. Can you contact support and let them know where you're making the calls from, and your account #id? The latter can be found in the top left corner in the Mollie dashbord.

One temporary workaround could be to inject your own Guzz

[2020-09-12 14:36] damcclean commented on #492
Thanks @sandervanhooft. I'll do that now and I'll update this issue if when I figure out the issue.

[2020-09-12 17:28] danielschweiger opened #493 "How to set limit at settlement API"
`$payments = $mollie->settlements->get('ref')->payments();`

how can I use page() here? I want to ask for 250 items.

[2020-09-12 21:01] kbemvindo commented on #493
https://github.com/mollie/mollie-api-php/issues/493#issue-700312710

[2020-09-13 19:09] Softens commented on #492
We have this exact same issue on our webshops. I've submitted the contact form in the Mollie dashboard.

[2020-09-14 08:10] sandervanhooft commented on #493
@MollieRick is this a paginated response? (I don't have settlements in my test account)

[2020-09-14 08:21] MollieRick commented on #493
Nope! Only our `LIST` endpoints are paginated. :)

[2020-09-14 14:53] JatGitHub opened #494 "/payments/ twice in URL's"
## Specifications

  - API Version: 2.0

## Describe the issue

...

When using the examples, I get constantly the error URL ..../payments/payments/..... not found.
It seems the /payments/ in the code should be deleted.
Am I the only one having this issue?

Example:
create-payments redirectURL = ...... /payments/return.php
When activated, the redirect is to .../payments/payments/return.php, as the

[2020-09-14 15:29] sandervanhooft commented on #494
You may be right:

https://github.com/mollie/mollie-api-php/blob/cf3b7a3259e9dd502014dc6a4f446b2f82b6429a/examples/payments/create-payment.php#L25-L41

[2020-09-16 13:14] willemstuursma commented on #492
Hi @damcclean and @Softens. Do you have this problem on 100% of the Create Payment API calls?

Could you enlighten us where your servers are located (in the world) and what DNS resolver you are using?

[2020-09-16 13:22] damcclean commented on #492
Yeah, I've tried multiple times and every time I've got a timeout.

I'm just using my laptop's dev environment. I'm in the United Kingdom and my DNS is pointing to OpenDNS.

[2020-09-16 13:30] willemstuursma commented on #493
@MollieRick this is not an embed or include, it is a separate API call.

@sandervanhooft [List Settlement Payments API](https://docs.mollie.com/reference/v2/settlements-api/list-settlement-payments) supports the `limit` parameter. How must it be passed to the `->payments()` call?

[2020-09-16 15:31] vedran-mollie commented on #492
Hi @damcclean, could you please attempt a manual resolution with e.g.:

`dig +trace api.mollie.com`

and paste the resulting output here (so we can try to pinpoint where the failure to resolve might come from)

[2020-09-16 15:41] damcclean commented on #492
@vedran-mollie Sure... here's my output.

[code]

[2020-09-16 15:58] damcclean commented on #492
Alright, I've went ahead and passed in my own Guzzle client to the `MollieApiClient` constructor, basically exactly the same but with a timeout of 60 seconds, instead of 10 seconds which is the default.

**And now I'm able to make requests to Mollie and get a response back!  🎉**

But I guess the question still remains... why does it take over 10 seconds to reach Mollie's servers?

[2020-09-16 18:33] Softens commented on #492
Here is my output:
`# dig +trace api.mollie.com

; <<>> DiG 9.11.4-P2-RedHat-9.11.4-16.P2.el7_8.6 <<>> +trace api.mollie.com
;; global options: +cmd
;; Received 17 bytes from 2a01:7c8:7000:195:0:8:195:8#53(2a01:7c8:7000:195:0:8:195:8) in 0 ms
`

Tried the following commands as well:
`curl google.com -I
HTTP/1.1 301 Moved Permanently
Location: http://www.google.com/
Content-Type: text/html; charset

[2020-09-17 08:59] MollieRick commented on #493
Wauw, sorry. I also missed it.

[2020-09-17 11:09] Softens commented on #492
I've changed the ipv6 nameservers to ipv4 nameservers. New results:

[code]

[code]

[2020-09-17 14:03] sandervanhooft commented on #493
Solved in [latest release](https://github.com/mollie/mollie-api-php/releases/tag/v2.23.0).

Thanks for reporting this @danielschweiger

[2020-09-17 14:03] #493 closed

[2020-09-17 14:04] sandervanhooft commented on #493
@MollieRick since we both glanced over this tiny little detail, perhaps it makes sense to just inline the parameters instead of referring to the payments endpoint?

[2020-09-17 15:32] vedran-mollie commented on #492
@Softens why do you specify the local resolver for google.com but not one for api.mollie.com?
What happens if you try something completely different for the api.mollie.com call (@8.8.8.8 for example)?

[2020-09-18 12:37] Softens commented on #492
@vedran-mollie Looks like the IPv6-address was blocked. I've changed the address of the outgoing requests to our IPv4 address (in the NetworkManager) and that works. As requests to other websites, except for the Mollie website, are working, I conclude that the IPv6 address has been blocked by Mollie.

[2020-09-24 13:44] rares-mollie commented on #492
@Softens, sorry for the radio silence, we've been quite busy debugging this issue over the past few days. We will have a workaround for you to test on Tuesday.

[2020-09-25 12:43] troovers opened #496 "Application fees: Unable to process application request for this account"
## Specifications

  - API Version: V2

## Describe the issue

I'm trying to implement application fees for my account using Mollie Connect. I've been fully approved and the application fees have been enabled for my organization. I've successfully connected my app to one of my website profiles. But once I try to create the payment, I get the response error:

```"[2020-09-25T14:32:56+0200] Error ex

[2020-09-25 13:32] robindirksen1 commented on #496
Are you trying to create a payment with an application fee for the same account as you created the app with?

Had the same issue, so I created an extra account to use for testing purpose.

[2020-09-25 13:47] troovers commented on #496
Oh that's a good suggestion. The app is registered under my organization and the website profile for which I'm trying to create the payment, is also registered under my organization.
Did creating a completely new organization solve your issue?

[2020-09-25 14:16] sandervanhooft commented on #496
Yeah you'll need two completely separate accounts

[2020-09-25 14:18] troovers commented on #496
Thanks guys! I'll go try that!

[2020-09-25 14:18] #496 closed

[2020-09-29 09:54] willemstuursma commented on #492
Hi @Softens and @damcclean.

We have set up a _temporary_ alternative domain for accessing our api: `api.mollie.ch`. This is set up with a different DNS provider. We think our current DNS provider is the issue.

We would appreciate if you can test if switching to this domain will resolve your issues and report back here.

Note that we will migrate our existing DNS infrastructure as well in the com

[2020-09-29 10:00] sandervanhooft commented on #492
Note: you can change the endpoint on the client like this:

`MollieApiClient::API_ENDPOINT = ...`

[2020-09-29 10:04] willemstuursma commented on #492
@sandervanhooft Instead of changing library code, it would better to call `setApiEndpoint()`.

Please be aware that this new hostname is _temporary_ and will be removed after January 1st, 2021.

[2020-09-29 10:28] GertGettoweb commented on #24
Hey, I have an other problem.
I get the message: "API call failed: Error executing API call (request): Application fee amount is invalid."
And I used the example above:

$applicationFee = ["amount" => ["currency" => "EUR", "value" => "1.00"], "description" => "BlaBlaBla"];

[2020-09-29 15:46] damcclean commented on #492
I've just removed my custom Guzzle client and passed in the new endpoint with `setApiEndpoint()` but I'm still getting the same timeout error.

[code]

If I pass in my custom client that changes the timeout from the default 10 seconds to 30 seconds, it works but that's really just a workaround.

This is how I'm setting up the Mollie client:

[code]

I appreciate the time and effort you're spending

[2020-09-29 15:47] damcclean commented on #492
In case you're interested, I've just re-run that `dig` command on this new API domain, here's my result:

[code]

[2020-09-29 16:48] sandervanhooft commented on #24
Application fees have are bound to a maximum: https://docs.mollie.com/oauth/application-fees#maximum-application-fees .

Can you check that you're not crossing that?

[2020-10-07 14:11] sandervanhooft opened #498 "Prevent requests timing out"
## Specifications

  - API Version:  v2

## Describe the issue

Lately there have been some reports about api requests timing out. Mollie's development teams (@willemstuursma @rares-mollie) expect their DNS to be a significant factor.

While the problem is being addressed at DNS / infrastructure level at Mollie, this issue addresses mitigations that can be implemented within the mollie-api-php cli

[2020-10-07 14:11] sandervanhooft commented on #498
@willemstuursma can you explain how #497 relates here, and if it still is considered part of the solution?

[2020-10-07 14:12] sandervanhooft commented on #498
Related: #492 (timeouts reported)

[2020-10-07 14:18] rares-mollie commented on #498
Please expand the applicability of the retry logic to all request methods as long as the timeout happens within the CONNECT phase, the GET requests *may* be retried after sending the request body but I consider this an optimisation. The benefit of this change is increased reliability within the connect phase.

[2020-10-07 14:24] sandervanhooft commented on #498
@rares-mollie that makes sense to me, let's focus on the CONNECT phase first.

[2020-10-07 14:30] sandervanhooft commented on #498
My text [above](https://github.com/mollie/mollie-api-php/issues/498#issue-716567556) now reflects this.

[2020-10-08 08:43] gtraxx opened #500 "Call to undefined function stream_for"
## Specifications

  - API Version: 2.23
  - php 7.1.33

## Describe the issue
Hello after testing the API, I have a fatal error (not using Composer)

**( ! ) Fatal error: Uncaught Error: Call to undefined function _PhpScoper5f636c07d0f55\GuzzleHttp\Psr7\stream_for() in C:\wamp\www\project\plugins\mollie\mollie-api-php\vendor\guzzlehttp\psr7\src\Request.php on line 42**

with the code test
[code]

[2020-10-08 08:54] sandervanhooft commented on #500
Seems to be related to #244

[2020-10-08 09:34] sandervanhooft commented on #500
@willemstuursma any ideas on how to approach this?

[2020-10-08 09:41] gtraxx commented on #500
Hi, I thought it was fixed in this version, I installed with composer while waiting :)

[2020-10-08 09:54] sandervanhooft commented on #500
Ok, so you have a workaround now?

[2020-10-13 13:43] willemstuursma commented on #492
Hi @damcclean @Softens.

We've migrated `api.mollie.com` to our new DNS infra provider.

You should remove any references to the `.ch` domain.

[2020-10-13 13:44] willemstuursma commented on #492
If you have any remaining problems with resolving our DNS, please re-open this issue.

[2020-10-13 13:51] damcclean commented on #492
Thanks @willemstuursma for your response!

I actually managed to resolve the issue I was having locally with resolving the Mollie API last week while trying to fix another timeout API issue.

All I did was change my local DNS servers away from OpenDNS (who I used previously) to Cloudflare's DNS server (1.1.1.1) and the response time dropped and I don't seem to have any issues again, even if I swit

[2020-10-14 13:20] bkaskes opened #501 "ApplicationFee is not correct in Payment resource"
## Specifications

  - API Version: 2.22.3

## Describe the issue

Code uses `applicationFeeAmount`, this should be `applicationFee` according to the API spec. The value can be obtained with `$this->applicationFee->amount->value`. Also the comments are not correct.

[code]

[2020-10-15 08:15] alecpl opened #502 "Redundant HTTP requests when using embed parameter"
[code]
In the above code internal `$_embedded` property will be properly filled with refunds list. However, when `refunds()` is called an extra http request is invoked. The point of using `embed` parameter is to not have to create redundant requests.

The same applies to chargebacks. And the same applies to use of `embed` parameter in other places, e.g. orders.

Looking at refunds() or chargebacks

[2020-10-16 13:26] hdijkema opened #503 "PHP Fatal error: Uncaught Error: Call to undefined function _PhpScoper5f491826ce6ce\\GuzzleHttp\\choose_handler()"
## Specifications

  - API Version: 2.22.3, 2.23.0, 2.24.0

## Describe the issue

PHP Fatal error:  Uncaught Error: Call to undefined function _PhpScoper5f491826ce6ce\\GuzzleHttp\\choose_handler() in /data/www/zc4/mollie/vendor/guzzlehttp/guzzle/src/HandlerStack.php:39\nStack trace:\n#0 /data/www/zc4/mollie/vendor/guzzlehttp/guzzle/src/Client.php(64): _PhpScoper5f491826ce6ce\\GuzzleHttp\\HandlerS

[2020-10-16 13:40] hdijkema commented on #503
I fixed this problem temporarily by adding these requirements to my php code:

[code]

[2020-10-18 18:13] OrabiD opened #504 "Question: Getting the refresh token from Mollie provider"
Hi there!
I have a small question about how to get the refresh token.

We are using Mollie provider to generate an access token:
[code]
Then we get the access token
This token is valid for 60min, so we need to save the refresh token and use it each time we need an access token
[code]
Once we have a valid token , we can create a payment:
[code]

To summarise: how can I use the provider to get the r

[2020-10-20 12:12] Daanvm commented on #504
Hi!
You can get the refresh token with `$accessToken->getRefreshToken()`. Our OAuth provider is an integration for the [thephpleague/oauth2-client](https://github.com/thephpleague/oauth2-client) library. There is more useful documentation in that repository.

[2020-10-20 12:12] #504 closed

[2020-11-02 09:17] TimBiesmans opened #508 "QR code with Bancontact"
The Get Payment page makes it seem as if requesting an already existing payment with Bancontact (initialized with the include=details.qrCode param) would include the QR code, but once you have created a payment with a QR code, there is no way to retrieve it again from the API. The details-object is empty

[2020-11-05 16:48] MollieRick commented on #508
@sandervanhooft Can you check this?

[2020-11-13 22:57] jeromba6 opened #509 "Can you provide the code which we have to install from a zip or with composer just in a git repo"
## Specifications

  - API Version: Latest

## Describe the issue

I really like the code en service from Mollie. With the v1 version of the api code I was able to use this repo as a sub repo of my own. That made installation and maintenance very easy. Now I have to use composer (not an option for me) or download a zip and unpack, which is harder to automate. Am I missing some thing or can you pro

[2020-11-21 16:40] webprogrammierer opened #510 "Webhook is only called in case of status paid (test mode)"
## Specifications

  - API Version: v2

## Describe the issue

I am using the example code (/mollie-api-php/examples/payments)
- create-payment.php
- return.php
- webhook.php

It works fine and I can select one of 2 payment methods. After selecting one of them I can select the status and then click on continue.

If I selected "Paid" everything is okay, the webhook is called and the browser is redi

[2020-11-23 10:21] MollieRick commented on #510
Hi @webprogrammierer,

Thanks for your message. By reading "It works fine and I can select one of 2 payment methods", I assume that you not set an explicit method for your test payment. If a payment fails due to any reason, the consumer get the opportunity to select a new method to try again, so the webhook will not be called then. This situation is the same in live mode.

You need to set the `met

[2020-11-23 15:21] webprogrammierer commented on #510
Yes, I understand this.

But there is still an error:
When method is not set programmatically, then at first I can select the method. Maybe I select "creditcard". After that I can set the status for creditcard payment with the radio buttons. Still if I select "failed" or one of the other options except "paid", no webhook is called BUT (and this is the error), the return.php is called anyway.

If r

[2020-11-23 15:24] MollieRick commented on #510
Can you provide me a payment ID (`tr_xxx`) of one of the payments where this happened?

[2020-11-23 16:50] sandervanhooft commented on #510
If I understand correctly, the return.php is tied to the redirectUrl, not the webhookUrl.

[2020-11-24 13:25] sandervanhooft commented on #509
Hi @jeromba6,

Take a look at the `makefile` in the source root. That one is used for creating the zip file for download using Travis. You should be able to run this locally too.

I know from experience there is one difference between Linux and Mac on one of the commands, let me know if you run into trouble on Mac, I may be able to help you out.

[2020-11-24 13:25] #509 closed

[2020-11-24 13:26] #500 closed

[2020-11-24 13:26] #488 closed

[2020-11-24 13:27] sandervanhooft commented on #434
Closing this for now, let me know if it should be reopened.

[2020-11-24 13:27] #434 closed

[2020-11-24 13:30] #498 closed

[2020-11-24 13:33] gtraxx commented on #500
yes, by recompiling with composer

[2020-11-26 09:19] rakeshislive commented on #185
`mollieClient.payments.create({
                        amount: {
                          value:    result[0].price,
                          currency: 'EUR'
                        },
                        description: 'Booking Charge for the service',
                        redirectUrl: 'http://' + req.hostname +':' + process.env.PORT + '/index/profile',
                        webhookUrl:

[2020-11-26 09:22] robindirksen1 commented on #185
@rakeshislive `result[0].price` needs to be a string like this: `100.09`.

See: https://docs.mollie.com/reference/v2/payments-api/create-payment#parameters

[2020-11-26 11:23] EricKarijo commented on #510
Yes, this is true.
In the beginning I was also confused about this.

[2020-11-26 11:31] sandervanhooft commented on #510
So after completing the checkout (also in test mode), the customer is always returned to the `redirectUrl`.

In this case this means that `return.php` always gets executed. So it's not a bug.

Note that the `webhookUrl` does not get called on all status changes (see the docs [here](https://docs.mollie.com/guides/webhooks#endpoints-supporting-webhooks) and [here](https://docs.mollie.com/payments/st

[2020-11-26 11:31] sandervanhooft commented on #510
Does this answer your question @EricKarijo ?

[2020-11-26 11:34] EricKarijo opened #512 "How to refresh access token?"
## Specifications

  - API Version: Latest

## Describe the issue

I want to working example of how to refresh the accesstoken.
This is my code to connect to Mollie:

   // Connect to Mollie
    public function connect() {
        return Socialite::with('mollie')
            ->scopes(['profiles.read','profiles.write','payments.read','payments.write']) // Additional permission: profiles.read

[2020-11-26 11:47] #510 closed

[2020-11-26 11:57] webprogrammierer commented on #510
It is not a great problem, maybe you can ignore it.

But my problem was:
When using testmode AND more (!) then one paying method is activated, only in this case:
I can select with the mollie select widged.
After selection (e.g. I selected creditcard, but there are others to select), THEN I will test "open, failed, canceled, expired", but this is not possible to test, because mollie DOES NOT return

[2020-11-26 13:07] sandervanhooft commented on #512
1. Make sure to store the refresh token on initial authentication
2. Do something like this:

[code]

[2020-11-30 14:32] #512 closed

[2020-11-30 14:33] sandervanhooft opened #513 "Add paymentRefunds.list / .listFor"
## Specifications

  - API Version: v2

## Describe the issue

`list` and `listFor` are not yet defined on the `PaymentRefundsEndpoint`.

[2020-12-02 10:04] MooijGedaan opened #515 "NodeJS - Invalid value"
## Specifications

  - API Version: 3.4.0

## Describe the issue

I am getting the following issue:
"ApiError: The amount contains an invalid value".

### See the following screenshots:
<img width="300" alt="Schermafbeelding 2020-12-02 om 11 05 34" src="https://user-images.githubusercontent.com/39658340/100858469-4efaed00-348e-11eb-885d-a03e5c25fe81.png">
<img width="958" alt="Schermafbeelding 202

[2020-12-02 10:07] #515 closed

[2020-12-05 08:01] janssenr opened #517 "Some bugs/mistakes?"
## Specifications

  - API Version: 2.0

## Describe the issue

In https://github.com/mollie/mollie-api-php/blob/df60ebfc2463cdffc1faeb1fa9419911812ac6f8/tests/Mollie/API/Endpoints/ShipmentEndpointTest.php "profileId" is used in getShipmentResponseFixture (row 488)
But in https://github.com/mollie/mollie-api-php/blob/master/src/Resources/Shipment.php I cannot find "profileId"

In https://github.co

[2020-12-05 09:54] sandervanhooft commented on #517
Hi @janssenr,

Everything is filled dynamically from the API response, but these resource fields can be helpful for autocompletion. Can you submit a PR?

[2020-12-06 22:04] jeromba6 commented on #509
Can you point me to the makefile? I can't find it.

[2020-12-07 13:51] sandervanhooft commented on #509
Sorry about that.

We switched to GitHub Actions last week. Here's the script we're using:

https://github.com/mollie/mollie-api-php/actions/runs/398068224/workflow#L19-L43

The old Makefile i mentioned is [here](https://github.com/mollie/mollie-api-php/blob/ae0ff0229b2f616997c224270eb50ed1b224239c/Makefile).

[2020-12-17 16:43] Flued opened #521 "Uncaught Error: Call to a member function create()"
When i try to create an order using

$order = $mollie->orders->create([
i get this error:  Uncaught Error: Call to a member function create() ......

I really can"t figure it out.

my includes work.
require ("/mollie/vendor/autoload.php");
$mollie = new \Mollie\Api\MollieApiClient();
$mollie->setApiKey("test_JJGawswskAFw6khduMyFEzKhBRE76a");

Anyone got a fix?

[2021-01-05 11:51] picocodes opened #522 "It would be great to create a subscription while creating a payment. Sending payment information is kind of redundant."

[2021-01-06 08:30] sandervanhooft commented on #522
Hi @picocodes,

Thanks for posting this feature request. Can you elaborate a bit on your use case?

[2021-01-06 08:36] Timollie commented on #503
Hi there,

this is most likely due to an issue with PHP scoper. Please update 2.27.1 of the precompiled package or update phpscoper if you are using it locally.

[2021-01-07 12:29] picocodes commented on #522
Thanks, @sandervanhooft,

Currently, we can not create a subscription for new customers (i.e, customers who do not have a valid mandate). We first have to execute [this code](https://github.com/mollie/mollie-api-php/blob/master/examples/customers/create-customer-first-payment.php), then create the subscription after successful payment.

If would be great if it was possible to pass the subscription

[2021-01-07 12:36] sandervanhooft commented on #522
Ok, that clears it up. I had the same issue, therefore created [cashier-mollie](https://github.com/laravel/cashier-mollie) - but it's Laravel only.

@MollieRick can you perhaps register this feature request somewhere internally? I second it.

[2021-01-07 12:54] MollieRick commented on #522
I do not really see the benefit here. These are really two separate actions and flows since creating a customer is not always only for subscriptions.

[2021-01-07 13:46] sandervanhooft commented on #522
It's about the separate first-payment and start-subscription call, not the create-customer-call.

Having these calls separate requires a lot of complex logic to get a seamless experience in the initial checkout. With "seamless" I mean without making two payments (and invoices) to start the subscription.

I know this is not easily changed, but it makes sense to track requests like these somewhere.

[2021-01-07 19:34] egogo-nl opened #524 "Feature request: Add reason code for chargeback to Chargeback API"
When I do a SEPA payment and I receive a chargeback, I can only see the reason of the chargeback in the Mollie Dashboard, not with the API.

For example, a reason could be:
Rekening geblokkeerd voor incasso (AC06)

I would like to receive this information in the Chargeback API. Currently it only results if a transaction is charged back or not, not the reason why. With this information I can automa

[2021-01-12 14:58] MollieRick commented on #524
Hello @egogo-nl,

Thank you for your message! I added your feature request to our backlog. Unfortunately I can not give you an ETA for this.

[2021-01-12 14:58] #524 closed

[2021-01-12 20:56] WouS95 commented on #494
This still seems to be the case and it has been a few months, is this a mistake in the code or am I missing something?

[2021-01-13 10:02] sandervanhooft commented on #501
Thanks @bkaskes , we'll look into this

[2021-01-13 10:03] #472 closed

[2021-01-18 11:37] sandervanhooft commented on #494
Now fixed on master

[2021-01-18 11:37] #494 closed

[2021-01-18 13:06] sandervanhooft commented on #501
It's now fixed on the `master` branch, will go out with the next release.

[2021-01-18 13:06] #501 closed

[2021-01-18 13:11] ciungulete commented on #513
@sandervanhooft, Now you can close this. PR #527 merged.
Thanks!

[2021-01-18 13:17] #513 closed

[2021-01-19 12:53] iTiamo opened #529 "Deprecated: Required parameter $filters follows optional parameter $from in .../Endpoint/EndpointAbstract.php on line 164"
## Specifications

  - API Version: 2.0.0

## Describe the issue

- Installed mollie/mollie-api-php with composer
- Executed following code:
[code]
- Following notice appeared:
[code]

[2021-01-19 13:19] sandervanhooft commented on #529
Hi @iTiamo,

What package version are you using?

You can use `composer show mollie/mollie-api-php` to check it.

[2021-01-19 13:51] iTiamo commented on #529
Hi @sandervanhooft, that is exactly v2.0.0. :)

[2021-01-19 14:47] sandervanhooft commented on #529
Can you upgrade to the latest version (2.28.0)?

[2021-01-19 16:31] iTiamo commented on #529
That seems to fix it, thank you. Please mind the README.md points to 2.0.0.

[2021-01-20 13:01] #529 closed

[2021-01-20 14:19] vedran-mollie commented on #492
For reference: the api.mollie.ch temporary domain name is no longer functional

[2021-01-25 10:21] Shnilj commented on #508
@sandervanhooft +1

[2021-01-25 11:54] sandervanhooft commented on #508
@TimBiesmans In testmode, only `ideal` is supported for QR codes. Are you experiencing the same with `ideal` in testmode, and/or `bancontact` in production?

[2021-01-25 11:54] sandervanhooft commented on #508
https://docs.mollie.com/guides/qr-codes

<img width="733" alt="image" src="https://user-images.githubusercontent.com/7265703/105702719-7c9f6800-5f0c-11eb-9292-321d876a175d.png">

[2021-01-25 11:57] TimBiesmans commented on #508
Even in production it isn’t returning a QR code for Bancontact.

I’m using the API. Perhaps hardcoded it will work.

[2021-01-25 12:07] sandervanhooft commented on #508
Thanks for checking this. I'll check if I can reproduce the issue using this package

[2021-01-25 12:36] sandervanhooft commented on #508
I am able to create an `ideal` payment and see that the details are filled out ok in `testmode`.

These details are dynamically assigned from the API response, so if the information is present in the response it should be included in the details object.

Unfortunately however I have no means to test `bancontact` in production. Can you check your API response using something like Postman?

[2021-02-03 07:20] sweebee opened #530 "Open settlement endpoint times out"
## Specifications

  - API Version: 2.29.0 (Laravel package 2.14.0)

## Describe the issue

I'm getting a time-out on the settlements open endpoint ```settlements()->open()```. (after more than 60 seconds).

I only have this on a Mollie account with more than 2500 transactions in the last 24h. I know this might be a bug in the API but I'm posting it here since there are probably devs from Mollie h

[2021-02-03 07:56] sandervanhooft commented on #530
@MollieRick ?

[2021-02-04 16:31] phagens opened #531 "Error when using api"
## Specifications

  - API Version: 2.29.0

## Describe the issue

I updated the api version to the latest and also the magento 2 to 1.21.0
Now whatever payment methoid I use I get an error:

[2021-02-04T16:27:46+0000] Error executing API call (422: Unprocessable Entity): A card token must start with tkn_. Field: cardToken. Documentation: https://docs.mollie.com/reference/v2/payments-api/create-pa

[2021-02-04 16:37] sandervanhooft commented on #531
Hi,

Are you using the Magento client? Then it's better to open a ticket there.

[2021-02-08 10:20] #531 closed

[2021-02-08 11:11] sandervanhooft commented on #531
Thanks!

[2021-02-11 13:23] QualityWorks commented on #503
We are sometimes seeing this issue in Opencart if another mod also is using composer.
This is a recent issue

[2021-02-11 20:03] sweebee commented on #530
Did some more diggin. By doing a request via Postman I get 10 seconds:

<img width="1572" alt="Schermafbeelding 2021-02-11 om 20 51 09" src="https://user-images.githubusercontent.com/10496485/107691980-764f1100-6cac-11eb-9ad4-3a01a97fb6c5.png">

By doing the same with the Mollie PHP API (```Mollie\Laravel\Facades\Mollie ```):

<img width="744" alt="Schermafbeelding 2021-02-11 om 21 00 13" src="htt

[2021-02-11 21:43] sandervanhooft commented on #530
That call to the settlement endpoint is exactly the same across the Laravel / PHP clients, I don't think that's causing any (additional) performance issues here.

[2021-02-16 22:57] TheoHuitema opened #532 "Webhook call after refund"
## Specifications

  - API Version: 2

## Describe the issue
I don't know if this is an issue or a support question, but I'm having a hard time getting the actual refund status via the webhook after a refund is made.

If I understand correctly, when a refund is made, the webhook is called. And when there's a refund status change, the webhook is called also. But I can't find out with what. Is it th

[2021-02-17 09:38] sandervanhooft commented on #532
Hi @TheoHuitema ,

Mollie will indeed call your webhook using the payment id the refund belongs to. You can then fetch the payment and (optionally) the related refunds.

[code]

Depending on your implementation you can check what happened either using the refund collection or the total `amountRefunded`.

[2021-02-17 11:21] TheoHuitema commented on #532
Hi Sander

Thank you for your quick reply!

Okay, if I want to check for refunds, on every payment webhook call where te payment has the status 'paid' I have to check if refunds for that payment exist and if so, check the $refunds object for the latest refund? Sounds logical. At first I missed refund as a payment status, but this is actually a better way, I think.

Love the Mollie API by the way ;

[2021-02-17 13:22] sandervanhooft commented on #532
:+1: That's it!

[2021-02-17 15:43] TheoHuitema commented on #532
Sorry Sander, closed this one too soon.

When checking the webhook with Postman I do not get the reponse I expected.

`$refunds->count` works (in the output I see it as such), but I can't get the refunds.

I expected that the refunds data was accessable via `$refunds->_embedded->refunds`, so I can loop the object, but instead I get this (see below). Getting the refund via the refund ID works fine,

[2021-02-17 15:48] sandervanhooft commented on #532
Yes that's raw data not processed by the client. How about `$payment->refunds()`?

[2021-02-17 17:33] TheoHuitema commented on #532
When I print the `$payment` object the ouput is formatted as expected, but when I print `$payment->refunds()` at the same place the raw data shows up. In both cases I use ( `print_r( )` ).  Formatting as e.g. JSON has no effect on the result.

[2021-02-18 06:36] sandervanhooft commented on #532
Despite output formatting, can you double check that it is in fact returning the right classes?

[code]

[2021-02-18 10:22] TheoHuitema commented on #532
Hi Sander,

Instead of  `$payment = mollie()->payments()->get("tr_bDdmK72HwW");` I used  `$payment = $mollie->payments->get("tr_bDdmK72HwW");`. The first throws an error ( Call to undefined function mollie() ).

When I echo it, the ouptut is indeed "Mollie\Api\Resources\RefundCollection | Mollie\Api\Resources\Refund".

[2021-02-18 10:26] sandervanhooft commented on #532
Great, that means it's not raw data you're receiving, but Refund objects. Not sure what's going on with your formatting though.

[2021-02-18 10:26] #532 closed

[2021-02-18 11:07] TheoHuitema commented on #532
Oké. Any idea how to get the refund data then,  given the output formatting I have? Something similar occurs when getting subscriptions. Although I can get the most relevant data directly , `nextPaymentDate` e.g. is somewhere in the data, but I can't get it via `$subcriptions->nextPaymentDate` .

FYI: I didn't install the Mollie library via Composer, but dowloaded it as a zip-file.

[2021-02-18 11:51] sandervanhooft commented on #532
As php recognizes the outpyt as valid objects, it doesn't seem to be related to this package. So can't help you there, sorry.

[2021-02-18 11:56] TheoHuitema commented on #532
I will look into it.

Thank you for your time and effort, Sander!

[2021-02-18 12:03] sandervanhooft commented on #532
No problem, hope you get it solved!

[2021-02-22 15:02] hamzarachidi opened #533 "Call to undefined method Mollie\Api\Resources\Subscription::update()"
Hi, I'm trying to update subscriptions but it seems that there is a problem, is the update function not available anymore?
Thank you

[2021-02-22 16:16] MollieRick commented on #533
Hi @hamzarachidi,

Can you elaborate on this? What do you try? What error do you get?

[2021-02-22 16:33] hamzarachidi commented on #533
Thank you for your fast respond @MollieRick
this is the code I'm using
[code]
I'm trying to update an already created subscription like it's described in the code but I'm getting an exception with this message: Call to undefined method Mollie\Api\Resources\Subscription::update()

[2021-02-22 16:37] MollieRick commented on #533
@sandervanhooft Can you check this? :)

[2021-02-22 17:18] sandervanhooft commented on #533
Hi @hamzarachidi ,

What package version are you using?

[2021-02-23 07:47] hamzarachidi commented on #533
Hi @sandervanhooft
I'm using mollie-api-php version 2.0

[2021-02-23 09:22] MollieRick commented on #533
The update-endpoint is added in version 2.0.8. Which makes it that the function does not exist in your project.
However, I recommend you to update to the lastest version available, which is 2.29.0 now. :)

[2021-02-23 11:34] hamzarachidi commented on #533
Since I followed the docs I find out myself with version 2.0.0 . I just have to update the package version and it solves the problem. Thank you guys !

[2021-02-23 11:34] #533 closed

[2021-02-27 23:51] HugoVanPouderoijen opened #534 "Mollie connect - How to know users Profile ID to start Payment"
## Specifications

  - API Version: 2.0

## Describe the issue

I am integrating Mollie Connect to let our websites resellers/partners receive payments of bookings. We get it running but the issue starts when we want to initiate the first payment
- When starting a payment with an acces code, you need to have a profile id.
- But when i want to retrieve "the current profile_id" we get the error that

[2021-02-28 09:41] robindirksen1 commented on #534
You need to list all profiles, this is a separate endpoint.

Then, you need to provide the profile_id to the endpoints when creating the payment.

[2021-02-28 09:41] robindirksen1 commented on #534
You need to list all profiles, this is a separate endpoint.

Then, you need to provide the profile_id to the endpoints when creating the payment.

[2021-02-28 10:00] willemstuursma commented on #534
If there are multiple profiles, you should let the user select to which profile they want the payments of your app to go to.

[2021-02-28 10:00] #534 closed

[2021-02-28 18:31] HugoVanPouderoijen commented on #534
@robindirksen1  Thats the problem.

Using the profiles endpoint i get the error :
"This API endpoint is only available with an API key and cannot be accessed with an OAuth access token.. "

And @willemstuursma  : If i approve the app with those permissions, on an account with one or more profiles i dont get an profile_id back in respons, nor can i a (as user point of view) select a profile.

Somew

[2021-02-28 19:09] sandervanhooft commented on #534
The top of the API documentation pages list the possible authentication methods.

The _current_ profile endpoint is only accessible using an api key.

The [list](https://docs.mollie.com/reference/v2/profiles-api/list-profiles) and get endpoints can be used with an access token.

The list profiles endpoint is the one you'll need to (let the merchant) decide which one to use with your app.

[code]

[2021-02-28 19:15] sandervanhooft commented on #534
To be clear: Mollie does not offer an UI to select the profile, because the authorization is at Account level. Which means you have access to all profiles related to that account once you have obtained the refresh and access token.

[2021-02-28 20:23] HugoVanPouderoijen commented on #534
@sandervanhooft @willemstuursma @robindirksen1

Thanks guys! You just made my weekend :) Finally!  It was the misunderstanding of using the current profile endpoint (and assumed also the list function wouldn't work).

[2021-02-28 22:27] sandervanhooft commented on #534
Great work @HugoVanPouderoijen ! 🕺

Feel free to open another issue if you need help getting unstuck.

[2021-03-03 13:00] Saad1379 opened #536 "How to insert values in database after the successful payment only."
## Specifications

  - API Version:

## Describe the issue
I have a custom booking form in Wordpress and I use Mollie as a payment gateway. I want the values to be inserted into database after the payment is successful but right now I am doing it before the payment is made. Here is the code of my Save.php file:

[code]

[2021-03-03 13:50] sandervanhooft commented on #536
The only way to know if the payment was paid is when your webhook gets called (you can define it on the payment payload).

Generally integrations store a _pending_ order or payment with the details you mentioned before redirecting the customer to Mollie's checkout. And then update the record to status paid when the webhook gets called (and the payment indeed was paid).

Optionally you can periodic

[2021-03-03 13:50] #536 closed

[2021-03-08 14:33] SnoxiK opened #537 "error with get () function"
## Specifications

  - API Version: 2.0
  - laravel: 8.x
  - php: 7.4.14

## Describe the issue

i need to use get payment
`       $mollie = new MollieApiClient();
        $mollie->setApiKey("test_xxxxx");
        $canceledOrder = $mollie->payments->delete('tr_xxxxxx');`

but i have error:
`Argument 1 passed to Symfony\Component\HttpFoundation\Response::setContent() must be of the type string or n

[2021-03-08 16:00] sandervanhooft commented on #537
What version of this package are you using?

What is in your Laravel log about this error?

[2021-03-08 16:23] SnoxiK commented on #537
hello thanks for help, i edit post for version and my error in log its

`[2021-03-08 11:30:30] local.ERROR: Argument 1 passed to Symfony\Component\HttpFoundation\Response::setContent() must be of the type string or null, object given, called in /home/websites/vendor/laravel/framework/src/Illuminate/Http/Response.php on line 65 {"exception":"[object] (TypeError(code: 0): Argument 1 passed to Symfon

[2021-03-08 20:01] sandervanhooft commented on #537
This error does not seem to be related to this package, so I can't help you here, sorry.

[2021-03-08 20:01] #537 closed

[2021-03-17 13:45] ronaldtb commented on #437
I see that the PR has already been merged, but the same problem seems to occur when calling cancel on a subscription that was created with `testmode` set to `true`.

[code]
The code above also results in an `Error executing API call (422: Unprocessable Entity): Non-existent query parameter "testmode" for this API call.. Field: testmode.` exception.

[2021-03-22 16:30] Saad1379 opened #540 "Is there any way to verify if the Webhook.php is being execute properly?"
## Specifications
mollie php api
  - API Version:

## Describe the issue
I have my payment method working properly and the code for payment status update is written inside the webhook.php file. My problem is that create_payment.php file is working properly  but the Webhook.php file is not updating the status of payment.
...

[2021-03-22 20:23] sandervanhooft commented on #540
Your webhook needs to be reachable by Mollie. You can check this in the Mollie dashboard by looking up the payment.

A common way to test this locally is by setting up a tunnel, i.e. using [ngrok](https://ngrok.com), Laravel valet or Expose.

[2021-03-22 20:23] #540 closed

[2021-03-23 09:21] boryn commented on #437
When operating in the testmode using OAuth, remember to setAccessToken() before issuing other commands.

[2021-03-23 11:55] Saad1379 commented on #540
The webhook file is not on the localhost. It is on online server with active ssl.

[2021-03-23 14:33] sandervanhooft commented on #540
What is the Mollie dashboard saying about the webhook calls for that payment?

[2021-03-23 14:39] Saad1379 commented on #540
![image](https://user-images.githubusercontent.com/16044705/112164125-73caca00-8c0f-11eb-8771-4930b1da8e5c.png)

[2021-03-23 15:57] lukaskleinschmidt opened #541 "ShippingAddress becomes required on update"
## Specifications

  - API Version:  v2.30.0

## Describe the issue

When I try to update just the `webhookUrl` for a order that does not have a `shippingAddress` I get following error.

[2021-03-23T16:18:01+0000] Error executing API call (422: Unprocessable Entity): Non-existent body parameter "shippingAddress" for this API call. Did you mean: "shippingAddress.city"?. Field: shippingAddress. Docu

[2021-03-24 09:09] sandervanhooft commented on #540
There you go. As you can see in the dashboard Mollie has tried to call it multiple times and was able to reach the webhook. A status 500 means something went wrong in your app while processing it. I recommend checking your logs or debugging it locally to see what's happening.

[2021-03-24 09:36] sandervanhooft commented on #541
There's probably some pay-after-delivery (Klarna) logic in the way here.

I'll check with Mollie

[2021-03-24 09:42] sandervanhooft commented on #541
The update method here always sends the `shippingAddress`: https://github.com/mollie/mollie-api-php/blob/53f461ad6409a2d25a19d0336f88a285ade9b8e0/src/Resources/Order.php#L487-L493

The API seems to not accept the shippingAddress to be `null`.

[2021-03-24 09:58] shirshir commented on #541
I can confirm the problem. I will have a look.

[2021-03-24 15:29] Jules077 commented on #521
I have same problem but almost every function errors like this maybe it has something to do with the includes or composer.

[2021-03-24 18:38] sandervanhooft commented on #521
@Jules077

What package version are you using?
How did you install it? (Downloaded zip / `composer install`)

[2021-03-29 09:44] Jules077 commented on #521
package version 2.0 installed with the composer

[2021-03-29 13:00] shirshir commented on #541
@lukaskleinschmidt A fix was deployed to address this issue. Can you confirm your problem is solved?

[2021-03-29 15:10] lukaskleinschmidt commented on #541
@shirshir Yes the problem is fixed. Thanks for looking into this 🙂

[2021-03-29 15:10] #541 closed

[2021-03-29 16:26] sandervanhooft commented on #541
Nice, thanks @shirshir !

[2021-04-06 20:13] holtkamp opened #544 "Invoices API v1 no longer allows to include Settlements"
## Specifications

  - API Version: v1

## Describe the issue
As documented here: https://docs.mollie.com/reference/v1/invoices-api/get-invoice#includes, the Invoices API allows to "include" Settlements in the response.

Starting with Invoices from around 2020Q4:

- this information is not included in the response anymore.
- this information is also not on the PDF version of the Invoice anymore

M

[2021-04-08 10:04] sandervanhooft commented on #544
Thanks @holtkamp, I've notified the Mollie team about this.

[2021-04-12 17:50] BigBenJr opened #546 "Can't send email confirmation from webhook"
## Specifications

  - API Version: 3.0.0

## Describe the issue

Hi,

I use the Mollie Orders API and a webhook URL which is called by Mollie when an order is made on my website.
On this webhook I have a script to send email confirmation to my customers when the status order is 'paid'.
It was working well when I was using the php mail() function.
Now I am using Sendinblue API to send the transact

[2021-04-12 17:58] sandervanhooft commented on #546
Hi!

From the outside I can't tell what's happening other than that the webhook url is returning an error. Best is to enable some logging on the webhook code and see what it says.

[2021-04-12 17:58] #546 closed

[2021-04-12 18:22] #508 closed

[2021-04-12 18:22] sandervanhooft commented on #421
Feel free to send in a PR if you feel this needs to be fixed

[2021-04-12 18:22] #421 closed

[2021-04-12 18:24] sandervanhooft commented on #471
I've removed the Guzzle dependency in this [alpha release](https://github.com/mollie/mollie-api-php/releases/tag/v2.31.1-alpha), @chriscollins405 if you're still facing this issue, can you give it a try?

[2021-04-12 18:25] sandervanhooft commented on #522
Closing this for now, let me know if it should be reopened.

[2021-04-12 18:25] #522 closed

[2021-04-12 18:44] #517 closed

[2021-04-12 18:46] sandervanhooft commented on #521
I'm unable to reproduce the error. Can you share the full exception stack trace here?

[2021-04-12 18:47] sandervanhooft commented on #530
@leonardogcsoares any update on this?

[2021-04-12 18:49] sandervanhooft commented on #503
I've prepared an alpha release that removes the guzzle requirement. Feel free to try it out.

Closing this for now, let me know if it should be reopened.

https://github.com/mollie/mollie-api-php/releases/tag/v2.31.1-alpha

[2021-04-12 18:49] #503 closed

[2021-04-12 19:17] thd-fox commented on #503
@sandervanhooft Tried your alpha, but still seeing this error:

[code]

It seems to still use library from mollie woocommerce plugin, instead of library from custom plugin. :(

[2021-04-13 15:42] leonardogcsoares commented on #530
Hi Sander. This is a known problem and we are still looking into the best way to mitigate/accelerate it for the future. Unfortunately, I have no updates at this time but will push the urgency on with the appropriate parties involved.

[2021-04-14 15:26] sandervanhooft commented on #530
Thanks @leonardogcsoares !

[2021-04-23 20:27] johannesdr-tb opened #549 "Using Payment::listRefunds always causes an exception"
## Specifications

  - API Version: 2

## Describe the issue

According to the API documentation, [you can pass a from and limit parameter when getting a list of all the refunds for a payment](https://docs.mollie.com/reference/v2/refunds-api/list-refunds#parameters).

When you try to do this with the API client `$payment->listRefunds($parameters)` this results in an exception "Error executing API

[2021-04-26 11:11] sandervanhooft commented on #549
Thanks @johannesdr-tb for reporting this, I'll look into it.

[2021-04-26 11:40] sandervanhooft commented on #549
Fixed and released. Thanks @johannesdr-tb!

[2021-04-26 11:40] #549 closed

[2021-04-28 11:49] mikey242 opened #551 "Missing @throws tag"
Just a potentially minor issue, it looks like ```cancelSubscription``` method of the class ```Customer``` can throw the ```\Mollie\Api\Exceptions\ApiException``` but has no @throws tag in the PHPDoc to reflect this. When testing to cancel an already canceled subscription using this method I get this output:

[code]
So it definitely can throw it. Hopefully I am not missing something and this isn't

[2021-05-03 09:30] maarten-v opened #552 "Wrong phpdoc on payment->details"
## Specifications

  - API Version: 2

## Describe the issue

https://github.com/mollie/mollie-api-php/blob/c1a500d251255e29919c6250d5c741ae4fe4e178/src/Resources/Payment.php#L235

When you create a default payment the response will contain a "details" property with a value of "null".
So the phpdoc should be:
`     * @var \stdClass | null`

[2021-05-14 14:14] Loots-it commented on #437
Error executing API call (422: Unprocessable Entity): The payment cannot be cancelled. Documentation: https://docs.mollie.com/guides/handling-errors

I get this error when I try to delete a payment (a payment that is cancelable):

[code]

The weird thing is, the payment is actually cancelled, so there shouldn't be any exception.

[2021-05-14 14:51] sandervanhooft commented on #437
@Loots-it that's a different topic.

Please open a separate ticket in this repository or contact Mollie support with a description of the issue, your account id,  profile id and the payment id being used.

[2021-05-14 14:56] Loots-it opened #555 "Exception is thrown while action is successfully completed"
## Specifications

  - API Version: v2.31.1

## Describe the issue

I get this error when I try to delete a payment (a payment that is cancelable):

Error executing API call (422: Unprocessable Entity): The payment cannot be cancelled. Documentation: https://docs.mollie.com/guides/handling-errors

However the payment is actually cancelled, and wasn't cancelled before the api call. This is the code

[2021-05-14 15:12] sandervanhooft commented on #555
Thanks for reporting this @Loots-it .

What happens if you run this?

[code]

[2021-05-14 15:38] Loots-it commented on #555
I can't exactly run that in my current project as I'm currently working with oauth, but this modified script works as expected:

[code]

[2021-05-14 16:01] Loots-it commented on #555
I double checked to see if I made an error but I can't find one. Also, it's not like something happened in the meantime with the payment:

[code]

[2021-05-19 09:05] sandervanhooft commented on #555
So if the `method` is set to `banktransfer` things work as expected. If `method` is not set (to `banktransfer` at least), the error occurs.

[2021-05-19 09:11] sandervanhooft commented on #555
I'll notify Mollie support. But quickest way may be to contact support directly with your profileId and payment ids.

[2021-05-19 11:39] Loots-it commented on #555
That's not the reason, I'm not sure what the difference is. If I try to replicate this with constant values and put it in one script it works fine. This is the code I'm using to create the payment. I double checked to see if I tried to cancel the payment twice but this wasn't the case.

[code]

[2021-05-19 11:40] Loots-it commented on #555
Yes I will do this. Thanks for your help!

[2021-06-07 14:36] mikey242 opened #560 "Unsupported Input Received when submitting payment"
## Specifications

  - API Version:  2.32.1

## Describe the issue

Just updated from 2.32.0 to 2.32.1 and noticed my test payments were immediately failing with the error:

`Error executing API call (415: Unsupported Input Received): This API only accepts application/json or application/x-www-form-urlencoded as content-type`

Downgrading to 2.32.0 immediately fixes the issue. Seems to be related

[2021-06-07 20:19] xyzqtc commented on #560
Same for me.

[2021-06-08 06:06] sandervanhooft commented on #560
Thanks for reporting this! I have released `2.32.2` to revert this. Will investigate later to see if I can reproduce this.

[2021-06-08 06:06] #560 closed

[2021-06-08 06:07] sandervanhooft commented on #560
That's a lot of sentences ending with "this". That's what you get when hotfixing before coffee 😴 😅 .

[2021-06-08 13:36] xyzqtc commented on #560
![Screen Shot 2021-06-07 at 6 15 15 PM](https://user-images.githubusercontent.com/78330971/121194643-391c1980-c86f-11eb-94c1-817aacdcb7e6.jpg)

[2021-06-08 13:48] sandervanhooft commented on #560
This is from 2.32.1 right? @xyzqtc

[2021-06-09 13:47] lode commented on #560
@sandervanhooft probably this still goes wrong. We just did a composer update and got 2.32.1. This might be because the latest release is 2.31.2 (notice 31) instead of 2.32.2. Could you do a new release for that?

[2021-06-09 13:54] boxblinkracer commented on #560
Hi @lode
heres a fix i did in the meantime
https://github.com/mollie/mollie-api-php/pull/562/files

can you see if the upper case "T" fixes your problem
(could be that the code was reverted) but its only the Content-Type stuff in the MollieApiClient

then it worked again for me

[2021-06-09 13:56] sandervanhooft commented on #560
ouch sorry about the version issue. Will fix that right away.

[2021-06-09 13:58] sandervanhooft commented on #560
Done! https://github.com/mollie/mollie-api-php/releases/tag/v2.32.2

[2021-06-09 13:59] mikey242 commented on #560
Working as expected now @sandervanhooft . Thanks for the quick action.

[2021-06-09 14:00] sandervanhooft commented on #560
@lode if you have a moment, can you give the PR provided by @boxblinkracer a try? I cannot reproduce the issue here locally.

[2021-06-09 14:00] sandervanhooft commented on #560
Same request for @mikey242 😄

[2021-06-09 14:03] sandervanhooft commented on #560
[This one](https://github.com/mollie/mollie-api-php/pull/562/files)

[2021-06-09 14:11] mikey242 commented on #560
Test payment worked for me with the new MollieApiClient.php changes in #562.

[2021-06-09 14:41] boxblinkracer commented on #560
THANKS for testing @mikey242

[2021-06-09 17:58] lode commented on #560
I didn't run 2.32.1 or 2.31.2, I only followed this ticket and noticed that we didn't get the expected version when doing a composer update.

But it seems resolved now. Thanks!

[2021-06-14 08:11] sandervanhooft commented on #555
Closing this for now, let me know if it should be reopened.

[2021-06-14 08:11] #555 closed

[2021-06-17 13:34] holtkamp opened #564 "Invoices API v1: internal server error when trying to include InvoiceLines"
## Specifications

  - API Version: 1.0

## Describe the issue
When loading "all" Invoices, it is allowed to "include" the (invoice) `lines` in the response: https://docs.mollie.com/reference/v1/invoices-api/get-invoice#includes

Trying to do so results in:

[code]

When leaving out the `lines` value as include, this error does not occur.

[2021-06-17 13:34] holtkamp commented on #544
@sandervanhooft any update on this? We use this functionality for bookkeeping purposes as well, which is now blocked by this change in behaviour...

[2021-06-22 15:17] JorritDiepstraten opened #566 "API v1: creditcard temporarily not available"
## Specifications

  - API Version: 1.19.13

## Describe the issue

After starting a creditcard transaction, the following error appears:
**Error executing API call (system): Payment platform for this payment method temporarily not available.**

We use method "creditcard", which was working for years. The other payment methods work perfectly. We haven't changed anything in the website. Mollie supp

[2021-06-22 16:06] sandervanhooft commented on #566
Thanks for reporting.

This seems to be an issue reported by the API, not an issue with this package.

Nevertheless I'll ping Mollie to see if they know anything about a creditcard outage.

[2021-06-22 17:34] JorritDiepstraten commented on #566
This issue started last weekend or earlier. We don't receive any creditcard payments since then.

[2021-06-23 07:22] sandervanhooft commented on #564
Hi @holtkamp , is this behaviour still occurring?

[2021-06-23 07:24] sandervanhooft commented on #544
Pinging Mollie again.

[2021-06-23 07:26] sandervanhooft commented on #544
Just curious, Any chance you're upgrading to v2 anytime soon? 😎

[2021-06-23 07:32] Flaschenzug opened #567 "Feature request: Add getCheckoutUrl() to Order resource"
## Specifications

  - API Version: 2.35.0

## Describe the issue

I need to load an existing order, using
$payment = $mollie->payments->get(PAYMENTID);

If the order is still open, I need to generate the checkoutUrl again:
$payment->getCheckoutUrl()

But the getCheckoutUrl() seems to be only working for creating payments?
So how do I get the checkoutURL for an existing order?

Thanks

[2021-06-23 07:56] sandervanhooft commented on #567
How about

[code]

?

[2021-06-23 11:33] Flaschenzug commented on #567
Thanks @sandervanhooft

I tried that, but got situations where checkout link didn't exist.
But looked into it again and it seems to be available when status is "open" but not when it is "paid".
And that would make sense ...

If I am thinking right, that should work.. ?

[2021-06-23 13:38] sandervanhooft commented on #567
You're right. Nevertheless we'll explore adding a `getCheckoutUrl()` to the Order resource.

[2021-06-23 13:48] sandervanhooft commented on #544
Hi @holtkamp,

I just discussed with the API team at Mollie. Bad news. The link between settlements and ledger invoices has been dropped permanently. The basic stuff on `v1` like creating and retrieving payments will remain functional, yet it's strongly advised to upgrade to v2 and look into the settlements API there.

Closing this for now, let me know if it should be reopened. Also let me know if

[2021-06-23 13:48] #544 closed

[2021-06-23 14:42] dabroek commented on #566
@JorritDiepstraten We have identified and solved the issue you reported. The issue occurred because we introduced a new (stricter) validation policy in one of our subsystems. Unfortunately, due to a very specific set of circumstances, only a small subset of merchants was impacted which is why it went unnoticed until now. We apologize for the inconvenience caused and will make sure this issue canno

[2021-06-23 14:42] #566 closed

[2021-06-23 15:41] holtkamp commented on #544
Ok, understood.

 `yet it's strongly advised to upgrade to v2 and look into the settlements API there.`

In summary:

- we receive an Invoice X from Mollie, which covers Settlements Y and Z
- we want to use the API to know which Settlements an Invoice X covers
- this was possible, but not anymore

Since it is not possible to follow the path "Invoice => Settlement", am I correct that the new sugges

[2021-06-23 17:28] sandervanhooft commented on #544
The invoice behavior has changed a bit a while ago, and that's why the API followed suit.

Mollie now sends one invoice a month.

If the balance is sufficient, a settlement is performed, covering one or multiple invoices.

That means that

- an invoice can exist without settlement
- one settlement covers one or multiple invoices

What's your precise use case here?

[2021-06-23 18:17] holtkamp commented on #564
@sandervanhooft yes it does...

- including `settlements` => works
- including `lines` => fails
- including `settlements,lines` => fails

[2021-06-23 18:25] holtkamp commented on #544
The use case is:

- money of Settlements is deposited on our bank account in a configurable frequency, for example: daily
- the amounts of the Settlements are lower than the realized turnover because transaction fees are subtracted automatically, for example:
  - for 100 euro turnover through Mollie, 99 euro is deposited on our bankaccount by Mollie
  - by the end of the month an Invoice of 1 euro

[2021-06-23 19:44] ciungulete commented on #567
<img width="1133" alt="Screenshot 2021-06-23 at 22 43 15" src="https://user-images.githubusercontent.com/742128/123158515-8d7ce700-d474-11eb-907a-09a5e1848683.png">

[2021-06-23 20:14] sandervanhooft commented on #544
In part this is bad understanding from my part. You're right, the v1 api will remain fully supported. The change in "domain behavior" and especially the technical ramifications have caught me by surprise too, I'll take this up with Mollie.

As I understand it, depending on your accounting needs you can either check for new invoices, or for new settlements and then check the related invoices. I wil

[2021-06-28 13:42] sandervanhooft commented on #567
Eh... my bad. It's already there. 🤦 🎉

[2021-06-28 13:42] #567 closed

[2021-06-28 13:42] sandervanhooft commented on #567
https://github.com/mollie/mollie-api-php/blob/19f69c116d47a3600f0ed629e0df925a43d3a8f5/src/Resources/Order.php#L420

[2021-07-05 18:29] Flaschenzug commented on #567
If it is already there, how do I use it? Thanks

[2021-07-05 19:14] sandervanhooft commented on #567
Hi @Flaschenzug,

Note that `$order->getCheckoutUrl()` returns `null` if the API response does not provide a checkout url. This in turn depends on the payment status. Also, one Order can have multiple Payments, so there's probably a bit more logic going on there I'm not fully aware of (yet). Let's see if we can figure it out.

Can you elaborate a bit on your use case?

[2021-07-14 10:16] noezdev commented on #296
Are there any new developments on the matter? Especially when receiving callbacks via credit card payments, it is almost impossible to calculate the correct fees.

This is mandatory for our accounting. The Mollie support always refers to the settlements and that you have to calculate it manually, but I think this is extremely inconvenient.

Especially since the fees per payment are also displayed

[2021-07-14 12:14] mollierobbert commented on #296
Thanks for the reply noezdev, and sorry for the wait on this topic.

We are planning to roll out a more mature reporting API in the next 6 months or so. It took some time for us to migrate everyone to a new balancing system that enables us to build more reliable reporting for our users.

The new reporting APIs will likely offer:

* Aggregations of all received payments and charged fees within a gi

[2021-07-14 16:24] MitchBred opened #569 "The status remains on 'pending-review'"
## Specifications

  - API Version: 2
  - API Call: [https://api.mollie.com/v2/methods/all](https://api.mollie.com/v2/methods/all)

## Describe the issue

When SEPA Direct Debit is activated in the dashboard, the status remains on 'pending-review'.

    "status": "pending-review"

[2021-07-14 20:29] sandervanhooft commented on #569
Hi @MitchBred,

Best is to contact Mollie support directly for this, as this account specific.

https://www.mollie.com/en/contact

[2021-07-14 20:29] #569 closed

[2021-07-20 12:40] Cangoo commented on #18
Just wanted to support mattbrailsford: The integration of Mollie in our own php-shop-system really went fast and smooth until now, when I came over the problem to distinguish between "user was redirected, because he completed the payment-process" (although I know this doesn't mean the payment completed sucessfully) and "user was redirected because he clicked the button 'back to webpage'". It's jus