[2014-03-11 00:50] 404meow opened #2 "Blank page after running compiler"
Hi, I just installed Mollie on my Magento website. After running the compiler my page went blank.

When I turn off the compiler my website is back again.

Is this a known issue?

Thanks

[2014-03-23 11:33] dekkerh opened #3 "webhook does not change status"
In the example pages, the .txt database get's not updated by the webhook.

I inserted the code to link to a sql database, but the status remains "open".

When calling the page (webhook) directly:
"API call failed: Error executing API call (request): The payment id is invalid."

Test api works for other pages.

[2014-03-24 10:22] #2 closed, assigned to nobody

[2014-03-28 13:18] #3 closed, assigned to nobody

[2014-04-06 10:47] dannyhtek opened #4 "Wont update payment_status in database"
I've downloaded the iDeal example and edited the ideal_payment and return pages. As soon as I go to the ideal_payment page, I choose a bank and hit the 'Go further with payment' button. A db_entry has been made and the current payment_status in my db is 'open'.

Since I'm testing it, I choose for a completed payment, which leads me to the return.php page. My return.php GET the order_id and then it

[2014-04-06 11:09] #4 closed, assigned to RickWong

[2014-11-10 23:13] tamarazuk opened #8 "AcceptEmail payment method"
Is it possible to add the AcceptEmail payment method to the API? I'll gladly submit a PR, but I am wondering if there was a specific reason it has not been added yet.

Thanks!

[2014-11-11 14:38] #8 closed, assigned to nobody

[2015-02-24 10:09] yooouuri opened #9 "Getting 'Unauthorized request'"
I am trying to use the API but i always get this error..

My mollie.php
[code]

The message:
[code]

Do i need to add something?

[2015-02-24 16:22] RickWong commented on #9
Hi Youri! The example API key is just that... an example. To get your own valid test API key, first create a website profile in your Mollie account. Then click on its details to see the live and test API keys for that profile.

https://www.mollie.com/beheer/account/profielen/

[2015-02-24 16:23] #9 closed

[2015-05-01 07:04] MartijnDwars opened #10 "Bugfix compatibility"
Wouldn't it be a good idea to make a new release with [this](https://github.com/mollie/mollie-api-php/commit/854a3714e00e0ca10803da137fa4a3077edf0625) fix? I'm currently on PHP 5.4.36 and Composer automatically loads 1.2.0 (since that's the latest release), which fails..

[2015-05-01 09:08] Daanvm commented on #10
Hi Martijn,
I just created a new release. I hope this fixes your issues.

[2015-05-01 09:08] #10 closed

[2015-05-01 10:30] MartijnDwars commented on #10
It does, thanks! :+1:

[2015-06-28 09:25] robinklaassen opened #11 "Geen payment ID in POST naar webhook"
Ik ben in een lokale omgeving jullie PHP API aan het uitproberen (dus ook met een testkey). Ik volg daarbij de voorbeelden op Github. Echter geeft mijn webhook een melding dat er geen parameter 'id' in $_POST zit (en daarna gaat dus ook het ophalen van de status van de betaling fout).

Ik vroeg me af of dit intended behaviour is en zo niet, wat ik er dan aan kan doen. Wil op verzoek zeker  mijn co

[2015-06-28 10:33] RickWong commented on #11
Hi Robin. Voor onze webservers is het belangrijk dat zij je webhookUrl kunnen bereiken. Als die webhookUrl op een lokale omgeving draait, is de kans groot dat die alleen bereikbaar is op jouw computer. Controleer dit even voordat je verder gaat. Ook is het belangrijk dat er geen redirects plaatsvinden op de webhookUrl. Door redirects kun je namelijk ook POST-data verliezen.

Verder geven wij by-de

[2015-06-29 06:39] robinklaassen commented on #11
Oh, wat dom. Daar had ik best zelf even aan kunnen denken :') ik zal het verdere testen in een online omgeving gaan doen. Voor de rest heb ik op dit moment geen vragen, dank je wel voor je snelle antwoord!

[2015-06-29 06:39] #11 closed

[2015-07-10 08:11] MartijnDwars commented on #11
Mocht je lokaal willen ontwikkelen maar toch Mollie webhooks ontvangen kun je ngrok.com eens proberen. Daarmee zet je zonder veel poespas een tunnel open naar je eigen machine.

[2015-07-10 10:51] lvgunst commented on #11
Ja ngrok is een hele fijne tool om lokaal webhooks te testen. Bedankt voor het vermelden. Ik zal hier binnenkort nog een artikel over schrijven voor op onze [support pagina](https://www.mollie.com/nl/support/)

[2015-07-10 11:32] robinklaassen commented on #11
Bedankt voor de tip! Inmiddels heb ik al wel een online testversie aan de praat gekregen gelukkig. Na een heleboel gehannes met de automatische CSRF-beveiliging van het PHP framework waar ik in werk. De Mollie API zelf werkt erg prettig, goed werk mannen :)

[2015-07-26 15:19] wmdiensten opened #12 "Amount valuta"
Hello,

It would be great to add the ability to set the not only the amount but including the valuta.
Our system uses EUR and USD but the amount is diffrent, now we only support EUR.

Kind Regards
Erik

[2015-07-28 09:03] Daanvm commented on #12
Hi,

Currently our system only works for euro payments. However, some payment methods like PayPal and Creditcard can be paid by consumers in dollars or other currencies. The conversion is done by PayPal or their Creditcard supplier. It is not possible to specify the amount in dollars.

I hope this works for you.

[2015-07-28 09:04] #12 closed

[2015-08-07 09:18] PaulKruijt opened #14 "Order Status niet altijd geupdate"
Hoi Mollie,

Ik heb een raar probleem dat de status van een bestelling (in onze database) niet geupdate wordt.
Dit gebeurt af en toe en dus niet altijd.
In Mollie staat de status wel op "Betaald", maar in onze DB dus nog op "Niet betaald"

Ik heb de error logs bekeken, maar daar staan geen gekke dingen.
Hebben jullie dit probleem wel eens eerder van andere klanten gehoord?

Misschien een tip hoe i

[2015-08-07 14:17] Daanvm commented on #14
Hoi Paul,

Ik denk dat je het beste even een email kunt sturen naar info@mollie.com met daarin een voorbeeld van een betaling waar het fout is gegaan. Dan kunnen wij kijken of we kunnen zien waardoor dat komt.

Het klinkt alsof we je webhook niet goed hebben kunnen aanroepen, maar zonder meer informatie wordt het lastig om dat met zekerheid te zeggen.

[2015-08-07 14:17] #14 closed

[2015-11-08 14:54] casdr opened #16 "notifyUrl"
Hello,

I'm not sure if it is available in the Mollie API, but I would like to be able to set a notify/IPN url. This will be used so Mollie will send a request with the payment details to the server. I haven't been able to find this option myself yet, but AFAIK the Omnipay module supports it.

[2015-11-08 14:57] casdr commented on #16
Ah, I see there is an option in the Website profiles to set the Webhook now.

[2015-11-08 14:57] #16 closed

[2015-11-08 16:13] lvgunst commented on #16
You can also set a custom `webhookUrl` when you create a new payment https://www.mollie.com/en/docs/payments#payment-create-optional. Also checkout the examples https://github.com/mollie/mollie-api-php/blob/master/examples/1-new-payment.php#L40

[2015-11-08 16:21] casdr commented on #16
Thanks for that tip, @lvgunst

[2015-12-11 01:40] eaglejohn opened #17 "Headers already sent"
When I include the Mollie API (PHP) in my WordPress code, I get the "headers already sent" error:
[code]

When I call the API directly (http://www.xxx.nl/wp/wp-content/themes/xxx/Mollie/examples/04-ideal-payment.php) everything works fine and I get redirect to the payment page.

Any suggestions?

[2015-12-11 09:22] darma-avalos commented on #17
According to the error message the culprit is on the file
 /home/xxx/public_html/wp/wp-content/themes/xxx/header.php
on line 7

[2015-12-11 14:00] robertotremonti opened #18 "No way to set a cancel URL when creating a payment"
When you create a payment, you need to set a `redirectUrl` parameter.
Customer is redirected to that URL when purchase is completed.
The same URL is used for `Back to website` button if you want to cancel payment process and go back to store.
"Success" and "Cancel" URLs are different most of the times.
How do I set a `cancelUrl`? If it's not possible I ask to add this functionality in next release

[2015-12-11 14:40] eaglejohn commented on #17
That's something WordPress does by default on the proper location I guess. The Mollie API is sending headers after a lot of content has already been displayed.

[2015-12-11 15:49] darma-avalos commented on #17
The theme should be able to output content without echoing on the header, you can have breadcrumbs and all possible things on header.php, but the output should not display before all headers are sent.
If you would like me to take a look at your source code, send me a PM..

[2015-12-11 18:45] eaglejohn commented on #17
Ehm, how do I send you a PM on GitHub...? :-)

[2015-12-12 09:46] darma-avalos commented on #17
Oh yes, I forgot that feature was removed here. If you join this group and post the question there, I’ll do my best to help you out.

https://www.facebook.com/groups/1399467530361551/

From: eaglejohn [mailto:notifications@github.com]
Sent: vrijdag 11 december 2015 19:46
To: mollie/mollie-api-php <mollie-api-php@noreply.github.com>
Cc: darma-avalos <darma.avalos@epica.be>
Subject: Re: [mollie-api-

[2015-12-15 14:56] RicardoJ commented on #17
Hello John,

This issue is because how Wordpress handles and uses all functions regarding to modules and themes. If you want to integrate Mollie within Wordpress, maybe our [Wordpress (WooCommerce) module](https://github.com/mollie/WooCommerce) is something you want.

Ricardo,
Mollie

[2015-12-15 14:58] eaglejohn commented on #17
Thanks, but the website is not using WooCommerce. It's just a minimal form (Mollie PHP API) with one field that redirects to iDeal.

[2015-12-15 15:13] RicardoJ commented on #18
Hello Roberto,

When a customer returns to your website (when the customer clicked "Back to the website"), your webhook gets called to inform your system that the customer has aborted the transaction.

In your webhook (or [this example](https://github.com/mollie/mollie-api-php/blob/master/examples/02-webhook-verification.php)) you can specify what should happen when this happens:

[code]

Ricardo,

[2015-12-15 15:16] robertotremonti commented on #18
Thanks, Ricardo, for your reply.
I don't use a webhook.
I think that a simple "CancelURL" could be introduced in next updates, like PayPal and other payment methods offer.

[2015-12-15 15:27] RicardoJ commented on #18
Hello Roberto,

We are currently discussing this internally. Thank you for your report.

Ricardo,
Mollie

[2016-01-30 19:05] ruudschuurmans opened #19 "Unknown field: webhookUrl."
Hello all,

When I try to create a payment i get the following error:
**Mollie API call failed: Error executing API call (request): Unknown field: webhookUrl.**

The following is the code i try to execute:
`  $payment = $mollie->payments->create(array(
                    "amount" => $thePayment->amount,
                    "method" => Mollie_API_Object_Method::IDEAL,
                    "issuer"

[2016-01-30 20:19] RickWong commented on #19
Hi there's an extra space in the "webhookUrl " string it seems.

[2016-01-31 13:23] ruudschuurmans commented on #19
Damn, i should have noticed that myself. Thanks!

[2016-01-31 13:23] #19 closed

[2016-02-23 10:36] JohannesSanders commented on #17
This does not seem to be relevant any more. If it is please reopen the ticked and tell us how your payment is created in detail. Based on this I can't make out where your problem lies. You can also email us at info[at]mollie.com.

[2016-02-23 10:36] #17 closed

[2016-03-10 08:03] mathiasselleslach opened #20 "composer.json version number"
Dear @RickWong ,

As discussed earlier, I would like to request the revert of this commit on composer.json
https://github.com/mollie/mollie-api-php/commit/bb72cc856e3546c864c7db1355f27d141d989990#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780
That removes the version number.

The Drupal Libraries API depends on it to detect the version of the Mollie API.

I have also created an issue on drupal.org for refe

[2016-03-15 14:04] RicardoJ commented on #20
Hello @mathiasselleslach,

I've added this in release v1.4.1 both in the release tag as in the master branch (of course). You can find the new release [here](https://github.com/mollie/mollie-api-php/releases/tag/v1.4.1) on GitHub or on [Packagist](https://packagist.org/packages/mollie/mollie-api-php#1.4.1).

Thank you for your suggestion and have a nice day.

Ricardo,
Mollie.

[2016-03-15 14:04] #20 closed

[2016-03-24 17:17] JannesKlaas opened #22 "$mollie object voided after $mollie->payments->get"
Hi,
I use this code while verifying my payments, (API key an payment id Xed out):

`require_once 'Mollie/API/Autoloader.php';

$mollie = new Mollie_API_Client;
$mollie->setApiKey('test_XXXXXXXXXXXXXX');
$payment_id = 'some payment id';
$payment    = $mollie->payments->get($payment_id);
$order_id = $payment->metadata->order_id;`

I noticed that the payment object returned is empty. So the payment c

[2016-03-24 23:04] RickWong commented on #22
Hi Jannes. Are you sure the script even reaches the code after `->get(...)`? Because if that call fails, an exception is thrown. Try catching that exception to see what's wrong.

[2016-03-25 18:01] JannesKlaas commented on #22
Hi Rick,
catching the exception revealed that the payment id i had used to test the verification had become invalid. A new id worked perfectly.
Thank you very much for your help,
Jannes

[2016-03-27 19:38] RicardoJ commented on #22
Glad to hear it is solved. Have a nice evening.

[2016-03-27 19:38] #22 closed

[2016-04-19 20:23] jpdamen opened #23 "Geen payment-id in the $_POST naar de webhook"
Onze webhook is publiek toegankelijk en gevalideerd in de Mollie-beheertool.
In de accesslog zie ik dat er een POST wordt gemaakt naar de webhook.

[code]

De $_POST-array is echter leeg. Ik ben inmiddels aan het testen geslagen met de live-key omdat de test-api alleen een dummy get-parameter meestuurt.
Maar in het geval van de live_api (met echte betalingen) zou er zeker een payment-id meegestuur

[2016-04-19 20:51] RickWong commented on #23
Het kan zijn dat op de Webhook URL een redirect wordt gedaan: de URL verandert en de POST-data verdwijnt.

Het gaat meestal om een van de volgende situaties:

* een HTTPS- naar HTTP-redirect web-adres, of vice versa;
* een domein- of subdomein-redirect;
* een website-taal-redirect.

Controleer of dit bij jouw Webhook URL gebeurt simpelweg door hem in de webbrowser te bezoeken. Let daarbij goed op

[2016-04-26 14:47] veloxy commented on #18
What's the status on this? It makes sense to have success and cancel URL's, all the payment gateways I've used have them. Since the webhook is called in the background, we're never 100% sure the payment status is updated when the user is redirected, or am I missing something?

[2016-04-26 20:38] whvandervelde commented on #18
You can check the status of the payment with mollie on your return url (as well as the webhook) and redirect users accordingly to succes or failure pages. Payment processed isn't guaranteed on the return url. So you do to give need proper feedback in case payment is still pending, but in my experience it is usually already processed.
As a design decision I understand it, return the customer asap i

[2016-05-03 11:21] petericebear opened #24 "Question: Split Payments"
Hi,

Can you explain how to use these functions from the connect Site (https://www.mollie.com/nl/connect)?

Shifted Fee
Transactiekosten factureren op ander account.

Application Fee
Voeg transactiekosten toe en houd direct je kosten in.

Split payments
Verdeel inkomende betalingen over meerdere accounts.

Affiliate fees
Verschuif een deel van de transactie naar je affiliate.

The only reference I

[2016-06-02 05:18] quannv commented on #18
What's the status on this? I'm getting this problem of my customer, Hope you can update API soon

[2016-06-02 07:03] RicardoJ commented on #18
Hello everybody,

We did not change anything to our API regarding this. To read what has changed, see the changelog [here](https://www.mollie.com/nl/docs/changelog).

My suggestion is to both use a `returnUrl` and a `webhookUrl` to get the most out of our API. The function of a returnUrl is whenever the user returns to your website, the status can be checked (If you developed that into your return

[2016-06-27 21:18] chuzair53 opened #28 "mollie-api-php integrate problem"
Hi,
I want to integrate mollie payment system in WebSite that develop in CodeIgniter FrameWork I need help some one who can help me to install mollie system in website thank's

[2016-07-14 17:40] tomzi opened #29 "Mollie webhook can not call the specified API"
Hello,
I have a problem setting up a webhook url.
I use a staging url to do so like http://staging.mysite.be/mollie/webhook, i can call it publicly but still, i have this error message in the dashboard:
"Mollie webhook can not call the specified API. Make sure your webhook exists and is publicly callable."
Could you please be more specific or give me a solution for this problem ?

Thanks a lot,
Th

[2016-07-14 18:33] jdanthinne commented on #29
I had this problem once because I was using http instead of https. Have you tries that?

[2016-07-15 10:03] lvgunst commented on #29
@tomzi Can you please send an email to info@mollie.com describing your problem? We can check our logs to find out why your webhook URL couldn't be called. Don't forget to include your Mollie partner ID and possibly a Payment ID (e.g. tr_xxxxxx).

[2016-07-15 11:36] tomzi commented on #29
@lvgunst okay thank you, i do it right now!

[2016-07-18 21:41] #29 closed

[2016-07-21 10:58] petericebear commented on #24
Any update on this?

[2016-07-22 22:25] fancenl commented on #24
I would like to use this too for one of my projects. Is it possible to write more documentation/examples for this features?

[2016-07-24 08:56] mollierobbert commented on #24
I'm sorry to inform you we've been falsely advertising this feature.

We did plan on shipping the feature with Mollie Connect, but it got delayed and hasn't been integrated as of yet. Since the demand is currently quite low, I don't think we'll build it in the near future either.

I'll make sure the feature copy is removed from the page.

To answer your second question: yes, the affiliate receives

[2016-07-24 08:56] #24 closed

[2016-07-24 09:00] #23 closed

[2016-07-24 09:04] mollierobbert commented on #28
Sorry, we only offer a limited number of modules for popular webshop systems.

Please contact an external party for support with building CodeIgniter plugins, or try using existing Mollie plugins for CodeIgniter (for example https://github.com/kieranklaassen/codeigniter-mollie-ideal-api).

[2016-07-24 09:04] #28 closed

[2016-07-24 09:12] petericebear commented on #24
Can you give an example for a (monthly/recurring) payment using a applicationfee and affiliationfee?
With that I can build the rest in our framework.

[2016-07-25 11:32] mollierobbert commented on #24
Application fees and kickbacks can be configured for you on account level. They cannot currently be managed via our APIs.

Please contact us at info@mollie.com or by phone if you'd like more information on either of these products.

[2016-08-11 15:22] mollierobbert opened #35 "Notification test"
Testing if we're receiving proper notifications of new GitHub issues.

[2016-08-11 15:23] #35 closed

[2016-08-11 15:25] Daanvm commented on #35
![screen shot 2016-08-11 at 17 25 11](https://cloud.githubusercontent.com/assets/1397121/17594163/98fd6826-5fe8-11e6-9737-7a24b8074ac6.png)
Nice @mollierobbert

[2016-09-13 11:43] holtkamp opened #37 "PaymentLink API not included / mentioned?"
**Context**
Periodically, we are sending out invoices by e-mail, which include a PDF attachment (with the same invoice data). We would like to include a (never-expiring) [PaymentLink](https://www.mollie.com/en/docs/paylinks) in both e-mail and PDF.

**Observation**
I noticed the PaymentLink API differs a bit from how this Mollie-API-PHP client works. For example, the endpoints are:

- PaymentLink

[2016-09-14 09:24] mollierobbert commented on #37
Thanks for your input, Menno. Our payment links API is a legacy API that we no longer actively develop or support. We will not be including the API in our official API clients.

We're working on an OAuth based alternative for generating payment links that will supersede the payment links API. We'll announce it in a few months.

The API endpoint itself will not be removed any time soon, so feel fre

[2016-09-14 09:24] #37 closed

[2016-09-14 11:39] holtkamp commented on #37
ok thanks for the clarification!

[2016-09-15 08:21] holtkamp commented on #37
@mollierobbert is there a place where feature requests can be done concerning the new Payment Links API? It would be nice to be able to provide some metadata when generating the Payment Link. In our case, an invoice UUID. Currently we need to 'abuse' the description for this, not optimal 😄

[2016-09-15 08:35] mollierobbert commented on #37
Feature requests can be sent to info@mollie.com. However, since the payment links API is deprecated, we're unlikely to implement that feature. I would advise to await our OAuth alternative then.

If you're in a hurry, please note a payment link is nothing but a page that generates an API payment when you open it. It should be fairly easy to create your own payment links that are tailored to your n

[2016-09-15 10:33] holtkamp commented on #37
Yeah, that was idea

Aah, good to know, guess this is the way to go then, thanks!

[2016-09-29 07:21] a3020 opened #39 "Mandate filter"
The docblocks mention a [filter parameter](https://github.com/mollie/mollie-api-php/blob/master/src/Mollie/API/Resource/Customers/Mandates.php#L32) for the all() method in the Mandate Resource class.

How does this filter work exactly? It's not in the [API docs](https://www.mollie.com/en/docs/reference/mandates/list) nor in the examples.

For example, it would be helpful to filter on VALID mandate

[2016-09-29 09:21] Thijs-Riezebeek commented on #39
Dear a3020,

Thank you for bringing this to our attention. The `all()` method has `$offset` and `$count` as its first two parameters. These are used for pagination and are added as GET parameters to the URL (e.g. `?offset=10&count=15`). The third `$filter` parameter can be used to dynamically provide any other GET parameters to the query. For most `all()` functions this is irrelevant, but some do

[2016-09-29 09:21] #39 closed

[2016-10-03 16:35] a3020 opened #40 "Improve api_key validation"
These checks could be improved:
- https://github.com/mollie/mollie-api-php/blob/master/src/Mollie/API/Client.php#L250
- https://github.com/mollie/mollie-api-php/blob/master/src/Mollie/API/Client.php#L320

If somehow the .env file in a Laravel application isn't loaded correctly, [the default key in the Laravel library remains "test_xxx"](https://github.com/mollie/laravel-mollie/blob/master/config/m

[2016-10-05 16:56] leongersen commented on #18
This makes it impossible to use *only* the `metadata` feature when creating the payment: You'd have to retain the payment id to show a different page depending on whether the payment was cancelled.

[code]

[2016-10-07 13:27] willemstuursma commented on #40
Thanks @a3020

[2016-10-07 13:27] #40 closed

[2016-10-20 00:07] xewl commented on #18
@leongersen It's not impossible without the webhook.

A payment is usually linked to a parent model (or object), which has its own identifier.

You can save the combination of the new payment object's `id` and the parent's identifier in a payments logging table and use its identifier.
(eg. `PaymentAttempts {'unique_id', 'model', 'model_id', 'payment_id', 'created', 'updated'}`)

This would need 2

[2016-10-20 09:47] leongersen commented on #18
@xewl: Yes, that was my point. You can't implement this functionality without storing the `paymentId` on the application side. This renders the `metadata` feature almost entirely useless.

[2016-10-20 09:52] Parcye commented on #18
You can add custom values to the return URL . I would opt for encryption. I have seen this in some documentation.

[2016-10-20 11:25] xewl commented on #18
@Parcye The identifier on the log table can be any "encrypted" code you'd want, but is as unique as it can get for an attempt itself, whatever value you tend to push in here: be it a primary key, or a random generated key.

It's just a matter of identifying it afterwards.

@leongersen Well... without the `paymentId` you aren't able to identify it this way, and thus you'd have to anyway. It's a bet

[2016-10-20 11:34] mollierobbert commented on #18
Hey guys, just wanted to chime in to see what we can do at Mollie to clear things up.

As stated earlier, we use a webhook system to send you status updates about your payments. We explicitly do NOT support a cancelUrl or any other type of status dependant URL, because it introduces various security issues that our webhook system has solved.

Just set up your payment with a webhook URL where we ca

[2016-10-20 11:44] xewl commented on #18
It's true that the webhook call is mostly on time for that action, and can be processed on time.
However when it isn't you're bound to wait or fail.

@mollierobbert Does the webhook have any connection (in time) to the payment gateway? Is it called during the payment process, is there a timeout? Does it also call when a user cancels via the button on the bottom?

I guess their concern is that they

[2016-10-20 12:02] mollierobbert commented on #18
It is in everyone's best interest for us to send you a status report via webhook before the consumer is sent back to your website. We try our best to do so.

However, sometimes things go wrong. The iDEAL issuer may experience a minor hiccup, for example. We don't want to delay the consumer too long, so while we wait for the bank's final status, we'll just send the consumer back to you.

You won't

[2016-10-20 12:41] leongersen commented on #18
What your are saying is entirely true, and I wasn't attempting to debate this.

We're only updating our payment status on the webhook, never on the customer visit. This is an asynchronous process, and it doesn't really matter if this happens withing seconds, minutes or hours after a payment is made. Depending on the webhook to be invoked before the customer returns would only create race condition

[2016-10-20 12:45] xewl commented on #18
@mollierobbert That was the most beautiful piece of text I've read regarding this issue and now I have to go & add e-mail templates to my processing-queue. (Oops)

I fully understand the pending message. Thus. When the webhook has been called, act accordingly, or show the pending status. Should work 💯

[2016-10-20 13:01] mollierobbert commented on #18
@xewl Glad to hear I could be of help :-).

@leongersen You're making a fair point I hadn't considered above. However, since the webhook system is already in place, we would still prefer to communicate the cancel status via webhook, since all payment status processing logic would already be present there in your system. Introducing a cancel URL just for this scenario, next to our regular webhook s

[2016-10-20 13:27] leongersen commented on #18
@mollierobbert Thank you for your response. The argument `it might confuse our less technical merchants` seems like a very valid reason *not* to implement this feature. I hadn't really considered that viewpoint.

As an example for others, I've implemented the return page as something like:

[2016-10-20 13:28] leongersen commented on #18
On a sidenote, do you have data on what percentage of payments is *explicitly* cancelled?

[2016-10-20 17:28] mollierobbert commented on #18
@leongersen Thanks for your suggestion. That would indeed be a proper message to show consumers if you did not receive a webhook call from us in the meantime.

In recent stats, only about 2% of recent payments are explicitly cancelled via the cancel button.

[2016-10-27 17:00] arendvw opened #42 "How to disable Paypal shipping?"
When using paypal the user gets an option at the paypal checkout screen to change the shipping address.

![paypal-shipping](https://cloud.githubusercontent.com/assets/1571317/19777244/97ba797e-9c77-11e6-8b29-902975f694cb.jpg)

Our application handles it's own shipping calculation, so users being able to add shipping information is very confusing. (Especially because it's also hard to get this info

[2016-10-28 09:46] Thijs-Riezebeek commented on #42
Hi arendvw,

Thank you for opening this issue.

I assume you are adding the shipping information that your customers have entered to the create payment API call. (See https://www.mollie.com/nl/docs/reference/payments/create, 'Payment method specific parameters' and then click PayPal.

I understand from your issue that when you send these parameters, PayPal displays them, but still allows the custo

[2016-10-28 09:49] Parcye commented on #42
Hi,

So if I understand correctly, not sending the address, will not show the address in PayPal and thus not show the option to change the address? That could be a work around.

I don't have many orders, but two paypal orders have 'gone wrong' in this way in the past. Never thought this could be the cause.

Regards,

[2016-10-28 10:05] arendvw commented on #42
Hi Parcye, and Thijs,

thank you for your comments.

The whole issue is that **not sending the address** will still show an "Ship to" option in paypal, and allow users to modify it. Sending shipping information has no influence on if paypal will show this information.

Paypal will always allow any user to change their shipping information independent on whether the paypal specific parameters were

[2016-10-28 10:30] Parcye commented on #42
@Thijs-Riezebeek I am just a Mollie watcher and love the API ; starting to implement it for more of my clients and need to stay updated on issues and possible solutions.

[2016-10-28 10:43] Thijs-Riezebeek commented on #42
Thank you @arendvw for providing us with some useful insight into how PayPal handles shipping information.

I will discuss this internally, but unfortunately I will have to reiterate that we are unlikely to change this for now.

Thanks again for bringing this to our attention.

[2016-10-28 11:40] #42 closed

[2016-11-08 10:31] lode opened #44 "Images from issuers"
Could the issuers endpoint provide images per issuer? Just like they are provided for the payment methods themselves.

[2016-11-14 15:33] ndijkstra opened #45 "Uncaught Mollie_API_Exception"
Bij het verwijderen van een customer mandate, krijg je de status 204 terug. De Client geeft echter de volgende error:

`Fatal error: Uncaught Mollie_API_Exception: Unable to decode Mollie response: ''.`

[2016-11-15 14:56] #45 closed

[2016-11-22 15:06] cascer1 opened #47 "Add ability to revoke mandates"
I would like to be able to revoke customer mandates using this tool, instead of having to resort to using cURL.

[2016-11-22 15:41] Thijs-Riezebeek commented on #47
Hi cascer1,

This is already possible with our mollie-api-php client. See the following example:

[code]

Just pass the customer ID to the `withParentId` function and the mandate ID to the `delete` function and the customer mandate will be deleted ;)

[2016-11-22 15:58] cascer1 commented on #47
You guys may want to update the documentation then! https://www.mollie.com/en/docs/reference/mandates/delete

[2016-11-22 16:26] Thijs-Riezebeek commented on #47
Thank you for pointing that out, cascer1!

I have passed this on and we will update the documentation.

[2016-11-22 16:26] #47 closed

[2016-11-28 18:53] DePalmo opened #49 "The amount is higher than the maximum."
I'm trying to do a subscription based billing and everything is working fine, up to a point when I actually do call create subscription. Customer is even properly charged on `first` payment, but when trying to create a subscription, error occurs. This was only tested on `test` API, not yet on live.

From what I have been able to figure it out, this error shows on `creditcard` type of payment when

[2016-12-02 09:10] Thijs-Riezebeek commented on #44
Hi lode,

Thank you for opening this issue and sorry for the late reply!

We have made a note of your request and put it on our backlog. Keep an eye on our [API changelog](https://www.mollie.com/nl/docs/changelog) to find out when this is released.

Kind regards,

Thijs Riezebeek

[2016-12-02 11:28] Daanvm commented on #49
Hi @DePalmo,

The maximum amount for CreditCard is indeed `1000.00`. The maximum of `250.00` that you're seeing is for the payment method Direct Debit.

You didn't specify a payment method for the first payment, so you had to select it on the Mollie payment screen. You probably didn't chose the CreditCard option, so you created a mandate with payment method `directdebit`.

You can specify the paym

[2016-12-02 11:28] #49 closed

[2016-12-02 11:29] #44 closed

[2016-12-02 11:45] DePalmo commented on #49
Hi @Daanvm

Thank you for your response. Actually, on the Mollie payment screen I did select Credit Card option and despite it's true that I didn't specify the payment method in my code, the subscription that were created successfully always returned payment method of `creditcard`, it never returned the `directdebit`. That's why it's quite puzzling why this error occurs.
Or is there some mechanism

[2016-12-02 19:58] yooouuri opened #50 "Re-pay the transaction after a failed one"
I could not find anything about it, sorry if it is there.

When a payment fails, what is the best way to start a new payment? I am asking this because the payment will be not completed at the mollie systems..

So start a new payment or use the payment ID and re-pay?

[2016-12-03 09:35] DePalmo commented on #49
If we look at this page: https://www.mollie.com/en/docs/reference/subscriptions/create , under method option it says:

I always selected `creditcard` on payment screen, never selected `directdebit` and none of mandates returned till now showed a directdebit as active mandate.

And here are results from running a code that creates a subscription:
[code]

So, the documentation specifies that if I do

[2016-12-05 09:55] cascer1 commented on #50
I believe a customer can continue attempting to pay a transaction using any available method as long as none of them went through. As soon as a payment is completed (regardless of later status changes) it cannot be paid again.

So basically, so long as the transaction did not receive a payment (and as such, its status is open), you can direct customers there to pay. As soon as the transaction stat

[2016-12-05 10:55] cascer1 opened #51 "Update documentation for updating customers"
Hi!

I saw that release 1.7.0 added support for updating customers. Unfortunately, the [documentation](https://www.mollie.com/en/docs/reference/customers/update) still says this is not implemented.

Please update the documentation to represent the current state.

[2016-12-06 11:52] Thijs-Riezebeek commented on #51
Thank you for opening this issue. We have opened an issue for this in our backlog and will be updating the documentation code snippets for our clients. I will close this issue once that has been resolved.

[2016-12-06 16:24] raph8888 commented on #18
@Ricknox we are having the same problem.

I agree with @robertotremonti - a simple CancelURL could be introduced.

[2016-12-06 16:26] mollierobbert commented on #18
@raph8888 Please read the full thread for a detailed explanation on why we will not support a `cancelUrl` parameter.

[2016-12-14 14:05] christiancannata commented on #49
I have the same problem! :(
I receive "The amount is higher than the maximum." when I try to post a new subscription in test mode with an amount of 300€

[2016-12-14 14:19] DePalmo commented on #49
I was in touch with their support team (info@mollie.com) and they have confirmed the bug and forwarded it to their development team, but it's not a high priority issue and they can't say when it will be solved.

I haven't yet tested if this is also an issue with `live` subscription. When I do, I will post an update here.

To Mollie: It's not a good policy to close the issue right after providing (

[2016-12-14 15:29] christiancannata commented on #49
Thank you very much for the update!
I hope they resolve this bug as soon as possible

[2016-12-14 15:31] ndijkstra commented on #49
Hi! Our development team solved the problem. Can you test it again with an amount lower than €1000?

[2016-12-14 15:37] christiancannata commented on #49
Perfect, thank you very much!

[2016-12-14 15:38] DePalmo commented on #49
The subscription was successfully created with amount of `360.00` for `creditcard` payment method.

Thank you for solving this issue and reporting back to us!

[2016-12-14 16:42] willemstuursma commented on #49
Thank you for bringing this to our attention.

[2016-12-14 17:23] christiancannata opened #53 "Customer Invoices via API"
Is there a way to get all invoices of a specified customer?

[2016-12-16 08:01] ndijkstra commented on #53
Hi! You can list all invoices with Mollie Connect (oAuth): https://www.mollie.com/nl/docs/reference/invoices/list

[2017-01-04 18:52] chris087 opened #55 "Webhook subscriptions"
Hello,

On the mollie website:

[code]

My question.

If my webhook url is: www.test.com/test

How can i verify that a subscriptionId is set. is it just as a $_POST['subscriptionId'] ?

[2017-01-05 08:40] ndijkstra commented on #55
Hi!

When the status of the payment is changed, we will do a POST request to your webhook with the parameter "id". This is the payment id of the new payment. With this payment id you can get the payment ([Get Payment](https://www.mollie.com/nl/docs/reference/payments/get#response)) and in that response you will find the subscriptionId and customerId.

[2017-01-05 09:04] chris087 commented on #55
Thanks for this information, and Mollie will call this webhook URL automatically for instance once in 3 months? (when subscription is: "3 months". Am I right?

[2017-01-05 09:06] ndijkstra commented on #55
Yes, for every payment that is created.

[2017-01-05 09:42] chris087 commented on #55
Is it correct that in TEST_MODE, the subscriptions statusses remains "pending" ?

`Mollie_API_Object_Payment Object
(
    [resource] => payment
    [id] => tr_xxxxxxxx
    [mode] => test
    [amount] => 25.00
    [amountRefunded] =>
    [amountRemaining] =>
    [description] => Test
    [method] => directdebit
    [status] => pending`

[2017-01-05 09:48] ndijkstra commented on #55
Subscriptions statusses will change, but the status of Direct Debit Payments not. To test with the subscriptions API you can do it with creditcard.

[2017-01-05 09:49] chris087 commented on #55
How can I check in the webhook if the Subscription payment is- OK- ? (Ideal, creditcard ...)

[2017-01-05 09:51] ndijkstra commented on #55
You can test the webhook with creditcard. You have to do the first payment with creditcard and then for the recurring payment we will do a request to your webhook.

[2017-01-05 09:53] chris087 commented on #55
will try :) thanks

[2017-01-05 10:14] chris087 commented on #55
Creditcard said "paid" that is ok. But how can I check if the customer has Ideal (as first payment)

[2017-01-05 10:14] holtkamp opened #56 "Status / roadmap Mollie Reseller-API: which one to use?"
Hey guys,

I am currently checking on how to use Mollie's Reseller functionality.

On https://github.com/mollie/reseller-api/ one can read:

Since a specific date lacks, I have to ask, which year is "komend jaar"?

In the "new" [Mollie API](https://github.com/mollie/mollie-api-php) I already noticed files about Organizations, Profiles, etc. Can it already be used to manage Reseller information? An

[2017-01-05 10:17] ndijkstra commented on #55
With Direct Debit it's not possible in the testmode (iDEAL etc). If creditcard works fine, Direct Debit will also work in the live mode.

[2017-01-07 11:39] chris087 commented on #55
Case: subscription 4,95 a month:

When the first payment (amount = 4,95) is made (needed for subscriptions). I trigger the event to create a subscription immediately with amount 4,95.

In TEST_MODE, the subscription payment is triggered 10 minutes or so after the first payment. (so i have 2 payments of 4,95)

Of course it must 1 time 4,95, and after a month another 4,95.

Is this just in TEST_MODE

[2017-01-25 13:51] willemstuursma commented on #56
Hi @holtkamp. We recommend that you'd make any new implementations on the basis of our OAuth APIs. If you need anything not provided by these APIs, you can use the Reseller APIs.

If you have any big plans, we'd love to hear from you so feel free give us a call or email.

[2017-01-25 13:51] willemstuursma commented on #56
@FaaPz could you update our documentation.

[2017-01-25 13:52] #53 closed

[2017-01-25 14:25] holtkamp opened #57 "Include an example on how to apply ApplicationFees"
This part of the documentation indicates that some additional parameters are required when creating a Payment that involves an [application fee](https://www.mollie.com/nl/support/post/how-to-implement-application-fees-via-mollie-connect/):

https://www.mollie.com/en/docs/reference/payments/create#pfp-params

The ```applicationFee``` parameter should be an object. However, when creating the Payment

[2017-01-25 15:30] willemstuursma commented on #57
In PHP, you can create the object as an associative array. Since JSON does not have any associative arrays, it will be cast to an object.

[2017-01-25 15:30] #57 closed

[2017-01-25 15:37] holtkamp commented on #57
😄 , I understand. However, an example might be nice. When searching this repository for ```applicationFee``` it is not mentioned once:

https://github.com/mollie/mollie-api-php/search?utf8=%E2%9C%93&q=applicationFee

Just my 2 cents to help you guys improve technical communication towards developers researching Mollie's services...

[2017-01-26 14:19] manishkumarpatel opened #58 "success and redirect url"
how to give success and redirect url different.

[2017-01-26 14:20] ndijkstra commented on #58
Hi,

We only have one redirectUrl. See this issue for more info: https://github.com/mollie/mollie-api-php/issues/18

[2017-01-26 14:20] #58 closed

[2017-01-26 16:37] Factuursimpel opened #59 "No mandate on 'first' recurring payment with 'Bancontact/Mistercash'"
Hi Mollie,

A succesful live payment using the 'first' recurring parameter should always return a valid mandate. Usually this works excellent.

But this fails for my Belgium customers using 'Bancontact/Mistercash'. The payment gets status paid but an active recurring mandate is not generated. Hope you can fix this swiftly. Test mode works fine by the way. It only happens with live payments.

Kind

[2017-01-27 12:00] robin-mollie commented on #59
Hi @Factuursimpel,

We're currently looking into fixing this issue and will update this issue once it is!

[2017-01-27 12:16] Factuursimpel commented on #59
Awesome! Thanks!

[2017-01-27 14:42] FaaPz commented on #56
Updated our [Reseller API](https://github.com/mollie/reseller-api) documentation on GitHub.

[2017-01-27 14:42] #56 closed

[2017-01-27 16:03] FaaPz commented on #50
Hi @yooouuri, the best option is indeed to start a new payment and don't forget to mark the other payment in your own system with the status the Mollie webhook gave you to stay in sync.

As @cascer1 mentioned, the documentation might help. Have another look at the [different expiry times for each payment method](https://www.mollie.com/en/docs/status#expiry-times-per-payment-method) if that's the m

[2017-01-27 16:03] #50 closed

[2017-01-30 12:44] robin-mollie commented on #59
@Factuursimpel, the issue should now be fixed. You don't need to make any changes on your side, but would it be possible to verify that the fix is working for you? :)

[2017-01-30 13:07] Factuursimpel commented on #59
Great! That was fast. Thanks!
I will have to wait for one of my Belgian customers to pay again. The moment they do I will inform you.
Perhaps you could suspend the issue until further notice?

By the way, could you manually assign a mandate to the customer where the issue occurred? If I would give you the Mollie customer number and Mollie transaction Id.
Perhaps you could personal message me about

[2017-01-30 22:18] holtkamp opened #60 "Usage of testmode parameter when creating Payments on behalf of other account"
The ```testmode``` [parameter suggests it is possible to create a payments with a paymentFee in test mode](https://www.mollie.com/en/docs/reference/payments/create#pfp-params)

However, when setting ```testmode``` to TRUE, the following exception is thrown:

[code]

So what is the idea of usage? What *Application feature* is being referred to? Might be useful to include that / detail that in the e

[2017-02-03 09:17] hansrossel commented on #37
Any updates on the status of the OAuth alternative?

[2017-02-04 15:08] ParadoxNL opened #61 "Set customer name for PayPal shipments"
Maybe i missed it, but is it possible to set a name for a PayPal shipment instead of the NOT_PROVIDED message? I've tried by creating a customer and sending that ID with the request but that didn't seem to be it.

![pp shipment](https://cloud.githubusercontent.com/assets/3331772/22619385/e0f60cf0-eaf3-11e6-8839-c0bb8e3d8ec4.png)

[2017-02-07 14:31] FaaPz commented on #51
We have updated our [documentation](https://www.mollie.com/en/docs/reference/customers/update).

[2017-02-07 14:31] #51 closed

[2017-02-24 08:22] willemstuursma commented on #61
Thanks, we'll look into it. This probably won't be too hard to change.

[2017-02-24 10:21] willemstuursma commented on #60
Thanks, we've changed the error message to be more descriptive. Let us know if you have any further issues.

[2017-02-24 10:21] #60 closed

[2017-02-24 10:22] willemstuursma commented on #61
@ParadoxNL Could you check that it is working for you now? You'll need to send a `customerId` as well as all `shipping*` fields.

[2017-02-24 10:22] #61 closed

[2017-02-24 11:41] ParadoxNL commented on #61
Working! Thanks for the fix!

![screen shot 2017-02-24 at 12 40 17](https://cloud.githubusercontent.com/assets/3331772/23302302/7ca398a8-fa8e-11e6-9b73-9beda997a84d.png)

[2017-03-08 13:58] willemstuursma opened #63 "Add support for HTTP proxies"
There is no way to set HTTP proxies now.

[2017-03-08 13:59] #59 closed

[2017-03-21 12:24] Djazz1995 opened #64 "webhook does not change my status in the database"
I have a mollie api installed on my website, but it seems like the webhook does'nt get called at all. The Url is valid and the script works(i tried it with a hard coded order_id and it worked).

P.S. I am running mollie in test mode

here is my webhook code:
[code]

[2017-03-21 12:36] Djazz1995 opened #65 "Mijn webhook verandert de status in mijn MySql database niet"
Ik ben bezig met het implementeren van de mollie API op mijn website, maar ik heb problemen met de webhook. Het lijkt erop dat de webhook helemaal niet wordt aangeroepen. De url die ik meegeeft aan create-payement klopt en kan ook bereikt worden door de mollie servers(denk ik). Ik run mollie in test modus.

Het script van de webhook klopt en update wel de database wanneer ik een hard coded order_i

[2017-03-30 09:03] Ricknox commented on #63
Hi Willem 👋

There are some problems I'd like to resolve before I contribute (I'd like to contribute to this issue since this affects me too); Are you expecting to use the native cURL proxy method? If so, there are various options regarding authentication. See the [documentation](http://php.net/manual/en/function.curl-setopt.php) that has some (version problems) and are you trying to support all v

[2017-03-30 09:26] willemstuursma commented on #63
I guess we should have a connection string similar to [Guzzle Options](http://docs.guzzlephp.org/en/latest/request-options.html) for setting the proxy. The `Mollie_Api_Client` will then set the right properties on the cURL resource.

/cc @mollierobbert

[2017-03-30 15:22] Factuursimpel opened #66 "No mandate created on Belfius 'first' recurring payment"
Dear Mollie,

As the title says. There is no valid mandate generated after a 'first' recurring payment with Belfius.
It would be great if you guys could fix this.

If needed please contact me for extra details on info@factuursimpel.nl.

Kind regards,
Danny

[2017-03-31 07:26] Ricknox commented on #63
Let me know what your opinion is @mollierobbert. Thanks! 👍

[2017-03-31 14:21] willemstuursma commented on #63
@mollierobbert is pretty busy today. If it works for Guzzle, it'll work for us too, so go ahead.

[2017-03-31 14:37] ndijkstra commented on #65
Hallo! Zou je een e-mail kunnen sturen met je Mollie Partner ID naar techsupport@mollie.com? Dan kijk ik even in je account wat wij voor foutmelding terugkrijgen.

[2017-03-31 14:38] ndijkstra commented on #64
Duplicated #65

[2017-03-31 14:38] #64 closed

[2017-04-04 07:56] willemstuursma commented on #66
Hi @Factuursimpel. Thanks for bringing this up, it's probably because of some limitation on the Belfius payment method. Regardless, we should not let this leak through our abstractions. I'll pass it to the Payments team and we'll keep this issue updated.

In the mean time, you'll find that a valid mandate will be generated a working day after the Belfius payment has been paid.

[2017-04-13 11:09] #65 closed

[2017-04-18 20:57] nvomedia opened #68 "No paymentURL when payment is not paid?"
When a payment is not successful ( != paid) there is no paymentUrl in the links in paymentObject. How can I let my customers try again by simply clicking on 'click here to try again'. ?

[code]

[2017-04-19 07:47] ndijkstra commented on #68
Hi!

We only have a redirectUrl. You have to check on that page if the payment is failed or succeed. You can find more info in this issue: #18

[2017-04-19 07:47] #68 closed

[2017-04-19 07:49] nvomedia commented on #68
So, I have to create an new payment for those payments?

[2017-04-19 07:51] ndijkstra commented on #68
That's correct. If a payment failed, the status can't go back to open: https://www.mollie.com/nl/docs/status#how-does-one-status-lead-to-another

[2017-04-19 07:52] nvomedia commented on #68
That's clear. Thanks!

[2017-04-21 10:09] petericebear opened #69 "Mandate: Pending"
Hi,

When does a mandate gets the status 'pending'?
I have searched the docs, and found the pending status for a payment, but not for a mandate.

Thanks in advance,
Peter

[2017-04-21 14:53] willemstuursma commented on #63
@Ricknox any luck with this?

[2017-04-27 14:16] sjorsvanheuveln opened #70 "API call failed: Error executing API call (request): The webhook location is invalid."
When I try to run the examples I'm getting this error. My PHP error log is not showing errors. What is going wrong?

[2017-04-27 14:23] sjorsvanheuveln commented on #70
Nevermind, I tried it on a local adress. That must be the issue.

[2017-04-27 14:37] sjorsvanheuveln commented on #70
Never mind, I was calling to a localhost. Oops :D. It's working now. Thank you.

[2017-04-27 14:41] #70 closed

[2017-04-27 17:19] Wiering opened #71 "webhook is never called"
Hi, I have a site for a yearly event and last year people could pay without problems, now the webhookUrl is never called.
Is there a way to find out why the API would not call the webhook? (People can still pay, but the state isn't changed).
Have there been changes to Mollie in the past year that could cause this? (I did make some changes to my code, but can't find anything that I think could caus

[2017-05-05 17:32] Wiering commented on #71
Turns out it is being called but fails, I'm making a new issue.

[2017-05-05 17:32] #71 closed

[2017-05-05 17:35] Wiering opened #72 "Webhook failed with status code 502"
My webhook always fails with code 502.
The code is never called, and I can even set the webhook to a non-existing URL and it still fails with 502 (not 404 as I would expect).
Any ideas?

[2017-05-05 19:55] Wiering commented on #72
Strangely, I can set up the webhook on different websites and that works fine, except for one, which is hosted by the same provider (mijndomein) as the site I'm having this problem with.

[2017-05-15 12:41] JorikMollie commented on #72
To investigate this issue I need some information that is private. So can you send a mail to techsupport@mollie.com with the transaction IDs from the payments that result in a 502?

[2017-05-15 18:29] holtkamp opened #74 "Incorrect example OAuth tokens"
_First of all, is the API documentation available on GitHub somewhere? Might be an idea to allow easy feedback from the community and prevent pollution of this repository with these (simple / typo-related) issues..._

The [example about OAuth tokens](https://www.mollie.com/en/docs/reference/oauth/tokens#example) contains the following snippet:

[code]

However, it seems `$response->getExpires()` r

[2017-05-15 19:16] holtkamp opened #75 "OAuth2: Can expired AccessTokens be renewed / do the RefreshTokens expire?"
When working with OAuth, the acquired AccessTokens expire in 3600 seconds. To prevent them from expiring, they can be refreshed using the RefreshToken.

The documentation states about [the response](https://www.mollie.com/en/docs/reference/oauth/tokens#response):

- `refresh_token`: The refresh token, with which you will be able to retrieve new access tokens on this endpoint.
- `expires_in`: The n

[2017-05-17 14:08] daniellegeelen opened #76 "Mollie status doesn't update"
Hello,

I'm trying to use mollie 01-new-payment but when I am at the returning page (after chosing a paymethod and bank and klik on payment suceeded, go to site) it sais that the status is open. And it stays open  On my webhook verification I placed on the begining of the file:
[code]
To test if the fle was executed, the file did not apear.
The file with the text open (is created in 01-new-payment

[2017-05-17 14:23] Factuursimpel commented on #66
Any update on this? This issue has been open for a while now and for me quite important.

[2017-05-17 15:55] JorikMollie commented on #76
Is the webhook URL reachable by our servers / the public internet? If we can't reach your server we also can't call the webhook.

[2017-05-17 22:51] daniellegeelen commented on #76
mmh I think your right when i try to reach the webhookurl from another pc i don't get on the site. I think I have to put the wrdpress site live, thank you for your fast replay :)

[2017-05-18 12:38] Daanvm commented on #66
Hi Danny,

When you create a payment with recurring type `first`, we immediately create the mandate for that payment. It is returned in the payment object in the `mandateId`:

[code]

You can use this mandate ID to get the mandate from our API:

[code]

For most payment methods, like iDEAL, Bancontact (MisterCash) and KBC we immediately receive the IBAN and we can finalise the mandate, making the

[2017-05-18 12:38] #66 closed

[2017-05-18 15:02] AntonShumin commented on #75
I'd also like to know this.

I've been told that the access token lives 3600 seconds, which would be an hour.
Fine, i stored the refresh token. Lets get it with
`getAccessToken($grant, ["refresh_token" => $refresh_token]);`

But if the refresh token also expires as mentioned above (somewhere between 12 and 24h), then i should be building the code around `getAccessToken( "authorization_code", .. `

[2017-05-19 07:45] willemstuursma commented on #74
Hi @holtkamp. I am sorry to hear not everything is clear and will see if I can clear it up a bit today.

The PHPDoc says: _ Returns the expiration timestamp, if defined._

So it should return a timestamp. We do this correctly, but the examples are incorrect. I'll see to it that they are updated today.

The field `expires_in` is used for the seconds until the token expires.

[2017-05-19 09:19] holtkamp commented on #74
@willemstuursma yeah, it seems it is just the example that is confusing. Would you guys consider to place the API documentation on GitHub, so a simple pull request to change the example would have sufficed?

[2017-05-19 09:27] holtkamp commented on #75
Yeah, when also the RefreshToken has become invalid, a complete new authorization needs to be given, in our case by the reseller partner. Which would be difficult to realize / expect from them.

I think that this would be the way to go, but I would rather not have this additional "responsibility" of keeping all the tokens valid. Therefore I plea for non-expiring RefreshTokens, which is also the wa

[2017-05-19 09:33] willemstuursma commented on #74
@holtkamp We've thought about it a few times, but always run into the issue that it would be difficult to integrate the documentation in our public web site. I'll bring it up again.

The examples are now updated.

[2017-05-19 09:33] #74 closed

[2017-05-19 09:34] #72 closed

[2017-05-19 11:30] willemstuursma commented on #75
We're going to look into this (our reference INI-117).

For now, this is the way to go.

[2017-05-19 12:44] AntonShumin commented on #75
Yes of course! If godforbid the refresh token expires (something like a cronjob server outage), our payment system would be rendered useless until the partner authorizes the app again. What a nightmare

[2017-05-19 22:33] daniellegeelen commented on #76
YAY in my mollie account I now see that they are paid but the text file isn't changing i did use chmod($database,0666); but it didn't help, I know Mollie says I have to use a real database but do you know if it is posseble without or with a file? I tried to reseve te GET variable in the returning page but i can't get the payment id isn't it?

[2017-05-22 08:28] AntonShumin commented on #75
I've just used a 2 days old refresh token (created on friday, refreshed on monday)
and to my surprise it worked.

So do they expire? And if so, when?

[2017-05-22 09:04] willemstuursma commented on #75
Refresh tokens are valid for two weeks.

[2017-05-22 10:49] holtkamp commented on #75
Ok, good to know. Will double check why mine failed to refresh after 24 hours...

[2017-05-22 13:07] robertmollie commented on #76
I think this should also work without a file, as long your API can receive the status from our webhook: https://www.mollie.com/nl/docs/webhook.

[2017-05-23 07:42] daniellegeelen commented on #76
that sounds nice, it sais: "At this URL you should place a script that – when it's called – fetches the payment status and processes it, if it has changed." I tried to send a mail with contact form 7 (I dit fll it in wit jquery and did a trigger click) but i didn't receve an emaill, is it posible to execute jquery/javascript at the webhoook code?

[2017-05-23 13:19] willemstuursma commented on #76
No. The script needs to be executed server side. You cannot use any Javascript / jQuery as it will be ignored by (any) server to server communications.

[2017-05-23 13:46] daniellegeelen commented on #76
Then I have to store the data anywere or can id get de order status in my retuning page without reading it from anny storing place? I know that if the website isn't reachable it won't work.

Is it true that if in my mollie dashboard the status is paid that the webhook worked?

I ask Because I tried it with a database (I don't want a database but if there is no other way...) the database is on my l

[2017-05-26 07:53] willemstuursma commented on #76
Yes, you have to store the order state somewhere to pass it from the webhook to the return page.

No, the status in the Mollie Dashboard is paid if the payment was paid. Reporting does not affect the status.

Sorry, this serves no purpose anymore. We used this for testing if we could reach the webhook but we have removed that function since.

You need to retrieve the payment status from the webhoo

[2017-06-06 14:23] AntonShumin opened #77 "Get payment exception, invalid payment id"
I am trying to process the webhook and check the payment status, but keep getting the "payment id is invalid".
And i know that it's valid, i've created it a few seconds earlier, plus its a _POST parameter.
(i've also tried hardcoding the payment_id (tr_fKme26vE7m), the same issue)

**I am making payments in Testmode, Oauth for authentication.**

[code]

This gives me an exception:
  **protected 'm

[2017-06-07 13:03] AntonShumin commented on #77
Alright, i ran through all of my code a few times. It seems that this specific payment tr_fKme26vE7m was made using a regular API key authentication and not on behalf of the Oauth authenticated profile. Once i created a new payment properly, patments->get worked as advertised

[2017-06-16 07:35] willemstuursma commented on #77
Hi @AntonShumin. The payment `tr_fKme26vE7m` was created in test mode.

You can retrieve it by adding `?testmode=true` to the API call to [get the payment](https://www.mollie.com/nl/docs/reference/payments/get).

In our client, you can do this by sending:

```$mollie->payments->get('tr_fKme26vE7m', ['testmode'=>'true']);```

[2017-06-16 07:35] #77 closed

[2017-06-16 13:45] AntonShumin commented on #75
@holtkamp

I've been refreshing multiple tokens older than 24h for about 3 weeks now. Have a cronjob running every 4 days, no problems so far.
Some of them were as old as 12 days.

When you refresh a token, are you also saving the refreshed **refresh-token**

[2017-06-16 14:00] holtkamp commented on #75
ok, thanks for sharing your experience. Then probably our refresh mechanism
needs a double check, will report back next week.

On Jun 16, 2017 15:45, "Anton Shumin" <notifications@github.com> wrote:

[2017-06-19 11:24] holtkamp commented on #75
**Update**
I can confirm that there was a problem with the way we tried to refresh the AccessToken and the RefreshToken. Strange that using an expired AccessToken did work for up to around 20 hours...

**Conclusion**
Taken into account that:

One should implement a background task which periodically refreshes AccessTokens and RefreshTokens at least once every two weeks. When this is **not** done (

[2017-06-19 11:24] #75 closed

[2017-06-19 13:18] willemstuursma commented on #75
Thanks @AntonShumin for clearing this up. @holtkamp you can reach me here if you need any help.

[2017-06-27 10:55] DePalmo opened #78 "Retrieve all payment methods activated on the payment profile"
On documentation page: https://www.mollie.com/be/docs/reference/methods/list it says that we can get a list of all activated payment methods, but when I execute the sample code it completely ignores payment method status and it lists all. I tried this with test and live API keys and the end result is the same.
Also, API doesn't return payment method status, so we can't know which one is enabled an

[2017-06-27 11:02] ndijkstra commented on #78
Hi,

The API lists only the active payment methods of the profile. With the Test API-key all the payment methods are activated.

[2017-06-27 11:07] DePalmo opened #79 "Recurring / subscription payment methods clarification"
The documentations on your website are not quite clear on this one, so I'm posting a question here.

From your documentation I figured out that these are the correct steps to create a subscription (please correct me if wrong):
1. check if customer already exist in Mollie database and if not, create it
2. use customer ID returned by API to create first payment with `recurringType=first` for that cu

[2017-06-27 11:08] DePalmo commented on #78
I would expect that test environment does reflect live environment as close as possible, so this should not happen.

Will re-confirm about the live one once again and report back.

[2017-06-27 11:17] DePalmo commented on #78
I'm sorry to say but live also doesn't follow enabled/disabled payment methods statuses, but it also lists all. Please see attached.

Code I used:
[code]
![2017-06-27 13-11 image 004](https://user-images.githubusercontent.com/3665779/27585005-b082d91a-5b3a-11e7-8acc-7c415ef6c5a0.jpg)
![2017-06-27 13-13 image 001](https://user-images.githubusercontent.com/3665779/27585006-b0879ebe-5b3a-11e7-9254-da

[2017-06-27 11:21] ndijkstra commented on #78
Are you sure that you are using the Live API-key? And can you tell me your Partner ID?

[2017-06-27 11:24] DePalmo commented on #78
100% sure, I double checked. I would prefer not to share any info publicly, can I forward it privately?

[2017-06-27 11:25] ndijkstra commented on #78
Sure, can you send your questions to techsupport@mollie.com ?

[2017-06-27 11:25] #78 closed

[2017-06-27 11:29] ndijkstra commented on #79
Recurring payments are only possible with the payment methods SEPA Direct Debit and Creditcard.
For the first payment you can use iDEAL, Bancontact, SOFORT, Belfius and KBC (recurring with SEPA Direct Debit) & Creditcard (recurring with Creditcard).

It's not possible to use SEPA Direct Debit as one-time payment method or first payment. When a customer finish a first payment with for example iDEAL

[2017-06-27 12:04] DePalmo commented on #79
Thank you for a clarification!

[2017-06-27 12:04] #79 closed

[2017-06-28 09:00] DePalmo commented on #78
Just to post a comment for future readers, I have found an issue. The live API key was being replaced with test one in my code, that's why it returned all payment methods.

But I still consider this as a bug in test environment where it returns all payment methods, not just activated ones. If this could be fixed as well, that would be superb.

[2017-07-05 08:34] petericebear opened #80 "Update Subscription"
Hi,

Is it possible to update a subscription?

A general use case is for instance payment per seat. If someone updates his number of users(seats).
It looks like we now have to cancel the subscription and create a new one.

In Stripe you have proration by updating a subscription to a new one. Is this possible to reproduce with Mollie Subscriptions?

Thanks in advance,
Greetings,
Peter

[2017-07-05 08:35] ndijkstra commented on #80
Hi Peter,

Updating a subscription is not possible. You have to cancel the subscription and create a new one.

Best regards,
Nick

[2017-07-05 08:35] #80 closed

[2017-07-05 08:38] petericebear commented on #80
Is it on the roadmap to implement the update feature?
Or do you have a best practice for this?

[2017-07-05 08:42] willemstuursma commented on #80
Can you tell us a bit about the kind of updates you would like to do?

[2017-07-05 08:59] petericebear commented on #80
Updates for payments like this scenario. Payment per user.
We now have a plan of 5 EURO + 1 EURO per seat.

For 1 seat it is: a subscription for 6 EURO.
When I add a seat in our program I would like to update the amount to 7 EURO's. Not cancelling a subscriptions but to update the amount of money.
Best with proration, so if the current subscription still lasts for 10 days for 1 month. It adds the

[2017-07-05 09:00] petericebear commented on #80
It is a common case with subscriptions like in the hosting industry. You can update a CPU or RAM in the middle of the month. Or downgrade the CPU later on. But if an upgrade is doable that would be really great.

[2017-07-05 09:04] petericebear commented on #80
https://stripe.com/docs/subscriptions/upgrading-downgrading

[2017-07-10 11:32] willemstuursma commented on #75
We are looking to make some changes soon:

* No longer expire refresh tokens.
* No longer grant a new refresh token each time a new access token is retrieved.

Any feedback @holtkamp and @AntonShumin?

[2017-07-10 12:46] holtkamp commented on #75
@willemstuursma

Great!

mmm, on this subject I do not have an opinion backed by (objective) arguments. I would go with any 'industry best practice', if there is any...

Thanks for listening to the feedback of users!

[2017-07-20 15:12] sahilbalani15 opened #82 "How to fetch payment id"
Hello,

I have been trying with the examples, but when I open the new-payment.php then it redirects to the payment gateway and after paying it sends to 03-return-page.php. When I try to open 02-webhook-verification it gives me an error "API call failed: Invalid payment ID: ''. A payment ID should start with 'tr_'."
How do I fetch the payment id when page returns for that particular payment, also h

[2017-07-20 15:14] ndijkstra commented on #82
Hi,
We will do a POST request to your webhookUrl. In this POST request we send the "id" parameter with the Payment ID.

For the redirectUrl you can save the status in your database (via the webhook) and retrieve it on the redirectUrl page.

[2017-07-20 15:43] sahilbalani15 commented on #82
Hello,

So how do I fetch the same in example 3 ?
Also how do ai fetch the reponse code when payment is sent or updated in
third example.

Thanks in advance

On 20 Jul 2017 20:44, "Nick Dijkstra" <notifications@github.com> wrote:

Hi,
We will do a POST request to your webhookUrl. In this POST request we send
the "id" parameter with the Payment ID.

For the redirectUrl you can save the status in yo

[2017-07-20 15:46] ndijkstra commented on #82
You have to save it in your own database after you've created the payment. We don't send it with the redirectUrl only with the webhookUrl.

[2017-07-20 15:55] sahilbalani15 commented on #82
Alright.  Thanks. Can you help me with one more thing please.
If you can give me a code on core php on how do I save all these codes that
would be great and really helpful to me. I want to save response code.
Thanks

On 20 Jul 2017 21:16, "Nick Dijkstra" <notifications@github.com> wrote:

[2017-07-20 15:59] ndijkstra commented on #82
Unfortunately we don't have more examples then those in this client. Please read our documentation  for more information: https://www.mollie.com/nl/docs/reference/payments/get

[2017-07-20 15:59] #82 closed

[2017-07-21 12:31] shirshir commented on #75
@holtkamp @AntonShumin We have changed our API so that a refresh token does not expire anymore. Every time you refresh an access token you will receive the same refresh token, together with the new access token.

[2017-07-22 22:51] AntonShumin commented on #75
This is great! Refreshing both tokens on every single transaction was making me nervous
Does the two weekly reset still apply, or is the refresh token permanent forever?

[2017-08-01 13:31] holtkamp commented on #60
From the changelog at https://www.mollie.com/en/developers/changelog#2017-07 I derive that ApplicationFees **can** now be used in test mode? Nice!

[2017-08-01 14:46] willemstuursma commented on #60
@holtkamp yes, this is correct, we have removed this restriction. Of course it won't move any money but it should help you integrate application fees in your applications.

Let us know what you need to be successful with our products, we are listening.

[2017-08-04 18:18] holtkamp opened #83 "Missing function Payment::isFailed()"
Just noticed that no helper function exists for [the "failed" status](https://github.com/mollie/mollie-api-php/blob/5327e813fd9f1f15a1932f5d6ea17fb35faa8b1a/src/Mollie/API/Object/Payment.php#L78)

- there are 9 `STATUS_XYZ` constants
- there are 8 `isXYZ()` helper functions

Not a big problem, but would be nice to be "complete" 😄

[2017-08-07 08:43] holtkamp opened #84 "Filtering Payments (using status) possible?"
The [PHPDoc of the Payments resource](https://github.com/mollie/mollie-api-php/blob/5327e813fd9f1f15a1932f5d6ea17fb35faa8b1a/src/Mollie/API/Resource/Payments.php#L32) suggests that one can use a filter. I would expect that such a filter would allow to fetch only specific Payments, something like:

[code]
But this seems not to work. Using an incorrect filter DOES trigger an error:

[code]

Results

[2017-08-09 11:19] #76 closed

[2017-08-16 11:24] willemstuursma commented on #83
Thanks, this has been added @holtkamp by @PerryZ.

[2017-08-16 11:24] #83 closed

[2017-08-16 11:24] willemstuursma commented on #83
We'll release a new version later this week.

[2017-08-22 09:17] willemstuursma commented on #84
I am sorry, we don't offer any filtering in the Payments resource.

The parameter is confusingly named. It is used for adding things to the query string, e.g. for offsets, counts, includes and excludes.

I'll see if we can clear this up.

[2017-08-22 10:16] holtkamp commented on #84
thanks for the response. Might be easier to "just" add support for filtering? 😇

[2017-08-22 11:15] willemstuursma commented on #84
What kind of use cases do you have?

[2017-08-22 15:51] holtkamp commented on #84
Uhm, like iterate over all paidout payments and process them appropriately in our administration.

The callback mechanism that Mollie offers does not 'consider' the 'paidout' state, so we need to periodically 'check' whether payments were paidout...

[2017-08-29 12:51] extcode opened #86 "namespaced classes"
It would be nice to have namespaced classes. This would simplify the classes to instantiate or to extend.

I would ship this API as legacy phar-library for non composer installations in my shopping provider extension. Having namespaced classes allow easier handling.

[2017-09-14 20:12] DePalmo opened #87 "Delay first payment of subscription or give free trial"
We're using a subscription module and after some errors we made it working properly, but now we're facing with a real life issue. This is what I got from my client today:
_"Sometimes I make agreements with people to extend their premium subscription. e.g. I have a special offer at the moment where I give them 2 month free if they purchase an annual subscription. How do we deal with that?"_

So, ho

[2017-09-18 08:51] DePalmo opened #88 "Cancelled subscription returns exception, not subscription object with status"
Scenario: We create a new subscription through Mollie API (PHP) and later on it can be canceled. After that, our system checks subscription status (for further processing) and it's expected to get an object back with subscription status like: "cancelled" and ideally date when it was cancelled, but we get an Exception thrown.

Why is that? Isn't more logical to get back a proper response with detai

[2017-09-18 13:42] kloentje2 commented on #87
Maybe you can fix that in your coding? I think mollie is only a psp and they don't offer much more.

[2017-09-18 14:24] DePalmo commented on #87
I would "fix" it if I would know how. To get customer's permission, I need to do a first payment and customers are billed right then and there. I could then insert the 2 months free period before subscription kicks in, but this is not how things are normally done and it would also continuously bill each next month.

Also, to make this really working, I would need to have a subscription that would

[2017-09-18 14:35] arendvw commented on #87
A common way to do this is to charge monthly, but add a discount of two months divided over 12 months = 16% discount on all months.

Also, many places will only issue such discount if you actually pay at once for a year, to prevent all the hassle with subscriptions being cancelled halfway through by means of creditcards.

[2017-09-18 14:38] DePalmo commented on #87
Your last idea sounds reasonable and truly something that's being done, not sure why I didn't thought of that before. Thank you!

[2017-09-18 14:38] #87 closed

[2017-09-19 12:41] willemstuursma commented on #88
Because the HTTP verb `DELETE` is used for cancelling a subscription, we have removed cancelled subscriptions from the API and they can no longer be retrieved.

This is why you are getting an exception. In the API, the cancelled subscription no longer exists.

[2017-09-19 12:41] #88 closed

[2017-09-19 12:43] willemstuursma commented on #86
Sorry, we won't move to namespaced classes as we are still using this package for Wordpress / WooCommerce which still supports PHP 5.3.

[2017-09-19 12:44] willemstuursma commented on #84
Thanks, this use case is clear. I'll take it up here and see how we can (best) support this.

[2017-09-21 10:16] ndf commented on #18
@mollierobbert
I understand your reasoning, but we do have a problem to get cancelling working well with Drupal Commerce.
The Commerce Payments API expects that payment providers do have a configuration option for a 'cancel url'. This has been chosen based on a broad analysis of popular Payment Provider API's.

This is a cross-link to the Drupal issue: https://www.drupal.org/node/2908280

[2017-09-21 10:39] mollierobbert commented on #18
Sad to hear the Commerce Payments API is pushing for a URL based feedback system, Niels. As stated above, Mollie won't introduce a cancel URL. It may solve your particular issue, but will result in a vague API that Mollie will have to live with for years to come.

I'd advise to push the Commerce Payments API developers to mark the cancel URL as an optional feature.

If all else fails, since you're

[2017-09-24 11:43] kamov opened #111 "The webhook location is invalid."
I tested your example by adding my test API key, but checking examples/01-new-payment.php
I have error:

API call failed: Error executing API call (request): The webhook location is invalid.

I found similar issue here https://github.com/mollie/mollie-api-php/issues/70
but not sure how he fixed it.

I am testing from localhost.
When I try to add localhost in web profile, it's not allowed me.
So I

[2017-09-25 21:38] TheJenne18 commented on #111
Mollie can't reach you localhost webhook.

The webhook needs to be accessible from any location on the web.

[2017-09-26 06:52] kamov commented on #111
Yes, I got the point. I see here https://help.mollie.com/hc/en-us/articles/213470409-My-webhook-URL-is-invalid-or-not-working-What-is-the-problem-

[2017-09-26 06:52] #111 closed

[2017-09-26 06:59] kamov opened #112 "Language of mollie is wrong in the example"
When I test example, the language of mollie page is always wrong.
I don't mean first screen where you select payment method, but second screen.

![screen shot 2017-09-26 at 08 58 06](https://user-images.githubusercontent.com/2345000/30846683-f054c36e-a298-11e7-8c6d-746abc5ee69f.png)

My browser is in english, so I am not sure why it's loaded in Dutch.

[2017-09-26 07:23] kamov opened #113 "Create mandate not work"
In the example 22-create-mandate-subscription.php

I can see only that customer is created, and then I don't see

    echo "<p>Mandate created with id ". $mandate->id."</p>";

nor

    echo "<p>Subscription created with id ". $subscription->id."</p>";

There is not any errors

[2017-09-26 12:57] willemstuursma commented on #112
Thanks for bringing this up. At the moment, we only offer Dutch test screens.
We're working on bringing localized test mode payment, it won't take too long!

[2017-09-26 12:57] #112 closed

[2017-10-08 14:30] sweebee opened #114 "Retrieve invoices"
I can't find an endpoint for retrieving invoices, how do i retrieve them?

[2017-10-09 02:47] Tjoosten opened #115 "Idea: Bump php version in the composer.json"
https://github.com/mollie/mollie-api-php/blob/6c0b4ba383a3b88aaba8b5051d9024235de46951/composer.json#L19

Hi,

My idea was to bump the php version. Because php 5.2 is not supported anymore.

[2017-10-11 12:52] zchermit commented on #84
+1 for filtering.
I want to filter payments by "pending" status for sending them an email notifications.

[2017-10-19 10:30] jurtjee1997 opened #117 "Webhook don't update status"
Hey,

The webhook don't update any status, the webhook is accessible by mollie(its running on a server).
I'm using the 14-recurring-first-payment.php & 02-webhook-verification.php

Does anyone have an idea how to debug?

[2017-10-20 07:21] #117 closed

[2017-10-24 07:49] willemstuursma opened #119 "Add HTTP code to Location headers"
Prevent clients from accidentally using 307 redirects which will break some (but not all) payment methods / issuers. Correct code is 303. https://stackoverflow.com/a/4764473/6632554

[2017-10-24 08:53] willemstuursma commented on #115
We're no longer able to automatically build using Travis on 5.2, so I agree that we should bump it to 5.3 min.

[2017-10-24 08:55] Tjoosten commented on #115
Hi @willemstuursma @Smitsel

If you want i like to try to bump this one?

[2017-10-24 11:09] willemstuursma commented on #115
Sure, pull requests are welcome.

[2017-10-24 11:34] holtkamp commented on #84
@willemstuursma any (rough) ETA for this? Or... "someday" 😄

[2017-10-24 12:09] willemstuursma commented on #84
Sorry @holtkamp, it's going to be _someday_.

[2017-11-03 20:20] Casmo commented on #88
I have the same problem. I get an exception with the message "Error executing API call (request): The subscription has been cancelled." When I delete the subscription.

The API is still documented: https://www.mollie.com/en/docs/reference/subscriptions/delete. How do I stop or cancel a subscription in an other way without raising an exception?

[2017-11-06 10:53] holtkamp commented on #84
@willemstuursma do you guys have a suggested workaround? Fetch all Payments ([current maximum is 250 per batch](https://www.mollie.com/nl/docs/reference/payments/list#parameters)) for and iterate them ourselves?

For some operations (like sending Payments ourselves) we need to make sure we received the Payment from Mollie / `paidout` Payments.

[2017-11-06 11:17] sjorsvanheuveln opened #122 "Using multiple payment methods."
I want to use a selection of payment methods. Currently I only have ideal. How can I expand this?
Say I only want to use PayPal, iDeal and Bancontact. How do I do this?

$payment = $mollie->payments->create(array(
		"amount"       => $amount,
		"description"  => $_GET['upgrade']." Maand(en) Premium Upgrade",
		"redirectUrl"  => "http://mysite.nl/return_page.php?months={$months}",
		"webhookUrl"

[2017-11-06 11:47] willemstuursma commented on #84
For this situation, it would be best to use the Settlements API and then use the `paymentIds` property to get the settled payments.

If you need an OAuth token but don't want to create an app, we can create a token for you with the right scopes. You can contact our support department for that (please mention this Github issue).

[2017-11-06 11:50] willemstuursma commented on #122
You should enable the correct payment methods in your Dashboard and then leave the `method` parameter blank.

[2017-11-06 11:50] #122 closed

[2017-11-06 11:51] holtkamp commented on #84
Ok, thanks, will dive into that approach.

no, not needed, but thanks for the pointer 😄

[2017-11-06 12:23] #115 closed

[2017-11-08 10:01] holtkamp opened #124 "Outdated links in PHPDoc"
Some links used in the PHPDoc seem to be outdated.

For example https://github.com/mollie/mollie-api-php/blob/ad566702895b41ca62c5d74583c582b08b19173b/src/Mollie/API/Object/Settlement.php#L63 points to https://www.mollie.com/en/docs/overview#settlements-object, which seems not the proper page. It should probably link the "the 'period object' section" on https://www.mollie.com/en/docs/reference/set

[2017-11-08 10:10] willemstuursma commented on #124
Thanks, I'll see if we can improve this. Sorry for the disappointing developer experience.

[2017-11-08 10:21] holtkamp commented on #124
Thanks for the swift response! Don't worry, "Disappointing" is not the word. I like the puzzle, but it should read as clear and possible => other people might stop trying quicker...

[2017-11-13 12:05] holtkamp opened #127 "Observation: Settlement.settledDatetime can change?"
When working with the Settlements API, I noticed that the Settlement.settledDatetime might change. To me this sounds like an immutable property: the Settlement gets settled at timestamp X, which will/can/should never change.

Observations:
- at 2017-11-13 10:39:56 a certain Settlement X has the following properties:
  - Settlement.status: paidout
  - Settlement.createdDatetime: 2017-11-13T05:00:02

[2017-11-13 13:27] willemstuursma commented on #127
Thanks for bringing this up.

The settlementDatetime should only change if the settlement get transferred multiple times (for example, if the bank account is closed and the settlement is returned to us).

I'll have a look why this is being changed.

Can you send me an email with the settlement ID? My email address is in my profile.

[2017-11-27 10:20] willemstuursma commented on #127
The issue has been resolved.

[2017-11-27 10:20] #127 closed

[2017-11-27 13:52] leolems opened #128 "Request for redirectUrl's"
In the payments->create  object there is a redirectUrl when the payment process is over...

BUT i would like to have 2 url's to return to:

1) If the order is paid (or in the process of being payed)
   This is the Thank you for ordering 'kinda' page.. with a summary
2) If the payment is canceled or failed in some way..
    I would like to show them a different page if something went wrong

It woul

[2017-11-27 17:18] willemstuursma commented on #128
We won't be providing this. See #18 for earlier discussions.

[2017-11-27 17:18] #128 closed

[2017-11-27 17:45] leolems commented on #128
I think it would be an addition... its not much code

[2017-12-21 20:13] rjong opened #130 "Question: Stopping subscriptions with removing customer"
Hi,

Question about deleting a customer. Will all (active) subscription of that customer stopped as well?

Thanks

[2017-12-22 10:10] robin-mollie commented on #130
Hi @rjong,

When a customer is deleted, all mandates for that customer are revoked and all subscriptions are cancelled.

[2017-12-22 14:52] Smitsel commented on #124
Created a PR:
https://github.com/mollie/mollie-api-php/pull/131

Thanks for letting us know @holtkamp

[2017-12-22 18:38] rjong commented on #130
Thanks @robin-mollie!

[2017-12-22 18:38] #130 closed

[2018-01-02 08:20] #124 closed

[2018-01-02 11:57] Smitsel commented on #119
I've made a PR: https://github.com/mollie/mollie-api-php/pull/132

Please note there is also an explanation in the description of the PR explaining why we want this.

[2018-01-02 14:21] #119 closed

[2018-01-02 17:09] danger89 commented on #113
Any update from the developers?

[2018-01-03 08:37] Smitsel commented on #113
Hello! thanks for spotting this.

Tried running the example right of the bat with the same result.
In my error log i found out that the IBAN in this example does not meet our IBAN check requirements. So i replaced it with a randomly generated one that does.

With PR https://github.com/mollie/mollie-api-php/pull/133 the script runs straight away.

[2018-01-03 08:39] #113 closed

[2018-01-03 09:04] Smitsel commented on #114
This endpoint is not yet implemented in our client.
We do however accept Pull Requests.

The documentation for invoices can be found here:
https://www.mollie.com/nl/docs/reference/invoices/get

[2018-01-03 09:14] Smitsel commented on #69
Sorry for the late response.

Although the when of status pending is not documented explicitly you can read about how this works in our recurring payments guide: https://www.mollie.com/nl/docs/recurring#subscriptions

When setting up a subscription a mandate is created, when there is no first payment present this mandate will be pending until the first payment has been created.

Hope this helps!

[2018-01-03 09:14] #69 closed

[2018-01-04 10:42] Smitsel commented on #69
Since this was not explicitly documented i added this to our API Reference.
https://www.mollie.com/nl/docs/reference/mandates/get

[2018-01-10 20:48] ndijkstra opened #134 "Incorrect Client Version"
Hey,

The Client version is incorrect in version 1.9.4:
https://github.com/mollie/mollie-api-php/blob/master/src/Mollie/API/Client.php#L37

[2018-01-13 19:13] NiekvandenBogaard opened #136 "Incorrect Retry on connection error check"
https://github.com/mollie/mollie-api-php/blob/5e81dac60352723ec512edd0ce2b9edfb859b888/src/Mollie/API/Client.php#L406

$connectionErrors stores all connection error numbers as KEYS not as VALUES
so 'in_array' function should be replaced by 'array_key_exists' function on the mentioned line.

[2018-01-15 10:12] Smitsel commented on #136
Hi Niek,

Nice find! I provided a PR fixing this.
Feel free to create a PR next time :)

[2018-01-15 10:16] Smitsel commented on #134
Thanks @ndijkstra, updated it in PR https://github.com/mollie/mollie-api-php/pull/138

[2018-01-15 14:38] #134 closed

[2018-01-16 10:45] #136 closed

[2018-01-28 16:20] willemstuursma opened #140 "Example 23 is in the wrong folder"
It's in the root folder instead of the `examples` folder.

[2018-01-29 10:00] Smitsel commented on #140
Resolved in commit: https://github.com/mollie/mollie-api-php/commit/84a5cff0be9294e785db50fd89375468f8a93527

[2018-01-29 10:00] #140 closed

[2018-02-03 12:22] holtkamp commented on #63
Similar issue and PR can be found here: https://github.com/link0/bunq/issues/27

[2018-02-03 19:54] willemstuursma commented on #63
@holtkamp That's a pretty unique requirement of bunq.

Regardless, I _think_ we will release a v2 of this API client somewhere in 2018H1, which will probably use a Guzzle `ClientInterface` that you can optionally inject.

[2018-02-05 11:29] willemstuursma opened #141 "Included issuers are not wrapped in Mollie_API_Object_Issuer object"
[code]

The issuers are not converted to a `Mollie_API_Object_Issuer` object but instead `stdClass` is used.

Also, there is no `issuers` property on `Mollie_API_Object_Method`.
The `image` property is missing on `Mollie_API_Object_Issuer`.

[2018-02-08 16:22] egonolieux opened #142 "Display discount in checkout dialog"
I have multiple subscription tiers with each their own price. If a user wants to upgrade to a higher tier subscription, I want to subtract the remaining period of the subscription as a discount.

For example: a user paid €20 for subscription X for a year, but wants to upgrade to subscription Y costing €40 3 months later.  The user would receive a (3/12) * €20 = €5 discount making a total of €35.

[2018-02-09 14:51] willemstuursma commented on #142
Sorry, this is not possible using the payments API.

We'll take this into consideration for any future API's.

[2018-02-09 14:51] #142 closed

[2018-02-12 10:25] rienheuver opened #144 "308 permanent redirect"
I'm testing a mollie-setup locally on a project and I've a subdomain of a domainname I own to go to my local pc. On my pc I then setup a virtual host to redirect all incoming requests to my local project. The virtual host is setup to redirect with a 308 instead of a 302, because a 308 can preserve POST parameters. However, this does not seem to be working, probably because mollie simply doesn't ac

[2018-02-12 10:35] willemstuursma commented on #144
@rienheuver Just to get this clear, the webhook doesn't follow the 308 redirect? Or the method is changed? Could you elaborate a bit?

[2018-02-12 10:44] rienheuver commented on #144
By now I've realized that it wouldn't work either way. I was assuming that the webhook doesn't follow the 308, but even if it would, it wouldn't be able to find my local project. So I'll have to mess around with my virtual hosts anway

[2018-02-12 10:44] #144 closed

[2018-02-12 11:11] willemstuursma commented on #144
We recommend using ngrok for testing integrations locally.

[2018-02-12 13:10] it-can opened #145 "Version not correct"
The version constant is not correct

https://github.com/mollie/mollie-api-php/blob/master/src/Mollie/API/Client.php#L37

[2018-02-12 13:25] Smitsel commented on #145
Thanks for notifying us, changed it in commit https://github.com/mollie/mollie-api-php/commit/25b9441137ed7cdf4f2d883d53989b9fa9e658a6

[2018-02-12 13:25] #145 closed

[2018-02-12 15:00] rienheuver opened #146 "paidDatetime not ISO8601 compliant"
I'm trying to implement mollie subscriptions in a laravel project and I want to save the paidDatetime to a mysql-database (also datetime). Since I use Laravel, the date is converted to a Carbon object when I assign it to a model property. However, I can't get this to work so far because the paidDatetime is not ISO8601 compliant. The datetime I'm receiving is: 2018-02-12T12:23:15.0Z
I can't find an

[2018-02-12 15:07] rienheuver commented on #146
Oh, this is rather odd... I found a few sources saying that
`DateTime::createFromFormat(DateTime::ISO8601, $timeString);`
should work, but it didn't for me. However, just using
`new DateTime($timeString);`
does work, and the same with Carbon
`new Carbon\Carbon($timeString);`
where $timeString = '2018-02-12T12:23:15.0Z'

[2018-02-12 15:07] #146 closed

[2018-02-14 09:07] florinciubotariu commented on #75
@willemstuursma
Can you confirm that the refresh never expires at this moment?

[2018-02-17 15:53] MichaelvanLohuizen opened #147 "Paypal First Name NOT_PROVIDED"
**Problem:**
When purchasing an item as a guest through Paypal with Woocommerce (3.3.1) & Mollie Payments for WooCommerce (2.9.0) the name is not shown in Paypal.

Instead the First Name field on Paypal is prefilled with NOT_PROVIDED. Address fields however are prefilled correctly.

**Testing**
On further testing it seems that:

- when a product is bought by a logged-in user the name & address det

[2018-02-22 12:02] kerim55 opened #148 "Error executing API call (request): Unauthorized application request."
Get this error when using applicationFee. No problem without applicationFee.

[code]
![naamloos](https://user-images.githubusercontent.com/7556615/36537457-79c8a2ee-17d0-11e8-8c23-0326ead4701e.png)

[2018-02-22 13:03] JorikMollie commented on #148
We return this error in two cases:
- Application Fee is not enabled in your account;
- The source and destination account for the application fee are the same;

[2018-02-22 13:06] turk55 commented on #148
Sounds oke =)

How can I enable Application Fee for my account?

[2018-02-22 13:10] JorikMollie commented on #148
I've sent an email with more information.

[2018-02-22 13:12] #148 closed

[2018-02-22 13:17] petericebear commented on #148
Can the information be shared somewhere for more people to see it?

[2018-02-22 14:59] JorikMollie commented on #148
No problem. I've moved it off GitHub because it required exchanging personal info.

If you send us an email at info@mollie.com with the ID of your account we can activate Application Fees for your account.

[2018-02-22 15:14] turk55 commented on #148
Mijn ID is 3621224. Alvast bedankt voor uw moeite.
________________________________
From: JorikMollie <notifications@github.com>
Sent: Thursday, February 22, 2018 3:59:23 PM
To: mollie/mollie-api-php
Cc: turk55; Comment
Subject: Re: [mollie/mollie-api-php] Error executing API call (request): Unauthorized application request. (#148)

No problem. I've moved it off GitHub because it required exchangi

[2018-02-23 13:11] willemstuursma commented on #146
Thanks for reporting regardless, we'll have a close look.

[2018-02-23 13:25] arendvw commented on #146
The dot and the zero are fractional seconds, it's actually 12h 23m 15.0s, in timezone zulu (alias for UTC).

See [this article](https://nbsoftsolutions.com/blog/iso-8601-and-nanosecond-precision-across-languages) about fractional seconds in ISO8601.

[2018-02-23 13:30] willemstuursma commented on #147
Thanks for reporting this, we're going to look into a solution and will report back here.

[2018-03-19 08:47] toonvandeputte opened #149 "Exception on existing subscription"
The PHP library probably just passes on exceptions from the API, but FWIW, here is a possible improvement:

*Existing situation:*

When creation of a subscription is attempted, the API throws an exception if there is an existing subscription with an identical description: `Error executing API call (request): A subscription with the same description already exists for this customer.`
It is unclear

[2018-03-20 14:43] MurtazaAydogdu opened #150 "Looping through the payment objects"
Hi, I have an methods thats get all the payments. But is it possible to loop through these objects

[2018-03-20 15:54] Smitsel commented on #150
Hello, when using the payments->all() you receive an ArrayObject.
This can be looped through.

See this example: https://github.com/mollie/mollie-api-php/blob/master/examples/05-payments-history.php

[2018-03-20 16:59] MurtazaAydogdu commented on #150
Thanks didn't see that exmple

[2018-03-20 16:59] #150 closed

[2018-03-28 08:39] holtkamp commented on #146
Ok, so `2018-02-12T12:23:15.0Z` is not a valid ISO8601 format?

[2018-03-28 08:49] rienheuver commented on #146
the very last line in the [Times](https://en.wikipedia.org/wiki/ISO_8601#Times) section of Wikipedia on ISO8601 very briefly mensions something of the sort. However, running the following:
`DateTime::createFromFormat(DateTime::ATOM, '2018-02-12T12:23:15.0Z')`
returns false, so something seems off about it.

[2018-04-09 07:21] jimkaler opened #158 "Error 500 when i Upload files on server, running fine in local server"
Hey guys I am using larevel 5.5 and  I have successfully tested Mollie on local server, but when I upload package from vendor/mollie and vebndor/composer/ to live server it is giving me error "_This page isn’t working_"
If i do not upload vendor/composer folder then its giving error "_Class 'Mollie_API_Client' not found_".
Can anyone please tell me what I am doing wrong here?
Thanks.

Error when v

[2018-04-09 07:51] jimkaler commented on #158
I got sollution for it.

[2018-04-09 07:51] #158 closed

[2018-04-09 07:53] Smitsel commented on #158
Hi @jimkaler,

Awesome. Was just typing a reply!

[2018-04-09 08:07] jimkaler commented on #158
Hey @Smitsel .

[2018-04-09 18:09] lode commented on #158
@jimkaler your test api key is visible in the screenshot, you might want to reset the key in your settings.

[2018-04-10 09:28] jimkaler opened #159 "Retrieving payment response error."
Hey guys I have successfully implemented Mollie in laravel project, but when I want to retrieve the response of payment using following code
        $mollie = new \Mollie_API_Client();
        $mollie->setApiKey("TEST_KEy");
        $payment = $mollie->payments->get($payment->id);
This code $payment->id giving me error "_Trying to get property of non-object_".
I am using test mode.

Please anyone

[2018-04-10 10:04] MurtazaAydogdu commented on #159
This code doenst work because you need to get your payment_id from your request. Assuming you are making a get request

[2018-04-10 10:49] jimkaler commented on #159
Hey @petericebear, $request is returning nothing, its empty.

[2018-04-10 14:36] Fossil01 opened #160 "Get all payments between specific dates / months?"
Is it possible to get all payments in a certain quarter or between two specific dates from the API? If so, how?

[2018-04-11 05:01] jimkaler commented on #111
do we have to update order in database from that webhook url?

[2018-04-11 05:11] jimkaler commented on #70
how did you solve that issue while using localhost?

[2018-04-11 05:42] jimkaler commented on #65
i am getting same issue in laravel.

[2018-04-11 05:47] jimkaler commented on #158
@lode  oops. Thanks buddy.

[2018-04-11 08:17] sjorsvanheuveln commented on #70
Well the whole localhost thing is the problem. Mollie can't do a callback to a localhost as the server doesn't know where that is. You have to let it call a reachable IP address.

[2018-04-11 08:21] jimkaler opened #161 "Error: Trying to get property of non-object in webhook"
Hello guys I am using mollie in laravel
everything is ok but when i am going to update status in database using webhook, its giving me error..
_Trying to get property of non-object_. what do i need to do to solve this issue by using code:

$payment = $mollie->payments->get($payment->id);
_$payment->id_ is giving me error.

Thanks.

[2018-04-11 08:42] TheJenne18 commented on #111
what do you mean?

On Wed, Apr 11, 2018 at 7:01 AM, Jimmy Kaler <notifications@github.com>
wrote:

[2018-04-11 08:56] MurtazaAydogdu commented on #160
You can't https://www.mollie.com/nl/docs/reference/payments/get

[2018-04-11 09:33] jimkaler commented on #111
@TheJenne18  I 've got it . but I am getting error Trying to get property of non-object while using
$payment = $mollie->payments->get($payment->id);
I dont know why i am getting this error in webhook url.

[2018-04-11 09:35] jimkaler commented on #70
yes @sjorsvanheuveln i've implement it on testing server now.
But getting error : "trying to get property of non-object", while using
$payment = $mollie->payments->get($payment->id);
I don't know why its giving me error when i try to update DB using webhook.

[2018-04-11 10:03] willemstuursma commented on #160
No sorry, we don't offer this yet.

[2018-04-11 10:03] #160 closed

[2018-04-11 10:04] willemstuursma commented on #161
You should take the ID from the `$_POST` superglobal instead of the non-existing `$payment` object.

[2018-04-11 10:06] sjorsvanheuveln commented on #70
Can you share your code, it's hard to interpret from here.

[2018-04-11 10:17] arendvw commented on #70
You're using the $payment variable before you've defined it?

[2018-04-11 10:27] jimkaler commented on #70
Code of creating payment in mollie:

![screenshot from 2018-04-11 15-55-44](https://user-images.githubusercontent.com/36437555/38611302-ef7b9d8e-3da0-11e8-8fa7-05280abea34c.png)

Code of Webhook function

![screenshot from 2018-04-11 15-56-02](https://user-images.githubusercontent.com/36437555/38611334-00e52342-3da1-11e8-90e1-b2c5977b3434.png)

[2018-04-11 10:31] jimkaler commented on #70
@arendvw  and @sjorsvanheuveln . Please tell me is it enough for let you know what I am doing?

[2018-04-11 12:49] MurtazaAydogdu commented on #161
How is your route and your function / controller look like.

[2018-04-11 12:56] jimkaler commented on #161
@MurtazaAydogdu
Route::get('/webhook', 'UserReportsController@Webhook');
and controller is defined below in screenshots.
This is UserReportsController

![creating payment](https://user-images.githubusercontent.com/36437555/38617876-bdec6810-3db5-11e8-986d-ce2b568d9a02.png)

![webhookfunction](https://user-images.githubusercontent.com/36437555/38617896-c7efab74-3db5-11e8-8265-d88e02452894.png)

[2018-04-11 16:15] MurtazaAydogdu commented on #161
No wonder that you get an empty result. The webhookUrl tries to make a POST request to your api (read the docs https://www.mollie.com/nl/docs/webhook). So change this

to Route::post('/webhook', 'UserReportsController@Webhook');

[2018-04-12 04:07] jimkaler commented on #161
Its already Post @MurtazaAydogdu.

![screenshot from 2018-04-12 09-37-22](https://user-images.githubusercontent.com/36437555/38655978-2365ea5c-3e35-11e8-8284-c9a1c665d5a1.png)

[2018-04-12 15:03] mufi-zwt commented on #12
Hi There,
Does it now supports USD or still works for only EUR?

[2018-04-13 04:49] #161 closed

[2018-04-18 08:59] willemstuursma commented on #149
Thanks for bringing this up, we'll get to this shortly and I'll report back here once we do.

[2018-04-18 08:59] willemstuursma commented on #86
Namespaced classes will be available in 2.0.

[2018-04-18 08:59] #86 closed

[2018-04-18 09:00] willemstuursma commented on #63
This will be available in 2.0, which uses Guzzle as the transport. Guzzle can be configured to use proxies and can be injected in the constructor.

[2018-04-18 09:00] #63 closed

[2018-04-24 07:58] willemstuursma commented on #149
This issue will be resolved later today.

[2018-04-24 07:58] #149 closed

[2018-04-26 09:54] tafelnl opened #168 "How to create a recurring subscription linked to specific mandate for user with multiple mandates."
A customer of mine has set up multiple IBAN card mandates by making a one time payment of 0.01 euros through iDeal from different bank accounts, for each of the mandates. Now when I create a recurring subscription, it is always linked to the last created IBAN card mandate. But I want to be able to link one subscription to mandate 1 and another subscription to mandate 2. I cannot find any informati

[2018-04-26 12:03] Smitsel commented on #168
I'm afraid this is not supported by us. Subscriptions will always use the last mandate.

What you could do is create multiple Customer objects for your customer and give each of these another mandate/subscription.

Or if you need more flexibility you could always schedule a cronjob to create the payments as subscription yourself.

[2018-04-26 14:28] tafelnl commented on #168
Okay, that is unfortunate. Are there any plans supporting such a feature in the future? Because there already is a Mandate List Get feature in the API: https://www.mollie.com/nl/docs/reference/mandates/list

And how exactly would the cronjob you mentioned solve my problem? I still wouldn't be able to link the payment to a specific mandate of my choice right?

[2018-04-30 14:54] oekeur opened #170 "Integrating old reseller methods into Mollie Connect"
Are there any plans on migrating some more features of the (seemingly) old reseller API?
Specifically the account-create and bankaccount-edit are useful for integrating Mollie into ones own application

[2018-04-30 18:03] willemstuursma commented on #170
Hi @oekeur. We have some (not well developed) plans for merging the Reseller and OAuth APIs but unfortunately, they are not very high on our priority list right now.

Rest assured that the Reseller API is fully supported by Mollie.

If there is anything specific you need, you can drop it here. I'll leave this issue open.

[2018-05-01 04:48] ashishverma025 commented on #9
I am trying to use the API but i always get this error..
API call failed: Error executing API call (request): Unauthorized request.

[2018-05-01 06:33] willemstuursma commented on #9
@ashishverma025 Please review [our documentation on Authenticating](https://www.mollie.com/en/docs/authentication).

[2018-05-08 12:12] Smitsel opened #174 "Period object as common data type"
Our common data types is missing the period object:
https://docs.mollie.com/guides/common-data-types

We are currently anchor linking this object from our API Client.
Would be nice if we could do the same for the new docs.

[2018-05-08 12:13] #174 closed

[2018-05-09 11:26] Smitsel commented on #141
This is fixed as of 2.0

[2018-05-09 11:26] #141 closed

[2018-05-09 16:07] holtkamp commented on #84
Thanks, will have a look! Compliments for the documentation at https://docs.mollie.com/migrating-v1-to-v2

I Noticed you guys did not use this opportunity to upgrade to PHP `7.1`?

[2018-05-09 20:55] willemstuursma commented on #84
We'll move to PHP ^7.0 once PHP 5.6 loses its security support, so Jan 2019.

[2018-05-11 06:25] toonvandeputte commented on #84
Good to know! Is there a roadmap for these planned updates somewhere?

[2018-05-11 12:00] arendvw opened #178 "Api v1 end of life?"
[After reading the docs for v1 to v2](https://docs.mollie.com/migrating-v1-to-v2), I've not found any information that could lead to a deadline or loss of support for the API v1 (both on the PHP end, and on the server side)

I'm looking for information on documentation of the possible depreciation of API v1
- if it will remain to be maintained / developed for PHP?
- if it will remain operational f

[2018-05-14 00:40] pedro-walter opened #179 "Payment amount.value must be set as a string"
Hello,

The following codes illustrate the issue:

[code]

[code]

To make it work properly, I must force a string conversion:

[code]

Thanks for your attention!

[2018-05-14 06:05] toonvandeputte commented on #179
Is there any particular reason why you're not using `strval($orderAmount)`?

[2018-05-14 07:51] willemstuursma commented on #178
The v1 API will be supported for the foreseeable future, at least until July 2023.

New features will go into the v2 API.  We're recommending all new implementations to be built on top of the v2 API.

[2018-05-14 07:51] #178 closed

[2018-05-14 08:01] Smitsel commented on #179
Hi Pedro,

We enforce the usage of strings in ``amount.value`` because the number of decimals must be correct. So forcing string conversion is required in your case.

I've added some comments to the examples explaining it.

[2018-05-14 08:01] #179 closed

[2018-05-14 08:18] willemstuursma commented on #179
@toonvandeputte note that `strval` isn't guaranteed to return a string with the correct number of decimals.

You should use `sprintf("%.2F", $amount_as_float)` if you use floats to represent your order amounts.

[2018-05-16 13:38] toonvandeputte commented on #179
I'm currently using `number_format( $amount, 2, '.', '' );` in the code I'm migrating over to v2 of the API. Any reason why `sprintf` would be better?

[2018-05-17 12:46] davdebcom opened #183 "Result of methods->all()"
Am I missing something or is something slightly off?

For me methods->all() doesn't give back the data in _embedded because it's not included in $result->count as is probably expected?
https://github.com/mollie/mollie-api-php/blob/7debd4fdb816b8d57fe2da28d4425f6744cd3da8/src/Endpoints/EndpointAbstract.php#L173

[2018-05-17 21:33] Thorazine opened #184 "Webhook POST id always the same for every order"
I've implemented the PHP api in test mode on my localhost and my webhook is working. I also get payment updates there and am very happy with it, so no problems.

However, the POST id I get from mollie is always the same for every order (tr_EuhW9Wfg4F). I would've guessed that every order would have it's own unique id. I use that id to get the order from my database (in conjunction with an id in th

[2018-05-18 03:05] saurabhcoder opened #185 "Issue in make payments api https://api.mollie.com/v2/payments"
I am using below json data for post request for the api -->https://api.mollie.com/v2/payments
Request body->

[code]

The response I am getting is

[code]
Is there any mistake done by me in request body data?

[2018-05-18 05:45] #183 closed

[2018-05-18 06:26] Smitsel commented on #185
Hi there,

Yes, i can see that you're request body has spaces after the keyword.
So ``"amount "`` should be ``"amount"``.

Notice the space before the last ``"``.

[2018-05-18 06:32] Smitsel commented on #184
The Mollie payment token ``tr_EuhW9Wfg4F`` is unique per payment.
The order is just meta data for yourself.

Could you send us an email at support@mollie.com with your code?
Then its easier for us to assist :)

[2018-05-18 07:02] Thorazine commented on #184
Nope, nevermind. Whoopsie, i'm retarded. Thanks!

[2018-05-18 07:03] #184 closed

[2018-05-18 07:08] shirshir commented on #185
I added some code block markup so that the JSON is easier read.

[2018-05-18 09:54] Daanvm commented on #185
I've updated our API to return a clearer error message. It would now return `"The amount is required for payments"`.

[2018-05-18 09:54] #185 closed

[2018-05-23 14:21] mathijsvdb opened #187 "Payment method mistercash should be bancontact"
In the PaymentMethod class, `mistercash` should be updated to `bancontact`.

[code]

My payment call always returned an error, so i went exploring the API. Seems the `mistercash` id has been updated to `bancontact`

[2018-05-23 14:22] ndijkstra commented on #187
Hi! In the latest version we've updated it to bancontact: https://github.com/mollie/mollie-api-php/blob/master/src/Types/PaymentMethod.php

[2018-05-23 14:22] #187 closed

[2018-05-30 18:51] pedro-walter commented on #179
Following up on this, I wanna stress out that you should always use sprinf(".2F") (note, uppercase "F"), instead of sprintf(".2f") (lowercase "f"), since that forces the output to use the "." (dot) as a decimal separator. Had an issue since my locale defaults to "," (comma) as a separator.

[2018-06-01 08:22] Smitsel commented on #114
Hi @sweebee,

I've just added our new v2 invoice endpoint to the client and released a new version.

[2018-06-01 08:22] #114 closed

[2018-06-01 09:35] an-pankajpatil opened #191 "oAuth new payment is not working"
Trying with 10-oauth-new-payment.php currently it is giving me the following error
"API call failed: Error executing API call (422: Unprocessable Entity): No suitable payment methods found. Documentation: https://docs.mollie.com/guides/handling-errors".

[2018-06-01 09:47] willemstuursma commented on #191
There's probably no payment methods activated on the account you are creating payments for.

Try adding `"testmode: true` to the POST body.

[2018-06-01 09:59] an-pankajpatil commented on #191
This is how I am making the call
$payment = $mollie->payments->create(array(
        "amount"       => [
            "value" => "10.00",
            "currency" => "EUR"
        ],
        "description"  => "My first API payment",
        "redirectUrl"  => "{$protocol}://{$hostname}{$path}/03-return-page.php?order_id={$orderId}",
        "webhookUrl"   => "{$protocol}://{$hostname}{$path}/02-webhoo

[2018-06-01 10:35] ndijkstra commented on #191
You have to enable some payment methods first in your account: https://www.mollie.com/dashboard/settings/profiles

[2018-06-02 13:33] synio-wesley opened #192 "settlements->payments() doesn't work - it uses refunds instead of payments"
`foreach ($result->_embedded->refunds as $dataResult)`
should be
`foreach ($result->_embedded->payments as $dataResult) {`

[2018-06-04 07:51] esprange opened #193 "Delete mandate gives 204 exception"
if the revokeMandate method of customers is used, an exception is raised because of an empty body return. I used Postman to similate this and it returns indeed a 204 status. The work-around is a catching this exception, but in fact it should not be an exception at all...

[2018-06-04 08:59] #192 closed

[2018-06-04 09:00] willemstuursma commented on #192
Thanks for reporting!

[2018-06-04 09:01] willemstuursma commented on #193
Hi @esprange. Is this in the v1 or v2 version of this client?

[2018-06-04 10:35] esprange commented on #193
I am using v2.

[2018-06-04 10:41] esprange commented on #193
And Willem, I found the issue while in testmode. But I don't think that should matter.

[2018-06-04 16:24] synio-wesley opened #194 "settlements->chargebacks() doesn't work - it uses refunds instead of chargebacks"
Similar to #192

`foreach ($result->_embedded->refunds as $dataResult)`
should be
`foreach ($result->_embedded->chargebacks as $dataResult)`

in `src/Resources/Settlement.php`

[2018-06-04 17:07] synio-wesley opened #195 "Settlement::payments() retrieve only 50 payments"
According to docs, Settlement::payments() should retrieve all payments, but it only retrieves max. 50 - How can I retrieve all of them using this function?

[2018-06-04 17:25] synio-wesley opened #196 "CursorCollection::next() and prev() only work once because count/links are not reset"
Related to #195

In `CursorCollection::next()` and `CursorCollection::prev()` these lines:
`$collection = new static($this->client, $this->count, $this->_links);`
should be:
`$collection = new static($this->client, $result->count, $result->_links);`
so that the count and links are reset for the next batch.

Otherwise, there will be an endless loop when you want to keep calling next() on the result

[2018-06-04 17:26] synio-wesley commented on #195
If #196 is fixed I will be able to retrieve all the next batches

[2018-06-05 06:33] Smitsel commented on #194
Thanks Wesley,

Fixed them in https://github.com/mollie/mollie-api-php/commit/95add45d42423162f82ee6eb62f0004c2c184f37

[2018-06-05 06:33] #194 closed

[2018-06-05 06:34] Smitsel commented on #195
Fixed it in https://github.com/mollie/mollie-api-php/commit/95add45d42423162f82ee6eb62f0004c2c184f37

Thanks!

[2018-06-05 06:34] #195 closed

[2018-06-05 06:34] Smitsel commented on #196
Thanks for finding the bugs @synio-wesley

Fixed them:
https://github.com/mollie/mollie-api-php/commit/95add45d42423162f82ee6eb62f0004c2c184f37

[2018-06-05 06:34] #196 closed

[2018-06-05 07:26] Smitsel commented on #193
Hi @esprange,

We've added a check for the 204 response code to the parsing of the body.
So we won't throw an exception when the body is empty and the code is 204.

So you will now get an empty response. Since this is in line with the empty response from the api.
So you can use a try catch around the revoke, when it succeeds you can be sure that it is deleted.

[2018-06-05 07:26] #193 closed

[2018-06-11 07:14] Smitsel commented on #147
Hi @MichaelvanLohuizen

I've been looking into the issue. The NOT_PROVIDED is being filled in when there is no API customer connected to the payment. The NOT_PROVIDED is not pretty, so we decided to remove this soon.

The fields not being prefilled is an other issue. The payment made should be connected to an API customer. As seen in the PHP Client example: https://github.com/mollie/mollie-api-php

[2018-06-14 00:33] flowroma opened #200 "How to send mail to customer after payment is paid using webhook"
I have a checkout form where the customer fills in their data (name, address, etc) and on submit, the action refers to mollie payment.

`<form method="post" action="ideal/examples/01-new-payment.php" class="data-validate">
input name, address, phone etc.
<button class="btn btn-primary btn-lg" value="submit"><span>Betaal met iDeal</span></button>`

All goes well, I am refered to the external page a

[2018-06-14 06:40] Smitsel commented on #200
Hi @flowroma,

Your problem should probably be resolved by debugging.
Make sure you have error reporting on while testing this script.

1. Try to var_dump the $mailSent right after calling $mail->send(). So you know if the sending of mail was successful.

2. Try to var_dump the $status, it's going into your else because its not "paid". So try to find out with var_dump what it is exactly. The order

[2018-06-14 11:09] flowroma commented on #200
Dear @Smitsel
Thanks for your reply. I added the error_reporting and the following code in the webhook file

[code]

But it doesn't give any errors or redirect me to the error page. Regarding point 2, the status is updated in the database as 'paid', yet the confirmation page shows the else statement "Er is iets niet goed gegaan met de betaling". I don't get any errors.

I haven't tried the var_dum

[2018-06-17 20:34] flowroma commented on #200
I solved the issue by putting the post parameters from the checkout form in sessions. The issue now is that the webhook file gives me the following errors;

Notice: Undefined index: id in /public_html/ideal/examples/02-webhook-verification.php on line 16
API call failed: Invalid payment ID: ''. A payment ID should start with 'tr_'.

Line 16: `$payment = $mollie->payments->get($_POST["id"]);`

I re

[2018-06-18 05:23] jimkaler opened #202 "ErrorException: Undefined index: id in mollie webhook"
Hi, I am using laravel framework, I am getting error ErrorException: Undefined index: id while retrieving payment. I am using testing mode. here is the code

 $mollie = new \Mollie_API_Client();
        $mollie->setApiKey("APKIKEY");

  try
        {
            $payment = $mollie->payments->get($_POST['id']);
            $order_id = $payment->metadata->order_id;
            // File::put(public_pa

[2018-06-18 06:32] Smitsel commented on #202
Hi @jimkaler,

Are u running the script directly?
Because this is probably because your $_POST["id"] is undefined.

The webhook is called by our server with an ``id`` in the POST.
So to test your script you should POST an id to it.

See: https://docs.mollie.com/guides/webhooks

[2018-06-18 06:37] Smitsel commented on #200
When u create a payment, mollie will call the webhook specified in webhookUrl when creating a payment. We will then POST the id of the payment to your script.

The error u are mentioning is because this $_POST["id"] is empty. You should either test this with hardcoding. Or create a test payment and host your webhook so it can be reached and see if it works.

On https://docs.mollie.com/index we hav

[2018-06-18 06:55] Smitsel commented on #147
Any update on this @MichaelvanLohuizen ?

[2018-06-18 07:02] jimkaler commented on #202
@Smitsel i am not running it directly, I am calling it after payment. It was running fine but suddenly it stopped working. i have changed API key, is it causing problem?

[2018-06-18 08:10] flowroma commented on #202
Jim, I had the same issue. You need to use the live API key and for testing purposes use a hardcoded ID like this:

` $payment = $mollie->payments->get('tr_WFF8qARVHQ');`

[2018-06-18 08:12] flowroma commented on #200
Thanks! issue resolved using live key

[2018-06-18 08:12] jimkaler commented on #202
may i use that same id? or from where will i get that id dude?

[2018-06-18 08:13] flowroma commented on #202
The ID is given to you by Mollie once you make payment requests in live mode. Testing mode won't give you that.

[2018-06-18 08:14] jimkaler commented on #202
Does it means we can't test it on testing mode?

[2018-06-18 08:14] flowroma commented on #202
You can, but you need to use a hardcoded ID

[2018-06-18 08:18] toonvandeputte commented on #200
I can heartily recommend using Postman to test responses from the Mollie API (and the response from your own webhook). Postman is an API development platform, but they have a great (and free) desktop app with lots of handy features to test API responses: https://www.getpostman.com/apps

[2018-06-18 14:43] holtkamp opened #203 "[Documentation] Certain links in PHPDoc to API Documentation broke for version 1"
## Specifications

  - API Version: 1

## Describe the issue
In some cases links to the API Documentation are used as PHPDoc, for example:

https://github.com/mollie/mollie-api-php/blob/33e09a0be5edfcf5b7bf8100e253666de514b4cf/src/Mollie/API/Object/Settlement.php#L63

This points to

https://www.mollie.com/en/docs/reference/settlements/get#period-object

which gets redirected to using a HTTP/301 "

[2018-06-18 15:25] holtkamp opened #204 "Missing properties in v1: Settlement.createdDatetime, Settlement.status"
## Specifications

  - API Version: 1

## Describe the issue
It seems the [`Mollie_API_Object_Settlement`](https://github.com/mollie/mollie-api-php/blob/33e09a0be5edfcf5b7bf8100e253666de514b4cf/src/Mollie/API/Object/Settlement.php) class in v1 misses the following properties:

- createdDatetime
- status

The reason why this is useful:

1. The returned objects as returned by `Mollie_API_Resource_Se

[2018-06-18 17:40] holtkamp commented on #84
@Smitsel about https://github.com/mollie/mollie-api-php/issues/84#issuecomment-387736422

am I correct that this is not really different from using the v1 Settlement API and loading the paymentIDs as was suggested in https://github.com/mollie/mollie-api-php/issues/84#issuecomment-342125767

I encountered the need to "filtering" / searching Payments again: to see whether a Mollie Payment was used t

[2018-06-18 18:08] willemstuursma commented on #84
@holtkamp filter all you want, we are ready for it. You wouldn't believe what API traffic some consumers are causing, so it won't affect us.

Feel free to report API calls that are taking too long in your opinion.

[2018-06-19 05:59] Smitsel commented on #204
Thanks for spotting this, i've just added them to the ``v1-develop`` branch.

[2018-06-19 05:59] #204 closed

[2018-06-19 06:08] Smitsel commented on #203
Nice find again! I've updated all the links to go to their respective page in the new v1 docs.

About the anchor linking to period-object, i've opened an issue in our documentation for adding it to the common data types. So we can link it again.

https://github.com/mollie/api-documentation/issues/62

[2018-06-19 06:08] #203 closed

[2018-06-19 07:10] Smitsel commented on #202
Hi @jimkaler can you email us at <techsupport@mollie.com> with an example of your code?

Closing the issue for now.

[2018-06-19 07:10] #202 closed

[2018-06-19 07:11] Smitsel commented on #200
Thanks, great suggestion @toonvandeputte.

This issue seems to be resolved now.

[2018-06-19 07:11] #200 closed

[2018-06-19 15:39] holtkamp opened #206 "Invoices API missing in v1 while it is documented?"
## Specifications

  - API Version: 1

## Describe the issue
The API Documentation for `v1` describes an [Invoices API](https://docs.mollie.com/reference/v1/invoices-api/)

However when looking at the `v1` [API client, no Invoices endpoint / resource seems to be implemented](https://github.com/mollie/mollie-api-php/tree/v1-develop/src/Mollie/API/Resource)...

On the master branch this **is** avail

[2018-06-19 15:52] willemstuursma commented on #206
Hi @holtkamp. You are right. It's part of the v1 API, however the objects were never implemented in the PHP API client.

You can create a PR or use the magic __call() method.

[2018-06-19 15:52] willemstuursma commented on #206
This is related to https://github.com/mollie/laravel-mollie/pull/35.

[2018-06-19 16:07] holtkamp commented on #206
Aah, ok, thanks for the swift response, I will have a look.

[2018-06-19 16:07] #206 closed

[2018-06-24 13:24] boban-dj opened #211 "status: canceled or cancelled? webhook in test mode"
## Specifications

  - API Version: V2

## Describe the issue

When the webhook is being called, my status gets updated fine. Only when the status is canceled, I get the status: cancelled (2 L's). In the API docs this was corrected. Also when calling payments API directly it shows : canceled. (which is according the docs [ https://docs.mollie.com/guides/payment-status-changes#every-possible-paymen

[2018-06-25 08:12] willemstuursma opened #212 "API results cannot be serialized"
## Specifications

  - API Version:  v2

## Describe the issue

Results retrieved from the API cannot be serialized, because the Guzzle client is one of the properties.

Serialization could be used to enable caching of the methods, for example.

It was reported by @davdebcom.

[2018-06-25 13:30] willemstuursma commented on #212
[code]

[2018-06-26 09:23] willemstuursma commented on #212
Yes, we will implement this but we need to create some documentation and tests to be sure that it works correctly.

[2018-06-26 09:40] holtkamp opened #215 "Feature Request: allow to easily determine which Invoice "covers" a specific Payment"
## Specifications

  - API Version: v1 and v2

## Describe the request

**Context**

- A Payment is settled in a Settlement
- A Settlement is "covered" by an Invoice

Sometimes it is required to process a Payment in an administration. Which is explained here:

- https://www.moneybird.nl/kennisbank/voorbeeld-mollie-uitbetaling-verwerken/
- https://www.moneymonk.nl/help/249-hoe-boek-ik-een-mollie-be

[2018-06-26 09:50] willemstuursma commented on #215
In v2, you can go from Payment => Settlement => Invoice using the `_link` property, does this cover your case?

[2018-06-26 10:08] willemstuursma commented on #212
I'm not sure @davdebcom.

Serializing will also cause the API key to end up in strange places.

Does it work for you if the API key is not restored after unserializing?

[2018-06-26 10:20] holtkamp commented on #215
@willemstuursma thanks for the swift reply!

https://docs.mollie.com/reference/v2/payments-api/get-payment#response
describes this part of `_links` as:

Mmm, yeah, I guess this is useful. Only when navigating object graphs, the use of API resource URLs is less useful / elegant. We should then extract the SettlementID from the URL. A more "native" approach, which does not care about APIs or URLs mi

[2018-06-26 10:21] davdebcom commented on #212
@willemstuursma Removed `"apiKey", "oauthAccess", seems to work, and I don't need the API key in my case, so that's okay.

[2018-06-26 12:39] #212 closed

[2018-06-26 13:30] sandervanhooft opened #217 "Documentation"
## Specifications

  - API Version: 2

## Describe the issue
While upgrading the [laravel-mollie client](https://github.com/mollie/laravel-mollie), I noticed the mollie-api-php client code examples are no longer available at the Mollie website.

Only the curl calls are now covered in the docs.

Are there any plans for launching easily digestible docs for the php client? The code examples at `/exam

[2018-06-26 13:33] sandervanhooft opened #218 "Feature request: hasActiveMandate helper method"
## Specifications

  - API Version: 1 and/or 2

## Describe the issue
Manually implementing the check whether a customer has an active mandate is a bit cumbersome. As far as I know there is no helper method for this.

How about an `$customer->hasActiveMandate()` helper?

[2018-06-26 13:34] willemstuursma commented on #218
@Smitsel can you weight this?

[2018-06-26 13:36] willemstuursma commented on #217
We could use some help adding them to our [api documentation](https://github.com/mollie/api-documentation) project. You could add some as a PR here and then we'll pass it to our design team to add the dropdowns and whatnot needed.

[2018-06-26 13:38] sandervanhooft commented on #217
Ok. Let me focus on finalizing laravel-mollie v2 first. I'll also send a note to Tomas.

[2018-06-26 13:38] #217 closed

[2018-06-27 08:15] davdebcom commented on #212
Just curious, where did you find this:
https://github.com/mollie/mollie-api-php/issues/212#issuecomment-399952300

[2018-06-27 08:30] Smitsel commented on #215
I think @willemstuursma his suggestion is the way to go. But using the _links for navigation is not really elegant for the client.

I could however add it to the ``Payment`` resource like this: ``$payment->settlement()``.

But we currently don't have a ``/settlement/{token}/invoices`` endpoint. So we can't do the same for the ``Settlement`` resource. And loading an invoice by settlementId is also

[2018-06-27 08:30] willemstuursma commented on #212
It's my job to know these things!

[2018-06-27 08:33] davdebcom commented on #212
Haha, I guess so. I thought maybe there was an interesting blog post about it, but I I can live with that explanation as well.

[2018-06-27 08:40] Smitsel commented on #211
Hi, i've been looking into your issue but i can't see to find out what the problem is.

When creating a payment and using the webhook script from the examples. The payment gets retrieved from Mollie. The status for ``v2`` calls gives me ``canceled``.

So please elaborate more on your issue with some code examples. Because ``v2`` calls always come back with ``canceled`` instead of our old ``v1`` st

[2018-06-27 08:59] boban-dj commented on #211
So `$status = $payment->status; ` returns `Your payment status is 'cancelled'.`
I have just a simple update function in the webhook:
`function updateStatusMolly ($status, $method, $order_id) {
	$worker = new MysqlWrapper(Database::get('members'));
	$update = array( 'status' => $status, 'method' => $method );
	$update_where = array( 'order_id' => $order_id );
	$worker->update( 'transactions', $upda

[2018-06-27 09:20] holtkamp commented on #215
Would that be feasible to add?

I guess adding a property `Settlement.invoiceId` would be a first step which already would simplify life a bit 😄

[2018-06-27 10:08] sandervanhooft commented on #218
Love it! 🥇

[2018-06-27 10:34] Smitsel commented on #215
We'll discuss internally and come back to you.

[2018-06-27 10:41] Smitsel commented on #211
What strikes me as odd is that when using the code above, you retrieve the payment:
``$mollie->payments->get($_POST["id"]);``
And then use that as ``$status`` for storing the order.

So if you var_dump the ``$payment->status`` will this show ``canceled`` or ``cancelled``?

[2018-06-27 11:21] #218 closed

[2018-06-27 11:33] boban-dj commented on #211
Where you suggest to do the var_dump? from the webhook nothing can be dumped. so the only way is to catch it in a db or text file.
Why dont you try to `grep --include=* -rinw . -e "cancelled"`
I am sure it comes from Molly?

[2018-06-27 11:40] boban-dj commented on #211
Its saving cancelled here in the webhook
[code]
but its just returns "open" when actually canceled.
When trying to add more logic (as in the Molly php examples) I had some problems thats why I leave it just with `$payment->isPaid()`

[2018-06-27 12:33] Smitsel commented on #211
Hi @boban-dj,

`cancelled` is still present in the v1 api.
The v2 api uses the new `canceled`.

So this needs to be debugged as it's probably something like the v1 being called.
Or the wrong value gets saved. Because v2 calls do not come back with `cancelled`.

You can debug and var_dump this when using something like ngrok.

[2018-06-27 13:37] #211 closed

[2018-07-02 13:34] willemstuursma opened #220 "No permissions() shorthand method"
## Specifications

  - API Version:  v2

## Describe the issue

We've seem to misplaced the `permissions()` shorthand method for getting the permissions in v2.

[2018-07-03 00:13] holtkamp opened #221 "Inconsistency in rounding of Settlement costs in Invoice PDF"
## Specifications

  - API Version: v1

## Describe the issue

Is there any documentation available about the way Mollie applies "rounding of values"?

The reason that I am asking is an inconsistency I noticed when processing Settlements in a (Moneybird) Administration.

**Situation**
For a certain Settlement X, these are the costs as returned by the API:

[code]

Note that the gross amount has a

[2018-07-03 08:05] willemstuursma commented on #221
Hi @holtkamp, can you send me an email on which settlement this issue is with, I'll have a look at it: willem@mollie.com.

[2018-07-03 10:03] focussing opened #222 "Please help getting started"
I tried to install the api via Composer or via ZIP download, but none of the described ways I get the \Mollie\api folder...

What am I doing wrong?

[2018-07-05 19:06] freddyamsterdam commented on #191
@willemstuursma I think this issue was maybe closed prematurely. I can only speak for myself here, but I have checked the profile for payment methods: iDeal is enabled. The payment method in question is a first payment for a subscription. Any missing vars in code below are properly defined populated in the example below.

For the record: I'm using api keys and not oAuth. I can make a new issue if

[2018-07-09 09:02] holtkamp commented on #222
composer typically installs it in a `vendor` folder. By using autoloading you can then use it in your userland code

[2018-07-09 09:05] holtkamp commented on #221
did you guys find anything? I come to the conclusion that the "sum of all Settlements" (which might be on a daily basis) _might_ not be exactly the same as the the amount that is processed in the monthly Invoice. This makes the financial accounting part of the Settlements difficult...

[2018-07-09 09:12] willemstuursma commented on #221
Sorry @holtkamp I didn't have time to look into it yet. Spend most of last week in London on the OWASP AppSec conference.

[2018-07-10 09:23] willemstuursma opened #223 "Create build with isolated dependencies in separate namespaces"
For v2, we should create a build that has renamed any internal dependencies (such as Guzzle) so that it can be dropped in Wordpress installations without conflicting with other dependencies.

This could be done with https://github.com/humbug/php-scoper or similar.

[2018-07-10 09:36] willemstuursma opened #224 "Ship CA files with v2 module"
## Specifications

  - API Version: v2

## Describe the issue

Various reports have come in centering around cURL error 60, the certificates cannot be verified.

Given the wide landscape of servers our client runs on, we might need to ship a `cacert.pem` file just like in v1.

[2018-07-10 15:43] dmdijkslag opened #225 "MT940 download"
Hello, I am using the mollie/laravel-mollie (with mollie-api-php) repo.
Api version 2.0

From the mollie dashboard a user has the ability to download a MT940 file.
Is it possible to download this file through the api? Or is there another way?
We would like to automate this proces.

I think that at the moment the only way to achieve this is through the settlements API v2.
Is this correct or do you

[2018-07-11 16:08] davdebcom commented on #223
Yes, please!

[2018-07-12 09:57] thobroni opened #226 "Can I update subscription amount?"
## Specifications

  - API Version: 2

## Describe the issue
I am trying to create subscription proccess, and I want to give a discount for first month, how to do that ?, can I update subscription amount?. Thanks

[2018-07-12 10:14] willemstuursma commented on #226
We'll be releasing an Update Subscription endpoint soon which will allow you to change the subscription amount. Expect it within 14 days.

[2018-07-12 10:14] #226 closed

[2018-07-13 11:41] Smitsel commented on #222
Hi @focussing,

Sorry for the delay! We already have these zips available for you.
The latest one is: https://github.com/mollie/mollie-api-php/releases/download/v2.0.6/mollie-api-php.zip

When u download this and place it in your development folder, make sure to require the vendor/autoload.php file like this:
`require_once __DIR__ . "/vendor/autoload.php";`

This way all the classes will be loaded

[2018-07-13 11:45] Smitsel commented on #147
Closing issue due to inactivity.

[2018-07-13 11:45] #147 closed

[2018-07-16 09:13] holtkamp commented on #222
Hi @focussing

Composer is the "accepted standard" for dealing with dependencies in PHP projects. While a single .ZIP archive of the Mollie library might be easy to get things going, on the long run I would really advise to use Composer for this. It will make it really easy to upgrade to new versions, etc.

Good luck!

[2018-07-17 09:19] Smitsel commented on #222
Hope you got it running @focussing.

If you still run in to trouble, please check out our support articles:
https://help.mollie.com/hc/nl/categories/201332145-Integratie

Or contact our support department.

[2018-07-17 09:19] #222 closed

[2018-07-17 10:06] willemstuursma opened #228 "Parameters depend on GET / POST"
## Specifications

  - API Version: v2

## Describe the issue

For the v2 API when using OAuth, it is mandatory to pass `["testmode" => "true"]` when retrieving payments (a GET operation) and `["testmode" => true]` when creating payments (a POST operation). The API client should hide such differences.

[2018-07-17 15:57] #228 closed

[2018-07-18 06:38] willemstuursma commented on #223
See #229

[2018-07-18 14:12] #223 closed

[2018-07-19 08:22] willemstuursma commented on #226
Hi @thobroni We've added an Update Subscription endpoint.

[2018-07-19 08:30] willemstuursma commented on #215
Hi @holtkamp. We've added an `invoiceId` property and a link to the invoice on the Settlement resources (still needs to be added to this client though).

Hope this helps.

Adding an `v2/invoice/inv_xxxxx/settlements` endpoint is not on the roadmap, sorry.

[2018-07-19 08:30] #215 closed

[2018-07-19 09:33] thobroni commented on #226
Great. thanks

[2018-07-19 13:44] holtkamp commented on #215
Thanks for the response @willemstuursma

Is this for both version `v1` and `v2` of the API?

[2018-07-19 14:11] holtkamp opened #231 "Unimplemented property Payment.settlementId"
## Specifications

  - API Version: v1 and v2

## Describe the issue
When dumping a loaded Payment, one can easily see all the properties:

[code]

When comparing this to the properties of the [`Payment`](https://github.com/mollie/mollie-api-php/blob/ba5d227dfa96da28013cdaebbe4acb7ea00607f3/src/Mollie/API/Object/Payment.php) class, it seems the `settlementId` property is not defined in that class,

[2018-07-19 14:50] willemstuursma commented on #215
Only in v2 @holtkamp.

[2018-07-20 06:57] #231 closed

[2018-07-20 07:00] Smitsel commented on #231
Hi @holtkamp,

I've just added it to the v2 Payment resource.
When i checked out the v1-develop i've noticed its actually there.

[2018-07-20 07:23] dmdijkslag commented on #225
I was afraid of that :)

In the mean time i already created an alternative way to accomplish this.
but we are still interested in the feature so we will await the feature request.

thanks

[2018-07-20 07:23] #225 closed

[2018-07-20 08:00] holtkamp commented on #231
@Smitsel doh, you are right, it was my added through my own PR 😄
https://github.com/mollie/mollie-api-php/pull/216

Can a new release be done which includes this change? `1.9.9` does *not* include it...

https://github.com/mollie/mollie-api-php/blob/v1.9.9/src/Mollie/API/Object/Payment.php

[2018-07-20 19:30] ndijkstra opened #232 "Customer payments not working in testmode oAuth"
## Specifications

  - API Version: v2
  - Client version: 2.0.7

## Describe the issue

Retrieving a customer in testmode is working fine:
`$mollie->customers->get('cst_xxxxx', ['testmode' => 'true']);`

Only listing the payments, mandates or subscriptions of the customer isn't working in testmode. I'm getting the error: "Error executing API call (404: Not Found): Customer cst_xxxxx exists, but t

[2018-07-23 06:57] Smitsel commented on #232
Thanks @ndijkstra,

I've created a PR with the fix.

[2018-07-23 07:05] Smitsel commented on #231
It's released:
https://github.com/mollie/mollie-api-php/releases/tag/v1.9.10

[2018-07-23 07:32] #232 closed

[2018-07-23 12:17] it-can commented on #224
Maybe this is an option?

https://github.com/composer/ca-bundle

[code]

[2018-07-24 06:57] #224 closed

[2018-07-24 13:44] sandervanhooft opened #235 "$payment->getRefund(...) missing"
## Specifications

  - API Version: v2.0
  - Mollie client: v2.0.8

## Describe the issue
Working on the API docs, discovered there's no `$client->refunds->get('refund_id_here')` method. Makes it hard to retrieve or cancel a single refund.

Not worked on this package yet, let me know if you'd like me to create a PR.

[2018-07-24 13:58] willemstuursma commented on #235
If I am not mistaken, the refund has to be "get" from the Payment. It cannot be retrieved from `v2/refunds/re_xxxxx`. See the `self` URL in the `_links` property.

I guess for canceling a refund, you would usually have the paymentId on hand right?

Do you have a use case?

[2018-07-24 15:05] sandervanhooft commented on #235
Agreed. Retrieving the refund via the payment is fine. I was a bit confused because `$client->refunds` exists (`RefundEndpoint`).

There's however no way (afaik) to retrieve a single refund (by refund-id). Right now you need to manually filter the results from `$payment->refunds()`.

Perhaps add a `$payment->getRefund(...)` helper?

[2018-07-25 15:00] sandervanhooft commented on #235
(There's a similar `getMandate('some_id')` helper method on the `Customer` resource.)

[2018-07-26 07:09] Smitsel commented on #235
Its allright if you make a PR for it :)

[2018-07-27 09:27] KDederichs opened #237 "JSON request body does not represent an object"
## Specifications

  - API Version: 2.0.9

## Describe the issue

Hey,

I'm using your API in combination with Symfony 4 and so far it was working fine.
Out of the blue I started to get
```Error executing API call (400: Bad Request): The JSON request body does not represent an object..```

Errors while trying to create new customers.

Any idea what could be causing this?

[2018-07-27 11:13] Smitsel commented on #237
Can you post a piece of code to give some more context on what you're using?

[2018-07-27 12:10] KDederichs commented on #237
Sure,
the scenario is simple:
I have a doctrine listener that queries the Mollie Api after a new customer is registered to get an ID from you. That is done simply by calling:
[code]

The MollieApiClient is registered as a service and is inject by DI into the listener.
The MollieApiClient is simply registered by setting:

[code]

[2018-07-27 13:24] Smitsel commented on #237
Hi @KDederichs,

The error is because you are not supplying any parameters to `$this->mollie->customers->create()`.
Which tries to json_encode the parameters to send to our endpoint. Which will result into an error. Since we're actually trying to json_encode null.

[2018-07-27 13:29] Smitsel commented on #237
Yes sorry, it is actually a message given by the API.
But the cause is the same, it needs parameters.

I'll check if we can alter this message in the API.

[2018-07-27 13:31] KDederichs commented on #237
In that case your documentation is wrong though, cause all parameters in create customer are marked optional. So it would make sense that it works with no parameters:
https://docs.mollie.com/reference/v2/customers-api/create-customer

[2018-07-27 13:38] willemstuursma commented on #237
@smitsel This must be altered by the client. It should not send a body if there are no parameters (empty array).

[2018-07-27 14:04] Smitsel commented on #237
Thanks for reporting this.
The body should indeed not be passed when left empty.

I've committed and released this under https://github.com/mollie/mollie-api-php/releases/tag/v2.0.10

[2018-07-27 14:04] #237 closed

[2018-07-30 13:38] sandervanhooft opened #238 "Oauth / Connect token management methods and examples missing"
## Specifications

  - API Version: 2
  - Package version: 2.0.10

## Describe the issue
(I came across this issue while updating the official Mollie docs.)

Examples for Oauth / Connect token management are missing.

Only `setAccessToken(...)` is currently mentioned ([here](https://github.com/mollie/mollie-api-php/blob/6567ed19aa657c58ae50b2185918d4cff512d097/examples/initialize_with_oauth.php#L1

[2018-07-30 14:04] willemstuursma commented on #238
OAuth should be handled using league/oauth for which we created a [provider](https://github.com/mollie/oauth2-mollie-php).

Does that help @sandervanhooft ?

[2018-07-30 14:06] sandervanhooft commented on #238
I think that's the best way indeed.

Perhaps document this in the readme?

[2018-07-30 14:11] willemstuursma commented on #238
Yes, that would be great. Could you open a PR?

[2018-07-30 14:46] sandervanhooft commented on #238
Any suggestions for the official docs on this topic?

[2018-07-30 15:17] sandervanhooft commented on #235
Ok, to be sure, that would require the following to be implemented:

[code]

[2018-07-30 15:22] sandervanhooft commented on #235
Will work on this later this week.

Also noted that there's a minor docbloc issue [in the Payment resource](https://github.com/mollie/mollie-api-php/blob/8acb00b90a5a7a2ecfcd11d4608444150d89a220/src/Endpoints/PaymentEndpoint.php#L125), referencing `$filters`, which should be `$data`.

Will take care of this as well.

[2018-08-01 08:21] Lars- opened #240 "How to get all subscriptions for a customer?"
## Specifications

  - API Version: latest

## Describe the issue

When I use $customer->subscriptions() I get a nice SubscriptionCollection and I see the storage element in it, which holds the information I'm looking for. But it's private...

How do I get all subscriptions for a customer?

[2018-08-01 09:37] Smitsel commented on #240
Hi @Lars-

Our collection extend from PHP's ArrayObject: http://php.net/manual/en/class.arrayobject.php
This means that you can iterate it like you can see in our example:
https://github.com/mollie/mollie-api-php/blob/master/examples/13-customer-payments-history.php

Hope that helps!

[2018-08-01 10:11] #240 closed

[2018-08-01 17:13] sandervanhooft commented on #238
Closing here. Continue [here](https://github.com/mollie/api-documentation/issues/124#issuecomment-409650012).

[2018-08-01 17:13] #238 closed

[2018-08-01 17:25] sandervanhooft opened #241 "Convenience suggestion: chainable setApiKey and setAccessToken methods"
## Specifications

  - API Version: 2
  - Client version: 2.0.10

## Describe the issue
Currently, the `setApiKey` and `setAccessToken` methods return nothing / null.

If they would return `$this` instead of being void methods, they become chainable.

Current situation:
[code]

Suggested chainable situation:
[code]

[2018-08-02 12:02] sandervanhooft commented on #235
Hi @Smitsel ,

Working on it...

Shouldn't RefundEndpoint have `payments_refunds` as the resource path?

[code]

[code]

[2018-08-02 12:04] sandervanhooft commented on #235
While implementing `$client->refunds->getFor($payment, $refundId, $params)` I now get these test results:

[code]

RefundEndpoint method
[code]

[2018-08-02 12:16] sandervanhooft commented on #235
I'll prepare a PR and leave the nested resource path commented out for now.

[2018-08-02 12:26] sandervanhooft commented on #168
This would also be beneficial to Cashier's `switchPaymentMethod`.

[2018-08-03 08:59] Smitsel commented on #235
Pull request has been merged! Thanks @sandervanhooft

[2018-08-03 08:59] #235 closed

[2018-08-03 10:57] #241 closed

[2018-08-03 13:57] kikosoft opened #244 "Namespace inconsistency when not using Composer."
I downloaded the mollie-api-php.zip from the releases page, **version v2.0.10**.

The example payment creation works fine, no Composer needed. However, when I required `vendor/autoload.php` in my own project, I got a fatal error when I used it in the same way as in the examples. The error reads:

After some digging around I found that there was already another `GuzzleHttp` loaded on the system in

[2018-08-03 14:43] willemstuursma commented on #244
Thank you for the extensive research. I think we have to create a "patcher" for PhpScoper, to automatically rewrite the `function_exists` call.

[2018-08-06 11:24] focussing commented on #222
Thank you, I was out for a while.
It works, I can call the api/examples by typing them directly in the browser address bar.
Is there an example of adressing the api for let's say example nr 04 from javascript?

[2018-08-06 11:30] Smitsel commented on #222
Hi! Great that it worked with the feedback.
Can you please forward this and future questions to: techsupport@mollie.com?

[2018-08-06 11:32] focussing commented on #222
I will, thank you. English or Dutch? :)

[2018-08-06 11:33] Smitsel commented on #222
They can help you in both ;)

[2018-08-06 13:30] focussing commented on #222
I hope so; sent them a question at 13:36, hopefully they answer soon :)

I am able to create payments from my javascript application, and list all of them.
Changed example 05 for that; basically adding
[code]
However I cannot get example 04 to work properly; when I call the PHP script from my application (filling in amount parameters etc), according the guides; "Test payments come with a hosted pa

[2018-08-06 14:29] focussing commented on #222
@Smitsel found it... so easy finally; I had to call the checkoutUrl mysel in my application....

[2018-08-06 14:55] kikosoft commented on #244
Hmm, I still keep getting conflicts between Mollie's API and an existing normal Guzzle client in its default namespace. Has this ever been tested?

I could suggest to check for the presence of the Guzzle client, in its default namespace, and then use that one, but that can be problematic due to version differences. So forget that.

The only thing left to tell you, is how you can reproduce what I r

[2018-08-06 15:08] nickurt commented on #244
I think I hit this as well with WooCommerce today cc https://github.com/mollie/WooCommerce/issues/235

[2018-08-06 16:51] davdebcom commented on #244
Getting multiple reports from users of the WooCommerce plugin. Using PhpScoper seems to solve some conflicts (plugins I tested all seemed to now work) but creates new conflicts with other plugins.

[2018-08-06 20:40] holtkamp commented on #221
Monthly bump on this, encountered this again on the new Invoice 🤓

[2018-08-07 07:32] sandervanhooft opened #245 "Add cancel() method to Subscription resource"
## Specifications

  - API Version: v2
  - Client Version: v2.0.10

## Describe the issue
Subscription resource currently has no `cancel` method. The only way(?) to cancel a Subscription is by calling `cancelSubscription(id)` on the Customer.

But in the use case below it's more convenient to have a cancel method on the Subscription resource as well:

[code]

[2018-08-07 10:54] Smitsel commented on #244
Hi guys, we've just made sure that this function exists check will actually check the Scoped function.
So those should be resolved.

I'm having troubles to actually test if this resolves the WooCommerce issues.
Can you guys check this out with the new zipfile? @nickurt @davdebcom

[2018-08-07 11:06] davdebcom commented on #244
@Smitsel Tested this fix, still getting
[code]

And is there is special reason to whitelist: GuzzleHttp\\ClientInterface in `scoper.inc.php`?

[2018-08-07 14:16] Smitsel commented on #244
Yes this should not be whitelisted as it creates an Alias for the interface and we get these strict errors.

However this only brings us one step further. The next error we get is that the first Guzzle client that gets auto loaded will have its corresponding functions.php loaded. The next one auto loaded will have the same file require hash in composer. Which will not be loaded and thus will not h

[2018-08-08 10:20] sandervanhooft opened #247 "[Beta]Order and Shipment integration"
## Specifications

  - API Version: v2

## Describe the issue
I am preparing the Order and Shipment integrations [in this fork/branch](
https://github.com/sandervanhooft/mollie-api-php/tree/klarna).

Any discussion on the development can take place here in this issue.

PR is here: #252.

**Endpoints:**
- [x] `OrderEndpoint` for `/orders/*`:
  - [x] `create`
  - [x] `get`
  - [x] `list`
  - [x] `ca

[2018-08-08 10:34] sandervanhooft commented on #247
The response for `OrderEndpoint.get/create/list` includes order lines (`lines`).

@ndijkstra Should this be an `OrderLineCollection` resource?

It would be a first for this client to include a nested resource(collection) in a response. It would probably require overriding the `rest_create` method.

[2018-08-08 10:35] ndijkstra commented on #247
The order lines are in the order response. The order line endpoint is only for canceling an order line

[2018-08-08 10:37] sandervanhooft commented on #247
Ok, so no `OrderLineCollection` is necessary on the `Order` resource?

I'll update the plan above to only include the `cancel` method on `OrderLine`.

[2018-08-08 10:59] ndijkstra commented on #247
I think that is correct. @Smitsel Can you check if this is ok?

[2018-08-08 12:05] Smitsel commented on #247
I think it is, take for example the IssuerCollection.
These are an include on the methods api. But its rather useful to make them value objects.

This way we can iterate the OrderLineCollection and create cool helper functions like:`$orderline->cancel()`.

So please do add them :)

[2018-08-08 12:07] Smitsel commented on #247
I can also see value for people implementing this library and typehint them for example.

[2018-08-08 12:48] sandervanhooft commented on #247
Thanks @Smitsel ! I overlooked the IssuerCollection on the methods api. I'll look into that one for inspiration.

[2018-08-08 12:59] sandervanhooft commented on #247
By the way, why are all properties defined _explicitly_ on the resource classes? The tests are passing without. Is this for autocompletion?

[2018-08-08 13:00] Smitsel commented on #247
Yes it is.

[2018-08-08 14:27] sandervanhooft commented on #247
Are there any other relations I should be aware of, like to a `customer` entity?

I.e. the word `customer` is used a lot in the order docs, but there seems to be no relationship defined.

[2018-08-08 15:06] sandervanhooft commented on #247
I'm assuming there's going to be a Order cancel (delete) api endpoint, right?

I.e.
[code]

[2018-08-08 15:08] ndijkstra commented on #247
Correct. Docs coming soon 😇

[2018-08-08 15:29] sandervanhooft commented on #247
OrderEndpoint ready (see backlog). Had to use some response fixtures and assertion helpers to keep the file length in check. Reduced it from 1600+ lines to less than 600. Pfew 😓

[2018-08-08 18:42] willemstuursma commented on #247
Yes, it is very important to remember that tests are software too, and they can massively benefit from abstractions too.

[2018-08-09 08:32] holtkamp commented on #247
@sandervanhooft just noted the incorrect casing of `Stdclass`, it should be `stdClass`

https://github.com/sandervanhooft/mollie-api-php/blob/02bc1988b91ef66cc28d6ada659f4fe10aa8c211/tests/Mollie/API/Endpoints/OrderEndpointTest.php#L335

[2018-08-09 09:33] willemstuursma commented on #244
Created https://github.com/humbug/php-scoper/issues/256 to see if we can resolve the scoping issue at least.

[2018-08-09 09:38] willemstuursma commented on #244
If it is not whitelisted, it would be impossible to inject your own client.

However, I guess that for the WooCommerce module purposes it's not useful to add your own client anyway.

[2018-08-10 11:37] willemstuursma commented on #244
humbug/php-scoper#256 has been resolved, the problem was caused by the `7` in the class name.

Once a new version has been released, we'll release a new version here too.

[2018-08-10 11:59] #244 closed

[2018-08-13 09:10] sandervanhooft commented on #247
Thanks @holtkamp!
Interestingly though, the tests pass... Nevertheless, I'll convert `StdClass` into `stdClass` as suggested.

[2018-08-13 09:37] willemstuursma commented on #247
Class names are case-insensitive in PHP @sandervanhooft, only the Composer autoloaders (PSR-0, PSR-4) are.

[2018-08-13 09:47] sandervanhooft commented on #247
Working on the `OrderResource` statuses and status methods now.

Can someone with Order API domain knowledge check whether this test ([link](https://github.com/sandervanhooft/mollie-api-php/blob/a191c90a8040ad182c93d44247e41a92347b3ff9/tests/Mollie/API/Resources/OrderTest.php)) is ok? If so I can continue with implementation.

(The docs are not ready for this yet, only stating "See Order status ch

[2018-08-13 09:47] sandervanhooft commented on #247
Good to know 😄

[2018-08-13 09:55] Smitsel commented on #247
Hi Sander, the status fields are as described in the docs.
So your status methods are correct.

What we ment with the "order status changes details" is the transitions between statuses.
We will add a guide for this and update accordingly.

[2018-08-13 09:59] sandervanhooft commented on #247
Ok @Smitsel ! So I'm going to assume there's no additional logic to implement than (pseudo):

[code]

[2018-08-13 12:53] sandervanhooft commented on #247
Indeed I do 😆

Seems to me that there should be a `isCancelable` method on the `OrderLine` resource as well.

[2018-08-13 12:55] sandervanhooft commented on #247
Perhaps this would require an additional `isCancelable` field in the Order API response?
I noticed it on some other resources.

[2018-08-13 12:58] sandervanhooft commented on #247
Ok, I'm mixing things up here. I think we need this `isCancelable` method both on the Order and the OrderLine.

I can probably implement the logic client side, but I think it's better to include a `isCancelable` field on both the Order and the OrderLine responses, to keep the logic where it belongs - server side.

[2018-08-13 12:58] sandervanhooft commented on #247
Like with the payment response, it has a `isCancelable` field.

[2018-08-13 13:08] sandervanhooft commented on #247
@Smitsel Minor doc issue: the id is missing on the Order line details. ([Link](url
https://docs.mollie.com/reference/v2/orders-api/create-order#order-line-details))

[2018-08-14 13:25] willemstuursma commented on #221
@holtkamp it's not forgotten, I'll let you know if there are any updates.

[2018-08-15 08:46] #245 closed

[2018-08-15 09:32] sandervanhooft commented on #220
@willemstuursma It seems like the permission endpoint has not been implemented yet in this client.

[2018-08-15 09:33] sandervanhooft commented on #220
[code]

[2018-08-15 09:37] willemstuursma commented on #220
@sandervanhooft feel free to add it to this client.

[2018-08-15 11:36] sandervanhooft commented on #247
As you can see [here](https://github.com/mollie/mollie-api-php/issues/247#issue-348664390): nearly done with the implementation!

I'd like to manually test this against the private beta api when it's available.

[2018-08-15 13:44] sandervanhooft commented on #247
@ndijkstra @Smitsel @willemstuursma

Next steps:
- review WIP PR (don't merge yet) (Mollie )
- write examples (Sander)
- try examples as soon as API is ready (Sander)
- all works? Merge PR & release (Mollie)
- (update Laravel client (Sander))

[2018-08-15 13:53] sandervanhooft commented on #220
@willemstuursma I'll discuss priorities with Mike and Nick :).

[2018-08-21 10:01] sandervanhooft commented on #247
I just read up on the `Order` docs. It seems the `void` status is dropped, and the `expired` status is new.

Is that correct?

[2018-08-21 10:04] willemstuursma commented on #247
@sandervanhooft yes we are indeed re-considering some of the statuses

[2018-08-21 10:06] sandervanhooft commented on #247
@willemstuursma Thanks. So it's not final yet? In that case I'll leave it alone for now.

[2018-08-21 12:28] sandervanhooft commented on #247
Added the examples.

[2018-08-21 14:48] sandervanhooft opened #254 "Subscription billing cycle"
## Specifications

  - API Version: 2

## Describe the issue
For subscription handling in Laravel Cashier, I'd like to retrieve the most recent payment date and/or (preferably) the next payment date. So I can determine grace periods after canceling the subscription.

Is there a way to do this?

[2018-08-22 13:40] sandervanhooft commented on #254
@Smitsel What are your thoughts on this?

I am now estimating the next payment date based on the `createdAt` and `interval` fields. But imho it's not as reliable as doing it server-side.

[2018-08-22 14:14] Smitsel commented on #254
Hi @sandervanhooft,

We do it based of the `startDate` and `interval` server side too.

So i'm going to let @ndijkstra decide if we should do this internally in the client.
Or create a ticket to add these to the resource :)

[2018-08-22 15:46] willemstuursma commented on #254
@sandervanhooft I created an issues for us to create a `customer/cst_xxxx/subscription/sub_xxxx/payments` resource.

That still won't give you the next payment date though.

[2018-08-23 06:52] Smitsel commented on #254
We have the logic on our side. So we might as well add that to the subscription resource.
But this will have to be put on our backlog then :)

[2018-08-23 06:56] ndijkstra commented on #254
I've created an issue for the next payment date on our backlog.

[2018-08-23 08:07] willemstuursma commented on #254
@ndijkstra good idea, we can add it to the subscription resource.

[2018-08-23 16:32] sandervanhooft commented on #254
Thanks @willemstuursma @ndijkstra @Smitsel !

I like where this is going 😄

[2018-08-25 13:40] sandervanhooft commented on #247
@ndijkstra @Smitsel @willemstuursma

Similar to the `isCancelable` field, I think there should be an `isRefundable` field on the `Order` response. What do you think?

[2018-08-26 11:42] willemstuursma commented on #247
We'll create a field for the refundable amount probably.

[2018-08-27 11:11] sandervanhooft commented on #247
@willemstuursma Then an `isRefundable()` helper would be nice

[2018-08-27 15:48] sandervanhooft opened #257 "Feature request: Subscription metadata"
## Specifications

  - API Version: 2

## Describe the issue
For subscription handling in Laravel Cashier, I'd like to store `metadata` on the subscription. Is it possible to add this field?

[2018-08-27 15:52] sandervanhooft commented on #257
The specific use case here is that I'd like to support Cashier's subscription quantity support.

When updating the quantity, I'd like to store the `quantity` as `metadata`, and update the amount value accordingly.

There are probably many other use cases for subscription metadata.

[2018-08-27 15:55] sandervanhooft commented on #254
Let me know if you have any updates on the timeline.

I'll work around this for the Alpha release of Cashier (`estimateCurrentPeriodEnd()` instead of `getCurrentPeriodEnd()`). But it will be required for the stable release.

[2018-08-28 12:27] ndijkstra commented on #257
Thanks @sandervanhooft, I will create an issue for that on our backlog

[2018-08-29 11:31] sandervanhooft commented on #247
@Smitsel When you review this, be sure to keep an eye out for OAuth compatibility. I've not explicitly tested this.

[2018-08-30 07:10] willemstuursma commented on #247
@sandervanhooft we want to merge this into a branch and create a pre-release, is that OK for you?

[2018-09-03 15:10] sandervanhooft commented on #257
Can I work around this by switching to recurring payments?

[2018-09-03 16:09] haayman opened #262 "Prevent payment id to expire?"
## Specifications

  - API Version: PHP 1.8

## Describe the issue

I'm writing a ticket-reservation system with the ability to cancel the tickets and get a refund.
In my dev environment I sometimes get an error 'invalid payment id'. It appears that the payments expire? Can this be prevented? If not: what's the expiration period? Is it the same for dev/production?

[2018-09-03 21:45] toonvandeputte commented on #262
Are you using the test mode? Because payments in test mode disappear after a set amount of time. This is normal behaviour, but poorly document. I've had the same kind of thing happened and it took me a while to figure out what was going on.

In live mode and for normal expired payments, the API will not return 'invalid payment id', but will rather return the payment with a status of 'expired'.

AF

[2018-09-04 00:46] haayman commented on #262
Ouch, that destroys the entire idea behind my site. Thanks (I don't mean
that sarcastically :-))

Op ma 3 sep. 2018 23:45 schreef Toon Van de Putte <notifications@github.com

[2018-09-04 06:28] ndijkstra commented on #262
Hi, test mode payments are not being deleted anymore: https://docs.mollie.com/changelog/v2/changelog#tuesday-31st

For bank transfer payments, you can set a maximum of 100 days. [See due date in our docs](https://docs.mollie.com/reference/v2/payments-api/create-payment#bank-transfer).

For our other payment expiry times you can read our [status changes guide](https://docs.mollie.com/payments/statu

[2018-09-04 06:28] #262 closed

[2018-09-04 13:52] sandervanhooft commented on #257
Unfortunately triggering payments periodically from the application side is not a viable option using Cashier.

[2018-09-04 15:08] sandervanhooft commented on #254
@willemstuursma wrote:

This would also be very helpful for refunding a subscription payment.

Or is there another way to (partially) refund a subscription?

The use case here is that I need to swap a subscription plan using prorating in Laravel Cashier.

So let's say the customer swaps from plan A to plan B. So subscription A is canceled and subscription B is started.

The customer will need to b

[2018-09-04 15:39] sandervanhooft opened #265 "[Beta]Add support for Captures"
## Specifications

  - API Version: 2

## Describe the issue
Just discussed this with @ndijkstra . I will add support for Captures conform the docs [here](https://docs.mollie.com/reference/v2/captures-api/get-capture).

Plan on working on this later this week in the `orders-api` branch.

[2018-09-05 07:30] willemstuursma commented on #254
No, refunds are always created on the payment or on the order, which creates a refund on one of the payments.

[2018-09-06 14:27] eduardo71vg opened #266 "Error executing API call (rate-limit): Your request has been rate limited (please wait 55s)"
## Specifications
  - API Version: v1
  - PHP CLIENT_VERSION = "1.6.0"

## Describe the issue

I am receiving the following API error while trying to execute a batch of payments for the same API KEY:

Error executing API call (rate-limit): Your request has been rate limited (please wait 55s)

I would like to know two things:

1. The rate limit for my account
2. Does this rate limit is linked to th

[2018-09-06 14:44] willemstuursma commented on #266
The rate limit is linked to your account.

You can reach out to our support department to retrieve your current limit and request a higher limit.

Note that any paid payments will not count towards your limit.

[2018-09-06 14:44] #266 closed

[2018-09-06 14:47] eduardo71vg commented on #266
Hello @willemstuursma thanks for your prompt response, what about the second question? Thanks

[2018-09-07 08:32] eduardo71vg commented on #266
@willemstuursma thanks for your help

[2018-09-13 11:12] sandervanhooft commented on #220
The same for Organizations: not implemented yet.

[2018-09-14 14:44] sandervanhooft commented on #220
#273

[2018-09-14 14:45] sandervanhooft commented on #220
#274

[2018-09-14 14:59] sandervanhooft commented on #84
A thought for the weekend... 😄

The filtering feature mentioned by @holtkamp is in fact an opinionated API design paradigm if applied consistently. It's also advocated in "Build APIs You Won't Hate" by Phil Sturgeon. (Conceptually still applicable, although technically a bit outdated).

Right now I see a lot of sub(sub?)resources being added to Mollie's services to tackle problems that could be al

[2018-09-18 12:50] MollieRick commented on #257
Hi @sandervanhooft, it is now possible to add `metadata` to subscriptions. Please see the [documentation](https://docs.mollie.com/reference/v2/subscriptions-api/get-subscription) for more info :-)

[2018-09-18 12:50] #257 closed

[2018-09-18 14:29] sandervanhooft commented on #220
@willemstuursma I think this issue is now solved and can be closed.

[2018-09-18 14:53] sandervanhooft opened #276 "Support for Settlement subresources"
## Specifications

  - API Version: 2

## Describe the issue
While working on [the documentation](https://github.com/mollie/api-documentation/issues/124), I noticed this client does not support Settlement subresources yet.

<img width="249" alt="screenshot" src="https://user-images.githubusercontent.com/7265703/45696146-33cc8d00-bb63-11e8-81f2-4d1b39dada75.png">

Should these be added? Let me know

[2018-09-18 15:16] willemstuursma commented on #276
We can add them once we release personal access tokens, which are due soon.

[2018-09-18 15:16] #220 closed

[2018-09-18 15:18] willemstuursma commented on #170
Hi @oekeur. We're looking to integrate a Create organization API call in the v2 API. See https://github.com/mollie/api-documentation/pull/211 for what it would look like.

Let us know what you think!

[2018-09-18 15:20] sandervanhooft commented on #276
Ok, 'personal access tokens` sounds like interesting stuff is coming! Any impact on the Laravel client as well?

[2018-09-18 15:27] willemstuursma commented on #84
In practice it is very hard to offer a public API where arbitrary combinations of filters are allowed. The size and cardinality can be wildly different between API consumers, leading to unpredictable query plans on the storage layers. Unpredictable query plans lead to outages affecting multiple merchants, which is a no-no.

These problems can be solved with custom solutions but this is expensive a

[2018-09-18 15:27] #84 closed

[2018-09-18 15:28] willemstuursma commented on #276
We'll create some documentation soon and then you can investigate impact on the clients. The tokens will allow you to access OAuth resources without creating an app.

[2018-09-20 01:01] RamarioDepass opened #277 "Issues when user cancels payment"
I'm using Mollie Checkout. When a user cancels a payment on the checkout page they are redirected to the success redirect url. How do I send the user to a cancel url? I'm not very familiar with webhooks and my attempts to fix this have failed. Is there a simple cancel url feature?

[2018-09-20 07:15] zzplab commented on #277
You don't need another url. The response example is in [02-webhook-verification.php](https://github.com/mollie/mollie-api-php/blob/master/examples/02-webhook-verification.php)

[2018-09-20 07:28] willemstuursma commented on #277
There is no cancel URL. See https://github.com/mollie/mollie-api-php/issues/18#issuecomment-255081190 where it was extensively discussed.

[2018-09-20 07:28] #277 closed

[2018-09-20 14:07] sandervanhooft commented on #254
@MollieRick Thanks! 🎉

[2018-09-20 14:12] sandervanhooft commented on #254
These are great features!

@willemstuursma wrote:

I've discussed with @ndijkstra , Mike and Taylor (Laravel founder) that we'll be scheduling recurring payments manually client-side in the upcoming Mollie Cashier package. While it would be a great feature imho, I personally no longer have a direct need for the next-payment-date feature.

[2018-09-20 14:13] sandervanhooft commented on #254
We are going with "scheduling" because it allows us more flexibility / more advanced use cases.

[2018-09-20 14:15] MollieRick commented on #254
I have this in development now, so maybe you can use it in the feature.

[2018-09-20 14:16] sandervanhooft commented on #254
It's absolutely valuable!

[2018-09-20 14:30] sandervanhooft commented on #254
https://docs.mollie.com/reference/v2/subscriptions-api/list-subscriptions-payments

Will you be adding it to this php client as well? Let me know if I can help.

[2018-09-25 07:54] MollieRick commented on #254
Aaaaand also the `nextPaymentDate` field is now available in the Subscription API.

[2018-09-25 08:57] #254 closed

[2018-09-26 09:10] sandervanhooft commented on #254
@MollieRick Great!

[2018-09-26 09:29] willemstuursma opened #278 "No timeouts set in API v2 client"
## Specifications

  - API Version: v2

## Describe the issue

There doesn't seem to be any default time outs set.

A default timeout of 10s should be configured if no Client is passed.

[2018-09-26 20:20] amirakbulut opened #279 "Unhandled \Mollie\Api\Exceptions\IncompatiblePlatform"
I'm running the API V2 on php 7.2.5.

I just installed the client API succesfully through composer, but when initializing the API client like:

`$mollie = new \Mollie\Api\MollieApiClient();`

It says 'Unhandled \Mollie\Api\Exceptions\IncompatiblePlatform' within the code editor, also when visiting the page in my browser, it throws the error 'Uncaught Error: Class 'Mollie\Api\MollieApiClient' not f

[2018-09-27 22:01] #279 closed

[2018-09-28 13:14] willemstuursma opened #280 "Settlement::payments() doesn't work"
## Specifications

  - API Version: v2

## Describe the issue

[2018-09-28 13:14] willemstuursma commented on #280
@sandervanhooft any clues?

[2018-09-28 14:31] sandervanhooft opened #281 "Naming consistency: client / api"
## Specifications

  - API Version: v2

## Describe the issue
While debugging, I got a bit confused because the `api` / `client` naming is not consistent. I'd suggest to stick with one of the two.

In the Endpoints, the client is named `$api`. In the Resources, it's called `$client`.

I vote for `$client`.

[2018-09-28 14:35] sandervanhooft commented on #280
So at this point I'd need to look at the specific customer's implementation code to find out what's going on exactly.

[2018-10-02 08:12] mvdpanne opened #284 "Implementation of canceling order lines is outdated"
## Specifications

  - API Version: v2

## Describe the issue

About a month ago, we have decided to move from a `cancelOrderline` endpoint to a `cancelOrderlines` endpoint. This allows merchants to cancel multiple order lines in one API call, instead of having to do multiple API calls.

There was probably some lack of communication about this, which is our bad. Please see the updated documentatio

[2018-10-02 10:35] sandervanhooft commented on #284
@mvdpanne No problem. Sure, I'll pick this one up.

@Smitsel
Do you want to preserve the `$order->cancelLine("odl_dgtxyl", 2);` method as a shorthand for

[code]

?

[2018-10-02 11:02] sandervanhooft commented on #281
@Smitsel 👍 Sure, I will

[2018-10-02 12:48] Smitsel commented on #284
I think cancelLines is fine.

Maybe we should even take it a step further and take `$data` on the cancel method.
I think that would be most preferred since it is consistent with refund :)

I'll let you decide :)

[2018-10-02 15:42] sandervanhooft commented on #284
Tests:
- [ ] Replace `OrderEndpointTest.testCancelOrderLinePartially()` by `.testCancelOrderLines()`
- [ ] Remove `OrderEndpointTest.testCancelOrderLineOnResourceCompletely()`
- [ ] Remove `OrderEndpointTest.testCancelOrderLineOnResourcePartially()`

Source:
- [ ] Remove `OrderLine $orderline->cancel()`
- [ ] Replace `Order $order->cancelLine(...)` by `Order $order->cancelLines($data)`
- [ ] Updat

[2018-10-02 17:54] sandervanhooft commented on #284
Also added `$order->cancelAllLines()`

[2018-10-02 18:28] sandervanhooft commented on #284
All done. PRs ready. 😄

[2018-10-03 12:08] everydaypanos opened #290 "No suitable mandates found for method"
## Specifications

  - API Version:

## Describe the issue

Hello,
I am in TEST MODE and I am trying to create a new Subscription for a newly created Payment(mandate status = pending) and I always receive this error:

"No suitable mandates found for method"

Although I have just created a new Payment via the API and I can see one "pending" mandate, I cannot create the subscription.

PS The Subscri

[2018-10-03 12:31] SanderVanLeeuwen commented on #280
That would be me. And I have a confession to make 😅

Triggered by your remark that this works fine in your tests, I made simpler test which works fine here too. The issue seems to be related to some caching on our side. We are migrating from API v1 to v2, and in v1 it was no problem to cache the API results. But in the v2 setup it seems to be an issue.

It still feels like a bug though, as I'd sti

[2018-10-03 13:18] willemstuursma commented on #280
The client is stored in the objects (so that future calls can be done straight from the object). This prevents serialization.

[2018-10-03 13:18] #280 closed

[2018-10-03 13:27] sandervanhooft commented on #280
@willemstuursma Would a `setClient(MollieApiClient $client)` method on the BaseResource be helpful here?

[2018-10-03 14:11] SanderVanLeeuwen commented on #280
It's not a very big deal, but such a method would be helpful to somewhat reduce the number of duplicate calls.

[2018-10-04 08:25] #247 closed, assigned to nobody

[2018-10-04 08:30] martinmollie commented on #290
Hi! Could you send the API call you're doing and the customer ID to info@mollie.com? That way we can provide more in-depth support to your issue.

[2018-10-04 11:05] sandervanhooft commented on #278
@smitsel 👍 Sure I'll look into this.

[2018-10-04 11:35] sandervanhooft commented on #278
@willemstuursma @Smitsel

I can add it (it's simple) but I'm unable to test this in a non-integrative way (= without calling the API).

The current `$httpClient` generation is also not covered by any tests - all tests inject a mock client.

We could include a single integration test for this, but that would be a first.

Let me know whether:

1. you know another solution;
2. I should build a simple

[2018-10-04 13:11] willemstuursma commented on #278
3. Thanks.

[2018-10-04 16:42] sandervanhooft commented on #278
There's also a connection timeout option, but I assumed you mean a "normal" response timeout.

[2018-10-05 09:30] MollieRick commented on #168
Hi @tafelnl and @sandervanhooft,

It is now possible to set a ``mandateId`` with a subscription. When set, just that mandate will be used for creating payments.

Small note: When the mandate will be revoked, also the connected subscription(s) will be canceled.

[2018-10-05 09:30] #168 closed

[2018-10-05 10:17] sandervanhooft commented on #168
@MollieRick Thanks!

Just curious: Is this also the case if a customer has some existing valid mandates and a mandate is not set upon subscription creation? Does it then fall back to another mandate?

[2018-10-05 10:36] MollieRick commented on #168
@sandervanhooft

No, the subscription will be canceled at this time because you setting it explicitly. :)

[2018-10-09 13:58] SanderVanLeeuwen opened #294 "'next' link in '_links' contains https url to port 80"
When browsing through the payments of a settlement, the 'next' link contains a https url but also a specified port 80. This obviously breaks the next request.

For example:

[code]

The `_links` object on the payments contains a `next` link to `https://api.mollie.com:80/v2/settlements/stl_x/payments?limit=50` which is weird. Or am I missing something here?

[2018-10-09 18:28] willemstuursma commented on #294
Thanks for reporting. Looking into it, will report back here.

[2018-10-09 18:49] willemstuursma commented on #294
Thanks @SanderVanLeeuwen, this has been resolved.

[2018-10-09 19:04] robindirksen1 opened #295 "Feature request: payment events"
## Specifications

  - API Version: v1/v2

## Describe the issue

All the payments have a "history"/"events" section in the dashboard like payment started, scheduled payout etc.. Is it possible to load this via the payments api?

[2018-10-09 20:13] willemstuursma commented on #295
What would be your use case? Just curious, to understand the feature request better.

[2018-10-09 20:18] robindirksen1 commented on #295
To show the employees the actions a enduser makes for debugging/support, like selecting a payment method during the checkout, or it's waiting for a SEPA transfer?

[2018-10-09 20:28] SanderVanLeeuwen commented on #294
Check, works fine now. Thanks for the quick fix :)

[2018-10-09 20:28] #294 closed

[2018-10-09 20:53] holtkamp commented on #187
Can this also be backported for the `v1` branch?

https://github.com/mollie/mollie-api-php/blob/ed1683b244676360d951c7c5beefe02782cc20eb/src/Mollie/API/Object/Method.php#L94

Since *changing* it is probably a breaking change, it might be better to simply add the `BANCONTACT` constant?

[2018-10-09 20:58] willemstuursma commented on #295
Please send me an email with your Mollie partner ID and I will reach out to you tomorrow.

[2018-10-09 20:58] #295 closed

[2018-10-10 07:59] #290 closed

[2018-10-10 11:42] holtkamp opened #296 "Feature request: Allow to determine charged payment fee for a specific payment"
It would be nice to be able to determine the payment fee / transaction cost that was charged for a _specific_ Payment X.

It currently IS possible to acquire the total costs of processed Payments using a certain method, but for transaction costs which involve a percentual part, it would be nice to be able to determine the exact charges of a _particular_ Payment X.

**Observations**
When using the

[2018-10-12 10:04] gasserol opened #297 "Example links not working"
## Specifications

  - API Version:

## Describe the issue
The linked examples like 01-...., 02-.... are not working anymore. They did yesterday although.
...

[2018-10-12 10:12] willemstuursma commented on #297
Thanks for reporting @gasserol.

@MollieRick can you fix this? @ndijkstra renamed the files, was merged earlier today.

[2018-10-12 11:14] MollieRick commented on #297
Fixed! Again; thanks for reporting @gasserol. Happy coding!

[2018-10-12 11:14] #297 closed

[2018-10-12 21:32] SanderVanLeeuwen opened #299 "Method to update order"
The current client doesn't provide a method to update address details of an order as documented at https://docs.mollie.com/reference/v2/orders-api/update-order.

[2018-10-13 05:54] willemstuursma commented on #299
@sandervanhooft could you pick this up?

[2018-10-13 11:12] sandervanhooft commented on #299
@willemstuursma sure!

@SanderVanLeeuwen It seems you are right, thanks for reporting this. I’ll look into this this week.

[2018-10-14 08:49] SanderVanLeeuwen opened #301 "Captured amounts are not reflected on payments or orders"
## Specifications

  - API Version: 2

## Describe the issue

Captured amounts for a payment are not reflected in the payment object itself. For example, capture `cpt_24ayoe` has a related payment `tr_PntgzVWkcq` but the payment itself has a `capturedAmount` of 0 instead of the captured amount.

The corresponding order `ord_3xnaz7` has no captured amount either. I'm not sure though if I'd ever exp

[2018-10-15 10:13] sandervanhooft commented on #299
@SanderVanLeeuwen Update order is now available on the master branch

[2018-10-15 12:14] holtkamp commented on #187
@ndijkstra and @willemstuursma did https://github.com/mollie/mollie-api-php/issues/187#issuecomment-428347741 reach your "radar" ? 😃

[2018-10-15 13:01] willemstuursma commented on #187
@holtkamp In v1, you have to use the `mistercash` value to create Bancontact payments.

You can also retrieve this value from the v1 methods API.

I don't understand why you want to use `bancontact` for this?

[2018-10-15 13:15] twf-nikhila commented on #290
@everydaypanos : Facing the same issue, did you got any solutions to it?

[2018-10-15 14:50] holtkamp commented on #187
mmm, well, the company / payment method "Mistercash" has been "Bancontact" for some time now.

Internally we use identifiers for the PaymentMethods as provided by the various PaymentServiceProviders (like Mollie) to populate the requests that are dispatched to their APIs.

I thought it was kind of awkward to present a PaymentMethod as "Bancontact" to our customers, while using `mistercash` as iden

[2018-10-16 08:41] willemstuursma commented on #187
@holtkamp if you have some internal identifiers, you would have mapping from your internal identifier to the PSP's identifier regardless right?

In v2 this has been resolved so you could also upgrade your connection to that.

[2018-10-16 08:50] holtkamp commented on #187
Indeed, and I would like these identifiers to make sense...

I expected this would have been simple to backport Bancontact "support" for the `v1` folks out here by simply adding a constant to https://github.com/mollie/mollie-api-php/blob/ed1683b244676360d951c7c5beefe02782cc20eb/src/Mollie/API/Object/Method.php

[code]

nice-to-have, not a biggy though 👍

[2018-10-17 10:17] SanderVanLeeuwen commented on #299
Thnx!

[2018-10-18 06:46] chintancmarix opened #304 "Update Subscription"
## Specifications

  - API Version: 2.0

## Describe the issue
Hi,

I can not update the subscription amount using the instructions provided into following DOC: [Mollie Update Subscription](https://docs.mollie.com/reference/v2/subscriptions-api/update-subscription)

Below is my code sample:

[code]
Above code is providing below error when executing it:

Please provide the solution for this issue,

[2018-10-18 06:50] ndijkstra commented on #304
Hi @chintancmarix, this function is added in Release 2.0.8. Are you using the latest version of the client?

[2018-10-18 07:01] chintancmarix commented on #304
Hi @ndijkstra

I am using 2.0 version as mentioned into the Specifications. Now, I am trying to update to latest version and try again to update subscription.

Thank  You.

[2018-10-18 07:17] chintancmarix commented on #304
Hi @ndijkstra

It's working into Release 2.1.2.

Thanks for the Help.

[2018-10-18 07:30] Smitsel commented on #299
It has been released, thanks @sandervanhooft

[2018-10-18 07:30] #299 closed

[2018-10-18 07:30] Smitsel commented on #278
This has been merged. Thanks again!

[2018-10-18 07:30] #278 closed

[2018-10-18 07:36] Smitsel commented on #301
Hi @sandervanhooft,

Sorry for the delay on an answer to your question.
This order is an rather old one from the private beta where we still had issues with the capturing.

The issues with this are now resolved so new klarna orders should have these amounts reflected on the payment and order.

Please let us know if you are still facing this issues with new orders.

[2018-10-18 07:36] #301 closed

[2018-10-19 08:49] SanderVanLeeuwen commented on #301
Thnx. Looks like for new orders this is available as expected 👍

[2018-10-19 10:31] WebVooruit opened #305 "Best way to get the last error (if error known)"
## Specifications

  - API Version: 2

## Describe the issue

...
Recently I am getting empty return from $payment->getCheckoutUrl()

What is the best way to get the error that is causing this.

[2018-10-20 10:13] sandervanhooft commented on #305
@WebVooruit If there's an API call error you should get it directly.

But this doesn't necessarily have to be an error. There are create payment methods that do not require a checkout (i.e. recurring / mandated payments). What code are you using to create the payment / what does the payload look like?

[2018-10-22 11:54] WebVooruit commented on #305
The code hasn't changed in months...
$payment = $mollie->payments->create(.....);
$url = $payment->getCheckoutUrl();

It is any kinds of payment that brings this up. iDeal, creditcard, Mistercash etc.

[2018-10-22 12:14] sandervanhooft commented on #305
@willemstuursma any ideas?

[2018-10-22 12:42] willemstuursma commented on #305
Without any code, it will be impossible to debug @WebVooruit.

[2018-10-22 15:05] SanderVanLeeuwen opened #306 "Payment for canceled order still has status 'authorized'"
## Specifications

  - API Version: 2

## Describe the issue

When canceling an order, the corresponding payment status doesn't change to 'canceled' but remains 'authorized'. In case of an Klarna payment this suggests that the corresponding Klarna payment (from a consumer perspective) isn't canceled either?

It doesn't matter if the order is canceled through the API or in the Mollie dashboard; bot

[2018-10-22 17:14] willemstuursma commented on #306
Hi @sandervanhooft. Thanks, this is on our todo list.

[2018-10-22 17:31] sandervanhooft commented on #306
@willemstuursma probably meant @SanderVanLeeuwen 😄

[2018-10-22 19:51] SanderVanLeeuwen commented on #306
Great name, isn't it? ;)

But thanks for the reply. I hope it will be resolved before customers start complaining about open invoices at Klarna 🙈

[2018-10-22 20:04] willemstuursma commented on #306
I think it is taken care of - I'll double check tomorrow.

[2018-10-23 13:20] willemstuursma commented on #306
@SanderVanLeeuwen just confirming that the authorization is released at Klarna when the order is canceled.

We'll update this issue when we've fixed the bug regarding the payment's status.

[2018-10-25 08:19] holtkamp commented on #296
Hey guys, just wondering: is this a "valid" feature request? Can it be confirmed as such (or bounced of course 🤓 )

[2018-10-25 08:28] mollierobbert commented on #296
For sure, Menno. Thank you for taking the time to write this proposal. We are working actively on upgrading our engine to be able to provide real-time payment fee insights in the near future. We cannot confirm a date yet, however, hence we can't promise much yet.

[2018-10-29 12:37] jaap3 opened #307 "When are Payments are cancelable"
## Specifications

  - API Version: 2

## Describe the issue

When I create a Payment (using the test API key), they are never "cancelable" (even when the state is "open") so calling the cancel endpoint (`DELETE` request) will always be an error. I cannot find any documentation on how to create a Payment that will remain "cancelable" while the status is till "open".

[2018-10-30 14:15] jaap3 commented on #307
From the Mollie Helpdesk:

- een betaling via bank transfer die nog open staat;
- een incasso die nog niet naar de bank gestuurd is.

So, in most cases Payments are not cancelable

[2018-10-30 14:15] #307 closed

[2018-10-31 19:27] atquest opened #309 "Errors (conflict with guzzle)"
I'm getting this error:

[code]

[2018-11-01 10:02] willemstuursma commented on #309
Did you use the included autoloader @atquest ?

[2018-11-09 16:52] tafelnl opened #312 "Obligated to transfer mandates to another mollie account."
The chamber of commerce number of our organization changed recently. Because of that, we are obligated to switch to another mollie account.

Is there any documentation available regarding transferring the mandates from one account to another? The customer support only tells me it is possible, but how is completely unclear.

If needed, I can explain the problem a bit more, but I think this info is

[2018-11-13 08:01] eyouth opened #313 "About Klarna Payment - Status of Order"
## Specifications

  - API Version:

## Describe the issue

Mollie_WC_Plugin::shipAndCaptureOrderAtMollie Start processing completed order for a potential capture at Mollie.
2018-11-10T15:33:01+00:00 DEBUG Mollie_WC_Plugin::shipAndCaptureOrderAtMollie Processing completed order stopped, not a Klarna payment.

The order status changed to paid, even though the payment didn't went through.
...

[2018-11-13 10:23] PanderBoy18 opened #314 "error in autoload.php"
I'm getting the error as shown below. Help/hint anyone ?!!

Parse error: syntax error, unexpected '.' in /var/www/xxxxxx.nl/folder/mollie/vendor/autoload.php on line 11

Line 11:         return \_PhpScoper5be2fdb7243e7\database_read(...func_get_args());

[2018-11-13 10:57] Smitsel commented on #314
Hello! What version of PHP is your server running?
It is having trouble with the splat operator (...) which is added in php 5.6

This package does not work with PHP versions < 5.6

[2018-11-13 10:59] Smitsel commented on #314
If you are running a lower version i can recommend updating it.

If this is not an option somehow you can always use our V1 API:
https://github.com/mollie/mollie-api-php/releases/tag/v1.9.11

Please report back if you are running 5.6 or higher and still facing this issue.

[2018-11-13 10:59] #314 closed

[2018-11-15 15:55] JorikMollie opened #315 "Add support for the list chargebacks API"
## Specifications

  - API Version: 2.1.5

## Describe the issue

Integrate the List Chargebacks API in the PHP-client. It seems that this API is missing.

## Relevant documentation

https://docs.mollie.com/reference/v2/chargebacks-api/list-chargebacks

[2018-11-15 15:55] JorikMollie commented on #315
@sandervanhooft Can you take a look?

[2018-11-15 17:15] #309 closed

[2018-11-17 22:26] sandervanhooft commented on #315
@JorikMollie Sure I'll take a look!

[2018-11-17 22:34] sandervanhooft commented on #315
So the issue is that currently only the paymentChargeback endpoint is implemented. I'll add the (root) Chargeback endpoint, will create and merge a PR later this week.

[2018-11-17 22:44] sandervanhooft commented on #315
@JorikMollie Do you have an example response for a call to `https://api.mollie.com/v2/chargebacks`?

**If** it's the same as to `https://api.mollie.com/v2/payments/*paymentId*/chargebacks`, is the response also non-paginated?

[2018-11-20 11:46] sandervanhooft commented on #315
@JorikMollie
Just merged the PR solving this issue.
I've assumed that the responses are about the same.

[2018-11-21 08:31] willemstuursma commented on #315
Is this resolved now @sandervanhooft ?

[2018-11-21 10:55] sandervanhooft commented on #315
@willemstuursma Yes it is!

[2018-11-21 10:55] #315 closed

[2018-11-27 15:14] ndijkstra opened #321 "isRefunded method not valid in Order Resource"
@sandervanhooft Can you take a look at this issue?

https://github.com/mollie/mollie-api-php/blob/master/src/Resources/Order.php#L206
This method is incorrect because an order can't have the status refunded.

Also change the example if necessary: https://github.com/mollie/mollie-api-php/blob/master/examples/orders/webhook.php

[2018-11-27 17:09] sandervanhooft commented on #321
Hi @ndijkstra!

Just checked the docs, you're right!

In theory removing the `isRefunded()` method could cause breaking changes. Practically I'm not so sure. I can either

1. remove the method
2. mark it as deprecated, remove in next major release

Also, I noticed that the `pending` status is missing. I'll add that in a separate PR.

[2018-11-27 17:09] sandervanhooft commented on #321
Do you want me to remove or deprecate?

[2018-11-27 17:12] sandervanhooft commented on #321
Same goes for the OrderLine resource btw, it also should not have a `refunded` status.

[2018-11-28 09:57] Smitsel commented on #321
I think the option you PRed is best. Deprecation. We can deal with it in a new major.

[2018-11-28 11:13] sandervanhooft commented on #321
Thanks @Smitsel!

[2018-11-28 11:13] #321 closed

[2018-12-01 15:41] sweebee opened #326 "refund not working"
## Specifications

  - API Version: 2.0

## Describe the issue

I tried a refund the following ways, but both don't work:

[code]

I get:

[code]

I tried:

[code]

I get:

[code]

[2018-12-01 15:43] robindirksen1 commented on #326
What is inside `$this->payment();`? Looks like it's a not-existing payment in your mollie account?

[2018-12-01 15:46] sweebee commented on #326
sorry my bad, I was confused with the API v1, this fixes my issue:

[code]

[2018-12-01 15:46] #326 closed

[2018-12-03 11:18] MollieRick commented on #305
@WebVooruit Do you still have this issue?

[2018-12-03 13:58] WebVooruit commented on #305
No, this issue has been fixed.

The issue was due to problems with iOS posts in a very early version of iOS 12.

The postdata from some mobile users was empty making it go into a weird mode.

Had nothing to do with Mollie, Safari iOS12 issue.

[2018-12-03 13:59] MollieRick commented on #305
Thank you for your response. We'll close this issue then :-)

[2018-12-03 13:59] #305 closed

[2018-12-07 21:48] robindirksen1 opened #330 "Cannot see the settlements in API v1"
## Specifications

  - API Version: v1

## Describe the issue

I cannot request the settlements via API v1 but I can do it via API v2. How is it possible that the organization access tokens are not valid on both API versions?

Request (via CURL & PHP)
[code]

Response:
[code]

[2018-12-11 08:45] MollieRick commented on #330
Hi @robindirksen1,
Thanks for your message. I think that the Organization Access Tokens are added to the v1-documentation by mistake.

We do not support these keys in the v1 because that version is deprecated, therefor we do not add new functionality to it like the Organizations Access Tokens.

I will create an issue at our [documentation repo](https://github.com/mollie/api-documentation).

[2018-12-11 08:47] robindirksen1 commented on #330
Hi @MollieRick, thanks for the explanation and I will upgrade to the v2 api to use the settlements API.

Link to issue on documentation repo: https://github.com/mollie/api-documentation/issues/346

[2018-12-11 08:47] #330 closed

[2018-12-11 18:02] sweebee opened #332 "add support for enabling/disabling methods"
## Specifications

  - API Version: 2

## Describe the issue

its just integrated in the API, would be nice to use in this wrapper.

https://docs.mollie.com/reference/v2/profiles-api/enable-method

[2018-12-11 18:31] willemstuursma commented on #332
@sandervanhooft could you give this a shot?

If not possible, the exception should have a method that can easily give you the URL where the merchant can enable the payment method.

[2018-12-11 19:43] sandervanhooft commented on #332
Sure thing @willemstuursma !

[2018-12-11 20:10] sandervanhooft commented on #332
Shouldn't the profile method response include a `_link` to the `profile` as well?

[2018-12-12 09:53] willemstuursma commented on #332
@MollieRick could you look into this?

[2018-12-13 08:56] MollieRick commented on #332
@sandervanhooft @willemstuursma I will add it.

[2018-12-13 10:56] sandervanhooft commented on #332
[code]

The API exception message is passed through by default. You want me to catch this and amend the message to include the link?

I think a better solution may be to amend the message at the API. You'll probably need it in all integrations.

Instead of:
[code]

Do something like:
[code]

[2018-12-13 12:14] willemstuursma commented on #332
I would like it to be possible for integrators to easily create a clickable link if enabling automatically fails.

So the exception should have some `getDashboardLink()` method.

[2018-12-13 13:30] sandervanhooft commented on #332
Interesting idea @willemstuursma , I'm on it!

[2018-12-13 14:06] sandervanhooft commented on #332
@willemstuursma Currently the ApiException does not include this. Is there another way of accessing the response object / `_links` that I'm overlooking?

[2018-12-13 14:23] sandervanhooft opened #335 "Add ?include=pricing to Methods API"
## Specifications

  - API Version: 2

## Describe the issue

As suggested by @MollieRick in #332, we should include support for `?include=pricing` option in the Methods API. I'll come up with a PR later.

[2018-12-13 14:30] sandervanhooft commented on #332
@MollieRick ?

[2018-12-13 14:47] sandervanhooft commented on #335
[Example response](https://docs.mollie.com/reference/v2/methods-api/get-method) (includes `issuers` as well):

[code]

[2018-12-13 15:36] willemstuursma commented on #332
Better to create an `ApiException::fromParsedResponse(stdClass $response): self` method that constructs the exception.

[2018-12-15 03:02] SamAriafar commented on #244
@willemstuursma I'm using v2.2.0 in my project (without composer) and yet have the same issue. I'm not sure how it's resolved, but I have no clue how to fix this.

[2018-12-16 14:32] RaymondBakker opened #336 "Subscription API charges twice on same day"
## Specifications

  - API Version: 2.20

## Describe the issue

We're implementing the subscription API but noticed strange behavior that is possibly not intended. These are the steps we're taking:

   - Create customer
   - Create initial payment with ```"sequenceType"	=> \Mollie\Api\Types\SequenceType::SEQUENCETYPE_FIRST```
   - Create subscription in the webhook that gets triggered from the in